[2015-10-11 20:32] pascalberger commented on #675
Calling `/output buildserver` and consuming the environment variables might be best practice in most cases, but shouldn't it still be possible to call `GitVersion.exe /output json` from a gulp task and get the json output to stdout? I don't see why this shouldn't be possible and assume this is a bug, since on buildserver we explicitely call `/output buildserver` which would be useless otherwise.

[2015-10-11 21:05] pascalberger commented on #633
This seems like a duplicate of #138. I propose to close this issue and continue discussion in #138.

[2015-10-11 21:18] pascalberger commented on #517
Since readthedocs is now in use I'm closing this issue

[2015-10-11 21:18] #517 closed

[2015-10-11 21:21] pascalberger commented on #519
Superseded by #666

[2015-10-11 21:21] #519 closed

[2015-10-11 21:24] #557 closed

[2015-10-11 23:22] JakeGinnivan commented on #633
Agreed

[2015-10-11 23:22] #633 closed

[2015-10-11 23:38] #569 closed

[2015-10-11 23:38] #663 closed

[2015-10-11 23:51] #662 closed

[2015-10-12 00:16] #674 closed

[2015-10-12 06:47] gep13 commented on #675
@pascalberger oh yeah, I don't disagree on that score.  The request for a json output should definitely be respected.

[2015-10-12 12:30] mrbelk commented on #679
When I run that command, I get this error from git.exe:

[code]

[2015-10-12 12:54] JakeGinnivan commented on #679
GitVersion.exe, not 'git version'

Sent from my Windows Phone
________________________________
From: mrbelk<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 8:30 PM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] GitFlow feature branch SemVer not correct? (#679)

When I run that command, I get this error from g

[2015-10-12 12:57] mrbelk commented on #679
huh? when I run ```git log --graph --format=""%h %cr %d"" --decorate --date=relative --all --remotes=* -n 100``` I get the error that I posted.

[code]

[2015-10-12 12:58] onovotny commented on #663
This doesn't go far enough, IMHO -- there should be an option to take the VSO build number and include that in the string somewhere.

What I'm proposing, and I can submit a PR for this, is to add a $(GITVERSION) marker into the existing VSO build number format string. VSO will ignore it because it doesn't understand it, but it will expand the rest.

If that string is present in the VSO build numbe

[2015-10-12 13:18] JakeGinnivan commented on #679
Oh. Oops, not reading history.

Its because of the double quotes.

Sent from my Windows Phone
________________________________
From: mrbelk<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 8:58 PM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] GitFlow feature branch SemVer not correct? (#679)

huh? when I run

[2015-10-12 13:28] mrbelk commented on #679
ahh, here  you go.  I have made some changes in a new feature branch this morning, for what it's worth.

[code]

[2015-10-12 13:42] pascalberger commented on #663
Yeah, I also see this as a first step which has potential for further customization possibilities. At the moment it's implemented as it is implemented for other build servers (eg. TeamCity).

Best in my opinion would be if any of the GitVersion variables can be used in the VSO build number format string. VSO should expand their variables and GitVersion later it's variables. But this might require

[2015-10-12 13:46] onovotny commented on #663
I agree that any of the GitVersion vars should be usable there.

I don't think a change is required to the IBuildserver interface though as the task can read the version string from the environment variable -- it doesn't need to be passed in.

Basically the set build number method would just loop through the env version string, looking for/replacing GitVersion vars with the real values and then ou

[2015-10-12 13:58] pascalberger commented on #663
Sure, that would work.

I would prefer to update the `IBuildserver` interface to no longer pass the version to use to the `GenerateSetVersionMessage` function, since this will be ignored in this case for VSO.

Would be cool if you could write a PR for this.

[2015-10-12 14:00] onovotny commented on #663
If that version were removed, what should it use for the other build servers?

[2015-10-12 14:09] pascalberger commented on #663
In my idea this needs to be decided by each build server implementation in the future, as it is no longer the same behavior for all build servers.

Or we keep it and look at it as some sort of default version number to use, but IMHO it will be confusing for the caller if he calls `IBuildServer.GenerateSetVersionMessage('1.0')` and gets a version message for a completely different format back as it

[2015-10-12 14:24] JakeGinnivan commented on #663
https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/BuildServers/AppVeyor.cs actually already does what you are asking I think?

Sent from my Windows Phone
________________________________
From: Pascal Berger<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 10:09 PM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subje

[2015-10-12 14:25] JakeGinnivan commented on #663
Same approach could be taken with VSO. I have only skimmed this thread so let me know if I missed something

Sent from my Windows Phone
________________________________
From: Pascal Berger<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 10:09 PM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] Set VSO Build Num

[2015-10-12 14:28] pascalberger commented on #663
For AppVeyor only the build number is added to the fix version number.

The idea for VSO is that it should take the build format set on the build definition, which can contain any GitVersion variable and expand them with the current value. Which is different to the AppVeyor implementation as it might be different version numbers.

[2015-10-12 14:31] pascalberger commented on #663
In which case I think it would be appropriate to pass the whole `VersionVariables` (instead of `VersionVariables.FullSemVer`) to the build server implementation and let the implementation decide what to do with it

[2015-10-12 14:49] onovotny commented on #663
When I start a PR for this, should I go off of master or the 4.0 branch? I think @pascalberger's suggestion of passing `VersionVariables` into the interface and letting the current impl just ues `FullSemVer` keeps existing behavior. But it is a breaking change to the interface.

[2015-10-12 14:56] JakeGinnivan commented on #663
We are not maintaining semver in apis atm. More behaviour and usage.

Sent from my Windows Phone
________________________________
From: Oren Novotny<mailto:notifications@github.com>
Sent: ‎12/‎10/‎2015 10:49 PM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] Set VSO Build Number in Task (#663)

When I start a PR fo

[2015-10-12 17:57] orjan commented on #575
I think this should be the default behavior in v4 but with a read fallback on the old file with a warning?

[2015-10-12 18:05] asbjornu commented on #575
Fallback with warning sounds like a good plan. We don't even need to wait for v4 if we have backwards compatibility, imho.

[2015-10-12 19:09] pascalberger opened #688 "Checking code with sonar"
It would be nice if the code could be check with [SonarQube](sonarqube.org). There exists a [nice plugin](http://www.sonarqube.org/github-pull-request-analysis-helps-fix-the-leak/) for automatically have Sonar commenting on PRs in GitHub.
The catch is that it would need a Sonar instance running somewhere. There is [Nemo](http://nemo.sonarqube.org/), a public Sonar instance for OSS projects, but I

[2015-10-12 19:23] orjan commented on #688
@pascalberger would you mind giving an elevator pitch for SonarQube?

[2015-10-12 19:36] pascalberger commented on #688
Sonar is a plattform for managing code quality and technical debt. Think about it as having code analysis or StyleCop run and reported back. It could also detect code duplicates, report about test coverage, etc

[2015-10-13 00:59] JakeGinnivan commented on #575
Just support both, shouldn't be too hard

[2015-10-14 09:59] cristianiorga opened #690 "Getting the version for a tag without a branch fails"
[WriteVersionInfoToBuildLog] INFO Found remote tip 'refs/tags/v1.1.0^{}' pointing at the commit 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'.
[WriteVersionInfoToBuildLog] WARN Could not determine assembly version: Remote tip 'refs/tags/v1.1.0^{}' from remote 'xxx' doesn't look like a valid pull request.

Workaround: manually created a branch from the tag

[2015-10-15 10:35] qetza opened #692 "Cannot disable apply defaults"
I've updated my GetVersionConfig.yaml file so that the release branches do not generate a tag but i always get a tag of 'beta'.

It seems to come from the `ConfigurationProvider.Provide` method which is always called with `applyDefaults` to `true`. Since an empty Tags line is deserialized as a null value, my empty value is replaced by the default value 'beta' :(

It would be great to either be abl

[2015-10-15 10:45] qetza opened #693 "Development branch version not updated after creating a release branch"
When i create a release branch from dev i would expect my dev branch to start it's version based on the release branch.

For example if my 'dev' has version '0.2.0-unstable' and i create a release branch 'release/0.2.0' i would expect my next commit on dev to become '0.3.0-unstable'. Creating a new release branch 'release/0.5.0' (0.4.0 has gone missing :) ) would make my next 'dev' version '0.6.0-

[2015-10-15 12:13] JakeGinnivan commented on #693
It will bump once the release branch is merged to master. Otherwise the version on develop would drop if you deleted the branch without merging.

[2015-10-15 14:43] ramonsmits opened #694 "GitVersion is incredibly slow on detached head"
When opening a solution on a detached head it takes ages to open due to GitVersionTask.

This often happens when you are rebasing and you want to edit a previous commit.

For some reason this is affecting VS2015 more then VS2013.

It takes **minutes** to load a solution and during that time VS is not responsive. This happens then for each rebase step. I simple rebase where you want to validate bef

[2015-10-15 14:56] gep13 commented on #694
Is the same true when using GitVersionTask 3.2.0?  Would it be possible for you to try with the new version?

[2015-10-16 02:58] judgeaxl opened #695 "Increment "develop" version when branching release"
This issue has been broken out of the discussion here: https://github.com/GitTools/GitVersion/issues/632

The current behavior is to use the "-unstable.N" pre-release revision to ensure builds from _develop_ are considered newer than those on release branches that have not yet been merged back to _develop_.

Example:
[code]
In the above graph, build A-C would get the versions 0.1.0-unstable.1-3, a

[2015-10-16 02:58] judgeaxl commented on #632
I've created a new issue https://github.com/GitTools/GitVersion/issues/695, as you suggested @o-o00o-o .

[2015-10-16 06:06] orjan commented on #693
@qetza is this issue the same as #695?

[2015-10-16 06:30] qetza commented on #693
@orjan yes it's the same issue.

[2015-10-16 06:31] orjan commented on #693
@qetza would you mind closing this issue and continue the discussion in #695?

[2015-10-16 06:43] #693 closed

[2015-10-16 07:31] qetza commented on #693
Same as issue #695

[2015-10-17 05:50] #684 closed

[2015-10-17 05:54] JakeGinnivan commented on #368
Closed via #660

[2015-10-17 05:54] #368 closed

[2015-10-17 08:05] #618 closed

[2015-10-19 15:58] msnelling opened #700 "Commit count resets to 0 when merge detected on branches"
We have a case where developer A committed his changes before pulling down changes previously pushed by another developer B, he then has to pull B's changes down, merging them, before he's allowed to push his own changes. This case seems to reset the commit count to zero at the point developer A's changes are merged.

[2015-10-19 16:14] gep13 commented on #700
Interesting. What happens if you rebase the changes rather than merge, or is that not an option?

Sent from my Windows Phone
________________________________
From: Mark Snelling<mailto:notifications@github.com>
Sent: ‎19/‎10/‎2015 16:58
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Subject: [GitVersion] Commit count resets to 0 when merge detected on branches (#700)

We have a case

[2015-10-19 16:23] msnelling commented on #700
Hi Gary, Unfortunately rebasing isn't an option for us. 

On Mon, Oct 19, 2015 at 9:14 AM -0700, "Gary Ewan Park" <notifications@github.com> wrote:

Interesting. What happens if you rebase the changes rather than merge, or is that not an option?

Sent from my Windows Phone

________________________________

From: Mark Snelling<mailto:notifications@github.com>

Sent: ‎19/‎10/‎2015 16:58

To: GitToo

[2015-10-19 16:49] orjan commented on #700
Hi Mark! Are you pulling from develop or master?
On Oct 19, 2015 6:23 PM, "Mark Snelling" <notifications@github.com> wrote:

[2015-10-19 16:52] msnelling commented on #700
Actually we're pulling from a feature branch (using GitFlow).

On Mon, Oct 19, 2015 at 9:49 AM -0700, "Örjan Sjöholm" <notifications@github.com> wrote:

Hi Mark! Are you pulling from develop or master?

On Oct 19, 2015 6:23 PM, "Mark Snelling" <notifications@github.com> wrote:

—
Reply to this email directly or view it on GitHub.

[2015-10-19 17:53] orjan commented on #700
Just to make sure that I understand the flow.

If I understand correctly you're having 4 branches. Master, develop, feature/epic, feature/epic-part1 where feature/epic is merged into feature/epic-part1? And you're expecting to track the develop branch?

[2015-10-20 07:05] orjan commented on #700
Hi @msnelling I've tried to reproduce your issue with a test case but from my point of view it's looking ok, but I'll guess it's just me that doesn't understand your workflow?

Would you mind having a look at this commit?
https://github.com/orjan/GitVersion/commit/eab060939555381ebc7801d67182f69bae4bb34d

[2015-10-20 11:39] msnelling commented on #700
Hi @orjan, Not that's not quite what I meant. We have three branches, master, develop and release/1.2.0.

The problem is when two developers are working on release/1.2.0. dev-A and dev-B are both on the same commit, then dev-B commits a change locally and pushes up to the remote, then dev-A commits a change locally and then also tries to push. dev-A's push is rejected because the remote is ahead s

[2015-10-20 12:29] asbjornu commented on #700
@msnelling I think you've explained the scenario well now, but at least for future reference and perhaps also as a great illustration, I'd recommend [drawing the sequence leading up to the problem you're seeing](https://www.websequencediagrams.com/). It has proven to be quite helpful in similar discussions about GitVersion in the past.

[2015-10-20 13:25] msnelling commented on #700
Ok, I think I've created a test which reflects the use case

    [Test]
    public void MergeOnReleaseBranchShouldNotResetCount()
    {
        using (var fixture = new EmptyRepositoryFixture(new Config
        {
            AssemblyVersioningScheme = AssemblyVersioningScheme.MajorMinorPatchTag,
            VersioningMode = VersioningMode.ContinuousDeployment,
        }))
        {
            con

[2015-10-20 14:10] onovotny commented on #647
There are now support for pre/post build script commands in beta 8 of the DNX tooling. This may be possible now....

[2015-10-20 17:23] Pitterling commented on #662
@pascalberger Thank you. Its much clearer now. Unfortunately when talking about AssemblyInfo only *.cs files are mentioned, but GitVersion.exe also works for *.vb files.

[2015-10-20 17:42] onovotny commented on #621
The build portion of this can be dealt with by using my changes in #701 as a starting place

[2015-10-21 07:52] pascalberger commented on #138
Update state as mentioned in https://github.com/GitTools/GitVersion/issues/633#issuecomment-138137484

[2015-10-21 12:54] pascalberger commented on #694
[3.3.0](https://github.com/GitTools/GitVersion/releases/tag/v3.3.0) contains some performance improvements. Is this still an issue?

[2015-10-21 14:34] ramonsmits commented on #694
I'll verify the performance with a later version this week.

[2015-10-21 14:35] ramonsmits opened #704 "GitVersionTask not working with git worktree's"
GitVersionTask fails when executed in a path that was setup with `git worktree`.

Git doco: https://git-scm.com/docs/git-worktree

[2015-10-23 08:52] pi3k14 opened #705 "Feature request: git-gitversion-tag command"
It would have been nice with a custom git command that did something like

version = gitversion /showvariable SemVer
git tag version
git push origin version

and then just run it with
git gitversion tag

[2015-10-26 15:48] pascalberger opened #706 "Variable for PreReleaseType"
It would be nice to have an additional variable for the type of the number (beta, unstable, pullrequest). For the case in the [variable documentation](https://gitversion.readthedocs.org/en/latest/more-info/variables/) I would expect it to have set to `beta`

[2015-10-27 15:51] thisispaulsmith opened #707 "Integration with TFS/Git..."
I'm having trouble getting GitVersion working with TFS/Git (on premise) using TeamCity and the Meta-runner plugin. Though I don't believe that either the plugin or GitVersion is at fault.

Our build agent it setup with a domain account with permission to access the repo. However running the meta-runner in the build with default settings result in the error when fetch from remote. (I am checking ou

[2015-10-27 16:19] thisispaulsmith commented on #330
@kvarv did you resolve your issue?
I seem to having the same problem at the moment

[2015-10-29 08:21] software-programmer commented on #707
If you are using the runner, just make sure you have filled in the following fields

![image](https://cloud.githubusercontent.com/assets/5966776/10813275/f97e1d68-7e15-11e5-92d3-1cfcc540e3be.png)

Your repository is more than likely to be private and this doesn't use the settings from the VCS Root

[2015-10-29 09:40] thisispaulsmith commented on #707
Tried that. That just results in the second error.
I've turned he -NoFetch flag on for now which fixes the error. It appears it's to do with how TFS handles authentication but as I can run the commands manually I need to look at the source of LibGit2Sharp.

[2015-10-29 14:34] JakeGinnivan commented on #707
Sorry, am traveling at the moment which is why I'm not responding to much. But the remote in vso cannot authenticate, the local repo on the build agent is a full one so the correct fix is -nofetch

You can also use the dynamic repositories feature to work around the situation where build servers do not clone a proper repo (like teamcity checkout on server).

Sent from my Windows Phone
____________

[2015-10-29 14:46] thisispaulsmith commented on #707
Should the Repo be a full one?
We have a new build triggered from a dev branch. Using -nofetch result in the error..

`This repository doesn't contain a branch named 'master'. Please create one. Existing branches: 'refs/heads/develop', 'refs/remotes/origin/develop'`

TeamCity only clones the branch required for build it would seem.

[2015-10-29 14:51] JakeGinnivan commented on #707
This issue title says its for tfs, which does a full clone.
Teamcity checkout on server doesn't work properly with GitVersion, you either need checkout on agent or use dynamic repositories. The docs should cover this I think, if not then we need to fix

Sent from my Windows Phone
________________________________
From: thisispaulsmith<mailto:notifications@github.com>
Sent: ‎29/‎10/‎2015 9:46 AM
To:

[2015-10-29 15:51] thisispaulsmith commented on #707
It is for on-premise TFS and I am doing an agent checkout, the docs are correct.
However I'm not seeing a full clone by TeamCity, only the VCS branch which triggered the build is cloned.

So if master triggers the build it's fine, if develop triggers the build then it errors as it doesn't appear that master is cloned. It's fine in subsequent builds so I have to clean the working directory recreate

[2015-10-31 10:47] sunsided commented on #639
Any update?

[2015-10-31 10:50] Martaver commented on #639
Heya,

Yeah I meant to get onto this, but then when I downloaded the new version
of SmartGit, they seem to have made some fixes to the way they number their
release and hotfixes - gitflow versioning seems to be much smoother now. I
haven't gone deep to make sure they're perfect, but if you haven't already
- check it out?

On Sat, Oct 31, 2015 at 9:47 PM Markus Mayer <notifications@github.com>
wrot

[2015-11-02 17:10] olivier-spinelli commented on #647
Unfortunately not. I tried to use prebuild to alter the project.json file with the semver version computed from the repository. The issue is that project.json is NOT read again after prebuild commands have been executed (same for prepack).
(Note: the generation of the AssemblyInfo.cs is okay: the Version, FileVersion and InformationalVersion are correctly compiled).

[2015-11-02 17:32] sunsided commented on #647
Crap, sorry, accidentally hit the close button.

[2015-11-03 05:55] michaelnoonan commented on #690
We've also reproduced this in TeamCity with `GitVersionTask 3.1.2`.

Steps to reproduce:

1. Tag a commit that is not the head of any branch (in our case `master`)
2. Start a custom build in TeamCity for that tag
![image](https://cloud.githubusercontent.com/assets/1627582/10901883/d0b9f4da-8241-11e5-9547-b0f7e81557a1.png)
3. GitVersion will fail as shown above and in this log, with noise removed.

[2015-11-06 11:18] dazinator opened #708 "Major version bump using commit message bumped minor"
Using latest NuGet release of `GitVersion.CommandLine` - as [per the docs](http://gitversion.readthedocs.org/en/latest/more-info/version-increments/) I checked in a commit message containing `+semver: breaking` - but this resulted in the version number going from `0.1.11` to `0.2.0` - i,e it bumped the minor digit instead of the major.

I haven't tried to replicate this yet, but will look into it

[2015-11-06 13:18] gep13 commented on #708
Hmmm, I have just done a very crude test here, and this worked as expected, for a already released public API, i.e. 1.0.0, went to 2.0.0.  This is what I did:

[code]

However, when I do the following:

[code]

I haven't looked at the code yet, but could this be because you weren't at a major release yet?

/cc @JakeGinnivan

[2015-11-06 13:52] dazinator commented on #708
I just went through the code with a failing test case.. and I hit this comment in the code:

[code]

So its delibrately capped! Not sure why - but perhaps this needs to be in the docs!

[2015-11-06 13:56] dazinator commented on #708
I am trying to thing why we delibrately cap a major bump for versions < 1.0.0 - I'd love to know the reason as I suspect I am very close to learning something..

[2015-11-06 14:02] dazinator commented on #708
here is [a branch with a failing test case](https://github.com/dazinator/GitVersion/tree/bumpissue)) that looks like this:

[code]

Result:

[code]

[2015-11-06 14:11] dazinator commented on #708
Ooh maybe the space between the colon and the word breaking is importants! Although  +semver:major works without the space! I will test that once im back from lunch!

[2015-11-06 16:14] dazinator commented on #708
- nope, space made no difference.. Gonna try and debug later.

[2015-11-06 16:42] dazinator commented on #708
Right so there seem to be two seperate issues here.

The first thing is we deliberately bump minor instead of major for versions less than 1.0.0. If there is a good reason for this it's just a case of updating the docs.

The second thing which I'm hesitant to say is a bug..or a feature..

Doing 2 major version bumps, doesn't bump the version twice - i.e this fails:

[code]

Is this because GitVers

[2015-11-06 17:48] aprooks commented on #708
[code]
yes it does. It was pretty confusing for me as well.

A rule of a thumb - it bumps version on merge with master. And you'll have to make sure to tag this merge as well.

Also, when there are 2 changes per release: for example, 2 pull requests are merged to `Dev` branch, and then dev merged to master (or release version), minor would be incremented by 1 (if no breaking changes marker of some

[2015-11-06 18:08] JakeGinnivan commented on #708
Two things.

This feature is to allow indicating a commit has particular semver properties such as breaking or minor. If multiple PR's indicate this in a single release the declarations in the commits should be rolled out to make a single SemVer change.

Then the <1.0 case is that public API is considered unstable until v1. Breaking changes before v1 do not require a major version bump. We left it

[2015-11-06 18:39] dazinator commented on #708
Thanks both, you've put me back on the straight and narrow!

I'll update the docs page (about bumping versions) to make this clearer and I'll send a PR for that.

I get the feeling that GitVersion is being a little too clever for my liking - when I decide i want to go from 0.X.X to 1.0.0 because I decide that with my next commit I want the version to be considered stable - it says nah, what you re

[2015-11-06 18:52] dazinator commented on #708
I'd be up for working on a PR to add in the ability to do this via a commit message also?

Perhaps something like `+semver:stable` which would only apply in this scenario of bumping from 0.X.X to 1.0.0 ?

[2015-11-06 18:53] JakeGinnivan commented on #708
Maybe we have another command, +semver: Stable

Or we remove the smarts, don't mind.

Sent from my Windows Phone
________________________________
From: Darrell<mailto:notifications@github.com>
Sent: ‎6/‎11/‎2015 10:39 AM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] Major version bump using commit message bumped

[2015-11-06 18:54] dazinator commented on #708
Did you read my comment before posting that or is this a case of great minds think alike?

[2015-11-06 19:00] JakeGinnivan commented on #708
Haha, didn't read your message. So the latter

Sent from my Windows Phone
________________________________
From: Darrell<mailto:notifications@github.com>
Sent: ‎6/‎11/‎2015 10:54 AM
To: GitTools/GitVersion<mailto:GitVersion@noreply.github.com>
Cc: Jake Ginnivan<mailto:jake@ginnivan.net>
Subject: Re: [GitVersion] Major version bump using commit message bumped minor (#708)

Did you read my comment b

[2015-11-06 20:46] gep13 commented on #708
From my point of view, I like that OOTB GitVersion is following the Semantic guidelines, and not bumping major with a breaking change until the first public API is released.  Having said that, I can see why people would want to do this.  Therefore, I would suggest that the idea of using `+semver:stable` would be the best approach.

And yes, very spooky that you both came up with that independently

[2015-11-08 20:43] sponge-b0b opened #709 "GitVersionTaskAssemblyInfo.g.cs Conflict with Project Namespace"
My project has a namespace like Foo.System. Since you use the fully qualified namespace of the attribute [System.Runtime.CompilerServices.CompilerGenerated] for the GitVersionInformation class and since it is nested within the Foo.System namespace of my project it won't compile because the compiler is looking for a Runtime namespace within Foo.System which doesn't exist. The solution is to add a u

[2015-11-08 20:52] JakeGinnivan commented on #709
Hi @sponge-b0b

Happy to take a pull request to fix this issue. I suggest changing it to `[global::System.Runtime.CompilerServices.CompilerGenerated]` to force it to reference the global namespace.

As for the ability to configure, maybe open up another issues just for that and put some ideas on how you think that should work? Would we force template files for all languages (f#, vb.net and c#)?

[2015-11-08 20:57] sponge-b0b commented on #709
Hi @JakeGinnivan

Thanks for your help. I will create a pull request and think about how the configure could work.

[2015-11-08 21:05] gep13 commented on #709
@sponge-b0b did you mean to close this issue?  There is no harm in keeping it open, and referencing it from your PR.

[2015-11-08 21:08] sponge-b0b commented on #709
@gep13 oops, fat-fingered it. Thanks.

[2015-11-08 21:10] gep13 commented on #709
:+1:

[2015-11-11 20:30] #613 closed

[2015-11-13 01:11] labmonkey42 opened #715 "VSO task running GitVersion twice and claiming to find multiple branch configurations matching the branchName"
About a week ago I had a practically empty repository in VSO apparently working properly with a CI build that included a GitVersion step using the TFS task custom step.  Today I added steps to this build which will package and publish my libraries and committed some code to make such a package.  When the CI build is triggered by the commit or by manually queuing the GitVersion step fails as illust

[2015-11-13 02:53] labmonkey42 commented on #715
After some investigation it appears that my GitVersionConfig.yaml specified "feature(s)?[/-]:" and the default configuration specifies "features[/-]:".  I think this is related to #692 as, in this case, I do not see a way to tell ConfigurationProvider.Provide from either the command line or the TFS task to not apply the default feature branch configuration.  I have temporarily worked around this b

[2015-11-15 16:44] johnkattenhorn opened #718 "VSO Task does'nt allow updated assembly info to be written to a specfic file"
I needed to update a specific file using VSO and found I couldn't do it.

I tried setting the option Update AssemblyInfo files to false and adding the option via Additional GitVersion.exe arguments but could'nt because the /UpdateAssemblyInfo false confuses the parser.

I decided to update the VSO task to execute from a powershell script and added an additional parameter Update Assembly File.

Tic

[2015-11-16 08:16] tpluscode commented on #700
:+1:

We're seeing the same behaviour. When release branch i merged to back develop, its counter resets to 0

[2015-11-22 02:50] JakeGinnivan opened #719 "Separate build scripts and artifacts folders"
At the moment there are scripts in the output folder so we can't just exclude the `build` folder. We should move things around to make it cleaner

[2015-11-22 02:52] JakeGinnivan commented on #709
Fixed by #710

[2015-11-22 02:52] #709 closed

[2015-11-22 03:08] JakeGinnivan commented on #715
Hey @labmonkey42

Interesting issue, not sure how to resolve really. So your yaml file has a specification for feature but we have moved to feature(s). We kinda need a way to remove a default configuration via configuration. Did not think about this scenario. *sigh*

Did you want to try and come up with a solution, either in the form of a new issue which explains the problem properly and suggests

[2015-11-22 03:10] JakeGinnivan commented on #707
Sorry for dropping this thread. It has been a pretty busy month!

If you specify the username/password on the command line it may help, this is an area I need to play around with different configurations, see the errors, then document.

[2015-11-22 03:15] JakeGinnivan commented on #705
I don't think we should do this, gitversion is already pretty complex with a lot of features. This is starting to push the scope past what I think we should be doing.

As convenient as it would be the workaround is not very complex and you could create a simple git alias `gitversiontag = "gitversion /showvariable SemVer | git tag; git push upstream --tags"` (assuming git tag supports piped input).

[2015-11-22 03:15] #705 closed

[2015-11-22 03:16] JakeGinnivan commented on #704
Nice, would be cool to see support for this. Does libgit2sharp support worktree's yet?

[2015-11-22 03:18] JakeGinnivan commented on #694
Going to close this, please create a new issue if you still have perf issues and we can look into it further.

[2015-11-22 03:19] JakeGinnivan commented on #688
SonarQube is something I want to play with and understand. Would you mind setting up an account @pascalberger and configuring it, then fire me through our login details (jake at ginnivan dot net) so I can check it out.

[2015-11-22 03:22] JakeGinnivan commented on #690
The normalisation should just bail if building a tag because we don't do version calculations anyways if a commit is tagged. Hopefully a simple fix

[2015-11-22 03:24] JakeGinnivan commented on #679
Just checking this is still an issue @mrbelk. Am starting to get back on top of GitVersion issues after quite a bit of travelling and conferences.

[2015-11-22 03:25] #632 closed

[2015-11-22 03:27] JakeGinnivan commented on #632
Is this discussion actually sorted if #664 and #695 are done? Or are there still open questions?

if there are still open questions/discussions then let me know and I will re-read/digest this thread and give my thoughts

[2015-11-22 08:35] o-o00o-o commented on #632
I guess I was hoping that this thread would drive the changing of the default configuration or at least having this as a standard preset or well documented option.

Of course we have to have the configuration available first via #664 and #695 but once done I think there is a good case for changing this default to prevent most people eventually finding the same issue to then have to switch their co

[2015-11-22 20:16] labmonkey42 commented on #715
Thanks @JakeGinnivan

If I had known this would happen before I started creating feature branches with gitflow I would have left my GitVersionConfig set to specify "features[/-]" and configured gitflow to name feature branches accordingly.  However, I started some features in "feature/*" (I've been doing of PowerShell work which favors spelling nouns in the singular form) and so I changed GitVersi

[2015-11-22 22:01] o-o00o-o commented on #695
I agree, I think this approach makes a lot of sense. See further discussion in #632

[2015-11-24 04:45] michaelnoonan opened #720 "StrictFilePathMarshaler must be used on a FilePath"
One of our developers was consistently getting this error when building in Visual Studio 2015: `Could not determine assembly version: StrictFilePathMarshaler must be used on a FilePath`

I can see some references to this in `libgit2sharp`, and one in https://github.com/GitTools/GitVersion/pull/652.

The only remedy we could find under pressure was to re-clone the repository.

Unfortunately we need

[2015-11-24 22:12] mrbelk commented on #679
everything seems to be working as expected.  I think it was just mis-using tags.

[2015-11-24 22:12] #679 closed

[2015-11-25 04:49] hazzik commented on #264
:+1:

[2015-11-25 04:51] hazzik commented on #264
What about switching to ngit? As it is fully managed library?

[2015-11-25 06:41] heaths opened #721 "InvalidCastException on untagged branch though tag on merged branch exists"
Just starting to learn GitVersion and I'm probably doing something wrong, but seems the error could be more helpful. As it is, I'm not sure to which blog it refers (the tag perhaps)?

[code]

I tried setting `next-version` but it still throws. If this branch needs tagging, an error message to that effect would help.

[2015-11-25 06:58] heaths commented on #721
One possibility could be that I hashed my GPG public key into a blog, but this was 2.5 years ago with plenty of version tags in between. Should GitVersion stop on the first tag it finds? At the very least, seems ignore anything but Commits could solve the issue.

[2015-11-25 09:07] asbjornu commented on #721
@heaths You can probably set `commit-message-incrementing` to `Disabled` to turn off this functionality, but it shouldn't blow up like that either way. I've pushed #722 that should fix this.

[2015-11-25 10:31] Therzok commented on #264
@hazzik NGit is unmaintained, and we switched away from it in MonoDevelop because of various issues that arose when using it. Updating it is not an easy task either.

[2015-11-25 22:15] heaths opened #723 "Running in AppVeyor produces invalid semver for NuGet"
May be related to issue #635, but when building 'master' only GitVersion accepts the build # from AppVeyor which ends up producing an invalid semver according to NuGet on the build boxes.

[code]
This didn't repro on other branches when pushing changes. I have no branch-specific info my _appveyor.yml_ other than to publish artifacts to nugget.org and powershellgallery.com, and `gitversion /showcon

[2015-11-27 05:48] heaths commented on #723
Seems the tag is coming from AppVeyor when it publishes a release, which makes sense since the two are inextricably tied together on GitHub. But the code to format "(build num)" in the version is coming from GitVersion. After reading the docs several times and playing around with / reviewing the effective settings, I can't figure out why 'master' is different than any other branch. Whatever the ca

[2015-11-30 00:09] knightpfhor opened #725 "Nuget upgrade from 3.1 to 3.3 leaves 3.1 targets in csproj file"
I've just upgraded from 3.1 to 3.3 via Nuget (VS2015, Nuget package manager 3.2) and the 3.1 imports in the csproj file were left behind there which caused the following build error:

    The "BuildMetaDataPadded" parameter is not supported by the "GetVersion" task. Verify the parameter exists on the task, and it is a gettable public instance property.

Removing the 3.1 references manually solved

[2015-12-01 13:27] #721 closed

[2015-12-01 23:23] dazinator opened #726 "GitVersion.CommandLine how to control assembly version format?"
In prior versions of GitVersion command line, you could pass in a 'assemblyversionformat' argument.

This looks like it has now been dropped, requiring you to create a config yaml file instead.

Was this dropped intentionally? Previously I could get away without the step of adding a config yaml, and it's a shame now I can't due to this one config value! :)

[2015-12-02 07:29] gep13 commented on #726
Yes, I believe the decision was taken to move all configuration values to the yaml file, as per the comment here:

https://github.com/GitTools/GitVersion/blob/039a43b092134c6a42902fc162fcb4cbc1265c14/src/GitVersionExe/ArgumentParser.cs#L178

So unfortunately for you, a little bit of extra would will be required :-(

[2015-12-02 08:30] dazinator commented on #726
Haha no worries. If that's the way things have to be I can get over losing 10 seconds to create a config file. /init is actually pretty nice to use. Closing.

[2015-12-02 08:30] #726 closed

[2015-12-02 08:32] gep13 commented on #726
:+1:

[2015-12-02 15:30] pascalberger opened #728 "ContinuousDeployment not working"
I just wanted to use GitVersion for some continuous deployment scenario, where I would require the Major.Minor.Patch version for each commit to be different. I'm using GitHubFlow and set `mode: ContinuousDeployment` in `GitVersionConfig.yaml`.

In the following example I'm 29 committs ahead of the last tag `1.0.0` on the master branch and would expect to get version `1.0.29` but getting `1.0.1` in

[2015-12-03 10:16] csmager commented on #635
I naively added a step to change the build version to the SemVer - the end result should be similar to if this is fixed as suggested.

The issue I've discovered here is that if GitVersion calculates the same version number for two builds (e.g  if someone does a `git push -force` to amend a commit), then AppVeyor will throw an exception as, [per the docs](http://www.appveyor.com/docs/build-worker-a

[2015-12-04 18:26] Tungsten78 commented on #700
:+1:

I can confirm this behavior as well.  Similar to @tpluscode, our team is merging an in progress release branch into develop to apply some fixes for in progress next release work (off of develop).  [GitFlow](http://nvie.com/img/git-model@2x.png) shows this as "bugfixes from rel. branch".

Inspecting the code, [LibGitExtensions.FindCommitBranchWasBranchedFrom](https://github.com/GitTools/GitVe

[2015-12-04 20:59] Tungsten78 commented on #700
Found a unit test trying to cover this scenario, however the problem was that the reset doesn't happen until the next commit.

Here's the failing [unit test](https://github.com/Tungsten78/GitVersion/commit/98ab2bee4972931da7851b651bf10e7271a1acb8).

I also added an AssertSemVer to show the premature version bump on develop.  Not sure how people feel about this, I see discussions (#695) about bumpi

[2015-12-05 02:00] heaths opened #729 "Need variable with just pre-release number"
In some places a dotted quad is necessary, such as 1.2.3.4. Since GitVersion only cares about 1.2.3, it would be great to have a variable that had all 4 numbers or even just (or both?) the incremental commit delta (i.e. 4 in this example) so we can generate dotted quads as needed.

[2015-12-05 02:32] heaths commented on #729
To clarify, I know that `BuildMetaData` exists and does this depending on, it seems, one's `assembly-versioning-scheme` but having a variable that is just the numeric portion regardless of settings provides maximum flexibility.

[2015-12-05 21:57] heaths opened #730 "The UpdateAssemblyInfo task does not ensure IntermediateOutputPath"
After having to do some reordering so that version information is generated before text transforms (T4), I found that the UpdateAssemblyInfo task does not make sure that the IntermediateOutputPath exists before trying to generate source.

[2015-12-06 20:51] pascalberger commented on #688
OK, I'll check if we can get an account on Nemo

[2015-12-09 11:17] pascalberger commented on #688
@JakeGinnivan Here's their reply:

So I assume we have to wait until Version 4 and Mono support.

[2015-12-10 16:39] Choc13 commented on #675
Is there any chance of this issue getting fixed. I'd also like to use `/output json` on a build server from within a gulp task.

[2015-12-13 18:48] GeertvanHorrik commented on #632
Sorry for jumping in, but I actually wanted to achieve something similar. Currently GitVersion defaults to *unstable* for the develop branch. Although this sounds logical, it's killing for semver because it doesn't allow me to release alpha/beta for the same version.

I think it should either point to alpha (alpha means the first ever versions to be released anyway), then once you start going into

[2015-12-30 08:11] ASiwon opened #731 "Unexpected error"
Hi,

I'm getting an unexpected error while trying to use GitVersion on some branches in my git repository. Here is attached full report:

[code]

[2016-01-02 01:32] JakeGinnivan opened #732 "Make padding version smarter"
We can actually make the padded version smarter. For instance

[code]

This will sort numerically for > 10 or even >100 beta releases and makes it much nicer for the majority case which is <10 beta releases. We could also introduce a setting (which could be the default) which is 'smart'. i.e `legacy-semver-padding: smart`

Thoughts?

[2016-01-02 20:11] asbjornu commented on #732
I don't quite understand. `beta1` will constrain it to 9 beta releases, as `beta10` will sort before `beta2`.

[2016-01-05 23:26] JakeGinnivan commented on #732
What about padding with 9's :p

[code]

Result:
[code]

[2016-01-05 23:36] robdmoore commented on #732
Is beta1 sorted before beta010? If so then that's very clever.

I'll assume padding with 9's is a joke :p

[2016-01-05 23:37] JakeGinnivan commented on #732
Not really. My initial suggestion wont sort properly. And this change prioritises the majority case of betas only from 1-9. If you go over that we have a workaround in place which is to pad with 9s to get proper sorting :P

[2016-01-06 00:50] dazinator commented on #732
How about..

[code]
Etc..

[2016-01-06 01:09] dazinator commented on #732
Just adding another possibility to the table, cycle through letters of the alphabet! (Then numbers?) That way you get 36 releases before needing an extra "pad"

[code]
Etc

[2016-01-10 03:01] JakeGinnivan commented on #732
NuGet doesn't support the .'s :(

[2016-01-10 03:02] JakeGinnivan commented on #732
Gonna close this, don't care for the moment

[2016-01-10 03:02] #732 closed

[2016-01-10 03:05] JakeGinnivan commented on #731
@nulltoken I think I know what the issue is, just would like you to confirm.

[code]

This is the method throwing the exception. b.Remote could be null right? The logic here is, `is b a remote branch, if so assume that b.Remote exists`. But Remote will always be null if IsRemote is true?

[2016-01-10 13:51] dazinator commented on #732
Ah.. laaaame..
Perhaps dashes instead of dots then.

+1

[2016-01-13 14:22] EbenZhang commented on #437
The `GetBranchesContainingCommit` is reaaaaally slow on my repo which has 150 branches (including both remote and local) and 5500 commits. It recently takes 6 to 30 minutes but sometimes more than an hour for some old pull requests(I'm using teamcity build GitHub pull request, the local ref/branch name is pull/<1234>/merge), sometimes just few seconds especially when building a branch not a pull r

[2016-01-13 15:34] asbjornu commented on #437
@EbenZhang If `libgit2` has support for it, then `libgit2sharp` should as well. So please explore its API and find a way to do it fulfilling the same requirement but in a quicker way. I'm sure @JakeGinnivan would highly appreciate it. I know at least I would.

Without such a venture, #711 should at least ensure that `GetBranchesContainingCommit` isn't called more than once per solution, which migh

[2016-01-13 20:37] pushasha commented on #728
I am having the same issue. Even tried committing directly to master with similar results -- only the metadata is being incremented, not the version number. Mode is set to `ContinuousDeployment` on all branches. Below is the `gitversion` output for two sequential commits to master.
***

Commit no. 7:
[code]
GitVersion /output buildserver:
[code]

Commit no. 8:
[code]
GitVersion /output buildserver

[2016-01-13 23:26] JakeGinnivan commented on #728
Looks like we don't have a test, anyone want to submit a PR for this?

The test can be based off https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore.Tests/IntegrationTests/DevelopScenarios.cs#L122 but put into `MasterScenarios`.

The desired behavior is that we *always* have a tag on master. (I think the default fallback is `ci`). so master builds are `2.1.0-beta8` in your exampl

[2016-01-13 23:30] robdmoore commented on #728
Why would you want a tag on master?

[2016-01-14 03:27] EbenZhang commented on #437
libgit2sharp has the below code to get the LOCAL branches for a commit:

[code]

I'm not sure how is the performance, and not sure how to get the REMOTE branches.

I've implemented using git command to get the branches for a commit and tag, it helps to reduce the time from 20min(2hours worst case) to 1 minute. I'll clean up my code, do more tests, probably need to fix the unit tests as well, and t

[2016-01-14 04:49] nshenoy commented on #728
I just submitted PR #733 to add tests as @JakeGinnivan requested. However, I do find the behavior a bit unexpected. For the continuous delivery scenario, if we start with a tag in master of `1.0.0` and then make a commit, the version becomes `1.0.1+1`. So it bumps the patch _and_ adds the build metadata. For the continuous deployment scenario, the same actions result in a pre-release version of `1

[2016-01-14 08:25] asbjornu commented on #437
@EbenZhang Excellent! Looking forward to seeing the PR! :smile: :+1:

[2016-01-14 13:22] EbenZhang commented on #437
See #734

[2016-01-15 00:27] nulltoken commented on #731
Indeed! (Sorry for the delay in answering)

[2016-01-15 22:05] johnfanguy opened #735 "Timestamp and/or filter on Personal Goals"
When you create a new Personal Goal for someone, there's some level of delay before you see it and can select it.  If I set the start date of the new Personal Goal to yesterday, it's visible immediately. So I'm guessing either the filtering function in the drop down and/or the effective date/time being saved is the issue. Basically, I think the "start date" for a Personal Goal should default to th

[2016-01-16 00:08] JakeGinnivan commented on #735
Wrong project?

[2016-01-16 00:08] #735 closed

[2016-01-16 00:16] johnfanguy commented on #735
Sorry!

-John

301-346-6749 cell

[2016-01-16 00:21] JakeGinnivan commented on #728
@robdmoore Say you are using octopus, you want to only bump minor when you release to a test environment, not the continuous deployment environment.

Nuget doesn’t allow you to have multiple packages of the same version. As part of octopus deployment to non-dev environments you would drop the tag from the version to get a stable version and tag during the first promotion.

@nshenoy

Nope, see http

[2016-01-16 00:23] robdmoore commented on #728
That's right. We've had this chat before lol.

[2016-01-16 14:39] Gambero81 opened #736 "Add support for updating version in VC++ resource file"
Hello, It would be nice to add support for updating visual c++ resource file with the calculated version by git version, as already done for c# assemblyinfo.cs
Thanks

[2016-01-17 00:27] JakeGinnivan commented on #736
Are you using the .exe or the msbuild Task?

Does nuget and visual c++ projects support .targets files which we can hook the build pipeline or would this be the .exe only?

[2016-01-17 02:40] JakeGinnivan commented on #730
Did you want to submit a PR which fixes GitVersionTask usage with T4 templates and also creates the intermediate output path?

There is only an issue if you make GitVersion run earlier, right?

[2016-01-17 02:50] JakeGinnivan commented on #729
Did you want to submit a PR with this extra variable?

[2016-01-17 02:51] JakeGinnivan commented on #725
@SimonCropp do you know how to sort this, I haven't done much with target files and NuGet.

[2016-01-17 02:52] JakeGinnivan commented on #723
Yeah agreed, this is odd

[2016-01-17 03:16] JakeGinnivan commented on #723
The way I do it is I always publish a draft github release, then I edit manually then publish. It gets around this issue.

[2016-01-17 03:21] #731 closed

[2016-01-17 03:27] JakeGinnivan commented on #720
Gathering this is on the GitVersionTask only? I wonder if it is another bug/error which is being triggered which stops the task from generating the version number and then causes this. Hopefully the underlying bug will get found via the exe and fixed then this goes away.

I might close this issue for now, if anyone hits this then post and we can reopen to investigate.

[2016-01-17 03:27] #723 closed

[2016-01-17 03:34] JakeGinnivan opened #740 "Commit message +semver:stable to bump to v1"
See discussion in #708 for reasoning.

In short, if you are <1.0.0, `+semver: breaking` will only bump minor. This is intended behaviour as you have not declared your public API yet. Introduction of the `stable` keyboard will allow a v1 bump via commit messages.

[2016-01-17 03:35] JakeGinnivan commented on #708
Tracking in #740

[2016-01-17 03:35] #708 closed

[2016-01-17 03:43] JakeGinnivan commented on #715
I am adding a config mapping for your feature branch regex. Not sure there is much more we can do.

[2016-01-17 03:45] #715 closed

[2016-01-17 03:46] JakeGinnivan commented on #718
Thanks for the PR, as I said we can convert to node down the track

[2016-01-17 03:46] #718 closed

[2016-01-17 03:46] JakeGinnivan commented on #718
Or maybe even maintain 2 tasks, a node and a powershell. Which seems to be what most tasks do which want xplat

[2016-01-17 03:49] JakeGinnivan opened #742 "Create PreReleaseLabel and PreReleaseNumber"
When `PreReleaseTag` is `beta.1`, then these variables should be `PreReleaseLabel: beta` and `PreReleaseNumber: 1`

This issue replaces #706 and #729

[2016-01-17 03:49] #706 closed

[2016-01-17 03:49] #729 closed

[2016-01-17 03:49] JakeGinnivan commented on #729
Created a PR which combines this and another issue which was the other part of the pre-release tag. PR welcome :)

[2016-01-17 04:08] JakeGinnivan commented on #700
@Tungsten78 not sure how to fix the first one:

[code]

I think going the way of #695 is the way to go, if you need to continue working on 1.1.x then take a `support/1.1.0` branch and use that?

[2016-01-17 04:46] JakeGinnivan commented on #666
This link is 404 now. Closing

[2016-01-17 04:46] #666 closed

[2016-01-17 04:47] JakeGinnivan commented on #668
As far as I can see, this issue can be closed. Let me know if that isn't the case or we need to do some follow up docs or something (also PRs are welcome which update docs based on your learnings).

[2016-01-17 04:47] #668 closed

[2016-01-17 08:10] #681 closed

[2016-01-17 08:11] JakeGinnivan commented on #681
This sounds like the same issue as #700

If you can pull down master and verify this is fixed for you, if it isn't a test would be super helpful :)

[2016-01-17 08:22] JakeGinnivan commented on #700
Ok, so now when you forward merge a release branch the commit count will no longer reset. This doesn't fix the premature bumping, but I don't think we can fix that.

Gonna close this, if these are follow up issues or the fix doesn't work for other scenarios let me know or open up a new issue referencing this one.

[2016-01-17 08:22] #700 closed

[2016-01-17 08:34] JakeGinnivan commented on #632
@GeertvanHorrik that works assuming you stop work on develop and switch to the release branch.

This may sound stupid, but it almost is like while a release[/-] branch does **not** exist, the tag should be alpha. But any builds which happen while there is a release branch active should be marked as unstable. This will complicate the GitVersion logic a lot though, so not sure I would like to go tha

[2016-01-17 12:45] JakeGinnivan commented on #675
This seems to work for me. if I set a environmental variable which triggers the normal service messages then instead do `/output json` then I get the json string.

Can someone let me know how to reproduce

[2016-01-17 13:28] JakeGinnivan commented on #639
Bump, @sunsided @Martaver

Is this still an issue, did you want to submit a PR with the issue so we can look at fixing?

[2016-01-17 13:30] JakeGinnivan commented on #728
I found a commit counting bug when I did #744

Could one of you grab https://github.com/JakeGinnivan/GitVersion/tree/BumpDevelopWhenReleaseBranchCreated and check to see if the commit counting is fixed? If not a failing hand would be awesome

[2016-01-17 21:11] gep13 commented on #735
Sorry!

Not a problem at all :+1:

[2016-01-18 00:22] SimonCropp commented on #725
That is fully controlled by nuget. So u will have to raise a bug with them

Sorry

[2016-01-18 00:37] dazinator commented on #725
Just a guess in a vain attemp to be helpful, but perhaps NuGet didn't upgrade the targets file between gitversion 3.1.0 and 3.3.0 because the targets file seems to change its location in the nuget package.. in 3.1.0 its referenced from `portable-net+sl+win+wpa+wp\GitVersionTask.targets` and in 3.3.0 it's referenced from `dotnet\GitVersionTask.targets`.

Did you change your project type by any chan

[2016-01-18 10:52] sunsided commented on #639
I was waiting for @Martaver's move. :grin: According to Syntevo, that issue was fixed in SmartGit 7.1 preview 10 as of January 14th, 2016.

[2016-01-18 11:01] tpluscode commented on #700
:+1: Is there a release coming?

[2016-01-18 13:44] Martaver commented on #639
Hey guys, I haven't been having any problems with SmartGit since their
update a while back. So no complaints from my end!
On Mon, 18 Jan 2016 at 16:22, Markus Mayer <notifications@github.com> wrote:

[2016-01-18 14:54] robdmoore opened #745 "Weird build error"
The following error happened in the ChameleonForms build for [this commit](https://github.com/MRCollective/ChameleonForms/commit/977f642845802482763a6a79c6419aacd465c42d) via [this pull request](https://github.com/MRCollective/ChameleonForms/pull/133):

[code]

[2016-01-18 14:54] robdmoore commented on #745
Here is the CI build: https://ci.mdavies.net/viewLog.html?buildId=5812&buildTypeId=ChameleonForms_CI&tab=buildLog&guest=1

[2016-01-18 14:58] #745 closed

[2016-01-18 14:59] robdmoore commented on #745
Awkward - `Failed to parse 2.1BuBumping patch.0 into a Semantic Version`

https://github.com/MRCollective/ChameleonForms/commit/725ee922a0f242cd92c6106a14c56d8795f7be04

*nothing to see here* *whistles*

[2016-01-18 15:02] gep13 commented on #745
lol! :smile:

[2016-01-19 09:46] JakeGinnivan commented on #73
This is fixed by #660 right?

Am closing this, if thats not the case then let me know @MarkZuber

[2016-01-19 09:46] #73 closed

[2016-01-19 09:47] JakeGinnivan commented on #520
@GeertvanHorrik you still planning to have a look into this one? :)

[2016-01-19 09:48] GeertvanHorrik commented on #520
I am a bit overburdened at the moment, but it's still on the list :)

[2016-01-19 10:15] JakeGinnivan commented on #707
The requirement for having a master branch has been dropped.

Are you using build vNext or xaml builds? GitVersion only does branch normalisation for vNext TFS builds. Gonna close this one out for the moment, if you *are*using build vNext and having the issues.

Either way could you create a fresh issue detailing the issue and how you are running things. Not sure if you are using teamcity or TFS a

[2016-01-19 10:23] thisispaulsmith commented on #707
Sorry for not updating this for a while. We did work around the issue with TeamCity anyway and are migrating to git anyway. Thanks for your help

[2016-01-19 10:23] #707 closed

[2016-01-19 14:27] MarkZuber commented on #73
Yes.  It's fixed by that cl.  Thanks!

Sent from the internets.

[2016-01-19 18:47] andrejohansson commented on #720
I have this error now on a cleanly installed Windows 10 machine with latest stable git and Visual Studio 2015 enterprise.

Suggestions how I can narrow it down?

[2016-01-20 09:09] JakeGinnivan commented on #725
@dazinator maybe..

Not sure how to action this issue. Closing :( Hopefully it doesn't happen again

[2016-01-20 09:09] #725 closed

[2016-01-20 09:22] asbjornu commented on #720
@andrejohansson It would be nice to know if you use GitVersionTask or `gitversion.exe`. If you use the former, output from MSBuild would be nice. Run `msbuild.exe` from the command line if you don't get any valuable build output in Visual Studio. If you use the latter, it should give you build output directly that will be valuable. Any build output you can get your hands on, post it here in a comm

[2016-01-20 10:11] #690 closed

[2016-01-20 10:14] JakeGinnivan commented on #736
Happy to receive a PR for this, but not going to mark as up for grabs as we have a heap of other up for grabs issues which I see as higher priority.

Going to close out this issue otherwise I think it will just sit here.

[2016-01-20 10:14] #736 closed

[2016-01-20 15:57] alkampfergit opened #748 "Running Gitversion for submodules in Detached HEAD"
It would be nice if I could run GitVersion against a submodule of my repository. Actually I would like to run GitVersion on a submodule to determine the SemVer of the submodule actually referenced by my project.

Running GitVersion on submodule gives me an error for running in detached head

[2016-01-21 20:13] andrejohansson commented on #720
I'm using the gitversiontask, this is from my csproj file:

[code]

Here is the build output from within visual studio;
[code]

[2016-01-22 08:46] asbjornu commented on #720
@andrejohansson Could you please do `msbuild <solution.sln>` on the command line so we get the full build output? The ones written by GitVersionTask are the ones I'd like to see. Use the "[Developer Command Prompt](https://msdn.microsoft.com/en-us/library/ms229859.aspx) for VS2015" or similar for older versions of Visual Studio to have MSBuild added to your `PATH`.

[2016-01-23 03:37] #719 closed

[2016-01-23 04:13] JakeGinnivan commented on #692
Hey @qetza

I just checked and confirmed with a test that if you put `""` into the value for the tag it will overwrite the default with an empty string.

i.e

[code]

I have also updated the docs. Hope that helps

[2016-01-23 04:17] #692 closed

[2016-01-23 04:24] JakeGinnivan commented on #675
Going to close this, I can only assume it got fixed

The only caviet which may be the source of the issue. If you pass `/project` or `/exec` to gitversion it will always use `/output buildserver`. Not sure why that is, but that logic exists. But there is nothing in there that I can see which would cause the issue. Also a fresh clone of a repo and `$env:APPVEYOR=1` to trigger build server mode stil

[2016-01-23 04:24] #675 closed

[2016-01-23 04:27] JakeGinnivan commented on #656
FYI just looking at this, I would simply be creating a lightweight NPM package with a node api. I dont see us creating a gulp package, if you are using gulp you can still call node APIs and there are plenty of bridge projects.

Personally I just use NPM scripts

[2016-01-23 04:28] JakeGinnivan commented on #642
Duplicate of #690, fixed by #746

[2016-01-23 04:28] #642 closed

[2016-01-23 04:31] JakeGinnivan commented on #651
I think this is covered by existing variables plus #742

Am I missing anything?

[2016-01-23 04:31] #651 closed

[2016-01-23 04:32] JakeGinnivan commented on #639
Sweet, thanks guys!

[2016-01-23 04:32] #639 closed

[2016-01-23 04:34] JakeGinnivan commented on #704
After a bit of investigation, this is being implemented in libgit2 at https://github.com/libgit2/libgit2/pull/3436

Once that drops libgit2sharp will need to add support, then we can pick it up.

[2016-01-23 05:40] JakeGinnivan commented on #648
@thefringeninja did you want to think through this feature, how it would impact the versions created and how it would look with both continuous delivery and continuous deployment modes then create a fresh up-for-grabs issue which is more complete.

[2016-01-23 05:47] JakeGinnivan commented on #636
Not sure how to action this issue. Going to close, if there is something that needs to be fixed in GitVersion let us know, but not sure this is a GitVersion issue?

[2016-01-23 05:47] #636 closed

[2016-01-23 06:03] JakeGinnivan commented on #512
Anyone want to pick this up? :)

[2016-01-23 06:03] #473 closed

[2016-01-23 06:07] JakeGinnivan commented on #119
I'm gathering this is fixed.

[2016-01-23 06:07] #119 closed

[2016-01-23 06:11] #548 closed

[2016-01-23 06:14] JakeGinnivan commented on #421
To be honest this isn't really needed anymore. The log is enough.

[2016-01-23 06:14] #421 closed

[2016-01-23 06:18] JakeGinnivan commented on #257
This looks like it has been fixed at some point. Closing issue out

[2016-01-23 06:18] #257 closed

[2016-01-23 06:21] #605 closed

[2016-01-23 06:29] JakeGinnivan commented on #544
@veccie feel free to submit a PR for this, I agree. We should respect that setting.

[2016-01-23 07:27] qetza commented on #742
Hi Jake, i'll do this update and submit a pull request

[2016-01-25 13:46] #742 closed

[2016-01-25 14:08] JakeGinnivan commented on #604
@arthurzaczek does Jenkins provide an environmental variable with the current branch name?

[2016-01-25 14:45] MeirionHughes commented on #656
Fair enough, its easy enough to run your own code in a gulp task anyway.

[2016-01-25 15:03] JakeGinnivan commented on #628
This will be fixed on AppVeyor, TFS and Jenkins with #755

Cannot fix teamcity OOTB.

[2016-01-25 15:30] arthurzaczek commented on #604
@JakeGinnivan: Yes

    GIT_BRANCH=origin/master

https://wiki.jenkins-ci.org/display/JENKINS/Git+Plugin

[2016-01-25 16:51] qetza opened #756 "Prerelease number is not scoped to prerelease label in continuous delivery"
Hi,

When i'm in continuous delivery mode and i have the following commit tree:

- commit 1
- commit 2 <- tag "0.1.0-test.1"
- commit 3 <- branch "feature/test" & "master"

With the tag configuration "useBranchName" for feature branches and "beta" for master i would expect that:

- calling GitVersion on "feature/test" would return "0.1.0-test.2" because there is a tag "0.1.0-test.1" in the parents

[2016-01-26 02:18] JakeGinnivan commented on #628
Also made improvements to TeamCity docs and introduced Git_Branch to get this info from TeamCity

[2016-01-26 02:22] #604 closed

[2016-01-26 02:22] #628 closed

[2016-01-26 02:23] JakeGinnivan commented on #606
Should all be fixed next release

[2016-01-26 02:23] #606 closed

[2016-01-26 02:24] JakeGinnivan commented on #604
@arthurzaczek thanks, ended up finding that. Am using that to prevent fetching. If you want to give master a spin and verify it's fixed that would be super handy, otherwise I think it should be fixed next release for you

[2016-01-26 02:25] JakeGinnivan commented on #630
@Philo this is fixed, right?

[2016-01-26 07:24] GeertvanHorrik commented on #632
But what's the diff between alpha and unstable in your definition? To me they are the same. Alpha == unstable, even beta is considered unstable but is coming from a release branch. The only thing is that SemVer officially sees 1.2.0-unstable23 > 1.2.0-alpha23, which makes it really hard to use this with tools like Squirrel (they just use alphanumeric sorting like in SemVer).

[2016-01-26 10:17] dazinator commented on #647
For builds in Vs, you can associate gulp tasks to run on prebuild. Perhaps running gitversion as a gulp prebuild task to update the project json version number would work?

[2016-01-26 10:59] dazinator commented on #656
Being able to execute gitversion as a gulp task, could tie in to #647 - i.e you could update the project.json file also. Debatable whether gitversion would actually need to handle updating the project.jsoj file itself, or whether we could just document a gulp task that uses some other npm package to take the git version supplied version number and update the project.json file..

[2016-01-26 12:04] arthurzaczek commented on #604
Hmmmm. I'm trying to reproduce the problem, but it looks like Version 3.3 don't have this problem anymore.

    Installing 'GitVersionTask 3.3.0'.
    ...
    INFO [01/26/16 12:44:47:13] Applicable build agent found: 'Jenkins'.
    INFO [01/26/16 12:44:47:13] Branch from build environment:
    INFO [01/26/16 12:44:47:13] One remote found (origin -> '...').
    INFO [01/26/16 12:44:47:13] Skipping

[2016-01-26 12:58] arthurzaczek commented on #604
YES! It works :-)

    Installing 'GitVersionTask 3.3.1'.
    Finished: SUCCESS

BTW: Thank you very, very much for *build.cmd* - it's easy to build and publish to a (private) NuGet Gallery :-)

[2016-01-26 14:20] pascalberger opened #758 "+0 in Version numbers (VSTS)"
Since around mid December I sometimes receive strange version numbers in VSTS builds for repos hosted on VSTS.

Using GitFlow,  for a master build the version number looks now like `2.0.0.+0` instead of `2.0.0`.

Sometimes it even picks the wrong version or makes stuff like `1.2.0+2`.

[2016-01-26 14:24] pascalberger commented on #758
Here is the build output of such a build:

[code]

Build was for `master` branch in GitFlow scenario for Version 1.0.0. Instead of the expected `1.0.0` version was SemVer was `1.0.0+0`.

[2016-01-27 13:09] Philo commented on #630
@JakeGinnivan

afaik, the ability to create assembly info files outside of my pull request is not available?

I have updated my branch to include options to specify multiple files for update.

See commit message for info: 8c189ca70c0efa7242cdc1a49bd500fabae10e55

[2016-01-27 14:00] JakeGinnivan commented on #630
Did you want to get this into a PR and update the docs? :) Would love to close this out

[2016-01-27 14:58] Philo commented on #630
created pull request #760

[2016-01-28 11:37] oSilas opened #761 "How to use commits as Version numbers ?"
like V5.16.2.5819

[2016-01-28 13:09] oSilas commented on #761
5819  is commits number !
![Uploading 捕获.PNG…]()

[2016-01-28 13:10] oSilas commented on #761
![default](https://cloud.githubusercontent.com/assets/3445167/12645225/801ba1ee-c603-11e5-97e7-608117e276f8.PNG)

[2016-01-28 17:54] dittert opened #762 "Flakey data types of returned JSON data"
The data type in JSON seems to depend on it's value. Whenever a value is zero, it is returned as "0". Otherwise it is returned as number.

Example:
[code]
This affects at least **Major**, **Minor**, **Patch**, **BuildMetaData**

This is inconvenient if you're using a JSON parser. My code (using simple-json) fails because ```"0"``` is considered to be a string and not a number. I can handle this in

[2016-01-29 09:48] asbjornu commented on #761
@oSilas Just to be sure I've understood you correctly, what you're asking is how you can get the version number `1512` for a repository with 1.512 commits in it? From what I can read in [the documentation](http://gitversion.readthedocs.org/en/latest/), this is currently not a [variable](http://gitversion.readthedocs.org/en/latest/more-info/variables/) exposed by GitVersion. Should we consider this

[2016-01-29 23:35] JakeGinnivan commented on #761
I don't think this idea fits GitVersion. We are trying to use git workflows to produce semver compatible version numbers.

This is also really easy to achieve outside of GitVersion, just run `git rev-list --count HEAD` to get the commit count of HEAD

[2016-01-29 23:35] #761 closed

[2016-01-30 00:22] JakeGinnivan commented on #675
Just a follow up, adding a test in to make sure that it is actually fixed. Which it is :)

[2016-01-30 14:36] #664 closed

[2016-01-30 14:40] gusztavvargadr commented on #664
I just wanted to double check if is #766 works like what you expect, but I see it just got merged, thanks @JakeGinnivan :)

[2016-01-30 14:43] JakeGinnivan commented on #664
Yep, exactly what I was after.

I think in v4 this will become the default behaviour.

[2016-01-30 15:08] #762 closed

[2016-01-30 15:08] JakeGinnivan commented on #762
3.4 will be out shortly with a heap of fixes including this one. Thanks for reporting!

[2016-01-31 00:47] JakeGinnivan commented on #758
Just looked into this, we are using FullSemVer because otherwise you get errors with duplicated build numbers if you are using continuous deployment mode. The variables work as you would expect

[2016-01-31 01:02] #758 closed

[2016-01-31 01:03] JakeGinnivan commented on #758
Am doing a trim now for the +0, but if it's anything else it wont.

Also make sure you are using SemVer not FullSemVer in the substitution? Anyways, hopefully not an issue with 3.4.0

[2016-01-31 01:24] JakeGinnivan commented on #632
@GeertvanHorrik I have rethought this all, so v4 will be using the more logical naming scheme

[2016-01-31 01:43] JakeGinnivan commented on #723
This now puts the build number in the build metadata. i.e `3.4.0+146.build.564`

[2016-01-31 03:02] asbjornu commented on #720
@michaelnoonan, @andrejohansson Poke. :smile:

[2016-02-01 09:33] GeertvanHorrik commented on #632
Awesome, thanks.

[2016-02-01 13:04] Gambero81 opened #770 "Allow relative path parameter"
Hi, it would be nice to allow gitversion.exe to get a relative path as input parameter for git repository
( ex. gitversion.exe ..\ )

it's seem now is not possible.. or i make something wrong?
Thanks

[2016-02-01 13:20] gep13 commented on #770
@Gambero81 can you confirm what version of GitVersion you are using?

I just tested passing a relative path into GitVersion 3.4.0 and it worked as expected.

[2016-02-01 13:40] pascalberger commented on #758
@JakeGinnivan I just tested with GitVersion 3.4.0 and I still get `1.0.75+0` as `GitVersion_FullSemVer`.

You mention that this is expected behavior. What I don't get is that it once returned version number without the metadata (1.0.75) for GitFlow master commits for `GitVersion_FullSemVer` and still does for certain repositories. Therefor I assume something changed in the repos which leads to thi

[2016-02-01 13:58] JakeGinnivan commented on #758
I think FullSemVer always returns the +metadata but SemVer doesn't?

Maybe at some point we switched the default.

You can always change your tfs build number to `$(GitVersion_SemVer)` then it should give you the expected results?

[2016-02-01 14:09] pascalberger commented on #758
Sure, I could switch to `$(GitVersion_SemVer)`. I'm just confused since on some repositories it returns the metadata on others I doesn't. Therefore I don't think it was a change in GitVersion, but more something in the repositories which has changed

[2016-02-01 14:10] JakeGinnivan commented on #758
Id love to know what it is :P I just have no idea

[2016-02-01 14:14] pascalberger commented on #758
Also strange that it doesn't remove the +0 from the build number with 3.4.0, which should now happen with your code in place...

[2016-02-01 20:08] furrot opened #771 "GitVersion failing on git version after Update"
Hi, I use GitVersion in TeamCity using the Meta-runner and the new update seems to have broken something.

[14:34:20][Step 1/1] INFO [02/01/16 14:34:20:50] Applicable build agent found: 'TeamCity'.
[14:34:20][Step 1/1] ERROR [02/01/16 14:34:20:56] An unexpected error occurred:
[14:34:20][Step 1/1] System.NullReferenceException: Object reference not set to an instance of an object.
[14:34:20][Step

[2016-02-01 23:09] JakeGinnivan commented on #771
The display logs is a bit of a red herring as it only tries to run if things go wrong.

The issue is in `GitVersion.GitPreparer.GetDotGitDirectory()`, I will try to look tonight.

[2016-02-02 07:51] asbjornu commented on #771
@furrot Which version of GitVersion are you using?

[2016-02-02 07:57] asbjornu commented on #770
What path is it you want to be relative? If it's the log file, it was fixed in #678, which was included in [v3.3.0](../releases/tag/v3.3.0).

[2016-02-02 19:07] furrot commented on #771
I was using the latest version pulled from Chocolatey via the Meta-runner. 3.4.0 portable.

[2016-02-03 06:46] maximpashuk opened #772 "NuGet package GitVersion does not have dependencies, but it should"
If you tak a look to
https://www.nuget.org/packages/GitVersion/3.4.0

you will see that "This package has no dependencies"

But actually it depends from LibGitSharp and YamlDotNet packages.
So you should explicitly add these packages at compatible versions.

Please check nuget package generating process.

In contrast, GitVersion.CommandLine package does not have any dependencies and this is cool.

[2016-02-03 20:13] cloudcello opened #773 "Typo"
GitVersion/docs/more-info/version-increments.md

typo: "it's" --> replace with --> "its" (without quotes)

[2016-02-03 20:22] gep13 commented on #773
@cloudcello are you in a position to submit a pull request for this?  We would happily accept your contribution.

[2016-02-03 20:26] pascalberger commented on #773
@gep13 Sorry, just saw your post now. Thought that I just might fix it directly :)

[2016-02-03 20:42] #773 closed

[2016-02-03 20:56] sstorie opened #775 "GitVersionTask - Trying to diagnose "The specified path, file name, or both are too long" errors on Windows 7"
We are using the GitVersionTask msbuild task with great results until recently. We discovered that some of our developers were getting runtime errors when running our code locally, and we pinned it down to a potential issue with how long the folder containing our code is.

I can reproduce the problem if I make my git repo in a path sufficiently long, and can make it go away if I shorten the folder

[2016-02-03 21:46] cloudcello commented on #773
I thought that creating a fork for just one typo would be too much :)

[2016-02-03 21:58] asbjornu commented on #773
@cloudcello It's actually really easy to fork and submit a PR when you edit files directly on GitHub. Just find [the file you want to fix](/GitTools/GitVersion/blob/master/docs/more-info/version-increments.md), click the edit pencil in the upper right corner and then GitHub will take you through the motions of forking and submitting a PR without writing a single git command. Easy peasy! :)

[2016-02-03 22:02] cloudcello commented on #773
Ok asbjornu. Next time I'll fork it. I already a couple of repos where I did just that :) But I can always fit one more in my account.

[2016-02-05 00:44] pushasha opened #777 "[Question] Incrementing via Commit Message"
As a user, if I do the following, what is the expected outcome if I run GitVersion from the command line (assume default settings)?

1. Make an initial commit to master in a bare repository, and tag that commit as `1.0.0`
2. Make a commit directly to master with nothing semver-related in commit message (note: by default, I know this increments the patch number after a tag, so I use it as a sanity

[2016-02-05 05:33] michaelnoonan commented on #720
Hi everyone. I've just had this reoccur, and I realised that repo was still using `GitVersionTask.3.1.0` which was lossy - it would just write `ex.Message` instead of the full exception with stack trace.

Unfortunately upon upgrading to use `GitVersionTask.3.4.1` the problem isn't happening any more. I say unfortunately because I was looking forward to getting to the bottom of this issue, but I ca

[2016-02-05 09:49] TAGC opened #778 "GitVersion for Bamboo - Unable to parse multiple command-line arguments"
This is an issue with your GitVersion for Bamboo plugin but I'm unable to sign up an account with your JIRA issue tracker (it keeps returning a 504 error) so I'm posting here instead.

I have a build where I include a GitVersion task:

![](http://i.imgur.com/HT7BRZP.png)

I consistently get the following error:

[code]

It doesn't seem to be splitting arguments by spaces.

If I run the GitVersion

[2016-02-05 09:54] JakeGinnivan commented on #778
@carolynvs any ideas?

[2016-02-05 17:18] carolynvs commented on #778
Yeah, I'm not splitting the args by spaces. I'll fix that and reply back when an updated version to the marketplace is ready.

Thanks!

[2016-02-05 19:39] pushasha commented on #777
Issue was answered on Gitter -- This _is_ the expected behavior. For anyone else looking, the explanation is here: https://github.com/GitTools/GitVersion/issues/708#issuecomment-154488513

[2016-02-05 19:39] #777 closed

[2016-02-07 14:32] qetza commented on #756
Test and code are in pull request #779

[2016-02-07 18:31] carolynvs commented on #778
I've pushed GitVersion for Bamboo v1.2.2 to the Atlassian marketplace. This release fixes parsing of multiple arguments to gitversion.exe.

I noticed from your example that you were passing `/output buildserver`, however the plugin relies on parsing json output, so using buildserver will cause the task to fail. To update your AssemblyInfo.cs files in addition to capturing the version in Bamboo, ju

[2016-02-07 18:35] TAGC commented on #778
Cheers.

I was doing this originally (specifically, omitting the /output argument so it defaulted to JSON) and no versioning-related metadata was logged after my builds, so I thought I had to change it.

[2016-02-07 19:09] carolynvs commented on #778
@TAGC If the Bamboo task isn't working for you, I'd appreciate a [bug report](https://bitbucket.org/carolynvs/gitversion-bamboo/issues?status=new&status=open) and any details you may have so I can reproduce. :smile:

[2016-02-07 20:02] TAGC commented on #778
Sure. I'll see if I can submit a report tomorrow when I get into work.

[2016-02-08 14:48] The-E opened #780 "assembly-informational-format line in GitVersionConfig.yaml leads to crashes"
The following GitVersionConfig.yaml leads to a crash:

assembly-versioning-scheme: MajorMinorPatch
assembly-informational-format: {FullSemVer}
mode: ContinuousDelivery
next-version: 5.3.0
branches: {}

Stacktrace:

ERROR [02/08/16 15:22:33:21] An unexpected error occurred:
YamlDotNet.Core.YamlException: (Line: 2, Col: 32, Idx: 76) - (Line: 2, Col: 32, Idx: 76): Exception during deserialization ---

[2016-02-08 20:26] gep13 opened #781 "NuGetVersionV2 doesn't generate valid version number"
...when using certain feature branch names.

I have created a sample repository to demonstrate this issue, you can find it here:

https://github.com/gep13/GitVersionTest

**Steps to reproduce**
1. Clone the repo
2. `cd` into repo
3. Run `.\build.ps1`
4. Verify that build works correctly
5. Do `git checkout feature/Gh-567` and run `.\build.ps1` and verify that build works correctly
6. Do `git check

[2016-02-09 10:14] laped opened #782 "NullReferenceException when using dynamic repositories"
I'm trying to use this with TeamCity, but locally I can't get it to work either when calling GitVersion with the arguments specified on this page: http://gitversion.readthedocs.org/en/latest/more-info/dynamic-repositories/

This is the command line:

`GitVersion.exe /url http://gitlab/project/backend.git /u user /p password /b branchName /c ad43e4e51b9`

[code]

Which is the following line (94) in

[2016-02-09 16:17] asbjornu commented on #780
@The-E You're missing quotes (`'`) around `{FullSemVer}`. Your config should thus look like this:

[code]

[2016-02-09 22:53] michaelnoonan commented on #720
Happy, but sad - it's failed again today! This is now running `GitVersionTask.3.4.1`.

Interestingly, running a build from the command-line works perfectly, no warnings/errors: `msbuild .\source\OctopusDeploy\OctopusDeploy.sln`

[code]

But when running a Rebuild inside of Visual Studio we get this warning:

[code]

I don't have much time to investigate further right now, but let me know if there'

[2016-02-10 07:43] The-E commented on #780
Thanks, that works.

[2016-02-10 07:43] #780 closed

[2016-02-11 14:20] JakeGinnivan opened #784 "Wrong version being calculated for PR against release branch"
[code]

It knows this is a PR against release/4.0.0, yet it grabs config from master and doesn't take the release branch version into account.

[2016-02-12 09:06] chappoo commented on #782
I was seeing exactly the same symptoms earlier; ended up rolling back to v3.3.0 from Chocolatey feed to get our builds working again.  PR is unlikely from me as well for similar reasons.

[2016-02-12 09:58] JakeGinnivan commented on #782
No problems guys, thanks for the report. I will fix as soon as I get a chance.

[2016-02-12 15:45] asbjornu commented on #720
@nulltoken Do you have any idea what might be causing this?

[2016-02-12 19:45] nulltoken commented on #720
That reminds me of two ancient issues.

 - One was a marshalling issue that led to https://github.com/libgit2/libgit2sharp/pull/438 (was happening when more than one LibGit2sharp was loaded in memory and the callback from native land was picking the wrong one IIRC).
 - The other one was https://github.com/libgit2/libgit2sharp/issues/241

How can one ensure GitVersionTask is actually leveraging the

[2016-02-15 23:46] ghuntley commented on #264
It seems mono for x86/amd64 on Linux was fixed by #638

Mono on OSX remains unresolved.

https://gist.github.com/ghuntley/f7f9a120ab40a69f56e9

using

    <title>GitVersion.CommandLine</title>
    <version>3.4.1</version>

    $ mono --version
    Mono JIT compiler version 4.2.2 (explicit/996df3c Wed Jan 20 00:19:48 EST 2016)
    Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. w

[2016-02-17 21:12] rikthefrog opened #787 "unable to install Gitflow on visual studio"
System.ComponentModel.Win32Exception (0x80004005): The system cannot find the file specified
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at System.Diagnostics.Process.Start()
   at GitFlow.VS.GitFlowWrapper.Init(GitFlowRepoSettings settings)
   at GitFlowVS.Extension.ViewModels.InitModel.OnInitialize()

Error message installed git 64 bit verison of git th

[2016-02-17 21:30] pascalberger commented on #787
I think you got the wrong repository. This is about GitVersion (a tool to determine version information from a Git repository). For the GitFlow Visual Studio Extension you should report the issue at https://github.com/jakobehn/GitFlow.VS.

[2016-02-17 21:30] #787 closed

[2016-02-17 22:38] pvandervelde opened #788 "Wrong version being calculated for feature branch"
State of repository

* Using gitflow, mostly by using the gitflow options in sourcetree
* Last release: 1.1.0.
* Master is tagged: 1.1.0
* Last release was done from a release branch, which was branched of develop, no changes were made to the release branch and then the release branch was merged into master as in the image

![sourcetreehistory](https://cloud.githubusercontent.com/assets/96201/1312

[2016-02-17 22:55] pvandervelde commented on #788
Oh this was with Gitversion.commandline 3.1.2 but I just tried with 3.4.1 and it gives the same results.

[2016-02-17 23:56] JakeGinnivan commented on #788
Looks like a scenario our tests don't cover. The way I sort these issues out is I write a test replicating the issue by asserting the versions I would expect.

Then I try and fix it :P A PR with a failing test (or completely fixing the issue) is welcome, but the test is a real time saver when i pick up these sort of issues

[2016-02-18 01:26] pvandervelde commented on #788
I'll see if I have some time but we're in the middle of TFS upgrades and releases so I'm kinda snowed under at the moment :(

[2016-02-19 03:08] koraybalci opened #789 "Basic question on where Max/MinVer comes from"
I installed using nuget and when I build my project, my file version becomes: `0.1.0+261.Branch.master.Sha.0e4971d877b6f7blablabla`

My question is, where do I set the `0.1.0` part? Where is it retrieved from?

Should be a very simple answer, but I couldn't find it in any of the docs..

PS: I haven't touched GitVersionTask.targets file and not sure if I should..

[2016-02-19 10:18] gep13 commented on #789
`0.1.0` is the base version number that is used by GitVersion.  This is semantically, the first version number that you would be working towards.  After that, once you have tagged your repository with a released version number, GitVersion will start using the latest tag as the base version number, and continue calculating from there.

Sorry to hear that the documentation did provide you any guidan

[2016-02-19 13:36] asbjornu commented on #789
@koraybalci You don't need to touch `GitVersionTask.targets`, but if you want to configure what version number the next build should have, or how the version number is minted, please have a look at [how to configure GitVersion](http://gitversion.readthedocs.org/en/latest/configuration/). If you have any questions to what's described there or think anything is missing, please let us know! :)

[2016-02-20 02:57] koraybalci commented on #789
Thanks for the answers, it's all clear now.

To be honest, after installing with nuget, it took me a while to realize it was actually already working. I was probably expecting to configure more. You might emphasize in the documentation, it is just so transparent!

I was already reading about configuring (the link @asbjornu provided as well)  but I figured nuget version only comes with the dll, no

[2016-02-20 02:57] #789 closed

[2016-02-20 08:18] qetza commented on #575
Hi, i'll do it:
- read GitVersion.yml if present
- if not read GitVersionConfig.yaml and log a warning for deprecated file name.

[2016-02-20 14:49] qetza commented on #575
Done in PR #790

[2016-02-21 12:44] dittert opened #791 "Provide an option to turn off buildserver detection magic"
I would like to suggest a command line parameter to turn off build server detection completely. In our setup `GitVersion.exe` is called from some unit tests on repositories that do not have any connection to the repository the build is running from.

As a consequence those unit tests run on developer machines but fail on TeamCity:

[code]

In this case, there is temporary Git repository that only

[2016-02-22 15:03] asbjornu commented on #789
@koraybalci Please have a look at #792. I hope it helps clarify things a bit. If not, I'd love input to how it can be improved further. Thanks!

[2016-02-23 04:01] koraybalci commented on #789
looks great!

[2016-02-24 11:48] JakeGinnivan opened #794 "Add VSTS extension status to readme"
Add to the table of published things

[2016-02-26 09:55] mkoertgen commented on #664
Great feature!

+1 for making `tag: alpha.{BranchName}` the new default for feature branches.

BTW, this feature enables to workaround problems with `nuget pack` when feature branches begin with a number, cf. https://github.com/NuGet/Home/issues/1743, which seems to be common practice when working with issue trackers.

Very cool. Using it straight away!

[2016-02-29 20:04] gep13 opened #797 "Change some output to Verbose"
I recently added GitVersion to the Cake build process, and it is working fine, however, the output is very "chatty".  It starts here:

https://ci.appveyor.com/project/cakebuild/cake/build/0.9.0-PullRequest.717+71.build.1562#L55

and ends here:

https://ci.appveyor.com/project/cakebuild/cake/build/0.9.0-PullRequest.717+71.build.1562#L729

Over 700 lines in the build log.  Should we move some of thi

[2016-02-29 23:58] JakeGinnivan commented on #797
That would be handy, i've often thought the same thing.

[2016-03-01 03:06] PreetSangha opened #798 "How to invalidate cache file so that it's either ignored or deleted before calculation?"
[code]

I was getting this output before I used the log to determine that there was a cache file

[code]

After deleting the cache file I got this version calculation

[code]

So I was wondering how I can invalidate the file without having to discover it from the folder first please.

[2016-03-01 12:11] maximpashuk opened #799 "GitVersion need ability to use default credentials (for TFS on-premise)"
GitVersion 3.4 has only /u and /p options to set up username and password to fetch\push from remote.

These options maps to `GitVersion.Authentication` class, which later maps exactly to `LibGit2Sharp.UsernamePasswordCredentials` class.

But for TFS onpremise has only NTLM auth enabled by default, so `LibGit2Sharp.DefaultCredentials` should be used instead.

So set /u and /p is useless for TFS onp

[2016-03-01 12:20] gep13 commented on #798
@PreetSangha at the minute, I don't think that there is an option to do this.  I agree that there are times when invalidating the cache would make sense, however, this would only be after making modifications to the configuration file, right?  At all other times, you would expect the generated version number to be the same?

[2016-03-01 13:08] asbjornu commented on #798
If I understand this correctly, won't including the last modified date or content hash of `GitVersionConfig.yaml` as a part of the hashed cache file name fix this problem?

[2016-03-01 13:11] gep13 commented on #798
@asbjornu that is a very good point, and yes, I believe that would correct the issue as well.

[2016-03-01 20:55] PreetSangha commented on #798
@asbjornu  Thank you but that was my thinking too.

However as I've found before (with 3.6) and now (with 4.0) that updating the GitVersionConfig.yaml file didn't do anything until I'd deleted the cache file.

I raised this question on [stackoverflow ](http://stackoverflow.com/questions/35306594/git-version-always-sets-prerelase-label-to-unstable-how-to-make-it-respect-c) when I had the problem on

[2016-03-01 21:15] PreetSangha commented on #798
Here is a recreation I think. Please feel free correct my understanding

first I clear the cache

[code]

This is my branch

[code]

and my gitverion.yaml file

[code]
and the output of git version

[code]

I se a cache file has been created

[code]

so I make an edit to my configuration file (see highlighed line that I commented out)

[code]

with this new version  get this gitverion output

[cod

[2016-03-03 14:23] dcorriveau-omniscient opened #804 "How to read this graph ?"
![gitflow](https://cloud.githubusercontent.com/assets/11891420/13496877/9d57f658-e120-11e5-9567-1b6e7419a4ae.png)
I was wondering what is the meaning of the arrows in the graph ? From what I've seen in other GitFlow graphs, the arrows usually point in the direction the project is going to (and left to right or top to bottom), not the other way around. So the graph and the actual result (text below

[2016-03-03 20:01] asbjornu commented on #804
@dcorriveau-omniscient It's quite common in graph theory to have the arrow point in the direction of the reference, that is from the child to its parent. It's like this in class diagrams in UML as well. In Git, each commit has one or more parents and it is the child that references those parents, not the other way around.

[2016-03-03 20:09] dcorriveau-omniscient commented on #804
I see, I thought it was more like a Flow Graph, but in the context of a UML graph it does make more sense. Thanks for the explanation.

[2016-03-03 20:09] #804 closed

[2016-03-07 17:54] gregbty opened #807 "GitVersion_NoFetchEnabled environment variable"
I am using GitVersionTask for my projects and I am attempting to build on AppVeyor, however I see the following line:

`Could not determine assembly version: Unsupported URL protocol`

I read that the issue can be resolved  by using the nofetch option. I tried using the environment variable `GitVersion_NoFetchEnabled` but the MSBuild target does not seem to pick it up. Is there no way to specify t

[2016-03-07 20:08] gep13 commented on #807
@gregbty what Version Control system are you using?  Does it require authentication?

[2016-03-07 20:39] gregbty commented on #807
I am using Git over SSH and yes it is a private repository. I do not think I have the ability to use HTTPS on the build server. Using ```gitversion /nofetch /output buildserver``` via the command line works.

[2016-03-07 20:50] gep13 commented on #807
Ah, you are using SSH...

I think that is why you are running into issues.  Please see this issue: https://github.com/GitTools/GitVersion/issues/436

[2016-03-07 21:00] gregbty commented on #807
Well I saw that issue before. If I set the ```GitVersion_NoFetchEnabled``` property within the MS Build project itself, I do not run into this issue (even using SSH). However, if I set this via an environment variable ```set GitVersion_NoFetchEnabled```, GitVersionTask does not seem to pick it up. Is that the expected behavior? Is the only way to specify the flag is in the MS Build project?

[2016-03-07 21:06] gep13 commented on #807
Ah, I see what you are saying...

On that one I am not sure, as I don't use the GitVersionTask.

@JakeGinnivan @pascalberger @SimonCropp can any of you provide any input on this one?  Thanks!

[2016-03-08 12:13] asbjornu commented on #798
@PreetSangha #808 should fix this.

[2016-03-08 18:33] nshenoy opened #809 "Always increment patch when merging to `master`?"
Is there a way to set a configuration option to always increment patch? For our needs, we basically want to achieve something like MAJOR.MINOR.BuildMetadata, where the patch component is bumped automatically whenever we complete a pull request. Is there a way to do this?

[2016-03-08 20:38] gep13 commented on #798
@PreetSangha I have just merged this PR into master branch.  If you could give the latest version a try, and ensure that it is now working as you expect it to, that would be great.

For now, I am going to close this issue, but feel free to re-open if required.

[2016-03-08 20:38] #798 closed

[2016-03-08 23:17] JakeGinnivan commented on #809
You could use continuous integration mode, then use the gitversion variables directly to create your own version.

I am curious what the scenario is though?

[2016-03-10 03:41] nshenoy commented on #809
We're primarily using GitVersion to manage versioning of our Octopus deploy packages. So the argument on the team is that whenever a `feature/` or `hotfix/` branch is merged back into `master` then _most_ of the time the changes are not terribly significant will mostly be worthy of a patch increment. So tagging every PR feels like extra overhead. If there is something particularly meaty that is me

[2016-03-10 08:34] asbjornu commented on #809
@nshenoy Setting `mode` to [`ContinuousDelivery`](http://gitversion.readthedocs.org/en/latest/reference/continuous-delivery/) in the [configuration](http://gitversion.readthedocs.org/en/latest/configuration/) will give you this behaviour. Is there a reason why you can't use this mode or did you just not know about it? If you didn't know about it, what do you think can be done to improve the docume

[2016-03-10 18:18] aarondandy commented on #809
@asbjornu Could you show an example of a ContinuousDeployment configuration that increments patch instead of PreReleaseNumber? I am having a lot of trouble getting patch to increment. After we sort that out the disconnect between the documentation and understanding will probably be made more clear.

[2016-03-10 18:24] nshenoy commented on #809
When we set the mode to ContinuousDeployment, we end up getting a prerelease tag. True, the tag does increment with each commit, but it's still considered prerelease. For example, 1.0.1-ci.12 -> 1.0.1-ci.13. Instead, what I really want is 1.0.1 -> 1.0.2 etc.

[2016-03-10 19:00] asbjornu commented on #809
What GitVersion variable are you using, then? As @JakeGinnivan mentioned, you most likely need to build the version number yourself based on the variables GitVersion generates. Are you using [`.exe`](https://chocolatey.org/packages/GitVersion.Portable) or [task](https://www.nuget.org/packages/GitVersionTask)?

[2016-03-10 19:08] aarondandy commented on #809
I am using GitVersion.exe 3.4.1.0 from Chocolatey.

[2016-03-10 20:01] gep13 commented on #809
@aarondandy @nshenoy what, if any, configuration are you using within the GitVersionConfig.yaml file?

[2016-03-10 21:10] aarondandy commented on #809
Sorry for the delay, and thanks for responding. I have tried a few variations on the config but this is where I am currently:

[2016-03-10 21:57] onovotny commented on #647
@RichiCoder1 I think the biggest challenge is figuring out how to integrate calling GitVersion in the dotnet build pipeline. @olivier-spinelli's experiments weren't positive but a lot has changed since then and maybe the behavior is difference with the dotnet CLI over dnx?

[2016-03-10 22:04] RichiCoder1 commented on #647
You mean ssomething like https://github.com/dotnet/cli/blob/a709f772f10e4c1caeab4199ba24ebc08590f036/TestAssets/TestProjects/TestAppWithScripts/project.json#L21? There's no other way "plug in" and there's straight up no way to set the version (currently) without explicitly modifying project.json.

[2016-03-10 22:11] onovotny commented on #647
I'd say that if you can find a way to get GitVersion working, then that'd be awesome!

[2016-03-11 09:04] olivier-spinelli commented on #647
@onovotny actually SimpleGitVersion (see [here](https://github.com/SimpleGitVersion/SGV-Net/wiki/Installing-SimpleGitVersion#dnx-simplegitversiondnxcommands)) did the job well ... for dnx.

What it does is:
- modifies the project.json (pre build step) files of a solution (the projects defined in the current repository are set to the same version: the CSemVer version computed).
- generates a Proper

[2016-03-11 17:52] aarondandy commented on #809
To be clear, the behavior I see is that after tagging a commit as `1.0.0` all future merge commits on master will have a version of `1.0.1` where what I expect to see is that commits would have a version similar to `1.0.{Patch + CommitsSinceVersionSource}` .This way I can link each build to a specific commit without using pre-release identifiers as all of these builds are released to some environm

[2016-03-13 03:29] onovotny commented on #647
Oh...this may be easier than we all thought. CLI works differently than DNX. It does not produce a nupkg file directly on build. There are two commands for that --

  - `dotnet build` does the build.
  - `dotnet pack` creates the package

If you never call pack, you won't get a nupkg out of it. Point is, that if you have a pre/post-build script in the project.json that calls gitversion, and that s

[2016-03-13 11:27] sunsided commented on #647
@onovotny If I'm not totally mistaken then changing the `project.json` after a build would produce an error in `pack` telling you to `restore` (and `build`) again.

[2016-03-13 13:02] onovotny commented on #647
@sunsided that's entirely possible, I was just guessing since build/pack were split into two steps.

[2016-03-15 14:28] taborda commented on #700
Hi @JakeGinnivan

I'm still experiencing this problem when a merge is being done in a release branch like @msnelling said with the two devs committing.

If it helps, here is the log:
[gitversion_branch_merge_resets_commit_count.txt](https://github.com/GitTools/GitVersion/files/174052/gitversion_branch_merge_resets_commit_count.txt)

There was a merge in the release/1.4 branch with the message:
Mer

[2016-03-17 14:14] taborda commented on #700
I think this is only happening on the first merge on the branch.

After that, it is not resetting the commit count on each merge. But still, it is counting from the last merge, that is when it was reset.

[2016-03-19 08:52] mkoertgen commented on #11
Currently, GitVersion fails to find the `.git` directory during standard NCrunch builds:

    WARNING - WARN [03/19/16 9:36:36:33] Could not determine assembly version:
    System.NullReferenceException: Object reference not set to an instance of an object.
       at GitVersion.GitPreparer.GetDotGitDirectory()
       at GitVersion.ExecuteCore.ExecuteGitVersion(String targetUrl, String dynamicRepos

[2016-03-20 21:26] devlead opened #810 "Running GitVersion on Kudu"
Running GitVersion in a restricted environment like i.e. Kudu (Azure web app deployment environment) results in a few issues

Your not allowed to set process priority so launching with `GitVersion.exe" /output json` results in
[code]
and exit code = `-532462766`
which seems to be releated to this
https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/Helpers/ProcessHelper.cs#L27

[2016-03-20 21:39] devlead commented on #810
Interestingly running GitVersion with output build server on Kudu results in a hang
[code]
Checking process handle has that to git objects i.e.
`D:\home\site\repository\.git\objects\pack\pack-771ce3c8dc85268157793cf6822c570334dab529.pack`

and it has a couple of threads idling
![image](https://cloud.githubusercontent.com/assets/1647294/13907345/67553fe6-eeec-11e5-92c6-258afb505809.png)

Currently

[2016-03-20 21:40] gep13 commented on #810
This doesn't seem right to me:

[code]

I think there is a bug in there...

[2016-03-20 21:47] devlead commented on #810
@gep13 oh that was a error on my hand... set an environment while testing (should probably not hang anyways though).

Without that env var it doesn't hang but still fail, but similar error as on local:
[code]

[2016-03-20 21:49] gep13 commented on #810
Ok, that helps to know that.  The only thing that would cause that output is from here:

[code]

The issue with regard to the not finding branches is likely due to the way that Kudu is shallow cloning the repo for building.  We would likely need to add support for Kudu as a BuildServer, so that the branch normalisation process can be executed.

[2016-03-20 22:03] devlead commented on #810
Checking the kudu source code they're indeed doing a shallow clone
[code]
https://github.com/projectkudu/kudu/blob/master/Kudu.Core/SourceControl/Git/GitExeRepository.cs#L274-L281

There seems to be a `SCM_USE_SHALLOW_CLONE` setting though, I'll try to set that one to see what happens.

[2016-03-20 22:09] gep13 commented on #810
@devlead I suspect you will still run into the same, latter, issue.  But at least you will have all the branch information available in order to correctly asset the Semantic Version :-D

[2016-03-20 22:18] devlead commented on #810
Yeah full clone resulted in same issues.

[2016-03-20 23:25] devlead commented on #810
I clone & built version on Kudu, commented out the [process.PriorityClass = ProcessPriorityClass.Idle;](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/Helpers/ProcessHelper.cs#L27) line.

[code]
and got output without exception
[code]

and ` /output buildserver` worked too
[code]

[2016-03-21 08:35] gep13 commented on #810
@devlead did you also have to change the shallow clone settings to get it to work correctly?

@JakeGinnivan do you know why the priority is being set on that Process?

[2016-03-21 13:03] devlead commented on #810
@gep13 would have to setup a new site to confirm. I changed deep clone before I compiled a custom version of GitVersion.

[2016-03-23 07:18] michaelnoonan commented on #809
I think I'm running into the same misunderstanding/confusion.

I've configured GitVersion to use `mode: ContinuousDeployment`, and thought that would mean on each commit from a tag I would get something like:

[code]

Instead I'm seeing:
[code]

I get that same behavior if I use `mode: ContinuousDelivery`:
[code]

I've tried downgrading to GitVersion `3.0.0` and also saw the same behavior.

Hope t

[2016-03-25 10:30] profestate opened #812 "error on git merge"
Does anybody know what can case this issue. while i try just to exec gitversion.exe on a git repo folder i got error like below. the hash (f3e804c6baea1bd0d856254026f1d85d69a9bcce) witch case the error is the merge commit hash. i see no restriction on getversion about merges.

PS F:\Jenkins\workspace\x> GitVersion.exe
INFO [03/25/16 3:17:41:64] Working directory: F:\Jenkins\workspace\x
INFO [03/25

[2016-03-31 09:08] taborda opened #814 "Commit count resets to 0 when merge detected on branches (only the first merge)"
I'm still experiencing the problem explained in issue #700

Commit count is reset to 0 when a merge is detected on a branch with ContinuousDeployment.
Apparently this problem only happens in the first merge.

If it helps, here is the log:
[gitversion_branch_merge_resets_commit_count.txt](https://github.com/GitTools/GitVersion/files/174052/gitversion_branch_merge_resets_commit_count.txt)

In this e

[2016-03-31 10:05] taborda commented on #814
I've created a pull request with the test provided by @msnelling on issue #700

Just changed the expected FullSemver to be 2.0.0-beta.3 instead of 2.0.0-beta.2

[2016-04-01 12:24] dazinator opened #817 "GitVersion command line NuGet package should be marked as dev dependency"
When adding this NuGet package to a project, thinking it would be best if it was flagged as a development dependency, so that when someone subsequently does a `nuget pack` on their project, GitVersion.CommandLine won't be added as a dependency to their own package.

[2016-04-01 12:47] #817 closed

[2016-04-01 14:51] dazinator commented on #647
I might have a crack at this. I am currently thinking to expose `GitVersion` as a Dnx in project.json

[code]

Then in any `project.json` within your solution that you want gitversion to replace the version number, add a dummy command:

[code]

The idea is that you would only need to execute a `dnx gitversion` against the one project in the solution. That command would then calculate the gutversio

[2016-04-01 14:59] dazinator commented on #647
Ooo I have thought of a way to make that a bit better. The "dummy" command could be used to carry format params for how you'd like GitVersion to populate the version in the project.json. i.e:

[code]

[2016-04-01 18:45] asbjornu commented on #647
@dazinator It's awesome that you want to tackle this. But will the end solution only work with `GitVersion.exe` and not `GitVersionTask`?

[2016-04-01 18:46] RichiCoder1 commented on #647
Meant to post this earlier, but I would *not* invest any time or effort into a DNX based solution. It will almost immediately be rendered obselete once Dotnet CLI RCs.

[2016-04-01 18:57] sunsided commented on #647
Was just about to say this - `dnx` is dead, [`dotnet`](https://github.com/dotnet/cli) is the new hype. I'm not too sure, but it doesn't seem to support `commands`.

[2016-04-01 18:58] RichiCoder1 commented on #647
It doesn't, or at least not in the same way that Dnx does.

[2016-04-01 22:39] dazinator commented on #647
Cheers guys! Not much of this is that tied to dnx. I'm thinking to split it in 2 almost.

1. Extending gitversion command line so you can call it and have it find and version stamp project.json files (similar to how it does assembly infos)

Project.json files arent foing anywhere right? So this still seems needed regardless of whether you plan to use dnx or dotnet cli.

2. In dnx land, support add

[2016-04-02 09:22] asbjornu commented on #647
@dazinator I don't know how relevant GitVersionTask is going to be if the only way to version assemblies is to inject a version number into `project.json`. What GitVersionTask does, is generate temporary `.g.cs` files containing `[Assembly*Version]` attributes for each project it's added to. If that way of versioning assemblies is going away, then I guess GitVersionTask will be going away too?

[2016-04-02 11:22] onovotny commented on #647
There's absolutely no reason for GitVersionTask to go away. All we're talking about are xproj; csproj still works just fine with GitVersionTask and csproj/msbuild isn't going anywhere.

[2016-04-02 19:20] asbjornu commented on #647
@onovotny Ok, I thought perhaps `.csproj` was going to become an arcane relic with the introduction of `project.json`, but it's good to hear that GitVersionTask has a place, still. :smile:

[2016-04-02 19:33] onovotny commented on #647
There's quite a lot of things that xproj can never support. WPF needs targets to compile BAML; UWP needs targets for x:Bind and a whole lot of other things; Xamarin projects need targets for their builds. Pretty much any non-trivial build phase needs targets, and MSBuild is how you get there.

xproj/project.json so far is really only good for "basic"/simple projects. Not that it's a bad thing, and

[2016-04-04 06:13] JakeGinnivan commented on #756
Nice fix!

[2016-04-04 08:40] JakeGinnivan opened #821 "Incorrect version calculation"
Have pre-release < 1.0 tags, then set next-version as 1.0.0, then GitVersion calculates 1.1.0 which is wrong.

Log:

[code]

[2016-04-04 09:22] asbjornu commented on #756
I assume this can be closed, then? :smile:

[2016-04-04 09:25] qetza commented on #756
yes it can :smile:

[2016-04-04 09:25] #756 closed

[2016-04-04 15:03] mkoertgen commented on #608
This is also typical for me when working on feature branches prefixed with issue number (e.g. JIRA). And in fact, this is due to an unfixed bug in NuGet, cf.: [NuGet #1743](https://github.com/NuGet/Home/issues/1743)

[2016-04-05 12:24] dazinator opened #822 "[Question] - Tmp directory for remote repo's - why?"
I was just wondering what the reasons gitversion clones remote repositories to the %tmp% directory by default? Would it not be better to just default to using the working directory (which is a command line mandatory argument) - and then if the additional argument is provided to specify a directory to clone to, then use that argument to override the working dir?

The only reason I suggest this is b

[2016-04-06 05:55] #637 closed

[2016-04-07 08:33] ulrichb opened #825 "Support builing tagged commits with deatched HEAD"
It would be nice if we could checkout a _tagged_ version, and get the same version numbers in GitVersion as I would get on the "master" branch (or some configured "fallback branch name for detached HEAD") + maybe a warning in the build log.

_Use case:_ A project library maintainer (or some developer which uses the library) wants to analyze an issue in a specific, earlier released version. Therefo

[2016-04-07 14:05] labmonkey42 opened #826 "Request: Optionally pass tag-prefix on command line"
We have a number of repositories with multiple output projects in each repository.  Moving away from this repository structure would be a major effort, and tbh, there are senior (old school?) team members which I'm certain would vehemently resist this kind of repository restructuring.

In many cases we want a version history per-project, rather than that of the whole repo (e.g. Foo.Logging and Foo

[2016-04-07 14:08] labmonkey42 commented on #826
No sooner did I submit this request before it occurred to me that I could add a step to my CI build configuration which would modify GitVersionConfig.yaml to set tag-prefix before running the GitVersion step.

This seems like a hack, but if this feature request is rejected at least I have something to try.

[2016-04-07 16:46] olivier-spinelli commented on #647
A small announcement that may interest some of you.
We tried to use SimpleGitVersion (DNX) from a dotnet project ans it works fine.

Some details here:
https://github.com/SimpleGitVersion/SGV-Net/wiki/Installing-SimpleGitVersion#new-dotnet-support

HTH...

[2016-04-07 23:31] JakeGinnivan commented on #826
This is actually not a bad idea. It never occurred to me to approach the problem using tag prefixes. Happy to receive a PR.

[2016-04-08 07:46] olivier-spinelli commented on #647
@sunsided, you are right to worry about:

Fortunately this is only a warning, not an error and everything works fine.

@onovotny, its true that:

This is what we do in SGV: all the cross references between local project.json files are updated: `dotnet build` (that takes into account these "local dependencies") works fine.
The whole code for all this stuff can be found here: https://github.com/Simp

[2016-04-08 14:12] danielmarbach opened #828 "Difference in determining the version between 2.0.1 and 3.4.1"
We recently switched from 2.0.1 to 3.4.1. On the repo https://github.com/Particular/NServiceBus.SqlServer we got the following version: `3.0.0`. When we upgraded to 3.4.1 we got the following version `3.1.0`. The offending PR is the following:

https://github.com/Particular/NServiceBus.SqlServer/commit/c382841326b4f52aaf693b214f6427efe4394e6b

Any ideas how to resolve this without needing to rebas

[2016-04-09 14:22] bl4ckhand commented on #809
Seeing the same behavior. Patch is not incrementing on every commit to master.

[2016-04-12 08:57] roji opened #830 "Version resets not supported"
I've stumbled upon a scenario that doesn't seem to be supported with GitVersion.

In the course of a project's lifetime, it may be necessary to reset its version; this can happen if the project name is changed and the version is reset to 1.0.0. A concrete example would be Microsoft's Entity Framework 7 (still in development, never released yet) which has been renamed to Entity Framework Core, and

[2016-04-13 14:43] profestate commented on #812
have no idea why i got exactly this error but the issue was with shallow clone repo.

[2016-04-13 14:43] #812 closed

[2016-04-15 19:57] twsouthwick opened #831 "Support for multiple projects in one git repo"
It would be great if there was a way to manage multiple projects in one git repo that version separately from each other. Is there interest for this and would it even be possible?

[2016-04-16 13:04] #826 closed

[2016-04-16 13:10] JakeGinnivan commented on #810
@gep13 no idea, removing it

[2016-04-16 13:12] JakeGinnivan commented on #810
Though the process crash is a red herring. We only execute that when there is an unhandled exception elsewhere.

[2016-04-16 13:26] JakeGinnivan commented on #830
There is an up for grabs issue which would fix this at #538

Would be nice to support scenarios like this

[2016-04-16 13:28] JakeGinnivan commented on #791
This warning can probably be removed when /nofetch is specified.

The first one though is so we can detect if we are building in a PR without a fetch.

[2016-04-16 13:40] roji commented on #830
Yep, looks like I created a dup.

[2016-04-16 13:40] #830 closed

[2016-04-17 08:58] pascalberger commented on #831
GitVersion determines a version number based on the repository, which means that at any time there can only be one version number. IMHO way to go would be to have a separate repository per project (which also solves other problem like eg. triggering automatic builds)

[2016-04-17 09:12] JakeGinnivan commented on #831
It would be cool to enable this scenario. I just think it will add too much complexity and introduce subtle bugs for people trying to achieve it.

[2016-04-17 09:14] JakeGinnivan commented on #831
If someone writes up an RFC on how it would work talking about each of the versioning strategies that GitVersion has and the impact then we could make a call if it's worth it or not though

[2016-04-17 09:15] JakeGinnivan commented on #772
Agreed, the nuget package has not been a primary thing but it would be good to fix this issue.

[2016-04-17 16:13] gep13 commented on #810
@devlead any chance you can test out the latest develop branch version of GitVersion again?  See if there are any other issues?

[2016-04-17 16:13] gep13 commented on #810
@gep13 no idea, removing it

Cool, thanks!

[2016-04-17 18:12] devlead commented on #810
@gep13 Sure, I'll try to revisit tomorrow, is it on MyGet or should I build from source?

[2016-04-17 18:19] gep13 commented on #810
@devlead good question!  No, we don't have a MyGet Feed for GitVersion currently.  But you can find the most recent package as an artifact in the AppVeyor Build here:

https://ci.appveyor.com/project/GitTools/gitversion/build/3.4.1-PullRequest.832+121.build.652/artifacts

[2016-04-18 03:18] twsouthwick commented on #831
I figured it might be difficult to reason about due to the versioning strategies GitVersion already does, but it would be cool. @pascalberger has a good point that ideally each project is in its own repo, but sometimes there are logistical, political, or some other reason why that's not possible. I'll have to research how the versioning strategies currently work, but will look into what generaliza

[2016-04-18 07:51] asbjornu commented on #831
If a component needs its own version number, I see that as a crystal clear, non-negotiable proof that the component needs to reside in its own repository.

I'd say that if you have logistics, a process or politics that require you to jam several distinct components that need separate versioning strategies into one repository, then something about your logistics or process is broken or too weighed

[2016-04-19 02:30] roryprimrose opened #833 "Not adhering to tag on local VSTS build agent"
I have tagged a new branch release-2.2 as v2.2.0. Building this locally yields 2.2.0 nuget packages. On the build server however, it builds 2.2.1-beta0001 with commits since version source as 11.

My understanding is that the tag should have trumped all other information. Am I missing something?

[2016-04-19 03:06] roryprimrose commented on #833
I've found that the repo on the build machine wasn't recognising the v2.2.0 tag. VS didn't find the tag onn the local or remote branch, although git tag on the command line did. It also had release-2.2.0 as a local branch not linked to a remote branch.

I had no idea how to clean up the repo on the build machine so I wiped it out and did a fresh init and clone. It now finds the tag and builds as e

[2016-04-19 03:06] #833 closed

[2016-04-19 07:58] roji opened #834 "Add NuGetPreReleaseTag"
project.json builds allow you to leave the prerelease tag component of the version as a wildcard (`"version": "3.1.0-*"`) and then pass it in via a command-line parameter (`dotnet pack --version-suffix`).

Ironically with all the variables GitVersion generates, there doesn't seem to be a simple nuget-compatible prerelease tag (i.e. unstable0456 and not unstable.456). Maybe you guys would consider

[2016-04-19 13:04] devlead commented on #810
@gep13 I no longer get that exception and get what looks to be correct version :+1:
[code]

[2016-04-19 13:26] gep13 commented on #810
@devlead cool! Thanks for letting us know! :+1:

[2016-04-19 14:58] Pitterling opened #835 "gitversion.yml @ TFS Build vNext (VSTS)"
Hi, how do i change the default pre release tag "unstable" for the develop branch while running on TFS Build vNext?
I know how to change it within gitversion.yml, but how to edit this file when using the GitVersion.Extension? thx

[2016-04-19 15:24] anantkgoyal opened #836 "Resetting BuildMetaData"
The semantic versioning I'm currently using is of the format 1.0.0.0. To use this I'm using major.minor.patch.buildMetaData. The buildMetaData increases on each commit, however occasionally I would like to increase the major, minor or patch number for a new release of software and accordingly reset the buildMetaData. How can I achieve this?

[2016-04-19 16:53] asbjornu commented on #836
@anantkgoyal Just out of curiosity: What version strategy or git flow are you using? Either way, adding a tag should reset the build metadata.

[2016-04-19 18:43] anantkgoyal commented on #836
We're developing completely off the master branch and each developer is creating a branch for his/her work and the merging into master when done. Please could you elaborate regarding adding the tag? I've tried to add the tag of the format release-2.0.0 to a commit but the next builds neither have the new version nor is the buildMetaData reset!

[2016-04-19 19:03] asbjornu commented on #836
@anantkgoyal I don't think `release-2.0.0` is an expected tag format. Try with just `2.0.0` or `v2.0.0` and it should work. Alternatively, you can [configure](http://gitversion.readthedocs.org/en/latest/configuration/) what the tag format should be with `tag-prefix`.

[2016-04-19 19:13] anantkgoyal commented on #836
@asbjornu That did not seem to work either. I have tried both of those tags. The tag-prefix currently is [vV]. Do I need to put the tag somewhere specifically?

[2016-04-19 19:28] asbjornu commented on #836
You should tag the merge-commit on master.

[2016-04-19 19:37] anantkgoyal commented on #836
@asbjornu I've tried that and it doesn't seem to be working either. I'm using pull requests on bitbucket and I'm adding in the tag right after merging.

[2016-04-19 19:49] asbjornu commented on #836
The tag needs to be in place before the build. If you're doing the merge in the Bitbucket web interface, I suppose a build is set off on TeamCity or similar? If so, tagging that merge commit afterwards won't have any effect.

[2016-04-19 19:50] anantkgoyal commented on #836
The build is happening on Bamboo. I even tried to add the tag to the last commit before asking for the pull request.

[2016-04-20 07:17] asbjornu commented on #836
@anantkgoyal Hm, that's weird. Are you able to reproduce this in a repository you can make public on GitHub or (even better) as a repository fixture test in the GitVersion solution (as a pull request)?

[2016-04-20 14:21] anantkgoyal commented on #836
@asbjornu If you don't mind please could you tell me exactly how and when am I supposed to pass in the tag?

[2016-04-20 16:00] asbjornu commented on #836
@anantkgoyal, you simply do `git tag 2.0.0` on the merge commit on master. Building master after that has been done should set its version number to `2.0.0` and reset the build metadata.

[2016-04-20 16:09] anantkgoyal opened #837 "Increasing Version with Commit Message"
Hi,
When I add in the string "+semver:major" or minor or patch with my commit message, the version does not seem to be increasing every time. Is there something that I am missing in this? Also can I reset the buildMetaData when I do this?
Thanks

[2016-04-20 20:03] anantkgoyal commented on #836
Turns out that my server was not set up to pull, just checkout. Hence it was not getting the tags and because of this that tags were not being pulled in.

[2016-04-20 20:03] #836 closed

[2016-04-20 20:14] asbjornu commented on #836
@anantkgoyal Makes sense! Glad you figured it out! 😄

[2016-04-22 08:51] JakeGinnivan commented on #822
Say you have clean sources on your build server, we would re-clone each time because the clone would get deleted each checkout making things super slow.

We needed somewhere outside the working directory but still consistent to put the clone so it can be accessed across builds

[2016-04-22 12:06] dazinator commented on #822
Ahh ok that makes sense. If this feature is purely for build servers that use clean sources, how about we still default to a location relative to the working directory, but an allow an argument to be passed in to specify the location where repos should be placed, and output a warning when in build server mode if that argument is not specified, saying that if using clean sources consider specifying

[2016-04-26 07:16] #264 closed

[2016-04-26 07:33] JakeGinnivan commented on #837
This feature respects SemVer, so it will use the biggest bump since the last tag. This is so if you bring in two breaking pull requests which both have `+semver: major` commits you only get a single major bump for that release.

[2016-04-26 07:33] JakeGinnivan commented on #837
If you need further clarification just post a follow up question. Hope that answered your question.

[2016-04-26 07:33] #837 closed

[2016-04-26 07:34] JakeGinnivan commented on #834
Sounds fine to me.

[2016-04-26 07:37] JakeGinnivan commented on #831
Going to close this one out. If someone opens an issue with a good investigation about how this is possible without making gitversion even more complicated than it already is then we can continue the discussion there.
As I said, it would be nice, but I don't think we can easily do this without really over complicating git version.

The way I have solved this is simply with version.txt files or som

[2016-04-26 07:37] #831 closed

[2016-04-26 07:40] JakeGinnivan commented on #825
If the commit is **tagged**, it should work. GitVersion should just pick up the tagged version and not do any version calculation.

For non-tagged detached head, this is not really possible as you say we don't know the branch config to use, and if we have a fallback then you will likely get a different version anyways.

[2016-04-26 10:31] mabead opened #841 "VSTS fails when calling the GitVersion task (System.DllNotFoundException: Unable to load DLL 'git2-381caf5')"
All my VSTS builds use the GitVersion tasks. In fact, the first step of my build is the GitVersion step. Unfortunately, starting today all my builds fail with the following error:

[code]
I saw that a new version of GitVersion was released today. I suspect this is related...

Could you please validate this as soon as possible as this is blocking all our builds.

Thanks,
Maxime

[2016-04-26 10:41] pascalberger commented on #841
This should already be fixed by #840.

@JakeGinnivan Is in the process of releasing an update to the extension.

[2016-04-26 11:31] JakeGinnivan commented on #841
3.5.1 is released. Sorry guys!

[2016-04-26 11:31] #841 closed

[2016-04-26 11:32] JakeGinnivan commented on #841
@mabead let me know if this doesn't fix the issue.

[2016-04-26 12:29] mabead commented on #841
@JakeGinnivan It does fix this issue. Thanks for the fast turn around!

[2016-04-26 13:31] justdeserves opened #842 "VSO GitVersion breaks MSBuild"
The latest release of the vNext GitVersion task causes an error during the MSBuild process. Error CS0579: Duplicate 'AssemblyVersion' attribute & Error CS0579: Duplicate 'AssemblyVersion' attribute.

On removing the task from the build pipeline the code successfully compiles. I have not selected the option to 'Update AssemblyInfo files'

Is there a work around?

[2016-04-26 13:48] dcorriveau-omniscient opened #843 "Don't add extra debug info for /updateassemblyinfo"
Hi,

I'm using GitVersion from PS scripts (psake) for my build process. Before "MSBuilding", I call
 `gitversion /updateassemblyinfo true` to update all the AssemblyInfo files in the solution. I would have liked to be able to to that, get the result, parse the JSON and then get access to all the variables I need to use later on without having to call gitversion again. It would work perfectly fine

[2016-04-26 14:41] mattGuima opened #844 "Version 3.5 crashes Visual Studio"
Installing the latest version, 3.5, on my web project in Visual Studio 2013 completely crashes it halfway through and corrupts the project file so it can't be opened without it crashing again unless you undo the changes.

[2016-04-26 15:31] meixger opened #845 "Add Environment.MachineName to GitVersionInformation"
I would like to access the machinename of the build server / developer machine in the GitVersionInformation class.

[2016-04-26 16:47] JakeGinnivan commented on #844
Seems there was a packaging error. Should have a release out shortly

[2016-04-26 16:55] JakeGinnivan commented on #842
I think this is related to https://github.com/GitTools/GitVersion/pull/714 as @csmager had a similar issue.

Can you grab the versions at https://ci.appveyor.com/project/GitTools/gitversion/build/3.5.1-AssemblyInfoFix.1+1.build.673/artifacts and see if this is still a problem.

I reverted the above PR to see if it helps. Am heading to bed now so would be great if you could test and get back to me.

[2016-04-26 16:58] JakeGinnivan commented on #843
1. We should always use the `Logger.Write*`. Any use of Console. is a bug, so this slipped through.
2. Yep, so if you use the show variable workaround the calls will be close to instant. We cache it in your .git folder somewhere (not sure off the top of my head).

[2016-04-26 17:05] #843 closed

[2016-04-26 17:11] JakeGinnivan commented on #844
This should be fixed by 22d265db2299d406e643b219efdffc98bb8b2e0c, pushing a release now. 3.5.2 should update fine. I didn't check everything before this release as I wanted to push it a few days before heading on holiday. Sorry about that :)

[2016-04-26 17:12] #844 closed

[2016-04-26 17:20] dcorriveau-omniscient commented on #843
Awesome, thanks for the quick response and fix.
I was wondering where you would have saved that cache, for some reason I didn't think of the .git folder but that sounds like a great idea.

[2016-04-26 19:16] mabead opened #846 "AssemblyInfo are updated even if check box is not selected"
I use the GitVersion VSTS task. In the configuration of this step, the checkbox beside "Update AssemblyInfo Files" is **not** selected. Then, when I execute a build, I see the following output for the GitVersion step:

[code]

As you can see, GitVersion is called with `/updateassemblyinfo true`. This should not be the case.

[2016-04-26 19:41] pascalberger commented on #846
Thanks, this seems like a bug. I'll have a look at it

[2016-04-26 20:14] pascalberger commented on #842
Maybe this is related to #846 (In the current version the "Update AssemblyInfo files" option doesn't make a difference, the files always will be updated)

[2016-04-26 20:44] FunnyFry commented on #843
My bad for causing your issue @dcorriveau-omniscient

Thanks @JakeGinnivan for fixing this!
Note taken to use Logger.Write* next time.

[2016-04-27 02:52] #846 closed

[2016-04-27 02:54] JakeGinnivan commented on #842
There are two issues here, the fact that the checkbox doesn't work means you cannot work around the other breaking change.

@justdeserves if you are able to check that branch I linked above (use the command line to check) and see if it fixes the underlying issue too.

[2016-04-27 07:05] maximpashuk opened #848 "Please remove /internalize flag from IlRepack task"
GitVersion.CommandLine uses ilrepack command to embed all dependencies (yamldotnet, libgit2sharp, other girversion tools).

/internalize flag make all classes from these dependencies to be 'internal' instead of 'public'.

I just want to use gitversion.commandline, and also make some git stuff using libgit2sharp and powershell.
Now I should use separate libgit2sharp package, but I want to use class

[2016-04-27 07:21] eatdrinksleepcode commented on #841
I'm getting this exact same error using 3.5.2 (GitVersion.CommandLine) on OSX using Mono 4.3.2. Is there another cause I should be looking at?

[2016-04-27 09:40] justdeserves commented on #842
@JakeGinnivan I implemented the fix above this morning , but came across this:
2016-04-27T09:38:26.6977193Z ##[error]Unhandled Exception: System.TypeInitializationException: The type initializer for 'LibGit2Sharp.Core.NativeMethods' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'git2-381caf5': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

[2016-04-27 09:46] gep13 commented on #843
@dcorriveau-omniscient are you running on AppVeyor?

If so, as I do here:

https://github.com/chocolatey/ChocolateyGUI/blob/develop/BuildScripts/default.ps1#L440

You can make immediate use of the Environment variables that are created after the initial execution of GitVersion.  This will mean that you don't have to run it twice.

Hope that helps!

[2016-04-27 09:47] JakeGinnivan commented on #842
@justdeserves that should be fixed, how are you building/running GitVersion.exe?

[2016-04-27 09:50] justdeserves commented on #842
@JakeGinnivan I'm using the GitVersion.exe that is bundled in with the
GitVersionTfsBuildTask_3.5.1-assemblyinfofix0001.zip

[2016-04-27 10:07] JakeGinnivan commented on #842
Ah, that is broken for that branch.

Use the GitVersion.exe in https://ci.appveyor.com/api/buildjobs/b6io43o3wx1vntf9/artifacts/GitVersion_3.5.1-assemblyinfofix0001.zip

3.5.0 build vnext was broken =(

[2016-04-27 10:19] justdeserves commented on #842
I've run through a few builds - it appears to be sorted and not raising the problem anymore. Ty for your assistant.

[2016-04-27 12:01] dcorriveau-omniscient commented on #843
Thanks @gep13, I'm not running on AppVeyor. I'm calling from CruiseControl. I would `ConvertFrom-Json` the output and then set the variables I needed in env variables so that I could use them in functions I call later on. In any case, it's not a big deal as there are a few workarounds and none of them seem to be noticeably slow.
Thanks for sharing.

[2016-04-27 13:04] asbjornu commented on #848
Which classes from `GitVersion.CommandLine` do you want to use? We should probably try to separate those out and move them into [GitTools.Core](/GitTools/GitTools.Core) instead of catering to edge-cases like yours within the `gitversion.exe` executable.

[2016-04-27 14:07] JakeGinnivan commented on #842
Ok sweet, will close

[2016-04-27 14:07] #842 closed

[2016-04-27 16:30] asbjornu commented on #841
@eatdrinksleepcode, make sure you have version 0.23.0-pre of LibGit2Sharp. Do you?

[2016-04-27 18:30] eatdrinksleepcode commented on #841
@asbjornu When you say I should "have" it, what do you mean? Where should it be located? I can install version 0.23.0-pre20150419160303 of LibGit2Sharp into my packages directory (where GitVersion.CommandLine also is), but that doesn't help GitVersion.exe any.

It think the issue is that I am trying to use the GitVersion.CommandLine package instead of the Chocolatey package, both because I want th

[2016-04-27 18:38] pascalberger commented on #841
@eatdrinksleepcode Since this issue was about the Visual Studio Team System task (where the LibGit DLLs were completely missing), I would suggest that you open a new issue to track / discuss it.

[2016-04-29 04:10] Tungsten78 commented on #538
An errant merge comment is plaguing our versioning. I will submit a PR soon for this one.

[2016-04-29 09:41] gep13 commented on #843
@dcorriveau-omniscient gotcha, no worries, just thought I would check just in case :smile_cat:

[2016-04-29 20:07] Tungsten78 commented on #538
See PR #851

[2016-05-02 07:04] urig commented on #771
Is it possible that this is caused by the .git folder not being available to the TeamCity build agent? (Maybe *VCS checkout mode* is set to *Automatically on server* when it should be *Automatically on agent*?)

[2016-05-04 01:15] patrickwijerama commented on #809
Same for me. Additionally in version 3.4.1 what I experienced was, when I added "+semver: minor" to a commit message it updated the minor version. When I tried the same with "+semver: patch" it does not increase the patch version neither on continuous delivery or deployment. In version 3.5.2 it seemed to not work anymore at all with commit messages.

[2016-05-04 18:36] patrickwijerama commented on #809
So I went through the code now and I found the source of the problem.
In NextVersionCalculator.cs it uses the method FindVersion.
In this it gets the baseversion and then it looks through all the intermediate commits and checks for the commit messages. Then instead of returning the new semantic version calculated from all the commit messages, let's say for example 5 times "+semver: patch" it only

[2016-05-05 18:52] roji opened #852 "NullReferenceException running GitVersion after branching off"
So I was happily creating a new release/3.1.0 from develop, preparing a beta release, when currently gitversion suddenly started to bork. Running it on the same commit from develop works just fine. Any workaround proposal?

[Here are the logs](https://gist.github.com/roji/7900df20c057de5ad65a5990ec153658).

[2016-05-06 10:44] roji opened #853 "Ugly NullReferenceException if not in a git repo"
The following seems a bit much (GitVersion 1.0.0.1):

[code]

[2016-05-07 06:28] eatdrinksleepcode opened #854 "GitVersion.CommandLine does not work on OS X"
Steps to reproduce:

1. mono nuget.exe install GitVersion.CommandLine -Version 3.5.2
2. mono ./GitVersion.CommandLine.3.5.2/tools/GitVersion.exe

Output:

System.TypeInitializationException: The type initializer for 'LibGit2Sharp.Core.NativeMethods' threw an exception. ---> System.DllNotFoundException: git2-381caf5
  at (wrapper managed-to-native) LibGit2Sharp.Core.NativeMethods:git_libgit2_init (

[2016-05-10 01:48] roryprimrose commented on #656
This would be great. I've just put together a SPA proof of concept that uses gulp. I want to create a nupkg of the gulp output to push to Octopus Deploy. Being able to update the version of the nuspec via GitVersion would be very handy.

[2016-05-10 02:28] roryprimrose opened #855 "TFS build task incorrectly setting updateAssemblyInfoFlag"
I have not checked the "Update AssemblyInfo files" option, yet the build log contains the following:

[code]

From what I can tell in the powershell, the /updatessemblyinfo true should not be added to the command line. The code itself looks fine so I don't know what is happening there.

[2016-05-10 06:03] roryprimrose commented on #656
I got around this by using the GitVersion task in VSTS build vNext to populate the version details into build variables. I then used the nuget package build step which supports assigning the version from a build variable. Job done :)

[2016-05-10 08:24] pascalberger commented on #855
This was fixed recently with #847, and I don't think it is included in the recent release.

@JakeGinnivan Any chance to release a bugfix version, containing this fix?

[2016-05-10 08:25] pascalberger commented on #855
Closing since it is already fixed but not released yet.

[2016-05-10 08:25] #855 closed

[2016-05-10 16:43] mdkf opened #857 "BranchName set incorrectly"
Calling gitversion /output buildserver on Jenkins sets GitVersion_BranchName=origin/develop instead of develop.

[2016-05-10 20:05] gep13 commented on #857
@JakeGinnivan @pascalberger either of you familiar with the innards of Jenkins?  Can you configure the branch name similar to what you can do in TeamCity?

[2016-05-10 20:07] pascalberger commented on #857
Sorry, never have worked with Jenkins.

[2016-05-10 22:10] mdkf commented on #857
Tried in my local repo, same result so I don't think it's Jenkins specific.

[2016-05-11 15:34] dazinator commented on #853
Yep I just reproduced this using the latest `GitVersion.Portable` chocolatey package. (GitVersion 3.5.2).

Ran into it because I was configuring Team City step, and hadn't switched to "Agent Checkout". Agree that the error message here should be nicer :)

[2016-05-11 16:17] MrHinsh opened #858 "Update AssemblyInfo files failes for *.vb files"
When using the GitVersion Task for VSTS the following error occurs on VB projects:

![image](https://cloud.githubusercontent.com/assets/5205575/15188118/18f661f8-179c-11e6-9b45-87ea760784bd.png)

This is due to the c# assembly info being added..

Workaround: Disable the GitVersion task and build succeeds

[2016-05-11 16:20] MrHinsh opened #859 "Update AssemblyInfo files checkbox does not work"
Even with the Update AssemblyInfo files checkbox unchecked the task still tried to replace the version in the Assembly Info files.

![image](https://cloud.githubusercontent.com/assets/5205575/15188187/5d805fe0-179c-11e6-9965-83b180e886af.png)

Workaround: Disable the GitVersion task and build succeeds

This is related to #858 which is how it was found.

[2016-05-11 18:29] gep13 commented on #858
@MrHinsh can you confirm what version of GitVersion you are using within that Build Step?  Thanks!

[2016-05-12 07:05] pascalberger commented on #859
This was already fixed recently with #847 but not released yet.

[2016-05-12 07:05] #859 closed

[2016-05-12 08:23] MrHinsh commented on #858
I am using 3.5.1 from https://marketplace.visualstudio.com/items?itemName=gittools.gitversion

[2016-05-12 13:30] asbjornu commented on #853
Should be fixed in #860.

[2016-05-12 13:33] asbjornu commented on #852
The problem happens within `LibGitExtensions.FindCommitBranchWasBranchedFrom()` somewhere. That is a rather complex and large method, so I think this might take a while to figure out. Any idea how to reproduce this, @roji, so we at least can get some `.pdb` files into a test scenario and get a line number?

[2016-05-12 13:35] #853 closed

[2016-05-12 14:29] roji commented on #852
Hmph, I reinstalled my system in the meantime and can no longer reproduce the error, even when I execute GitVersion on exactly the same branch on the same commit as before...

Sorry about this, if I run into it again I'll report with better repro details.

[2016-05-12 14:29] #852 closed

[2016-05-12 21:30] fokkoru commented on #814
I have the same issue, I have release and develop breach. When I merge release to develop it dropped count of commits, second merge did not change it.

[2016-05-14 21:19] eatdrinksleepcode commented on #854
Unfortunately, there does not appear to be a simple solution to this (perhaps why it was not done at the same time as GitVersionTask). Adding a GitVersion.exe.config with the <dllmap> entries fails on .NET because the <dllmap> entries are not valid. The reason GitVersionTask works for both .NET and Mono is that .NET does not look for ".dll.config" files, so including the file to make Mono work doe

[2016-05-15 06:10] eatdrinksleepcode commented on #854
After attempting both solutions, it has become clear that A is not a particularly viable solution: the mappings defined in the LibGit2Sharp.dll.config file are relative, so moving the GitVersion.exe config down would require at minimum an extra level of nesting (see below), which would not only be redundant, but would also make the path to invoke the exe OS-specific. Otherwise GitVersion would hav

[2016-05-16 16:44] lerthe61 opened #862 "Incorrect version calculation"
We have faced some strange behavior, when fork in repository is interpreted as merge:
![canvas](https://cloud.githubusercontent.com/assets/6067323/15296475/388c3a50-1b9e-11e6-8746-9fe4d525fc0c.png)

We also found workaround by changing _track-merge-target_ to false for _develop_ branch.
Original configuration is
[GitVersionConfig.zip](https://github.com/GitTools/GitVersion/files/266536/GitVersionC

[2016-05-16 16:58] sergiorykov opened #863 "Changed tag-prefix doesn't apply till .git\gitversion_cache is cleaned up"
May be I misssed an option, but in latest release 3.5.3 it doesn't work.

As a solution I can suggest to save in .git\gitversion_cache\effective_config.yml effective config and compare it with calculated effective config. As I understand how configuration is being overriden we have dynamic override (from command line and other sources) and static through GitVersion(Config).(yaml|yml) or other data

[2016-05-16 18:43] mdkf commented on #857
Any ideas?

[2016-05-17 05:42] lerthe61 commented on #862
Prepare test repository for illustrating problem. For branch develop GitVersion calculate SemVer "1.0.1-feature.2"
[TestRepo.zip](https://github.com/GitTools/GitVersion/files/267466/TestRepo.zip)

[2016-05-17 06:29] lerthe61 commented on #862
Attach unit test for issue. It seems that problem in TrackMergeTargetBaseVersionStrategy.IsDirectMergeFromCommit method.

[2016-05-17 14:23] rubenmamo commented on #782
In version 3.5.3 I get the following error instead:
[code]

[2016-05-17 20:36] apmorton commented on #858
FWIW, I am building our VB.net project on TFS, but using the msbuild task to update assembly info - not the marketplace extension.

Also, I am using 3.5.2

[2016-05-17 23:51] jwhite opened #864 "LibGit2Sharp.NameConflictException: Failed to write reference 'refs/heads/feature/Morpheus_v12.2': a reference with that name already exists."
Sorry, I'm just starting to look at this but I have an exception that occurs only on 1 branch that we have.  The rest are working.

This is in version 3.5.3 building on a TFS vNext agent.

`ERROR [05/18/16 11:44:42:43] An unexpected error occurred:

[code]

[2016-05-18 03:23] jwhite commented on #864
This occurs sporadically on build agents using build vNext.  Logging into to the agent locally and running c:\tasks\GitVersion\3.5.3\GitVersion.exe /output buildserver /nofetch  (the same command as reported in the log) has some strange behavior.

It takes *a very long time* and then eventually succeeds.

Could this have anything to do with the %tmp% file?

[2016-05-18 08:36] stephanjohnson opened #865 "Unable to set TargetPath in v3.5.3"
I am using GitVersion with Visual Studio Team Services continuous integration. I use the task with Release Management and ensure that my .git folder is copied from the build to the drop location so that GitVersion can correctly identify the versioning information.

Because I loose context between the build and the release management processes, I manually set the target path for GitVersion in Relea

[2016-05-18 09:15] stephanjohnson commented on #865
I've managed to get it to work:

I set the *Update AssemblyInfo files* flag on the build task. This produces _ /updateassemblyinfo true _ in the resulting execution, however by going over the change log this is no longer the case by default because of #859 getting fixed.

To resolve my problem, I'd have to edit all 30 release management packages with 3 environments each. That's 90 steps to enable

[2016-05-18 12:54] pascalberger opened #866 "/updateassemblyinfo stopped working with 3.5.3"
Using VSTS Extension which calls GitVersion with `/output buildserver /nofetch /updateassemblyinfo true` since the update to 3.5.3 this stopped updating the AssemblyInfo files.

While, with the exact command line arguments for GitVersion, with Version 3.5.1 the following entry was output in the log, this is missing with 3.5.3:

[code]

[2016-05-18 12:55] pascalberger commented on #866
@JakeGinnivan Any idea what might be causing this?

[2016-05-18 13:06] pascalberger commented on #866
@asbjornu Might this come from your changes in ArgumentParser as part of https://github.com/GitTools/GitVersion/pull/856/files?

[2016-05-18 13:11] pascalberger commented on #866
If I try locally the following is updating the AssemblyInfo:

`giversion /output buildserver /updateassemblyinfo true`

But as soon as I add the `/nofetch` argument it no longer works:

`giversion /output buildserver /nofetch /updateassemblyinfo true`

[2016-05-18 13:20] pascalberger commented on #866
VSTS task can be updated to set `/nofetch true`, but IMHO the breaking change for command line should be reverted in a 3.5.4 version. For 4.0 we can rethink the command line and introduce breaking changes.

[2016-05-18 18:15] #866 closed

[2016-05-18 19:34] asbjornu commented on #865
@stephanjohnson This seems related to #867 which is merged and included in the just released [version 3.5.4](http://www.nuget.org/packages/GitVersion/3.5.4). Can you try that and see if it remedies the problem?

[2016-05-18 19:38] stephanjohnson commented on #865
Hi @asbjornu,
I am using the Visual Studio Online (Team Services) extension, so I am at the mercy of when you guys update the extension. However I will keep an eye on the version number and when it reports 3.5.4 I will revert back.

Thanks

[2016-05-18 19:39] asbjornu commented on #858
@MrHinsh, @apmorton Can you please try out the just released [version 3.5.4](http://www.nuget.org/packages/GitVersion/3.5.4) and see if that helps in any way?

[2016-05-18 19:41] asbjornu commented on #782
@rubenmamo Yes, the `NullReferenceException` was changed to a more informative `DirectoryNotFoundException` in #860. Does `C:\Development\Project` actually contain a `.git` directory?

[2016-05-18 19:43] MrHinsh commented on #858
Can you update https://marketplace.visualstudio.com/items?itemName=gittools.gitversion so that I can try it!

[2016-05-18 19:53] asbjornu commented on #854
@eatdrinksleepcode Thanks for digging into this. Have you looked at my work in #816 and #856 as well as libgit2/libgit2sharp#1170 which seems related to the issues you're having? I'm not sure, but I think this might be a problem that should be solved in LibGit2Sharp and not in GitVersion. Look through the discussions in the referenced issues and let me know what you figure out! 😃

[2016-05-18 19:57] asbjornu commented on #858
@pascalberger Is this something you can help out with? I know absolutely zilch about VSTS. 😄

[2016-05-18 19:59] MrHinsh commented on #858
You should get that as part of your automated DevOps pipeline ;)

[2016-05-18 19:59] asbjornu commented on #865
@stephanjohnson I see. I hope @pascalberger can help out there as I know nothing about VSTS.

[2016-05-18 20:01] asbjornu commented on #858
@MrHinsh We've agreed on an outline for a new build process which will indeed automate everything. 😃

[2016-05-18 20:18] pascalberger commented on #858
Unfortunately VSTS throws an error that I don't have permissions to upload. Therefore it seems like we have to wait until tomorrow that @JakeGinnivan can have a look.

[2016-05-18 20:23] pascalberger commented on #865
@stephanjohnson The update for VSTS should be deployed tomorrow.

I'm sorry for the troubles caused by the extension update. Microsoft has some VSTS enhancements planned (Shared tasks so that changes can be done centralized, and possibility to lock to a certain extension version to have control over deployment process) which should reduce the pain caused by bugs like this.

[2016-05-18 23:28] JakeGinnivan commented on #858
Have pushed the update.

@MrHinsh unfortunately the way appveyor does it's deployments means we can't have a pipeline to vsts. We need to either switch our build system or we need to rejig how we are doing builds/releases. I'm going to sit down with @gep13 at NDC Oslo and sort it out.

[2016-05-18 23:31] MrHinsh commented on #858
I am also speaking at NDC Oslo, maybe we can catch up! I'll also just leave this here: https://nkdagility.com/open-source-vsts-tfs-github-better-devops/

[2016-05-18 23:42] JakeGinnivan commented on #858
Yeah that would be good, didn't get a chance last MVP Summit.

Not a bad idea using vsts as your build for github. Two quick q's.

Is there an easy way to get VSTS to publish build results back to github PRs? And is it possible to make the builds public? (if it publishes results the link will require auth, not a huge issue just wondering)

All I know is I need a better way to release my OSS stuff,

[2016-05-19 04:14] pvandervelde commented on #788
Am I correct in thinking that my case is nearly the same as described in the `NoMergeBacksToDevelopInCaseThereAreNoChangesInReleaseBranch` method in https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore.Tests/IntegrationTests/ReleaseBranchScenarios.cs?

If so I can add create a test with a pull request

[2016-05-19 05:47] MrHinsh commented on #858
I publish the build results as a release back to GitHub. Then I use Release Management to pull the output of the build and deploy it to Nuget / VSTS...

I use 4 builds... Two to do the sync 😀, then I have one in VSTS that protects MASTER on GitHub, and another that protects MASTER on VSTS. That way I can have a pull request on either side.

I use VSTS as the master repo, but if you use GitHub as t

[2016-05-19 05:53] stephanjohnson commented on #865
Hi @pascalberger,

No worries ;) Lucky I was able to go through the historical logs on my side and the changelog from your side to determine what I can do to work around it.

I'll keep you guys posted as soon as I see he new version arrive on VSTS.

Regards,

Stephan

[2016-05-19 11:03] ehvattum opened #868 "GitVersion.Portable crashes on branch "development" GitVersion.yml has config for a branch named "development"."
Given a repository with a branch called _development_, and this branch is checked out, and in the working directory, there is a valid GitVersion.yml file, that have explicit branch configuration for the branch _development_.

It seems like the "development" branch is found twice.(The regex is added the "search collection" that have the development branch explicitly added from config?)
The problem

[2016-05-19 11:10] ehvattum commented on #868
The output from `gfv /showconfig`

[code]

The development configuration is listed twice. Once explcitly, and once as a regex.

[2016-05-19 15:22] bigjonroberts opened #869 "GitVersion init settings for private github repos with Appveyor"
Appveyor uses ssh to clone/fetch a repo as you can configure the public key for this operation in Github.

I wanted to enable Gitversion for my private repo on Appveyor. The suggested workarounds to use https and set environment variables weren't working for me as appveyor does not include encrypted environment variables (GITVERSION_REMOTE_PASSWORD) on PR builds for security reasons.

@JakeGinniva

[2016-05-19 17:28] gep13 commented on #869
@bigjonroberts  this sounds like a good idea to me!

[2016-05-20 00:24] kevinneufeld opened #870 "assembly-informational-format: ignored"
I am trying to customize the AssemblyInformationalVersion, either with GitVersion.yml or with command line argument `/overriderconfig:assembly-informational-format="{NuGetVersion}"`

Unfortunately neither appear to be working. Maybe I am missed something in the docs?
Is there hidden argument to force an update from GitVersion.yml?

My AssemblyInfo.cs is always updated with
[code]

when I want
[cod

[2016-05-20 10:04] rubenmamo commented on #782
@asbjornu no the folder does not have a .git directory.

I'm using dynamic repositories in team city and tried to debug it by using the source code, I call GitVersion from the build agent and pass the /url /b /c /u /p parameters to it. What seems to be happening is that when GitPreparer.GetDotGitDirectory() is called from execute core in these cases **DynamicGitRepositoryPath** is not initialised

[2016-05-20 15:12] sunsided commented on #647
With the advent of the preview1 `dotnet` CLI, there actually is an [extensibility model](http://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html) that could allow for GitVersion to be directly integrated into the command-line tooling, e.g.

[code]

That said, in the recent community standups it was made clear that `project.json` is going to fade away over time and be reintegrate

[2016-05-21 02:24] JakeGinnivan commented on #868
If you match the existing development regex it will be fine

[code]

I don't think we have a way to ignore an existing default config, just update it's settings

[2016-05-21 02:24] #868 closed

[2016-05-21 09:24] asbjornu commented on #868
@JakeGinnivan: But wouldn't it be less surprising if explicit config did override the default/implicit config? If we get a branch match on the explicit config, we shouldn't apply the default one to the same branch.

[2016-05-21 10:41] ehvattum commented on #868
@JakeGinnivan Developers need to have intimate knowledge of that spesific regex to override it. That seems a bit opaque.

[2016-05-21 13:18] bmmathe commented on #788
I'm having a similar issue using gitflow however I get the message "Merge base was due to a forward merge, moving to next merge base".  I'm using SourceTree to manage my feature branches and the problem seems to be caused when we merge a release branch into master without committing a change to the release branch. In this case the gitflow merge only merges the release branch to master and not into

[2016-05-22 02:28] JakeGinnivan opened #871 "error CS0579: Duplicate 'AssemblyVersion' attribute when using shared assembly info"
Pretty sure this is related to #760

In shouldly we have a Shared project with shared assembly info and then define the [AssemblyVersion] attribute in each of the projects themselves.

The breaking change is that when you do not specify a filename GitVersion still injects the attributes into all files. I think it should only inject if a filename is specified?

Thoughts @Philo @gep13

[2016-05-22 02:35] #630 closed

[2016-05-22 02:36] JakeGinnivan commented on #630
Opening #871 with a small issue.

[2016-05-22 03:35] Philo commented on #871
I'll look at this when I return from holiday at the start of june

[2016-05-22 20:17] pvandervelde commented on #788
Yes I've seen that one same problem as well.

[2016-05-22 21:10] bmmathe commented on #788
I posted a failed test PR for it.
https://github.com/GitTools/GitVersion/pull/872

[2016-05-24 08:43] rubenmamo commented on #782
I added Pull Request #874 which should resolve this.

[2016-05-24 09:42] jderrac opened #875 "'beta' prerelease tag is used on develop branch when we tag a version on release branch"
Hi,
We are trying to use gitversion but we don't understand why develop inherit the 'beta' prerelease tag from the release/1.0.0 branch when we tag a version on the release branch.
Is this a normal behavior?
We are using gitflow with teamcity, there is no custom configuration.
Thanks!
![image](https://cloud.githubusercontent.com/assets/1788613/15499402/5a1d8104-21a4-11e6-8727-0c0dd410775b.png)

[2016-05-24 14:04] labmonkey42 opened #877 "Commit in master branch gets prerelease tag"
Maybe I am misunderstanding the process here, but when we merge our development branch (devel) to master, whatever the semantic version is on the most recent devel commit merged is the version that GitVersion detects for master.

When we started using gitversion the devel commits were automatically determined to be 0.1.0-unstable.nn and the CI server tagged the commit upon successful build.  When

[2016-05-24 14:08] labmonkey42 commented on #877
Output with /showconfig
`assembly-versioning-scheme: MajorMinorPatch
mode: ContinuousDeployment
tag-prefix: ''
continuous-delivery-fallback-tag: ci
major-version-bump-message: '\+semver:\s?(breaking|major)'
minor-version-bump-message: '\+semver:\s?(feature|minor)'
patch-version-bump-message: '\+semver:\s?(fix|patch)'
legacy-semver-padding: 4
build-metadata-padding: 4
commits-since-version-source-p

[2016-05-24 14:42] kevinneufeld commented on #870
Work around, delete the folder and/or contents: `.git\gitversion_cache\*`.

Would be nice to have a command line option to force (delete cache) update.

[2016-05-25 00:04] JakeGinnivan commented on #877
It may be an issue with not using a release/ branch which is dictated by GitFlow. With these sort of issues I always suggest submitting a PR with a failing test. Have a look at the Core/IntegrationTests folder and put together a sample of what you are doing and the version you expect.

Or drop your git graph into a gist:

`git log --graph --format=""%h %cr %d"" --decorate --date=relative --all --r

[2016-05-25 05:51] schenkjan commented on #835
Hi,
since you know how to change it using a gitversion.yml file, you could just put that file in the root directory of you git repo. At least that's what worked for me.

Best regards
Jan

[2016-05-25 08:32] urig opened #878 "GitVersion doesn't pick up version tags assigned to the latest commit"
I've setup GitVersion as a build step in my TeamCity build configuration.
1. Given that the most recent version tag on master is v1.2.3
2. And TeamCity runs a build based on the latest commit on master
3. When I later tag that same commit with a new version tag: v1.2.4
4. Then when I manually run the TeamCity build, GitVersion ignores the new version tag and again outputs the previous version.

**

[2016-05-25 08:33] urig commented on #515
Would love to pick this up - If only I knew where the Chocolatey package sources are...? :)

[2016-05-25 09:27] asbjornu commented on #835
@Pitterling As @schenkjan writes, adding `gitversion.yml` with the proper configuration to the repository root directory should work just fine, regardless of how the project is built.

[2016-05-25 09:30] asbjornu commented on #870
@kevinneufeld What we obviously need to do is expand upon #808 and include the command line argument string in the cache key as well. Are you up for submitting a PR for that?

[2016-05-25 09:48] asbjornu commented on #878
What are the command line arguments passed to GitVersion? And does changing the VCS Root checkout behavior to "Automatically on agent" change anything?

[2016-05-25 09:51] asbjornu commented on #878
And as I wrote on Gitter, in TeamCity, `buildServer.PreventFetch()` will return `true` unless the environment variable `Git_Branch` is defined.

[2016-05-25 10:09] asbjornu commented on #515
@urig Excellent! The source file you're after is [this](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionExe/NugetAssets/chocolateyInstall.ps1), I believe. :smiley:

[2016-05-25 10:30] gep13 commented on #515
@asbjornu @urig yes, that is the one.  Simply remove the call to Write-ChocolateySuccess.

[2016-05-25 10:31] gep13 commented on #515
@asbjornu @urig same in the uninstallChocolatey.ps1 file.

[2016-05-25 11:26] urig commented on #878
Thanks @asbjornu . I have `Git_Branch` defined in the TeamCity build configuration as an environment variable. (Shows up as `env.Git_branch`).
The VCS root checkout behavior is already set to "Automatically on agent". I get errors if I set it to "Automatically on server".
My command line (generated by the meta-runner) is:
`gitversion.exe "D:\TeamCity\buildAgent\work\ac267eddc88660a" /output "build

[2016-05-25 13:19] Pitterling opened #879 ""GitVersion init" creates almost empty GitVersion.yml file (3.5.4)"
based on the documenation a sample yml file should be created.

 My file is almost empty

[code]

[2016-05-25 15:10] urig commented on #515
Did it. I'm a click away from submitting the PR but I don't know how to test myself... Halp? :)

[2016-05-25 16:06] c0bra commented on #858
@asbjornu I have 3.5.4 and am currently experiencing this issue.

[2016-05-25 16:07] asbjornu commented on #515
@urig You can test locally with an NUnit test runner in ReSharper or Visual Studio, use the GUI application or on the console. Lots of options! Or, you could just submit the PR and it will be tested by AppVeyor and Travis.

[2016-05-25 16:40] #515 closed

[2016-05-25 16:55] asbjornu commented on #858
@c0bra, @MrHinsh, @apmorton: Do you have any idea how this problem can be reproduced? Do you have a minimal `.vbproj` you can contribute that exposes the problem? I can't find anything obvious in [`AssemblyVersionInfoTemplates`](https://github.com/GitTools/GitVersion/blob/a45e2dca19e5d47d867604f5b688cfbae1640920/src/GitVersionCore/VersionAssemblyInfoResources/AssemblyVersionInfoTemplates.cs) that

[2016-05-25 17:19] asbjornu opened #881 "Explicit branch match should override default config"
As mentioned in #868, it's a bit surprising when adding custom branch config to `GitVersion.yml` and then have GitVersion implicitly apply its default config to match the same branch (via regex). It would be less surprising if explicit config did override the default/implicit config. If we get a branch match on the explicit config, we shouldn't apply the default one to the same branch.

[2016-05-25 17:19] MrHinsh commented on #858
You can use: https://github.com/nkdAgility/CommandLineParser/blob/master/Source/Hinshlabs.CommandLineParser/My%20Project/AssemblyInfo.vb

I'm using VSTS build...

[2016-05-25 17:49] apmorton commented on #858
@asbjornu VSTS task uses the `GitVersionExe`, which from a quick read over, does not use the code you linked to unless you specify a path on the command line, and that file doesn't exist.

See [AssemblyInfoFileUpdate.cs](https://github.com/GitTools/GitVersion/blob/v3.5.4/src/GitVersionExe/AssemblyInfoFileUpdate.cs)

IE
`/updateassemblyinfo true` will not use any templates ever - it only scans for

[2016-05-25 17:56] apmorton commented on #858
Perfect Timing, I was about to test my theory on our visualstudio,com project, and its down.

https://www.visualstudio.com/en-us/support/support-overview-vs

![wow](http://i.imgur.com/sKXs9p4.png)

[2016-05-25 18:26] asbjornu commented on #858
I think I've managed to create a test that reproduces the problem. Thanks for the information, @apmorton, @MrHinsh! I'll create a PR for this ASAP.

[2016-05-25 19:13] urig commented on #878
I've made two gists with the relevant messages from the TC build log =
* One where the version tag on [latest commit is not picked up by GitVersion](https://gist.github.com/urig/b0395230b617175f841c5a09783373c2)
* And another where [it's picked up by GitVersion after another commit is made](https://gist.github.com/urig/b7375bf1e4c3bd9f11228cb4b2b5e240)

[2016-05-25 20:23] asbjornu commented on #858
I've created #882 which should fix this.

[2016-05-25 20:26] asbjornu commented on #878
@urig It would be neat if the `https://github.com/TripChamp/middleware.git` repository or a variant of it showing the same problems were public, so I could execute the command line you have there locally and do some debugging. Is that a doable proposition at all?

[2016-05-25 20:32] asbjornu commented on #871
@JakeGinnivan I think the clever thing to do would be to:

1. Figure out which `AssemblyInfo` files are included in a project.
2. Search for existing `Assembly*Version` attributes in found files.
3. If attributes are found, patch the file with new attribute values.
4. If not found, add the (missing) attribute(s) to the file with the shortest path?

Not sure what we should do in step 4 to figure ou

[2016-05-25 22:50] JakeGinnivan commented on #878
Is the sha GitVersion sees correct?

As far as the logs tell it's picking up the correct tags and moving forward.Interesting we are not seeing anything about dynamic repos. Maybe there is a bug with log output with the switch to Core?

[2016-05-26 06:23] eatdrinksleepcode commented on #854
@asbjornu I have seen the other work for supporting mono. Ultimately though, this is something that has to be fixed in GitVersion. Fundamentally, LibGit2Sharp relies on a .dll.config file to work on Mono (and on that config file not being loaded by the full framework to support cross-platform). GitVersion is breaking that pattern by using ILRepack to merge LibGit2Sharp into GitVersion.exe; .exe.co

[2016-05-26 08:04] Pitterling commented on #835
@schenkjan @asbjornu I just tried it and it worked as pointed out by both of you. Thanks a lot. I was able to change the tag for the development branch.

[2016-05-26 08:04] #835 closed

[2016-05-26 09:03] asbjornu commented on #854
@eatdrinksleepcode Ok, thanks for the explanation. Looking forward to seeing the PR!

[2016-05-26 09:33] tertork commented on #781
Having the same problem:

'1.3.0-3cd5qnmw-server-0122' is not a valid version string.

Works ok for most branches, but when counter in metadata dont have letters in front of it (but -) it fails. I.e. 1.3.0-3cd5qnmw-server0122 works.

[2016-05-26 12:33] asbjornu opened #883 "Consolidate AssemblyInfo update logic"
I added a few TODOs in cb4698d72b8d7aca6087769dfa402472abc3e9bc for consolidation of the AssemblyInfo update logic in `GitVersionTask` and `GitVersionExe` that should be tackled. There's quite a bit of duplicated functionality that leads to diverging support for different features and bugs in the task that might be well tested in the `.exe` and vice versa. Consolidating all of this into `GitVersio

[2016-05-26 12:36] #858 closed

[2016-05-26 12:53] JakeGinnivan commented on #881
This will require a bit of a change to the way the config stuff works.

Maybe rather than throwing if there are multiple the configs from the version file are listed before defaults. Then we take the first matching option?

[2016-05-26 12:55] JakeGinnivan commented on #869
Ditto, things like this are handy. Also would be good to add some info about using it with a private AppVeyor repo to the docs.

[2016-05-26 13:01] JakeGinnivan commented on #864
From the looks of it its a case sensitivity issue.

`refs/heads/feature/Morpheus_v12.2` vs `(Feature/Morpheus_v12.2)`

That would be my first guess. Possibly https://github.com/GitTools/GitTools.Core/blob/master/src/GitTools.Core/GitTools.Core.Shared/Git/Helpers/GitRepositoryHelper.cs#L120 needs to be a case insensitive check.

[2016-05-26 13:14] asbjornu commented on #881
Yea, that sounds like a good way to solve it. It's just that we need to stamp matched branches as `Matched` somehow so future matches in the default config for a `Matched` branch will be ignored. Not a very hard thing to implement, but still.

[2016-05-29 17:44] urig commented on #878
@asbjornu I'm afraid that wouldn't be possible. I'll see if I can setup a different private repo where I can repro then give you access to that. (Maybe the repo being private is a part of the root cause?)

@JakeGinnivan Yes, GitVersion is seeing the correct SHA but does not see the new tags applied to it. (Until a new commit is added further down master).

[2016-05-29 18:11] urig commented on #878
@asbjornu I've created a new private repo and was able to reproduce there. I've sent you a "collaborator" invite to this repo. Feel free to try it out.

[2016-05-29 18:17] urig commented on #878
I have a suspicion that the origin of this issue might be in the way TeamCity updates the git repo in "" mode.
Below is the log of git commands that TC uses. Might anyone be able to figure out if somehow these fail to get the new tags over to the local repo (on the TC agent) that GitVersion is using?

git show-ref
git -c core.askpass=D:\TeamCity\buildAgent\temp\buildTmp\pass2949790385075181105.bat

[2016-05-30 06:05] asbjornu commented on #878
@urig Thanks. How did you reproduce the the problem in the `gitversion-bug` repository? I.e. which command did you run?

[2016-05-30 06:29] urig commented on #878
@asbjornu Tx. Here's the full command line. Note that it's run by the TeamCity agent:

[2016-05-30 06:37] roryprimrose opened #884 "TFS vNext build step yaml"
Where should the gitversion.yaml file go under source control when using the GitVersion build step in VSO? There isn't a configuration value for it so I'm assuming there is a convention (solution root?)

[2016-05-30 07:17] asbjornu commented on #878
@urig Are you able to reproduce locally on the command line, or is it only visible within TeamCity?

[2016-05-30 07:19] asbjornu commented on #884
Solution (or Git) root, yes.

[2016-05-30 14:29] urig commented on #878
@asbjornu I'm unable to reproduce on the command line because gitversion ignores my dynamic repository command line switches (!). So currently only visible inside TC build log.
I would love to grab 10 mins of your time online to demo these issues, if at all possible :)

[2016-05-31 12:47] PatrickKursawe opened #885 "msbuild task fails when no AssemblyInfo file is present"
I think this was introduced with 6caae2e11a7cc13ca8f46ad78a1461cc8f262cae
The AssemblyInfoBuilder picks the correct implementation based on the file suffix for *AssemblyInfo*, but if no such file is present, it tries to access the dictionary with a null key, resulting in an ArgumentNullException.

[2016-05-31 13:09] asbjornu commented on #885
@PatrickKursawe I fixed a lot of things related to `AssemblyInfo` patching in #882. It's merged, but not released yet. Do you think it might remedy the problem you're seeing? If not, do you think you can create a test that illustrates the problem?

[2016-05-31 13:24] PatrickKursawe commented on #885
Does not look like the faulty part was touched. A test project within its own repository is attached.
[VersionTaskBug.zip](https://github.com/GitTools/GitVersion/files/291170/VersionTaskBug.zip)

[2016-05-31 21:21] asbjornu commented on #878
I see. How about duplicating [this test](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionExe.Tests/PullRequestInTeamCityTest.cs) and see if you can reproduce the problem there, somehow? That would be the best demonstration of the problem as well as the easiest way to fix it.

[2016-06-01 08:40] chrgei opened #886 "AssemblyFileVersionAttribute format configurable"
Thanks for this great tool.
It would be very nice, if we can configure the format of the AssemblyFileVersionAttribute with an extra variable. Is this possible for the next release?

[2016-06-01 09:49] urig opened #887 "Feature suggestion: Pre-release tag that indicates commit (short SHA)"
As a GitVersion user, I'd like to be able to generate a unique version for a given commit that indicates the identity of this commit.

For example, when running on a branch where the latest commit is `e81220c95e5dd407ffc340baf2fbec7e21f76be9` I'd like to get a FullSemVer that looks like '1.3.8-commit.e81220c+2`.

As the person suggesting this feature I would suggest a new setting for the `tag` con

[2016-06-01 09:49] urig commented on #887
I volunteer to implement ;)

[2016-06-01 13:23] asbjornu commented on #854
@eatdrinksleepcode How is that pull request coming along? A use case has come up where using GitVersion on the OS X command line would be very useful, which made me create [this Homebrew formula](https://github.com/asbjornu/homebrew-core/blob/feature/gitversion-formula/Formula/gitversion.rb) that I would love to pull-request. The problem is, as you've discovered, `GitVersion.exe` fails on OS X. 😃

[2016-06-01 17:35] eatdrinksleepcode commented on #854
I have a working version but got sidetracked trying to refactor the project file :) I will post the basic PR to get it working in the next 36 hours, and put off the rest until later.

[2016-06-01 21:07] Ashtonian opened #888 "continuous-delivery-fallback-tag - use case in ContinousDeployment mode and when the tag is empty?"
I'm using octopus deploy and an internal nuget feed (for utility packages) to "deploy" actual products. We use forks and PullRequests to master. I think we would like the nuget version to just increment on every build as master is considered deploy-able and octo needs to see a difference in the feed. Which makes me think we want to use ContinousDeployment and have PullRequests used in integration

[2016-06-02 07:49] asbjornu commented on #720
@michaelnoonan Is this still a problem, or has it vanished in later versions of GitVersion?

[2016-06-02 07:50] asbjornu commented on #810
@devlead Can this be closed?

[2016-06-02 07:51] asbjornu commented on #865
Is `3.5.4` available on VSTS yet? I don't even know how to figure out the answer to that question; that's how clueless I am of VSTS. :smile:

[2016-06-02 07:54] asbjornu commented on #863
#808, which was included in [version 3.5.0](https://github.com/GitTools/GitVersion/releases/tag/v3.5.0) should have fixed this. It's strange that it's not. I'd rather not add any more command line arguments and instead try to fix the cache invalidation logic. Can you envision a solution to this problem without introducing any command line arguments? It would be nice if this took #870 into consider

[2016-06-02 08:22] devlead commented on #810
@asbjornu yes :+1:

[2016-06-02 08:22] #810 closed

[2016-06-02 09:23] asbjornu commented on #854
@eatdrinksleepcode Excellent! :+1:

[2016-06-02 16:22] tomap commented on #879
I think what you are looking for is
gitversion.exe /showconfig
And if you want to save it to a file:
gitversion.exe /showconfig > GitVersion.yaml

[2016-06-02 16:28] Pitterling commented on #879
Thx, yes this is more complete. But anyway .. the documentation is not aligned with reality and should be fixed.

[2016-06-02 19:41] Ashtonian commented on #888
figured it out - need to specify the tag as ```''``` in order for the changes to be detected.

[2016-06-02 19:51] Ashtonian opened #889 "How do I use gitVersion to auto increment per commit and not use a pre-release tag for master"
I'm trying to use gitversion for internal nuget packages that are just utility classes. Essentially if a PR gets merged then the package should be released and I don't want to deal with tagging. I'd like the build server to just iterate the patch number automatically without a pre-release tag otherwise nuget will act weird with update in visual studio. I've try the following settings expecting it

[2016-06-02 20:40] Ashtonian commented on #809
any updates on this? I think I've ran into a related issue and opened https://github.com/GitTools/GitVersion/issues/889

[2016-06-03 17:00] patrickwijerama commented on #809
I think I understand why this happens now. Gitversion commit messages work based on the latest tag and will merge all commit increments and take the maximum out of them. This happens, because gitversion assumes that every versioned package should become tagged in the source code. So if you use continuous delivery and version every build, then you should tag this builds as well in the source code,

[2016-06-03 18:46] Ashtonian commented on #809
Just to clarify I'm concerned and having problems getting GitVersion to auto increment the patch number without a pre-release tag on master. As is discussed in the first half of this ticket. My use case is for internal libraries - if the pull request gets approved , merged into master and it build - its "released" which doesn't break semver. Also for other use cases mainly octopus - it doesn't rea

[2016-06-04 05:18] eatdrinksleepcode opened #891 "Fody Caseless corrupts GitVersionCore on OSX"
Package building is currently disabled on non-Windows builds. If you enable it, ILRepack in GitVersionExe fails; but after tracing back through ILRepack and Mono.Cecil, I discovered that the actual problem is that GitVersionCore has invalid IL which is produced by the Fody Caseless plugin. Eliminating the Caseless plugin from FodyWeavers.xml in GitVersionCore avoids the corruption and allows ILRep

[2016-06-04 14:30] sergiorykov commented on #863
There are two bugs in code:
1) ConfigurationProvider expects to be called with `workingDirectory`. _init_ command uses it to create config file. _output_ command executes ExecuteCore.ExecuteInternal passing to it projectRoot:

`var configuration = ConfigurationProvider.Provide(projectRoot, fileSystem, overrideConfig: overrideConfig);`

So if I have my project in subdirectory I will catch that my c

[2016-06-04 14:37] sergiorykov commented on #870
It's caused by incorrect cache key computation. It uses obsolete config file name `GitVersionConfig.yaml`. See details in #863.

[2016-06-04 14:37] sergiorykov commented on #863
#870 issue will be immediately fixed too.

[2016-06-04 14:46] sergiorykov commented on #863
And GitVersionCache finds config file at projectRoot too (it's was a bit hidden too).

[2016-06-04 14:54] sergiorykov commented on #863
show config command uses working directory too. So it's pretty hard to figure out why your config didn't applied.

[2016-06-05 02:23] michaelnoonan commented on #720
We have had sporadic recurrences of this problem, but I'm hearing less than
previously. I will update our develop branch to the latest GitVersion and
will report back if it recurs again.

On Thu, Jun 2, 2016 at 5:49 PM, Asbjørn Ulsberg <notifications@github.com>
wrote:

[2016-06-05 18:22] gep13 commented on #891
Any chance @SimonCropp can provide some input to this one?  Thanks!

[2016-06-06 12:15] asbjornu commented on #891
@eatdrinksleepcode Would issues like this be easier to discover if Fody ran on Travis (Linux)? If so, I'd love to help setting that up.

[2016-06-06 15:04] eatdrinksleepcode commented on #891
@asbjornu Certainly they would :) I had to make some changes to Caseless to get it working on Mono/non-Windows; I will submit a PR with those in the next day or so.

[2016-06-06 15:05] eatdrinksleepcode commented on #891
I have a repro and a couple of options for a fix for the corruption issue (and an explanation of why it's not happening on Windows, which was the part that was really bothering me). It will take me a little while to write up the issue in Caseless, but when I do I will link it here.

[2016-06-06 16:02] asbjornu commented on #891
@eatdrinksleepcode Awesome work, thanks!

[2016-06-07 18:02] johncrim commented on #870
+1 Thank you - it appeared that using config options was broken, but the workaround `rm -r .\.git\gitversion_cache` solved the problem.

[2016-06-07 20:53] simonejsing commented on #809
We are pretty much in the same boat. We are of the philosophy that anything that is committed to 'master' is shipping. We ship by generating and publishing Nuget packages, which then leads to conflicts because the package version is being reused.

There is no need for us to explicitly tag the source code for every patch build. We would like to only have to tag when major/minor version is bumped. A

[2016-06-08 01:47] johncrim opened #894 "Add support for GitVersion.yml outside of git repo root"
The ability to either use a global gitversion.yml, or the ability to point gitversion at a config file outside of the source tree, eg:

[code]

Would enable us to avoid duplicating a bunch of files in many repos. For companies with many git repos that use the same git patterns, requiring the config files to be in the root of each repo is a repo setup and maintenance burden.

If you're interested i

[2016-06-08 02:05] johncrim opened #895 "Add support for additional assembly metadata in AssemblyInfo.cs"
My use-case is that I'd like to include additional git metadata in the assembly on top of `AssemblyVersion`, `AssemblyFileVersion`, and `AssemblyInformationalVersion`. While I can figure out a way to do this outside of GitVersion, this seems like a feature that belongs in GitVersion.

For example, here are some lines that I would like to append to my `AssemblyInfo.cs` or `GlobalAssemblyInfo.cs`:

[2016-06-08 13:21] matteobruni opened #896 "Pull Request from other user, not building branch"
Hello,
I've a GitHub repository with a pull request from another user but it's not building the branch. It says " Waiting for status to be reported " with no red/yellow/green icon.
The pull request is [this](https://github.com/Ar3sDevelopment/Synology/pull/44)
What am I doing wrong?

[2016-06-08 17:31] gep13 commented on #896
@matteobruni looks like that PR is now merged.  Did you solve the issue?

[2016-06-08 17:34] matteobruni commented on #896
The PR is merged but I had to disable the check on the other user branch from repo's settings.

[2016-06-08 17:46] Pitterling commented on #858
I ran into this issue on VSTS. Will there be a 3.5.5 Version?

[2016-06-08 21:03] Halling69 commented on #871
I've had the the Duplicate AssemblyVersion attribute problem and has isolated it to whitespacing in old versions of VisualStudio:

Snippet of the AssemblyInfo.cs:
// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version
//      Build Number
//      Revision
//
// You can specify all the values or you can default the Build and Revi

[2016-06-12 04:26] oSilas opened #899 "Could not determine assembly version: System.Runtime.InteropServices.MarshalDirectiveException: StrictFilePathMarshaler must be used on a FilePath."
2>MSBUILD : warning : WARN [06/12/16 12:22:11:71] Could not determine assembly version: System.Runtime.InteropServices.MarshalDirectiveException: StrictFilePathMarshaler must be used on a FilePath.
2>MSBUILD : warning :    在 LibGit2Sharp.Core.StrictFilePathMarshaler.MarshalManagedToNative(Object managedObj)
2>MSBUILD : warning :    在 System.StubHelpers.MngdRefCustomMarshaler.ConvertContentsToNativ

[2016-06-12 22:11] cmacdonnacha opened #900 "Question about support branches"
Hi,

I'm not too sure if this is the correct place to ask this but I read your awesome [docs](https://gitversion.readthedocs.io/en/latest/git-branching-strategies/gitflow-examples/#support-branches) on the use of **support branches** in gitflow and I was wondering if it would be a good idea to merge a hotfix (1.3.1) or feature (release/1.4.0) back into develop or master so that the next release (2

[2016-06-13 06:18] JakeGinnivan opened #901 "Add IsTagged to output"
Knowing if we are building a tag is useful for a number of reasons including triggering a deployment etc.

In #1052 it was asked for the actual tag as well. So lets add `IsTagged` and `GitCommitTag` (or something similar)

[2016-06-13 06:41] gep13 commented on #901
@JakeGinnivan can you confirm what you mean by `output`?  This information is available depending on which CI provider you are using.  For example, we do this here:

https://github.com/cake-build/cake/blob/develop/build/parameters.cake#L63

for appveyor.

[2016-06-13 09:09] asbjornu commented on #896
@matteobruni I think we need to see a PR in the "Waiting for status to be reported" state to be able to understand what this problem is. Do you have an example of a PR that is in this unexpected state?

[2016-06-13 09:54] matteobruni commented on #896
@asbjornu I've created a pull request from a fork. The PR has the issue and it is [this](https://github.com/Ar3sDevelopment/Synology/pull/57)

[2016-06-13 09:59] JakeGinnivan commented on #901
Yeah, I am using VSTS which Cake doesn't support. Id like it in GitVersion so I can grab the variable even if not using cake

[2016-06-13 10:11] stocksr commented on #889
I also have this requirement - are there any settings that would make this work?

[2016-06-13 10:27] pascalberger commented on #901
@JakeGinnivan Even if you have this information available in a variable in a build definition, how do you trigger a deployment in VSTS based on this (with the current feature set)? I don't think there's a way currently to pass variable from build to deployment. At least it wasn't last time I asked MSFT about it. But certainly would be useful for different kind of things

[2016-06-13 10:38] JakeGinnivan commented on #889
Unfortunately not. GitVersion has been built to enable Semantic Versioning, I was talking to @gep13 about this at NDC. A `semver: false` setting needs to be introduced which turns off the semantic versioning logic.

No idea how much work this would be but happy for someone to give it a try and submit a PR.

[2016-06-13 10:41] JakeGinnivan commented on #889
The other thing is why not just use the build server auto increment and just version via the build server?

Actually, you can use `GitVersion /output json` then manually construct the version number from the variables returned.

[2016-06-13 11:28] stocksr commented on #889
Hi, @JakeGinnivan  Thanks for the response. I am slightly confused as to why my requirements are considered not SemVer:

My setup is as follows, we are creating nuget packages:

- Every commit to master is a release.
- The only way to commit to master is via a pull request.
- When reviewing the pull request we make the "Major" "Minor" "Patch" decision, and include that in the merge commit message.

[2016-06-13 11:35] stocksr commented on #889
@JakeGinnivan RE using the build server to do versioning - the issue with this is that we like to have everything in source control, and to have repeatable builds. So that it is possible for a developer to checkout a specific version of the source code and run the build and produce identical artifacts.

[2016-06-13 11:51] JakeGinnivan commented on #889
Hrrm interesting. Maybe a preconception that you would not automatically deploy master when you merge to master. Do pull requests also update the readme or something with the breaking changes? If you are deploying every merge commit to master then yep, that would be SemVer.

The problem with this is it will get slower and slower over time because GitVersion will have to scan the entire repo for ev

[2016-06-13 13:31] c0bra commented on #858
+1 it would be nice to get this fix into a release.

[2016-06-13 13:57] asbjornu commented on #896
@matteobruni Ok, thanks. So, AppVeyor has completed the run of its `pr` build, but the `branch` build is halting. And you expect this is due to GitVersion? For what reason? Do you have build logs that can pinpoint the problem?

[2016-06-13 14:03] matteobruni commented on #896
OOOPS!!! I opened the issue in the wrong place, I thought I was on AppVeyor, I don't remember what link take me here. Sorry!!

[2016-06-13 14:03] #896 closed

[2016-06-13 14:45] asbjornu commented on #895
@johncrim Seems like a lot of the stuff you're after is already embedded in the assembly through the autogenerated `static class GitVersionInformation`. If anything's missing in that class, please feel free to submit a PR, but as you can see [here](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/AssemblyInfoBuilder/CSharpAssemblyInfoBuilder.cs#L47), all properties of the `Ver

[2016-06-13 18:08] gep13 commented on #889
I was talking to @gep13 about this at NDC. A semver: false setting needs to be introduced which turns off the semantic versioning logic.

Part of me still thinks this a good idea, but I also flip flop on it.

This would essentially be a commit counter, since the last release, and it would append to a pre-defined portion of the build number, similar to what you would do in say TeamCity.

[2016-06-13 18:13] gep13 commented on #901
I am using VSTS which Cake doesn't support

Would happily accept a PR to support that Build System :-)

@JakeGinnivan could you get what you wanted using the Cake.Git addin?  https://github.com/WCOMAB/Cake_Git

@devlead does the above include information about the current tag?

[2016-06-13 18:22] devlead commented on #901
@gep13 the [GitDescribe(DirectoryPath)​](http://cakebuild.net/api/cake.git/8654684f/36ae09ee) method will give you most recent tag.

[2016-06-13 19:05] gep13 commented on #900
@cmacdonnacha I am not sure if I follow your question...

This sounds specifically what GitFlow suggests that you should do.  Can you clarify?

[2016-06-13 19:10] benyaboy commented on #704
Is there a work around for this issue? Since gitversion can already handle the .git folder being in another location, can we detect a .git file and just follow the path inside?

[2016-06-13 22:37] simonejsing commented on #879
+1, this messed me up for a long time!

[2016-06-13 22:49] simonejsing opened #902 "Consecutive pushes to a pull request branch results in conflicting nuget versions"
When GitVersion runs on a PR branch the default logic is to capture the PR id from the branch name and use that for versioning. However, this results in conflicting Nuget version strings when a pull request branch is updated with additional changes.

E.g. assuming I'm proposing to merge a new feature into a repo, I submit a PR that gets the id 1234. Now when the build runs on VSTS it produces Nuge

[2016-06-14 00:05] simonejsing commented on #902
An alternative solution that I've seen people do in practice is to tag based on the current commit hash. Is that supported through branch specific configuration?

[2016-06-14 01:01] JakeGinnivan commented on #902
Hey,

This is the default for all branches but I agree that maybe pull requests should have an exception. The main reason for this behaviour is when you release something you tag. The thing is that a PR shouldn't be tagged like that (because then it can't be rebased etc).

Happy to receive a pull request which appends _{commitcount} to pull requests

It will have to be an underscore because I don'

[2016-06-14 01:02] JakeGinnivan commented on #879
Could someone submit a pull request to fix this? Either to fix the docs or make an improvement to GitVersion init?

[2016-06-14 01:06] JakeGinnivan commented on #704
At the moment gitversion only relies on libgit2sharp/libgit2, to put this in we would want tests which would mean either we check a test git repo which has a worktree into the repo or we shell out to the command line.

After we have that a test could be written and the functionality added. I don't know whats involved and if it's as simple as a nested git folder. If you would like to investigate th

[2016-06-14 01:12] JakeGinnivan commented on #900
Not sure if we actually link to the original GitFlow blog post. @cmacdonnacha have you read http://nvie.com/posts/a-successful-git-branching-model/ ?

But I do see what you mean, the diagrams are not really complete because it's subjective. Being a major version behind merging is often not feasible due to refactoring and such.
So *if* you can forward merge the updated support branch into develop t

[2016-06-14 01:12] JakeGinnivan commented on #900
And you only need to worry about getting that change into develop, it will end up on master through the normal gitflow workflows.

[2016-06-14 01:35] JakeGinnivan commented on #901
It is more that I don't need to get this from Cake, I can just add it to the version info. I think it's a useful feature for GitVersion, even if it's available in Cake

[2016-06-14 02:33] simonejsing commented on #902
Actually Nuget happily accepts dashes in prerelease tags (maybe that is new?). Today '/' in branch names are converted to dashes, resulting in nuget version strings with multiple dashes in them.

[2016-06-14 02:41] JakeGinnivan commented on #902
Ok cool. All good then.

[2016-06-14 06:40] asbjornu commented on #901
I agree with @JakeGinnivan that this is metadata that is useful in GitVersion, even though it's available in Cake. It's information consumers of (just) GitVersion will find useful too, I'm sure. :+1:

[2016-06-14 12:03] Pitterling opened #903 "Version tag ignored @ TF - VSO Agent?"
only Master branch - 2 version tags - v1.1.0 & v1.2.0

Git Tags are ignored on TF (GitVersionTask 3.5.4) while running same commandline local, tags are found.

while running local with same command line

[2016-06-14 12:11] pascalberger commented on #903
See [Known limitations](https://gitversion.readthedocs.io/en/latest/build-server-support/build-server/tfs-build-vnext/):

You need to make sure that all tags are fetched for the Git repository, otherwise you may end with wrong versions (e.g. `FullSemVer` like `1.2.0+5` instead of `1.2.0` for tagged releases)
Just checking the `Clean Repository` check box in the build definition settings might not

[2016-06-14 12:17] JakeGinnivan commented on #889
Thats the problem. Without tags there is no previous release. It needs to calculate since the beginning of time? Maybe im missing something

[2016-06-14 12:36] Pitterling commented on #903
@pascalberger thx. I added

Build.Clean = source

[2016-06-14 12:36] #903 closed

[2016-06-14 14:15] stocksr commented on #889
Could it not cache the calculated version for each commit and then use that? Then you would only need to calculate from the beginning on a clean checkout.

[2016-06-14 15:31] johncrim commented on #895
@asbjornu - thank you for the response.

The static class is suboptimal for a couple reasons:
1. It only exists when the msbuild step is used (we're using the command-line app)
2. Assembly attributes can be examined in a way that isn't coupled to gitversion, and doesn't require reflecting and calling an internal class.

[2016-06-14 15:31] asbjornu commented on #879
@JakeGinnivan I've had an idea to output the entire `Config` on `init`, but I'd like to do so with comments.  That's why I've created aaubry/YamlDotNet#152, so we can plug into the serialization and output comments into the YAML file. I haven't figured out how to do it yet, though, which is why I've also created a [question on Stack Overflow](https://stackoverflow.com/questions/37812892/customize-

[2016-06-14 15:54] eatdrinksleepcode commented on #889
I agree with @stocksr: a "semver: false" setting is not the appropriate solution to his scenario, because his scenario IS semver; and in fact I would argue that it is closer to Continuous Delivery than what GitVersion currently defines as CD.

I was planning on following a similar approach when I first picked up GitVersion. For now I am working around the problem by tagging, but I would prefer a f

[2016-06-14 16:08] Ashtonian commented on #889
We are doing the same thing - PR's merged to master are officially "released". Breaking changes would be a major version change and would just be a new tag.

While I've thought about doing this manually with a composition of variables - it gets complicated when you want to do the pull-request versioning as well and if for whatever reason we have a separate branch running. I can't and don't have a

[2016-06-14 16:11] JakeGinnivan commented on #889
The way GitVersion modelled Continuous delivery is that any number of commits can build up, then the product owner or someone from the business decides that there is enough functionality to deploy and hits the button. Because there is no way for gitversion to know this has happened other than tags it is modelled that way.

Yep I see that, as I said before it is much closer to continuous deployment

[2016-06-14 16:12] eatdrinksleepcode opened #904 "How do gaps in version numbers defeat the purpose of SemVer?"
The GitVersion docs about [Version Incrementing](http://gitversion.readthedocs.io/en/latest/more-info/version-increments/) include what is to me a rather odd statement:

I am confused as to how gaps in a version number defeat the purpose of SemVer. I can't find anything in the SemVer spec about _sequential_ version numbers; all I see is about _increasing_ version numbers.

I am asking because the

[2016-06-14 16:16] JakeGinnivan commented on #904
Probably the wording is a little strong. But SemVer is about communication, if there are gaps it means that the version number has been increased but not released. To me that communicates that that release had bugs in it which caused it to fail in testing or some other part of the pipeline after the build artifacts were created.

If you are simply using SemVer for binary compatibility then yep, ha

[2016-06-14 16:21] JakeGinnivan commented on #889
@Ashtonian in that example, GitVersion couldn't use other strategies like `+semver: minor` in commit messages, right?

The reason this is hard is because GitVersion is predictive about it's version number, i.e it calculates what the *next* release number will be. Because it is being predictive GitVersion needs to understand *when* that release has actually happened, hence tagging. Merging is not a

[2016-06-14 16:24] JakeGinnivan commented on #904
The way we are doing incrementing in continuous delivery mode takes inspiration from http://www.xavierdecoster.com/semantic-versioning-auto-incremented-nuget-package-versions

[2016-06-14 16:57] xsegno opened #905 "GitVersion /showconfig throws exception in Git Bash"
If I interpret the documentation the right way GitVersion /showconfig should display the current configuration. When I do so I get:

I'm on a clean windows 10 pc with VS2015 enterprise and git 2.7.0 installed

[2016-06-14 18:05] Ashtonian commented on #889
@JakeGinnivan I'm not familiar with the idea of that strategy would you be able to give me an example?

Are you talking about incrementing the version from a commit message? Tags would still be used for major versions as gitversion cannot constitute a "breaking" change.