[2018-08-22 05:37] asbjornu commented on #1445
@jakeginnivan: Yeah. I’m not against that. Go for it.

[2018-08-23 19:57] efunkenbusch commented on #38
Is this seriously still not supported?  We don't use username/password in teamcity because our password expiration policy is draconic and it would require resetting passwords on hundreds of builds everytime they expire.

Please implement this.

[2018-08-24 09:43] ermshiperete commented on #1458
I'm getting the same problem:

    MSBUILD : error MSB4166: Child node "3" exited prematurely. Shutting down. Diagnostic information may
    be found in files in "C:\Users\user\AppData\Local\Temp\" and will be named MSBuild_*.failure.txt. This
    location can be changed by setting the MSBUILDDEBUGPATH environment variable to a different
    directory.

[2018-08-24 09:52] asbjornu commented on #38
@efunkenbusch: For this to be fixed, GitVersion would need to build and bundle its own version of libgit2 as per libgit2/libgit2#2600. Since we're currently just using the official [LibGit2Sharp NuGet Package](https://www.nuget.org/packages/LibGit2Sharp), this is not an easy switch. [NuGet Packages that include SSH exist](https://www.nuget.org/packages/LibGit2Sharp-SSH/), but are not official and

[2018-08-24 10:13] ermshiperete commented on #1458
This happens as soon as I build for more than one target framework, i.e. if I have a line like `<TargetFrameworks>net40;net451</TargetFrameworks>` in the .csproj file.

[2018-08-24 14:38] derwasp commented on #1445
@JakeGinnivan if you need to hear from people who want a library, here's me ;) I am using it for an AWS lambda function which generates a version based on link/sha/branch name.
So if it's not hard for you, I would be very happy to see the package on nuget.org.
Because currently I ended up building a custom version and publishing it to our internal nuget repo.

[2018-08-24 15:00] dazinator commented on #1445
I'm glad no one took me up on this wager! @derwasp

[2018-08-24 20:41] efunkenbusch commented on #38
@asbjornu - What about a branch that uses git command line instead?  If this issue is so insurmountable, that seems like the logical conclusion.

[2018-08-25 14:07] mkoertgen commented on #1218
Hi @JakeGinnivan. I did a quick evaluation on how to wrap GitVersion inside docker.
First i tried dotnetcore & mono-slim base images but finally arrived at adding `gitversion` (latest github release) and `git` to the latest mono image.

You can review my evaluation experiment here: https://github.com/mkoertgen/docker.gitversion/blob/master/Dockerfile

[2018-08-26 01:27] JakeGinnivan commented on #1445
@derwasp thanks for that! I hadn't yet made any changes. Will keep it going then :)

[2018-08-26 04:33] JakeGinnivan commented on #1445
@derwasp the package looks like it is going to have to change to `GitVersionCore` unless anyone knows how to fix https://ci.appveyor.com/project/GitTools/gitversion/build/0.0.1645#L63 to allow us to keep using `GitVersion` as the package id?

[2018-08-26 04:35] JakeGinnivan commented on #1456
I think this has been fixed in the latest gitversion v4 betas. The regex has moved into a configuration item on the `development` branch config.

It was a mistake to put the regexes as the key, thankfully we fixed before the offical 4.0 release.

[2018-08-26 04:35] #1456 closed

[2018-08-26 04:36] JakeGinnivan commented on #1456
If the above is not the case, let me know!

[2018-08-26 04:40] JakeGinnivan commented on #1445
If the rename to GitVersionCore sounds ok, I will document it in the release notes, update the description for the GitVersion package and publish a new release. Don't mind which way we go

[2018-08-26 08:07] asbjornu commented on #1458
Hm, no. This makes no sense to me.

[2018-08-27 10:09] ermshiperete commented on #1458
I don't think that's the problem. Same thing happens after I installed 2.1.401.

I created a minimal solution to repro: https://gist.github.com/ermshiperete/fd8baae02180f2156dc0c5bbf166b29d

Interestingly, it works when I build from the command line (in a VS2017 command line: `msbuild /t:Restore;Build GitVersionIssue1458.sln`).

The output of both a failed build from within VS2017, and a successfu

[2018-08-27 12:51] acgritt commented on #1445
@dazinator, I have been having the same issues that @jnevins-gcm reported concerning the use of GitVersionTask and the build warnings.  When we build we get a bunch of the following warnings:

`MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.0) and the NuGet version the task factory was compiled against (4.6.0). There might occur some exotic errors.`

I

[2018-08-27 13:59] ermshiperete opened #1460 "Error on Linux with beta0014"
When I try to build a project on Linux that uses GitVersionTask 4.0.0-beta0014, I get the following error:

[code]

msbuild version 15.6.0.0
mono version 5.14.0.177

[2018-08-27 15:55] jnevins-gcm commented on #1445
I resolved this warning and some of the speed issues with the help of the UtilPack team:
https://github.com/CometaSolutions/UtilPack/issues/28#issuecomment-412306109

Then I gave up on GitVersionTask because of all the hassle and has concurrency issues using parallel msbuilds.

[2018-08-27 18:26] dazinator commented on #1445
@jnevins-gcm thanks for sharing. We should update the version of utilpack that we use that helps resolve those problems. Also I have re-opened #1381 which I think describes the locking issue gitversion throws when building projects in parallel.

@acgritt in order to replace gitversiontask with the cli, you would need to figure out equivalent msbuild properties that you could set via the variables

[2018-08-27 18:31] dazinator opened #1461 "Update UtilPack"
As per https://github.com/GitTools/GitVersion/issues/1445#issuecomment-416274524

Update UtilPack to latest stable version. This should help speed up project builds / restores for those that use the latest GitVersionTask. I'm hoping it will also eliminate a build warning.

[2018-08-27 18:53] #1461 closed

[2018-08-28 16:50] bobted commented on #1445
To add to the build warnings that @acgritt mentioned about GitVersionTask, I have also ran into it with beta0014, but only when building using the `dotnet build` CLI. When I build using `msbuild` directly, I don't see the warnings. The solution that I'm building only has 2 projects: 1 netstandard2.0 and 1 netcoreapp2.0 (mstest unit tests)

dotnet - 2.1.400
msbuild - 15.8.166

What led me to trying

[2018-08-28 16:54] dazinator commented on #1445
@bobted - There is a beta 15 build (the latest build of master) which I updated utilpack to the latest version. If you are able to try that one out, I am hoping it will solve the build warning issue.

[2018-08-28 17:20] bobted commented on #1445
@dazinator - is there a nuget package for beta 15 published somewhere or do i need to pull it from the repo?

[2018-08-28 18:42] dazinator commented on #1445
@bobted if you have access to this appveyor screen you can download it from the assets tab: https://ci.appveyor.com/project/GitTools/gitversion/branch/master/artifacts

Or..  you should be able to add our appveyor nuget feed to your nuget.config and then pull it from ther. Feed url is: https://ci.appveyor.com/nuget/gitversion-8nigugxjftrw

[2018-08-28 19:07] david-driscoll opened #1463 "GitVersion beta-0014 giving strangely high version numbers"
Hey Guys ❤️ GitVersion because it's awesome.

We ran into an issue with GitVersion giving us a crazy version number (plus crazy number of past commits).

Repro steps:
1) Clone https://github.com/OmniSharp/omnisharp-roslyn
2) Unpin GitVersion (it's in `common.cake`)
3) Build, you don't have to run the full build, just build so that cake restores the nuget packages.

running GitVersion from command

[2018-08-28 20:01] bobted commented on #1445
Thanks for the links, @dazinator. I added the feed to my local machine configuration so I could run a quick test of all three build paths. Unfortunately all three give me the same build output:
msbuild - passes
dotnet build - give the same build warning as before except it shows
`MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.0) and the NuGet version th

[2018-08-28 20:03] dazinator commented on #1445
@bobted could you try killing all dotnet.exe processes before building again. Just in case they are caching the old dll in the build process.

[2018-08-28 20:11] dazinator commented on #1445
@bobted re the build warning ive added comment here: https://github.com/CometaSolutions/UtilPack/issues/28#issuecomment-412306109

As you are continuing to hit problems if you are able to create a seperate issue as we have probably hijacked this one enough :-) if you have a simple repro project that would also help and I'll investigate further.

[2018-08-28 20:16] dazinator commented on #1445
@bobted also keep in mind you cant build with 2.1.0 sdk at the moment, you need global.json to lock it to 2.0.0. There is an open pr to be merged that will lift this restriction. Perhaps its this you are hitting.

[2018-08-28 20:28] dazinator commented on #1454
Not fully understanding this. The NET desktop version of gitversiontask.dll used to have its dependencies ILMerged thats true. Now they are just included in the nuget package alongside the assembly itself. We did some testing with msbuild, and when msbuild for desktop (not dotnet cli) builds a proj file with targets that load gitversiontask assembly, it was clever enough to resolvr its dependencie

[2018-08-28 20:39] dazinator commented on #1460
You may want to reach out to UtilPack for this one: https://github.com/CometaSolutions/UtilPack

[2018-08-28 20:40] dazinator commented on #1460
Also there is a beta15 package with an updated utilpack version you can try (on our appveyor nuget feed not nuget.org at present)

[2018-08-28 20:41] dazinator commented on #1458
Does this work if you add a global.json locking sdk version to 2.0.0

[2018-08-28 20:42] dazinator commented on #1458
Because PR to support builds with sdk > 2.0 has not been merged yet.

[2018-08-28 20:45] dazinator commented on #1448
Fyi there is an issue open for the parralel build / locking exception. I found i had to disable parallel builds to mitigate this.

[2018-08-28 20:47] dazinator commented on #1447
The latest beta packages should run under dotnet core sdk <= 2.0.0 now. If you have 2.1.0 installed youll need a global.json file to pin sdk version to 2.0.0 until we merge a Pr that adds support for > 2.0.0

[2018-08-28 20:48] dazinator commented on #1447
We also have a dotnet core 2.0 based docker image.

[2018-08-28 20:52] dazinator commented on #1441
Can you try adding a global.json to your solution and pin the sdk version to 2.0.0. We havent merged support for dotnet sdk > 2.0.0 yet and i have a feeling perhaps the base docker image has now moved on to having dotnet sdk 2.1 installed despite being called 2.0

[2018-08-28 20:59] dazinator commented on #1399
What version of dotnet sdk are you building under? Please add a global.json file to lock to sdk version 2.0.0 or below. Support for building under > 2 has not bren merged yet. Please also try latest beta15 package from appveyor project nuget feed or failing that, beta14 from nuget.org

[2018-08-28 21:06] dazinator commented on #1458
Also i know If you dont have a git repo initialised then gitversiontask will error. Please check that.

[2018-08-28 21:10] dazinator commented on #1399
P.s we do multitarget and you should see netstandard1.5 compiled gitversiontask assembly in the nuget package.

[2018-08-28 22:04] dazinator commented on #1458
I assume your PR solves this issue: https://github.com/GitTools/GitVersion/pull/1459 ?

[2018-08-29 00:00] dazinator commented on #1458
I can repro this. `dotnet build` and `msbuild` succeeds, but VS2017 fails. I am wondering if this has been caused as a result of the latest VS2017 update. I have raised an issue here: https://github.com/CometaSolutions/UtilPack/issues/30

Just out of curiosity, are you vs2017 15.8.2? I am wondering if anyone on < 15.8 can repro this.

[2018-08-29 00:53] walterlv commented on #1399
@dazinator This issue was posted four months ago and .NET Core 2.0 was the latest version at that time. Maybe I can try the newest version now.

[2018-08-29 01:05] dazinator commented on #1399
@walterlv Sure. I think there is still an issue with the latest version if using VS2017 latest update (15.8.X). I uninstalled VS2017 15.8.2 and installed VS2017 15.7.6 and it works. I have just created an issue using VS's send feedback to report the issue. Also I have reported here in case its a utilpack thing: https://github.com/CometaSolutions/UtilPack/issues/30

[2018-08-29 01:08] dazinator commented on #1458
I uninstalled VS2017 15.8.2 and installed VS2017 15.7.6 from here: https://docs.microsoft.com/en-us/visualstudio/productinfo/installing-an-earlier-release-of-vs2017

After that I was able to build fine from VS2017. So it seems to me that the VS Update to 15.8.X broke something.

[2018-08-29 01:18] walterlv commented on #1399
@dazinator Actually, it's not the bug of MSBuild or Visual Studio. I've written my own NuGet package which is used to generate git version and it works both on `MSBuild` and `dotnet build`.
- [How to build a cross-platform-NuGet-tool-package - walterlv](https://walterlv.github.io/post/create-a-cross-platform-msbuild-task-based-nuget-tool.html)
- [Shipping a cross-platform MSBuild task in a NuGet p

[2018-08-29 01:35] dazinator commented on #1399
@walterlv - The issue we are seeing at #1458 only seems to occur when building with VS 2017 Community version 15.8.X.  When building from msbuild on the command line, or from dotnet build on the command line it works. Are you saying you can build also fine from VS 2017? If so would you mind confirming what version of VS2017 you are using? Thanks

[2018-08-29 01:39] walterlv commented on #1399
@dazinator
Mine: 15.8.1
It works fine, too.

[2018-08-29 01:43] dazinator commented on #1399
@walterlv  ok thanks for confirming. I think we can close this one then. If you do ever update VS to 15.8.2 and it starts failing (or not) please drop a comment on #1458 to let us know :-) Thanks

[2018-08-29 01:43] #1399 closed

[2018-08-29 01:45] walterlv commented on #1399
@dazinator OK!

[2018-08-29 01:53] dazinator commented on #1458
Had confirmation over here: https://github.com/GitTools/GitVersion/issues/1399#issuecomment-416787309 from someone successfully building from VS2017 15.8.1. So I am now wondering if this is just a VS2017 15.8.2 issue.

[2018-08-29 05:14] JoshSchreuder commented on #1349
GitVersionTask 4.0.0-beta* seems to work with the new format, as long as you don't have anything like

[code]

In your .csproj. I also don't have any AssemblyInfo.cs files, and it seems fine.

[2018-08-29 09:27] superware commented on #887
Hey @urig, have you managed to implement this? anyone else maybe?

[2018-08-29 09:54] ermshiperete commented on #1458
For me it's failing with VS2017 community 15.8.1.

Note that you'll have to look at the "Output" tab to see the failure - the "Error List" tab won't show anything in this case.

[2018-08-29 10:02] ermshiperete commented on #1458
A `global.json` file doesn't help. Still getting the same error.

[code]

[2018-08-29 10:02] dazinator commented on #1458
@ermshiperete this is weird. As per https://github.com/GitTools/GitVersion/issues/1399#issuecomment-416787309 this user is also using 15.8.1 and says everything is working fine. Im wondering what the difference is between their build environment and yours.

[2018-08-29 10:07] dazinator commented on #1458
@ermshiperete can you delete gitversion from your local nuget cache to force redownload. I can see that '`beta0015` package was actually built and published multiple times to the appveyor feed.

[2018-08-29 10:16] ermshiperete commented on #1460
@dazinator Where do I find the beta15 package?

[2018-08-29 10:36] ermshiperete commented on #1460
Thanks! I overlooked the beta15 because it's so far down the list :smile: .

With beta15 it still fails:

[code]

[2018-08-29 10:40] ermshiperete commented on #1458
That was with beta14. But with beta15 I get the same result.

[2018-08-29 10:47] dazinator commented on #1460
@ermshiperete can you check this dir: HOME/.nuget/packages/utilpack.nuget.msbuild/2.6.0/

Does utilpack exist there or is that directory empty?

[2018-08-29 10:49] dazinator commented on #1460
P.s im glad to see from the stacktrace it is atleast using the multi target build targets now - so thats your merged PR taking effect there.

[2018-08-29 11:28] li0nsar3c00l commented on #1458
I do not use any preview version of visual studio, so the issue is not directly related to v15.8.x

[2018-08-29 12:27] dazinator commented on #1458
@ermshiperete I have decided to revert back to VS2017 15.7.6.
I am not sure what the cause of this problem is, but looking through the amount of issue raised for 15.8 over https://developercommunity.visualstudio.com/spaces/8/index.html I'd guess the VS update has broken something. Also the error is happening in an msbuild node process, i'm not sure there is much utilpack or anything else could do

[2018-08-29 13:33] dazinator commented on #1458
@ermshiperete  scrap that. I rolled back to 15.7.6 (on another machine since yesterday) and this time it still repros!

However when I rolled the package version back from beta0015 to beta0014 (and killed msbuild.exe) - then unloaded / reloaded the project and rebuilt - it works.

Here is my csproj:

[code]

[2018-08-29 13:46] yamikuronue commented on #1441
I can do that, but I'm not certain where to put it, since I don't have a solution folder or anything. I'm using this to version the AMIs I'm building using Packer. Do I put it at the root of the repository?

[2018-08-29 14:09] walterlv commented on #1399
@dazinator I've updated to vs 2017 15.8.2 and all builds still work fine.

[code]

[code]

[2018-08-29 15:03] nlowe commented on #1447
@dazinator Assuming you're talking about [gittools/gitversion-dotnetcore:0.0.0-alpha0015](https://hub.docker.com/r/gittools/gitversion-dotnetcore/tags/) (The most recent tag for [gittools/gitversion](https://hub.docker.com/r/gittools/gitversion/tags/) is over a year old) It would appear that image is windows based. Can we get a linux image with the dotnet core version?

[2018-08-29 15:09] yamikuronue commented on #1441
Yeah, I set it to "fetch all heads" which I would assume gets the full repo state (using the optional property `teamcity.git.fetchAllHeads = true`). It's also set to checkout builds on the agent -- is that better or worse for this than the server? I would assume the agent is the one running the dockerfile, but I'm new to teamcity, maybe it's counter-intuitive?

[2018-08-29 15:30] yamikuronue commented on #1441
I do spy `/usr/bin/git config core.sparseCheckout true` in the build output -- could that be the issue? but I'm not sure how to disable that, I'm digging now. It seems like if I'm forcing all heads the branch data should be there, regardless of the files checked out, right?

[2018-08-29 15:40] ermshiperete commented on #1460
yes, `$HOME/.nuget/packages/utilpack.nuget.msbuild/2.6.0/` exists.

[2018-08-29 16:00] dazinator commented on #1460
Can you provide further details about your linix setup, distro, etc?

[2018-08-29 16:04] dazinator commented on #1447
@nlowe I don't see why not. Is this something you would consider contributing? The docker files are pretty simple - you can see them here: https://github.com/GitTools/GitVersion/tree/master/src/Docker/

I assume you just want a copy of the dotnetcore one, just using the linux base image right?

[2018-08-29 16:08] dazinator commented on #1458
Did another downgrade to vs2017 15.7.6. Now, all of the packages are working fine (beta14, beta15, and my netstandard PR one) and I am unable to repro the issue at all.
I am not sure what is going on, but whilst things are working, I am going to be leaving my environment alone and not touching VS any further. I am still convinced it's a problem that 15.8.X introduced but that's just a gut feeling.

[2018-08-29 16:31] ermshiperete commented on #1460
Ubuntu 16.04.5 LTS
mono 5.14.0.177
msbuild 15.6.0.0

[code]

Is it working for you on Linux?

[2018-08-29 16:44] nlowe commented on #1447
Sure. I'd be happy to contribute. Do you want a separate issue to track this, or can I just send in a PR?

[2018-08-29 17:40] dazinator commented on #1460
I'm a windows user, never used linux, but I was going to make the dive to try and repro this.

[2018-08-29 18:53] nlowe commented on #1447
So It looks like `microsoft/dotnet:2.0-runtime` has a split tag (it's windows and linux, it depends on what mode you're in when you pull / run / build it). Can we rebuild it in linux mode and push it? I don't think there's an automated process that does that just yet (#1445)

[2018-08-29 23:44] dazinator commented on #1447
I see. I think there is automation for the docker build and push, check this script: https://github.com/GitTools/GitVersion/blob/master/deploy.cake#L211

Perhaps you could lool at adjusting that in a PR to cater for the linux version?

[2018-08-30 10:50] JakeGinnivan commented on #1447
Getting the docker images deployed is high on my priority list, because it's what I use because all our build servers are centOS and can't run GitVersion at all

[2018-08-30 10:50] JakeGinnivan commented on #1447
Will probably sort out on Saturday

[2018-08-30 18:12] kll opened #1464 "Publish as .NET Core Global Tool"
I think it would be a good idea to publish GitVersion as a [.NET Core Global Tool](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools).

I'm willing to do the work if it is agreed upon that it is a good idea. I haven't looked into it in detail yet but I assume it would probably need some outstanding work like #1445 and #1422 to get wrapped up first. It would obviously require getting

[2018-08-31 10:14] jbaehr opened #1465 "GitVersionTask executes GetVersion too late for the XAML compiler"
## Short Version
The XAML targets consume the "AssemblyVersion" property, GitVersionTask's GetVersion exports it, but due to a missing dependency declaration MSBuilds executes GetVersion *after* the  XAML stuff.

## Some Background
The XAML Markup Compiler (from PresentationBuildTasks via target "MarkupCompilePass1") generates C# code which loads the XAML at run time from a managed resource. This

[2018-09-02 15:48] derwasp commented on #1447
@JakeGinnivan if I may, why can't one run GitVersion on CentOS? [libgit2sharp.nativebinaries](https://github.com/libgit2/libgit2sharp.nativebinaries) supports rhel RID.

[2018-09-03 10:40] jbaehr opened #1466 "GitVersionTask 4.0.0-beta0014 does not work with MSBuild-14.0"
When I reference the GitVersionTask in version 4.0.0-beta0014 from a csproj I can't build it any more using MSBuild v14. It used to work fine with beta13, but now I get the following error
[code]

The issue is quite easy to fix: just add the namespace declaration to `src/GitVersionTask/UtilPack.Version.props`:
[code]

[2018-09-03 10:43] jbaehr commented on #1465
After working around a missing xml namespace declaration in `UtilPack.Version.props` (see #1466) I can confirm that the proposed addition works also with beta.14 when adding the property to `GitVersionCommon.props`.

[2018-09-04 23:59] ngeegoh opened #1467 "GitVersion throws errors MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.0) and the NuGet version the task factory was compiled against (4.6.0). There might occur some exotic errors."
I have installed GitVersionTask (4.0.0-beta0014) in VS17. I have many projects (different packages) inside the VS solution. When I ran `dotnet build`, I got this error:
`MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.0) and the NuGet version the task factory was compiled against (4.6.0). There might occur some exotic errors.`
I have googled but still co

[2018-09-05 08:32] kierenj opened #1468 "Sudden jump in version with 4.0.0-beta0014"
Hi - my config:

https://gist.github.com/kierenj/ccc4a3db7775f97554ef2c11543bca72

I have a freshly-created branch, `release/1.0.19`.  GitVersion awards it `1.1.0-rc.1+777.1` - whereas every time previously we've created a release branch (up to and including `release/1.0.18`), it's correctly done something like  `1.0.18-rc.1+333.1`.

We're not using semver commit messages, and there aren't any tag

[2018-09-05 09:15] JakeGinnivan commented on #1447
I had the issue quite some time ago @derwasp . But it was due to libssl or something from memory. Can try running natively again though!

[2018-09-05 09:52] derwasp commented on #1447
@JakeGinnivan I built an AWS lambda function, which runs on something very close to [rhel.7.2-x64](https://github.com/aws/aws-extensions-for-dotnet-cli/blob/ad25a4bf9ff84b1cba874e1bff8496a20fdec784/src/Amazon.Lambda.Tools/LambdaConstants.cs#L28) and I am using gitversion lib in there. Works like charm.

[2018-09-05 20:49] youfoundkris commented on #1445
Is there a possibility that somebody provides more information on the precise requirements of this all. Would really like to contribute and I have a feeling this issue is a complete cock blocker.

[2018-09-05 22:36] dazinator commented on #1458
We had some help, see the linked msbuild issue - just need to try the workaround suggested there.

[2018-09-06 16:45] snovak7 opened #1469 ".NET Core GitVersion -showvariable exception"
Hello, I have installed nuget package for netstandard: <PackageReference Include="GitVersion.CommandLine.DotNetCore" Version="4.0.0-pullrequest1269-1541"> This version has an error when I want to make -showvariable, any showvariable, it returns:

[code]

Without options, I get a valid JSON output.

[2018-09-06 20:05] dazinator commented on #1467
The build warning you mentioned should be fixed soon.
re: multiple projects in the same repo and versioning them independently - usually I version everything in a repo together, if I need to version things individually I usually move them out into their own repo's. That's just how I do it - perhaps their are other ways. I have also used git submodules in the past - i.e you have main repo, and you

[2018-09-06 20:09] dazinator commented on #1458
This should now be fixed in https://github.com/GitTools/GitVersion/pull/1470

[2018-09-06 20:32] dazinator commented on #1445
I've noticed that the last few PR's that were merged to master, the build has produced `4.0.0-beta.15` nuget packages. Obvioulsy this is problematic as the semantic version hasn't really incremented.

[2018-09-06 20:41] dazinator commented on #1464
@arodus

According to https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools it could be run either way depending on how it's written!

@arturcic  - this would definitely be a welcomed PR but you are right those issues you linked are high on the agenda right now for obvious reasons

[2018-09-06 21:01] dazinator commented on #1468
You could try running gitversion.exe with the /diag switch - that should output some more details about the graph which you could paste in a gist, it might help us reason about how its calculating this version.

[2018-09-06 21:03] dazinator commented on #1467
Please can you try this version of the package and let us know if this resolves your build warning issue?

<PackageReference Include="GitVersionTask" Version="4.0.0-pullrequest1470-1617">
      <PrivateAssets>all</PrivateAssets>
    </PackageReference>

Thanks.

[2018-09-07 08:03] kierenj commented on #1468
Ah - it seems it comes down to:

`  INFO [09/07/18 9:02:17:28] Base version used: Merge message 'Merge branch 'build/pin-net-sdk-to-1.1' into develop': 1.1.0 with commit count source 18130611e3339eb41ddd62cc3005b55b98b511f2 (Incremented: None)`

We did indeed merge a branch called `build/pin-net-sdk-to-1.1` that - but given my config, I'm not sure why this would count?

[2018-09-07 08:56] dazinator commented on #1468
I'm not that familiar with the config myself yet. I don't usually have to delve into it :-)
Does changing this line make a difference: https://gist.github.com/kierenj/ccc4a3db7775f97554ef2c11543bca72#file-gitversion-yml-L12

[2018-09-07 12:10] bobted commented on #1467
@dazinator, I've not had a chance to get back to the discussion in #1445 so I'm glad to see this thread. I just updated to VS 2017 v15.8.3 this morning. The release notes state that v15.8.2 included an incompatible pre-release of netcore2.1, which made me think about the issue here and a comment you made about the building to 2.1.

After the updated, I've tried to build with both beta0015 and your

[2018-09-07 14:08] dazinator commented on #1467
@bobted
currently, when merging a PR, the master build is keeps producing beta0015 packages. Therefore the beta0015 package you tried out, may have been the one after my PR was merged with this build warning fixed, or it could have been the one before (i.e if it was in your package cache from before). This is something we need to sort out in #1445 still - i.e when accepting PR's the version should

[2018-09-07 14:08] #1467 closed

[2018-09-07 14:10] dazinator commented on #1466
Any chance of a PR?

[2018-09-07 14:12] dazinator commented on #1469
Yup the .NET Core implementation of this command was omitted in #1269
It just needs implementing really. I'll mark this as up for grabs.

[2018-09-07 14:40] dazinator commented on #1460
@ermshiperete - please could you try again with:

[code]

the above package is available from our appveyor nuget feed.

The reason I ask is because we fixed a null ref issue with msbuild recently in #1458 and I am wondering if it might be the same thing.

[2018-09-07 14:51] dazinator commented on #1454
UtilPack dependency currently needs to stay as a dependency listed in the .nuspec file, even if we end up ILMerging all of the dependencies again for the desktop version. Just be wary of this. It's because we rely on UtilPack's msbuild task factory to load and execute our task now. This decouples us from the platform, but it does require that the UtilPack package is installed. The only way to ensu

[2018-09-07 14:51] dazinator commented on #1454
More background about that issue can be found here: https://github.com/CometaSolutions/UtilPack/issues/24

[2018-09-07 15:52] ermshiperete commented on #1460
We're half way there.

Running `dotnet build` works now with 4.0.0-pullrequest1470-1617, but running `msbuild /restore /t:Build` crashes msbuild (see output: https://gist.github.com/ermshiperete/18bd905ca9155f3052dca0864a85d0da)

[2018-09-07 15:58] dazinator commented on #1460
Progress then!
Please forgive my lack of linux knowledge.. so it looks like msbuild runs under mono on your ubuntu environment. Is this some IDE you are using? I assume you can't just switch to using `dotnet msbuild' :-)

I have a feeling

[2018-09-07 17:30] stazz commented on #1460
Hi @ermshiperete , the guy behind UtilPack task factory here. I wasn't prepared for the task factory to be used in Mono environment when I was writing the code, as I thought .NET Core was supposed to practically replace it (at least at some point there was some talk about it). The task factory thus autodetects the runtime framework to be `.NETFramework,Version=v4.6.1`, and I am very sure that this

[2018-09-08 22:04] brettveenstra commented on #611
fix was set configuration parameter in TeamCity build `teamcity.git.fetchAllHeads`:`true`

[2018-09-10 08:56] ermshiperete commented on #1460
@dazinator I run msbuild on the command line with Mono 5. Unfortunately it is currently not possible for the projects I'm working on to switch to use `dotnet msbuild`.

[2018-09-10 09:20] ermshiperete commented on #1460
@stazz Thanks for looking into this!

To reproduce you can use the minimal project: https://gist.github.com/fd8baae02180f2156dc0c5bbf166b29d.git

I'd recommend to install Mono 5.x from https://www.mono-project.com/download/stable/ - the mono versions that come with the Linux distro are usually much older and so other Mono bugs might come into play.

Then run `msbuild /restore /t:Build`.

Switching

[2018-09-11 08:44] dazinator commented on #1467
@ngeegoh

Yup hopefully once #1445 that will be remedied.

I am not sure if it's possible to get GitVersion to do this - AFAIK GiVersion operates at a repo level - i.e in inspects your git history to work out commit count, branch structure and other things, and produces an appropriate version number. Because you don't have seperate git histories for each project then I am not sure how it could com

[2018-09-11 12:47] asbjornu commented on #1467
Yes, @dazinator is correct. GitVersion operates at a Git repository level and will not support minting version numbers for individual paths within a repository.

[2018-09-11 17:48] stazz commented on #1460
@ermshiperete Thanks - I'll try to reproduce it locally and see if actually compiling task factory against Mono framework could solve this issue.

[2018-09-12 10:28] gerwim opened #1473 "GitVersionTask on the dotnet SDK docker image (microsoft/dotnet:2.1-sdk; Debian 9)"
So, I'm using GitVersionTask in my Docker build  (using the officical microsoft/dotnet:2.1-sdk image). The issue I was having is the following error:
[code]

How I fixed it, is by install the library system wide and symlinking the location it's searching (used the LD_DEBUG env var to check what it was doing). In my Dockerfile I now have:
[code]

I created the issue just to let you know. The curren

[2018-09-12 19:08] dhilgarth opened #1474 "GitVersion ignores next version in config file"
This is my config file:

[code]

- I am currently on develop.
- I am using Git Flow.
- The last release was 3.0.3 and has been merged into master and develop and tagged as v3.0.3 on master (this happened before GitVersion initialization)

When running GitVersion, it will give me 3.1.0 as the version. The log file contains this:

[code]

Why is it not obeying the 3.0.4 that I set in the config?

Ha

[2018-09-12 21:15] jrlilly commented on #1445
Any chance a beta 15 could be pushed?  PR #1470 being available would be nice :)

[2018-09-13 08:01] kierenj commented on #1468
I'm not sure - but I'd like to keep that if possible. We do use it occassionally?

[2018-09-13 08:39] dazinator commented on #1468
@kierenj I think GitVersion has the ability to ignore certain SHA's that you think are interfering with version calculation. You could try that - should be mentioned in the docs, you add the SHA's to the config somewhere.

[2018-09-13 18:31] dhilgarth opened #1475 "Provide NuGet package to allow easier reading of GitVersionInformation"
The approach with Reflection to read GitVersionInformation is rather messy, I think. It would be great to have a tiny NuGet package that would provide a more friendly interface to this information.

[2018-09-13 18:49] youfoundkris commented on #1475
Reflection?

I think in most cases it hands over the version information over to the build server automatically. There is support for all the big ones. Then there is also the ability to get the version output as json, so you may manually retrieve any version part.

It is distributed in various forms including nuget.

What issue are you running into?

[2018-09-13 18:51] dhilgarth commented on #1475
Thanks for your prompt reply. I am talking about the injected variables by the MSBuild Task: https://gitversion.readthedocs.io/en/latest/usage/msbuild-task/

I want to show some of these variables in my application. The page I just mentioned provides a reflection based approach to getting this data.

[2018-09-13 18:57] youfoundkris commented on #1475
Yes, the class is internal an therefore requires some reflection which is very clearly explained there.

[2018-09-13 18:59] dhilgarth commented on #1475
Sure, I understand that.
I am asking for a facade in a NuGet package that makes getting this information friendlier, more accessible.

[2018-09-13 19:03] dhilgarth commented on #1475
I just wrote the code for it: https://gist.github.com/dhilgarth/2fb710f51d20767ccb1a3c25e4b6e412

I would however love to see this as an official NuGet package from you guys :)

[2018-09-14 09:03] dracan opened #1476 "VSTS Marketplace Task doesn't work in a Linux build agent"
Looks like the VSTS build task doesn't work in a "Linux Preview" build agent. I'm using Linux containers, Docker, and AKS - so need to use the Linux build agent. Are there any other options for using GitVersion in VSTS?

Thanks for any help with this - awesome work with GitVersion btw! :)

[2018-09-14 09:48] dhilgarth commented on #1475
I have now put this into its own repository: https://github.com/dhilgarth/ReadGitVersionInformation and published it to NuGet: https://www.nuget.org/packages/ReadGitVersionInformation/1.0.0

Still, would love to move it to your repo, to make it more official.

[2018-09-14 15:02] alpeshv commented on #1370
try [this](https://github.com/GitTools/GitVersion/issues/1160#issuecomment-381517122)

[2018-09-14 15:05] alpeshv commented on #1123
Try [this solution](https://github.com/GitTools/GitVersion/issues/1160#issuecomment-381517122)

[2018-09-17 08:54] Kimserey opened #1477 "Unable to use gitversion as part of AppVeyor build"
### Description

I am unable to use Gitversion as part of my build to version my application.
**What are the recommendation to use gitversion as part of AppVeyor build to version .NET application?**

### Steps

At the beginning of the build, AppVeyor clones the repository and checkouts out the commit meant to be built:

[code]

But when Gitversion runs I see the following error:

[code]

I tried t

[2018-09-17 10:31] Kimserey commented on #1477
I managed to use a workaround by checking out into a branch name `alpha` part of the `before_build` step.

[code]

And naming my alpha tag `1.0.0-alpha.1`, `1.0.0-alpha.2`, `1.0.0-alpha.3`,... works as expected.

[2018-09-17 13:06] alpeshv opened #1478 "GitVersion Mainline - Version increment on every push"
This is a question, not an issue.

I am using GitVersion with Mainline mode. With default settings, it increases patch number with every commit in master. Is there a way to increase patch number on every push rather than on every commit?

If I push 3 commits together, patch gets increased by 3. In this case I would get version jump from 2.0.4 to 2.0.7 on VSTS build.

GitVersion.yml

`mode: Mainlin

[2018-09-17 17:37] stazz commented on #1460
@ermshiperete Sorry for late message, I unfortunately only now got time to try this out. It seems that the required version of GitVersionTask is in AppVeyor feed. Is there any way for me to pull the package from AppVeyor without registering? I remember sometimes @dazinator sending me a link for some repro case, but I guess each link has to be explicitly generated? If I register to AppVeyor, would

[2018-09-17 18:27] dazinator commented on #1460
@stazz yeah you should be able to pull nuget packages from the appveyor feed without registering..
You just need to configure your nuget source as https://ci.appveyor.com/nuget/gitversion-8nigugxjftrw
Then you can query this nuget feed and download any packages without any authentication.
Let me know if you need any assistance with anything and I'll do my best to help

[2018-09-17 18:39] stazz commented on #1460
Thank you @dazinator for quick reply! Good to know that link is apparently covering all GitVersionTask versions - I thought it was specific to some version last time you posted it. I have now successfully reproduced the issue. As a side-note, it seems it appears also in Docker container, so it is relatively easily to test by running `docker run --rm -it mono:latest` command, and doing `git clone`

[2018-09-17 18:53] stazz commented on #1460
I've googled around a bit, and it doesn't look good: xunit/xunit#1357 . These quotes especially:

And the Desktop version of UtilPack.NuGet.MSBuild specifically uses AppDomains, as they are the sole sandboxing mechanism in Desktop.

One not-so-pretty fix that springs to my mind is that everything could be done within the same AppDomain, if the task factory detects it is running Desktop version wit

[2018-09-18 06:12] ngeegoh commented on #1467
Thanks for your responses @dazinator and @asbjornu , so is it how most companies out there managing their projects (1 repo only got 1 single-project solution) or if not what are the benefits of versioning all projects (in the same repo) with the same number although they got different changes for each projects (which for me, the version does not reflect what we have changed in the projects, some u

[2018-09-18 14:19] stazz commented on #1460
I've now verified that this issue does not happen when I use current AppDomain to execute task instead of creating a dedicated AppDomain. I'll see if I can get the auto-detection code to work so that the task factory would use current AppDomain instead of dedicated one if the task factory automatically detects to be running in Mono environment. Will post a follow-up of how it went.

[2018-09-18 18:15] stazz commented on #1460
@dazinator @ermshiperete I've fixed this now in `2.8.0` version of UtilPack.NuGet.MSBuild, which I just published. At least the repro now builds successfully.

[2018-09-18 18:17] dazinator commented on #1460
@stazz - excellent news. Thank you for going the extra mile and turning this around for mono users :-)

[2018-09-19 06:29] asbjornu commented on #1467
@ngeegoh: As a long-time Git user coming from a VSS, TFS and Subversion background, I've got experience with both monorepos and repository per project. In my experience, the latter is highly favorable and the former is just an artifact of having a bad VCS. Separating deployable and independantly versionable parts into their own repository makes everything much more manageable and less prone to acc

[2018-09-19 07:55] gerwim commented on #1473
Just install the NuGet package GitVersionTask (I have version 4.0.0-beta0014 installed) and build your project. Check the output dll file and you'll see the assembly version has been updated.

[2018-09-21 21:42] phillipsj commented on #1445
I am happy to take this task.  If you want please assign to me and I will get started. I have worked with Cake and contributed to it and created many extensions.

[2018-09-21 21:56] gep13 commented on #1445
@phillipsj feel free to get stuck in, I can be on hand to answer any questions that might come up.

[2018-09-21 22:02] phillipsj commented on #1445
I think I got it.  I have created all of the package types before.

[2018-09-21 23:40] JakeGinnivan commented on #1445
I will be around this weekend, it's a long weekend here. Ping me on gitter with any questions, I was planning to push out a release this weekend and update the state of play.

[2018-09-22 00:37] phillipsj commented on #1445
So here is one of the issues that I discovered. The target frameworks between on the different projects are all over the place: net40, net461, netstandard1.3,netstandard1.5, netcoreapp2.0.  I am straightening them out, hope that is okay unless there is a need to have them like they are.

[2018-09-22 01:05] phillipsj commented on #1445
Okay, everything is good and I have the build rocking and rolling.  It is all pretty close to being finished.

[2018-09-22 02:03] dazinator commented on #1445
@phillipsj I think there was some agreement that net40 could be dropped, in favour of net461. There is work done in PR #1422 to move netstandard baseline up to netstandard20. However my hope was before merging that PR we could get a build / release out targeting the current / lower netstandard baselines. However if you have to upgrade the netstandard tf baselines to get this ci / cd stuff working

[2018-09-22 03:35] phillipsj commented on #1445
I have it all working on the current so that should be good.  I don't see a
gemspec file in to repo.  Also what version of Ruby and RubyGems do I need.

On Fri, Sep 21, 2018, 10:03 PM Darrell <notifications@github.com> wrote:

[2018-09-22 03:36] phillipsj commented on #1445
NVM, I found it.

On Fri, Sep 21, 2018, 11:34 PM Jamie Phillips <cphill11@gmail.com> wrote:

[2018-09-22 18:43] bravecobra commented on #1408
I just ran into the same issue. Any progress on this?

[2018-09-23 04:12] JakeGinnivan commented on #1445
With the free Azure DevOps pipelines for OSS projects, anyone think it would be better to convert to that to make it easier to release and do our cross plat builds?

[2018-09-23 06:26] arturcic commented on #1445
I have it already working with a branch of mine see
https://dev.azure.com/arturcic/OSS/_build/results?buildId=44&view=logs

[2018-09-23 06:34] arturcic commented on #1445
Actually I was thinking to have a pull request for building with Azure pipelines, and it also uses a powershell core based boostrap script for cross plat builds. Do you think I should send 2 separate PRs, one with the bootstrap script and another with the azure pipeline support?

[2018-09-23 07:52] gep13 commented on #1445
@JakeGinnivan Can we get a call organised, so that we can sit down and decide what we want to do with GitVersion in terms of responsibilities, and getting things released?  Would be great to get everyone interested on the call, but understood that this could be difficult based on Time Zones, etc.  /cc @asbjornu @dazinator

[2018-09-23 07:54] gep13 commented on #1445
@phillipsj where is the work that you are doing?  Have you opened a PR for this?

[2018-09-23 08:07] gep13 commented on #1476
@dracan thanks for raising this.

As you have spotted, the Azure Pipelines (formerly known as VSTS) Task for GitVersion currently only supports Windows Build Agents.

There have been discussions about updating the Task to support more operating systems, and I believe the plan is to finalise the migration to .NET Core/Standard, and from there, update the external tooling to support it, including up

[2018-09-23 08:41] pascalberger commented on #1476
The Azure DevOps task itself should be cross-plattform since #1189 where it was rewritten from using a PowerShell script to using Node scripts. This version is not released on the marketplace yet though.

The other issue is GitVersion itself and its dependencies as @gep13 has pointed out

[2018-09-23 08:50] gep13 commented on #1476
@pascalberger where was that change merged to?

Looking at the current master branch:

https://github.com/GitTools/GitVersion/tree/master/src/GitVersionTfsTask

It is still the PowerShell version.

[2018-09-23 08:53] pascalberger commented on #1476
@gep13 This uses the node engine: https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTfsTask/task.json#L70_L74

The powershell scripts in there are only for building and packaging the task.

Or where do you see that it uses PowerShell?

[2018-09-23 08:54] gep13 commented on #1476
Oh, hold on... Sorry, I completely read that wrong.  Ok, move along, nothing to see here 😄

[2018-09-23 08:55] pascalberger commented on #1476
The script executed by the tasks is this one, which has some OS specific code in here: https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTfsTask/GitVersion.ts#L42-L47

[2018-09-23 18:10] gep13 commented on #1445
@phillipsj perfect.  Not in a position to have a call tonight, but lets get something in the calendar so that we can get this out the door.

[2018-09-24 05:49] JakeGinnivan commented on #1445
Agree, I am +8, so probably the most out of the way. I can do early morning, or later in the evening. When works for everyone else?

[2018-09-25 17:05] tgharold commented on #1468
We're getting bit by this bug as well.  We run a forked workflow in Github and one of the developers named their branch 'upgrade-to-package-xyz-4.3.0' which has now confused GitVersion beta 14, while beta 12 would ignore that branch name.

[2018-09-25 17:45] dazinator commented on #1445
I'm +1, i'm probably not essential to this meeting, would like to join if I'm available though

[2018-09-25 18:16] phillipsj commented on #1445
I can make most times work.  9am EST isn't good for me. So anytime before
or anytime after 9:30am EST.

On Tue, Sep 25, 2018, 1:45 PM Darrell <notifications@github.com> wrote:

[2018-09-25 19:42] konne opened #1481 "prevent-increment-of-merged-branch-version not working in 4.0.0-beta.14"
Hi,
can it be that the config flag prevent-increment-of-merged-branch-version: true is not any more working in this beta?
I tested this on version 3.6.2 and this was working fine after I set this to true on my dev branch, but with
the 4.0.0-beta.14 it still uses the Merge Messages

[2018-09-25 20:24] o-o00o-o opened #1482 "StackoverflowException when using msbuild in VS2017 in 4.0.0-beta14"
Our branch configuration is:

features/bugfixes are branched from master
releases are branched from master (releases/v2.10).
hotfixes are branched from releases (hotfix/fix-this).

Most issues found in release branch will be fixed in a feature/bugfix and go through master and are cherry picked into release.
We put version tags in the releases branch on the last commit that was good. We keep the re

[2018-09-26 12:12] kll commented on #1464
This works for me in Windows but not in Linux (Debian 9). It's the same LibGit2Sharp error I've seen before. I'll try to debug it but I'm a bit out of my depth.

[code]

[2018-09-26 12:20] arturcic commented on #1464
please have a look here https://github.com/GitTools/GitVersion/issues/1473

[2018-09-26 16:04] kll commented on #1464
Well it actually worked fine for me with the official Debian 9 based dotnet:2.1-sdk Docker image. It was failing for me in a newly set up Debian 9 VM. After debugging things it turns out it was actually finding the `libgit2-b0d9952.so` correctly but that library needs `libcurl.so.4` which was not present. I installed it by running `sudo apt-get install libcurl3` and it started working.

Unrelated

[2018-09-27 09:41] alexeyzimarev opened #1483 "GitVersion crashes on Ubuntu 18.04 with System.BadImageFormatException: Method has no body"
My build script runs fine in Docker mono image, but when I try to build on my machine, I get this error:

[code]

[2018-10-01 10:35] asbjornu commented on #1483
With the new build system, I hope we can get out packages for Unix based operating systems that don't depend on Mono, but can use the more x-platform friendly .NET Core instead. Please be patient while we work on getting #1485 incorporated.

[2018-10-04 00:58] phillipsj commented on #1445
So I have been working through all of this and I get this error when executing the TFX creation.

C:\Users\cphil\code\GitVersion\src\GitVersionTfsTask [master ≡]> .\Create-Vsix.ps1
TFS Cross Platform Command Line Interface v0.6.1
Copyright Microsoft Corporation
error: Error: ENOENT: no such file or directory, lstat 'C:\Users\cphil\code\GitVersion\src\GitVersionTfsTask\GitVersionTask'

There isn't

[2018-10-04 00:59] phillipsj commented on #1445
Ah didn't see the other PR.  The other PR is really nice work.

[2018-10-04 08:37] gep13 commented on #1445
@phillipsj sorry, I should have mentioned that @arturcic has been working on a PR for fixing this.  Apologies.

[2018-10-05 11:34] gparlakov commented on #1170
Hi all, I want to share a workaround that seems to be working:
1. GitVersion uses $(Build.SourcesDirectory) to see where the sources are located - [src](https://github.com/GitTools/GitVersion/search?q=SourcesDirectory&unscoped_q=SourcesDirectory)
2. We can change this using [logging commands](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md#logging-commands)
3. Workar

[2018-10-06 19:59] RouR commented on #1447
Has there been any progress made on this?
I use dotnet core sdk 2.1 for now

[2018-10-07 17:47] konne commented on #1463
Hi, I think this come from: Merge pull request #699 from DustinCampbell/update-nuget-to-3.5.0
because I now use nice PR for Nuget updates.
In older GitVersions I could fix it with the config, but now this is not working anymore. I added this issue #1481

[2018-10-07 17:50] konne commented on #1481
@dazinator please can you have a look a this issue
thx

[2018-10-07 19:38] dazinator commented on #1481
@konne sorry I won't have any free time to look at this for you.
I haven't made any changes around this. Perhaps you could see if there is a test in the test suite for this scenario, or add one to show it failing?

[2018-10-08 13:12] AnSmol opened #1489 "tracks-release-branches: true does not work without local branch refs"
`tracks-release-branches: true` does not work if release-marked branch has not been forked from remote ref locally.

Example:
![image](https://user-images.githubusercontent.com/5318028/46610838-938bd780-cb14-11e8-8fb4-b0cfe92da76b.png)

<details>
  <summary>GitVersion branches config</summary>

[code]
</details>

BTW, уou can't find this issue if you do  `git clone --mirror`

GitVersion version: 4

[2018-10-09 14:30] vyruz1986 commented on #1367
Hi @RobSmyth , I'm in a similar situation like yourself, needing to have builds labeled with the SemVer+BuildCounter metadata.

I've been looking into this, and found that with the current way GitVersion is coded, it is not easily done. You can see [TeamCity.cs on line 58](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/BuildServers/TeamCity.cs#L58) is using the `FullSemVer`

[2018-10-10 11:43] jbaehr commented on #1466
@dazinator Any chance of taking care of the PR? (and #1465, too)

[2018-10-10 21:37] dazinator commented on #1445
I have noticed the current build errors at docker step, but appveyor reports success: https://ci.appveyor.com/project/GitTools/gitversion/builds/19415100
Perhaps @arturic 's changes will make the docker publish a little more robust (haven't checked)

[2018-10-10 21:39] asbjornu commented on #1445
#1485 is merged, so that should at least give us a better basis for further improvements.

[2018-10-10 21:47] dazinator commented on #1445
Excellent stuff.
I just wanted to check, now that @arturcic  has completed the build script changes to publish all the things everywhere :-) - one other thing was that GitVersion be configured to produce our build numbers correctly - i.e I think the idea was that all commits produce an unstable version number (increasing in sem ver with each commit as we deploy assets to CI feeds) until we tag wit

[2018-10-10 21:49] asbjornu commented on #1445
I haven't verified whether this is the behaviour we now have after merging #1485, but I'll have a look when time allows.

[2018-10-10 21:59] #1466 closed

[2018-10-10 22:02] dazinator commented on #1466
@jbaehr  PR merged, sorry for the delay, and thank you for the contribution!

[2018-10-10 22:02] dazinator commented on #1466
Will have a look next at #1465

[2018-10-10 22:28] #1465 closed

[2018-10-10 22:31] dazinator commented on #1477
Odd. I have used gitversion with appveyor in various projects and not needed any additional git checkout commands.

For example, I use it here in DotNet.Glob: https://ci.appveyor.com/project/dazinator/dotnet-glob/branch/master

[2018-10-10 22:34] dazinator commented on #1465
thanks for reporting and for the PR.

[2018-10-10 22:41] dazinator commented on #1473
For running on net.core 2.1.0 I believe you are waiting for us to merge https://github.com/GitTools/GitVersion/pull/1422

The current dotnet core support only extends to .net core 2.0.

[2018-10-10 23:52] santiagovm commented on #887
#1452 seems related to this

[2018-10-11 07:47] arturcic commented on #1445
@dazinator at the moment we have this https://github.com/GitTools/GitVersion/blob/master/run.cake#L471 for each Publish tasks.

This is the way the scripts knows it's a stable or pre-release https://github.com/GitTools/GitVersion/blob/master/build/parameters.cake#L41

That was based on this feedback https://github.com/GitTools/GitVersion/pull/1485#issuecomment-425861255.

So basically the Publish

[2018-10-11 09:05] urig commented on #887
As the OP, I concur. I think we can close this Issue in favor of https://github.com/GitTools/GitVersion/pull/1405 .

[2018-10-11 09:08] pmiossec commented on #887
don't close the issue until it's merged... otherwise other people will think it's solved...

[2018-10-11 09:27] hienng opened #1490 "[BuildServer: Jenkins] ref 'refs/remotes/origin/*' doesn't match the destination"
When finishing a feature and merging it back to develop. GitVersion always creates the local branch from remote-tracking as part of normalizing the git directory. After that the destination doesn't match with develop anymore. I suspect that, when creating the local branch it also gets checked out.

GitVersion is integrated in my Cake script (v3.6.5). Also have tried 4.0.0-beta0014.

Using GitVersi

[2018-10-11 11:54] arturcic commented on #1445
It failed because building docker images for windows takes time and sometimes and appveyor fails. I'll need to investigate if possible to use the cached base images from AppVeyor itself.

Re:

I noticed that as well. Seems like the AppVeyor is not correctly handling the exit code from powershell, I'll have a look at that as well.

[2018-10-11 13:42] #887 closed

[2018-10-11 14:45] asbjornu commented on #1445
I had a quick look at NuGet and the latest version there is still 4 beta 12 from 2017, so something is still not working quite as intended.

[2018-10-11 15:45] arturcic commented on #1445
I have disabled the publishing to nuget and chocolatey till we figure out when to publish there. So we should agree on criterias for publishing based on this:

`public bool IsStableRelease() => !IsLocalBuild && IsMainRepo && IsMainBranch && !IsPullRequest && IsTagged;
    public bool IsPreRelease()    => !IsLocalBuild && IsMainRepo && IsMainBranch && !IsPullRequest && !IsTagged;`

For stable relea

[2018-10-11 16:30] asbjornu commented on #1445
@arturcic: Aha, I see. I would prefer if pre-release packages were instantly published to all platforms that support it.

[2018-10-11 16:33] arturcic commented on #1445
@dazinator what do you think about that?

[2018-10-11 16:33] acgritt opened #1491 "Referencing GitVersionTask in a project in VSCode breaks OmniSharp"
When referencing GitVersionTask from a PR build (PR 1485 for example) that includes the newer UtilPack (2.7.0) the build issues are clean as there are no more warnings, but when editing the code in Visual Studio Code, it causes OmniSharp to crash with the error `Exception in initialization: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.0.0.0, Culture=n

[2018-10-11 18:29] arturcic commented on #1445
ok then, I'll keep the current criteria, except I'll remove the parameters.EnabledPullRequestPublish as I used that while testing the PR

[2018-10-11 21:33] arturcic commented on #1445
I have fixed the versioning for the build artifacts and now they are published to
- [nuget.org](https://www.nuget.org/profiles/gittools) - some of them already indexed

1. [GitVersionCore](https://www.nuget.org/packages/GitVersionCore/4.0.0-beta0015-1644)
2. [GitVersion.CommandLine.DotNetCore](https://www.nuget.org/packages/GitVersion.CommandLine.DotNetCore/4.0.0-beta0015-1644)
3. [GitVersion.Comm

[2018-10-11 21:42] asbjornu commented on #1445
@arturcic: Sorry, but I should probably have discovered this earlier; I now see that some of the new packages have been suffixed with `Core`. Is this due to the new version not being backwards compatible? Can't that just be indicated with a new major version number instead? Or is there other reasons why the package name needs to change?

[2018-10-11 21:44] arturcic commented on #1445
That was the names before I started building the new scripts, so I guess @dazinator has more details on that.

[2018-10-11 21:58] asbjornu commented on #1445
I see. That makes sense. I just checked the [GitVersion package on NuGet](https://www.nuget.org/packages/GitVersion) and it's still stuck on v4b12, so I thought it was abandoned by these changes. However, v4b12 is from May 17th 2017, so its abandonment is due to something else, probably. I can't remember what.

[2018-10-11 21:59] asbjornu commented on #1445
The version number of the new packages is `4.0.0-beta0015-1644`. What's the `-1644` in there? Is it needed?

[2018-10-11 22:07] dazinator commented on #1445
@arturic that's awesome!
Does this include the final piece of ensuring GitVersion produces unstable versions for all non tagged commits?
If so I think that was everything this issue was tracking (aside from the vsts token you mentioned - which we could plug in at a later date whenever we get it)

[2018-10-11 22:14] dazinator commented on #1445
@asbjornu
I witnessed something about changing gitversion package name for the library to be gitversioncore - so thats probs why, that one has indeed changed: https://www.nuget.org/packages/GitVersionCore/4.0.0-beta0015-1644

I dont recall who did it, think the reasoning was to have the name Gitversion relate to the .exe and GitVersionCore makes it a little more obvious its the core library not an

[2018-10-11 22:17] asbjornu commented on #1445
@dazinator, that sounds reasonable. I might even have been involved in the decision, for all I know. My memory is not my strongest asset. 😅

[2018-10-12 01:13] kll commented on #1445
Using these changes pulled into my feature/netstandard2 build  results in the following failure.

[code]

Just an FYI since I assume it will only come into play on long feature branch type names that I assume won't get pushed to chocolatey anyway. It makes it annoying to try to verify everything builds correctly when working in feature branches though. :)

[2018-10-12 06:15] arturcic commented on #1445
@dazinator  I agree. We can move the vsts to a different issue.

Have a question now, how should the stable version number look like?

Is it going to be 4.0.0? Or it is stil a beta?

[2018-10-12 06:19] arturcic commented on #1445
https://github.com/GitTools/GitVersion/blob/master/build/version.cake#L17 this is where the version is set, it uses CommitsSinceVersionSource. I guess I could change that to `+`, just need that added to the version number so that we can have pre-releases on every commit to master (and they should be different)

[2018-10-12 07:34] asbjornu commented on #1445
@arturcic: I see. Yes, that would be good. As per [SemVer](https://semver.org/#spec-item-10):

[2018-10-12 07:39] arturcic commented on #1445
@asbjornu, Thanks for the link, I'll update the scripts.

[2018-10-12 07:41] arturcic commented on #1445
@dazinator, @asbjornu, @JakeGinnivan , @gep13 need your feedback on this:

Is it going to be 4.0.0? Or it is still a beta?

[2018-10-12 07:51] dazinator commented on #1445
I reckon we should release 4.0.0, followed by a 4.1.0 shortly after for that netstandard baseline increment. The last stable release was major version 3, so this is already going to be a major version bump. We can then fix any critical issues of `4.1.0` as patches i.e 4.1.1, 4.1.2 etc if necessary.

[2018-10-12 07:59] arturcic commented on #1445
That was also my assumption, I'll have to check how the scripts generate version for this, for all artifacts

[2018-10-12 08:13] arturcic commented on #1445
@asbjornu  this is the reason I changed `+` with `.`

![image](https://user-images.githubusercontent.com/1760506/46856678-c208fb80-ce0f-11e8-9a6f-4267f66f9552.png)

[2018-10-12 11:47] arturcic commented on #1445
@ajbjornu , I kept the format for pre-release version like this as 4.0.0-beta0015-1644 as chocolatey and rubygem does not support the `+` and nuget is showing warnings.

[2018-10-12 11:52] arturcic commented on #1445
@dazinator @gep13 @asbjornu @JakeGinnivan . I have updated the scripts to support the stable release as well as pre-release (there were some issues with the versioning format). I guess we should close this issue as @dazinator suggested and open a new issue for the VSTS publishing.

As for this issue, we should just tag the master branch with 4.0.0 and run a new build. Any other suggestions?

[2018-10-12 11:54] arturcic opened #1492 "Fix VSTS publishing"
All the other platforms already support publishing of the artifacts. We need a PAT token to be able to piblish to vsts as well. Adding this issue to track the progress on VSTS publishing
Related to #1445

[2018-10-12 12:08] dazinator commented on #1445
@arturcic agreed. Let's tag first, and check the stable channels. I'll leave this issue open until we have verified everything goes to stable channels as 4.0.0!

[2018-10-12 12:11] dazinator commented on #1445
Actually.. just looking at releases:

https://github.com/GitTools/GitVersion/releases

It seems histroically, releases have been created in Github as "draft" - I believe this creates a tag no?
Against the draft release is the opportunity to put release notes etc.

Do we want the ability to create a draft release first, do the release notes, but then only push the actual assets to the stable channe

[2018-10-12 12:30] arturcic commented on #1445
Does this mean it's a 2-step release process? Does this mean when you we "release" from GitHub we should somehow trigger a publish to all channels? I guess that was the way it worked before. That's why we had a build.cake and a deploy.cake scripts.

I think when we have a stable release we should create a Github release as well, as part of the build, similar with what I saw in the https://github.c

[2018-10-12 12:52] asbjornu commented on #1445
Yep! 👍

That's what I would like. A `git tag` should be enough to get 99% there. It's more important to get new releases out the door easily than them being with perfect release documentation.

If we can get the GitHub release draft to include automatically created release documentation with [GitReleaseManager](https://github.com/GitTools/GitReleaseManager), [GitReleaseNotes](https://github.com/Gi

[2018-10-12 12:56] dazinator commented on #1445
I concur. We can always add the auto creation of a github release (in draft status, with generated release notes) at a later stage too, rather than conflate this any further, We can create a seperate issue for that addition.

Ok then so for now, let's just tag, check the stable build and deployment channels work, then we can manually create a github release for now. I don't envy the person who has

[2018-10-12 12:56] arturcic commented on #1445
So I suggest we open an issue related to GitHub release/release notes, so that we are able to release this version and unblock the release process. Creating a Github release from script will be next step to improve the build pipeline. As for now, for stable releases the build script creates the release notes and upload to AppVeyor, so we could manually create the release notes on Github till we ha

[2018-10-12 13:01] dazinator commented on #1445
Release created: https://github.com/GitTools/GitVersion/releases/tag/v4.0.0

I was curious to know if the act of publishing a tag would automatically trigger a build. Checked AppVeyor and it currently shows a build pending form 2 hours ago: https://ci.appveyor.com/project/GitTools/gitversion/history

Makes me think something maybe broken on AppVeyor as surely builds shouldn't queue for that long?

[2018-10-12 13:04] arturcic commented on #1445
Actually it was 2 hours ago when I pushed the latest changes. The build is working fine now

[2018-10-12 13:06] dazinator commented on #1445
@arturcic watching it in anticipation! :-)

[2018-10-12 13:14] dazinator opened #1493 "Create Github Release with ReleaseNotes.md"
We should look to automatically create a GitHub release, with generate ReleaseNotes.md file using GitReleaseNotes or similar tool, as part of the build.

I know we would want this for stable builds.
For pre-release builds, it's unclear whether we need this or not. Perhaps there would be no harm to also create pre-releases on GitHub in the same way.

The concencus as per #1445 was to trigger the ne

[2018-10-12 13:48] arturcic commented on #1445
Looks like all supported channels have been updated.

For chocolatey we'll have to fix the requirements for approval https://chocolatey.org/packages/GitVersion.Portable/4.0.0

[2018-10-12 13:49] asbjornu commented on #1445
Ok, so neither Chocolatey nor RubyGems supports SemVer 2.0, then. That's a shame.

[2018-10-12 13:50] arturcic commented on #1445
and nuget clients < 4.3 I think

[2018-10-12 13:53] asbjornu commented on #1445
OK.

How do we fix this? I've got the Chocolatey credentials, but I can't find anywhere to adjust this in ther interface. If I try to "Edit Package", I'm only presented with this error message:

[2018-10-12 13:55] arturcic commented on #1445
I could run manually the pack for chocolatey and push it from local as I have the API key.

[2018-10-12 14:11] asbjornu commented on #1445
So you can fix the approval requirements locally and push them somehow? Or did you have something else in mind?

[2018-10-12 14:13] arturcic commented on #1445
That's exactly what I mean

[2018-10-12 14:17] asbjornu commented on #1445
![Do it](https://media.giphy.com/media/wi8Ez1mwRcKGI/giphy.gif)

[2018-10-12 14:22] arturcic commented on #1445
I haved pushed the nuget package with the missing files - VERIFICATION.txt and LICENSE.txt. Waiting for moderation

[2018-10-12 15:17] arturcic commented on #1445
Looks like the chocolatey was approved.
Hooray!! We have version 4.0.0 published to all supported channels, except Vsts

[2018-10-12 15:21] jmezach commented on #1445
What would need to happen in order to push this to VSTS?

Op vr 12 okt. 2018 17:17 schreef Artur <notifications@github.com>:

[2018-10-12 15:28] arturcic commented on #1445
Actually we can manually update to latest as we already have an issue registered for build script cats publish

[2018-10-12 16:02] dazinator commented on #1445
@arturcic excellent news. I'll close this, and we can track VSTS under the issue you created :-)
Thank you!

[2018-10-12 16:02] #1445 closed

[2018-10-12 16:13] acgritt commented on #1491
For completeness I have updated to use the V4.0.0 release and here is the log file.  Same error is occurring though.
[OmniSharp-v4.0.0.log](https://github.com/GitTools/GitVersion/files/2473804/OmniSharp-v4.0.0.log)

[2018-10-12 16:56] arturcic commented on #1445
@jmezach I haved updated to latest version on VSTS

[2018-10-12 17:53] konne commented on #1481
If missunderstod the config but the issue #1468 describes perfect my issue with the newest nugets of gitversiontask. I will close this issue here.

[2018-10-12 17:53] #1481 closed

[2018-10-12 17:57] konne commented on #1468
@kierenj I have the same issue. We use dependabot and now I get strange version numbers.
So the new version of gitversiontask use this for example this number:
Merge message 'Merge pull request #11 from q2g/dependabot/nuget/src/development/NLog-4.5.10

@dazinator this doesn't help: commit-message-incrementing: Disabled
to add for each PR from dependabot and ignore SHA is not an solution
I think we

[2018-10-12 18:01] konne commented on #1463
Sorry, my issue was wrong the right should be #1468
@david-driscoll please close this issue if you think the same so that we can follow this in this issue

[2018-10-13 05:40] arturcic commented on #1447
@RouR could you have a look at the new docker images? you can find them here https://hub.docker.com/r/gittools/gitversion-dotnetcore/tags/

[2018-10-13 13:33] RouR commented on #1447
I don`t know how to use it directly in my project.
I use "nuke-build", which have dependency to "gitversion".

This [script](https://github.com/RouR/ToDo-ToBuy/blob/dev/.travis.yml#L39) will call [gitversion](https://github.com/RouR/ToDo-ToBuy/blob/dev/build/Versioning.cs#L36) and it will throw this [error](https://travis-ci.org/RouR/ToDo-ToBuy/jobs/440998797#L862) (See [initial issue](https://git

[2018-10-13 13:43] arturcic commented on #1447
I seems the nuke-build you're using depends on a version of GitVersion that runs on mono only https://github.com/nuke-build/nuke/blob/develop/source/Nuke.GlobalTool/templates/_build.sdk.csproj#L15. There is a PR in progress that adds support for .net core sdk 2.1 and global tools

[2018-10-13 15:33] snovak7 commented on #1469
Well I just used whats in the NETDESKTOP and it worked. You should add NETSTANDARD option there aswell. And here's the patch.
[patch_1469.txt](https://github.com/GitTools/GitVersion/files/2475591/patch_1469.txt)

[2018-10-14 17:57] jmezach opened #1496 "GitVersion 4.0.0 fails on VSTS"
Now that the 4.0.0 version of GitVersion has been published to the Marketplace I've been trying to use it in my projects, but unfortunately I'm getting an error when using the 4.0 version of the build task:

[code]

This looks like a packaging issue with the VSTS extension. Looks like the build task is written in TypeScript, so I'm guessing that the TypeScript wasn't transpiled to JavaScript at th

[2018-10-14 19:06] arturcic commented on #1496
Actually the GitVersion.js is there, I guess the task is not looking at the correct location
![image](https://user-images.githubusercontent.com/1760506/46920899-6734f700-cffd-11e8-810f-c88ba236b308.png)

[2018-10-14 19:54] jmezach commented on #1496
Hmm, looking at the [task.json](https://github.com/GitTools/GitVersion/blob/de31bd5dae0feefaa9b5ed819c1f4208dd38a342/src/GitVersionTfsTask/GitVersionTask/task.json#L71) it's looking for the GitVersion.js in the root, but looking at the screenshot it is inside of a scripts folder. So I guess the task.json should be modified to match the actual path of the GitVersion.js.

[2018-10-14 20:41] yohanb commented on #1496
Same error on an Ubuntu VSTS build agent.
![screen shot 2018-10-14 at 4 34 40 pm](https://user-images.githubusercontent.com/812993/46921888-160e0e80-cfcf-11e8-9ffa-86efb7eb6cdd.png)
It's a private agent so I was able to look into the task folder's content:
![image](https://user-images.githubusercontent.com/812993/46921936-e6abd180-cfcf-11e8-865a-da2535200000.png)
no scripts folder, no transpiled `

[2018-10-15 06:34] jmezach commented on #1496
@arturcic I just tried it, but I'm still getting the same error. Since the error also contains the version number, which is still 4.0.0, I'm wondering if the version number on the task has been updated. If not I believe that VSTS will still use the old version (due to caching).

[2018-10-15 06:41] arturcic commented on #1496
Ok then, I'll update that as well

[2018-10-15 07:00] arturcic commented on #1496
@jmezach Updated, moved the files to the same location as task.json, can you try the new  version?

[2018-10-15 07:04] jmezach commented on #1496
Okay, it picked up the new version of the task now, but now I'm getting a different error:

[code]

Are the node_modules part of the VSIX?

[2018-10-15 07:09] arturcic commented on #1496
looks like we need to include the node_modules as well

[2018-10-15 07:27] arturcic commented on #1496
For unix you need mono installed

[2018-10-15 07:28] arturcic commented on #1496
I'll create a PR for this issue with the changes I've done so far, and I'll close the issue.

[2018-10-15 07:28] jmezach commented on #1496
Sounds good. I'll file another issue for the macOS and Linux failures.

[2018-10-15 07:29] arturcic commented on #1496
@yohanb , can you check the new version on your agent, I guess you have mono installed there.

[2018-10-15 07:31] jmezach opened #1497 "GitVersion on VSTS fails with hosted macOS and Linux agents"
Since version 4.0.0 of GitVersion it seems to be supported to use the GitVersion build task in VSTS on a macOS and/or Linux agent. I've been trying this, but I'm getting the following error:

[code]

On Windows this works just fine. I looks like there's a native assembly missing somewhere. Perhaps that's an issue with the bundling of the VSTS extension, or maybe something needs to be installed on

[2018-10-15 07:58] #1496 closed

[2018-10-15 08:57] arturcic commented on #1497
can you have a look at this? https://github.com/GitTools/GitVersion/blob/master/src/Docker/linux/fullfx/Dockerfile#L5. Looks like you need you install that

[2018-10-15 09:30] arturcic commented on #1497
Actually it is included, there is a lib folder there and it should use that one, but does not seem to work

[2018-10-15 10:01] jmezach commented on #1497
Ah, I see it is included in the VSIX indeed, including a version for each platform. But I guess that GitVersion.exe is unable to locate that library at runtime. That begs the question why it works on Windows though. Perhaps the Windows agents have this library installed on the system somewhere? The question is, can we make GitVersion.exe look inside the lib folder.

[2018-10-15 11:03] arturcic commented on #1497
I think it's not related to GitVersion but with the way libgit2sharp loads the native methods https://github.com/libgit2/libgit2sharp/issues/1583

[2018-10-15 12:15] jmezach commented on #1497
Okay, so it looks like we have 2 options: update libgit2sharp to it's latest version (it seems that GitVersion is using a preview version at the moment?), or move the native libraries next to GitVersion.exe, but then we would probably need to have a different folder structure inside of the build task entirely.

[2018-10-15 13:28] yohanb commented on #1496
@arturcic why is mono required if it's compiled as .NET Core?

[2018-10-15 13:32] arturcic commented on #1496
The version that is used in the VSTS package is a .NET Framework package - il-merged. That was the way it was packaged before v.4.0.0, and I did not changed that, so it's still running with mono. Probably we might consider using the .NET core version, but that will add a dependency on .net core to be installed, now it's on mono

[2018-10-15 13:36] claudiuconstantin commented on #1496
When will this be released?

[2018-10-15 13:38] arturcic commented on #1496
a PR for this change is welcomed.

[2018-10-15 14:18] jmezach commented on #1496
Perhaps this is also the reason for #1497. I guess taking a dependency on .NET Core isn't that weird, since the hosted agents on VSTS (including Windows, macOS and Linux) all have .NET Core SDK's installed.

[2018-10-15 17:13] kll commented on #1497
Unfortunately GitVersion is extremely fragile due to LibGit2Sharp requiring native binaries for LibGit2 which in turn require correct versions of libssl and libcurl and vary from one distribution to the next. It might get better soon if the LibGit2Sharp developers proceed with this [PR](https://github.com/libgit2/libgit2sharp.nativebinaries/pull/77) which will remove the libssl and libcurl require

[2018-10-15 20:06] yohanb commented on #1497
FYI, I created a PR for a .NET Core build task:
https://github.com/GitTools/GitVersion/pull/1499

[2018-10-15 20:07] yohanb commented on #1496
FYI https://github.com/GitTools/GitVersion/pull/1499

[2018-10-16 03:45] theschnarr opened #1500 "How to Ignore a Project Number in the Repo/Branch Name?"
We have a project numbering system that was used when creating the repo name:
i.e. 1507.03-MY-PROJECT
We're attempting to add GitVersion into our CI process to automate versioning.
Currently, GitVersion says the version is v1507.04.0...
If we pushed a release tag for the master branch, which properly set it to 1.9.0, but any changes since that commit have yielded the v1507.04.0.  Is there any conf

[2018-10-16 07:01] lorisp1 opened #1501 "Cannot get version of a tagged detached head"
Hi, I'm new to Gitversion, and I'm doing some experiments to understand how to possibly use it within my company.
I have a POC git repository, using GitFlow. This repository has some branches and some tags:
![image](https://user-images.githubusercontent.com/29434680/46998047-baa06580-d121-11e8-97ab-70cae6230bfe.png)
While checking out tag 0.1.1 and running gitversion command line produced the expe

[2018-10-16 10:59] uwiedemann commented on #1497
Under macOS (10.14), I got the command line call running from Terminal by setting the environment variable DYLD_LIBRARY_PATH to the absolute path of _work/_tasks/GitVersion_*/4.0.3/lib/osx.

As said earlier in this thread by others, I also suspect that GitVersion.exe is not able to find libgit2-*.dylib inside its own subdirectory.

According to otool -L all dependencies of libgit2 are met, e.g. li

[2018-10-16 11:03] arturcic commented on #1497
As a workaround you can use these https://github.com/libgit2/libgit2sharp/issues/1583#issuecomment-411997188

[2018-10-16 14:40] snovak7 commented on #1469
@dazinator or should I prepare PR?

[2018-10-16 14:41] arturcic commented on #1469
it's up for grabs, feel free to prepare a PR

[2018-10-17 07:50] jbaehr commented on #1406
@timoch please try again with the latest version. The feature was merged *after* 4.0.0-beta0013 and, AFAIK *not* back-ported to the v3 line.

[2018-10-17 08:12] jbaehr commented on #1426
There is #1385 available as solution right now, and an even better solution already implemented but not yet merged in #1433.

[2018-10-17 09:05] Choc13 opened #1503 "MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.1) and the NuGet version the task factory was compiled against (4.8.0). There might occur some exotic errors."
Hi,

I have just updated a .NET Core project to Gitversion.Task 4.0.0. It seems to be working fine and it's nice to see this now working with the .NET Core SDK enabling us to call `dotnet build` and have versioning work. Great job!

However, there are some warnings generated by the tool. Namely:

[code]

This is only a warning and doesn't cause the build to fail and as far as I can tell there are

[2018-10-17 15:50] Caleb9 opened #1504 "Pre-release on support branches"
Hi. GitVersion is awesome! :)

One question I have is related to calculating a version number on `support/` branches. These branches are basically used for both development and releasing. Let's say I have my last release from `support/4.2.x` tagged as 'v4.2.0'. Is it possible to generate `SemVer` for all the commits after the tagged one as `4.2.1-alpha.<X>` where the X stands for number of commits

[2018-10-18 00:25] dgrant opened #1505 "No 4.0.0 zip file anywhere?"
I'm expecting a link like: https://github.com/GitTools/GitVersion/releases/download/v4.0.0/GitVersion_4.0.0.zip
to exist.

and not seeing any of the usual assets here either: https://github.com/GitTools/GitVersion/releases/tag/v4.0.0

[2018-10-18 07:05] arturcic commented on #1505
I have uploaded the artifacts.

[2018-10-18 07:05] #1505 closed

[2018-10-18 07:45] jbaehr commented on #1450
I think what you want is https://gitversion.readthedocs.io/en/latest/reference/continuous-deployment/

[2018-10-18 08:01] jbaehr commented on #1500
At a first glance this sounds related to the regex used to dissect the branch name. See #1410 (different context, but maybe somewhat related regarding the root cause)

[2018-10-18 09:14] PKarasinski-Configit commented on #1500
We have a similar problem. If a branch is named `feature/AA-42.2` then GitVersion produces version number 42.2.0. I get that this is desirable for release branches, but I'd like to know if there is a way to disable it everywhere else (or at least for feature and bugfix branches). And how to do that? Thanks.

[2018-10-18 11:16] dazinator commented on #1469
Nice one @snovak7

[2018-10-18 15:53] ermshiperete opened #1506 "GitVersion 4.0.0 missing at nuget.org"
It's great to finally see the 4.0.0 release. :1st_place_medal:

Could this pleeeease be uploaded to nuget.org? Thanks!

[2018-10-18 15:55] ermshiperete commented on #1506
Oops, sorry, I looked at GitVersion package at nuget.org which is missing (and probably not needed). GitVersionTask is there.

[2018-10-18 20:39] gep13 commented on #1506
@arturcic can you comment on this?  Is this expected?

If so, should we unlist the previous versions of this package?

[2018-10-18 21:01] gep13 commented on #1447
@arturcic Regarding the Global Tool, I noticed this on NuGet.org:

https://www.nuget.org/packages/dotnet-gitversion/

Is that going to cause a problem?  Or what were you thinking about naming the package?

[2018-10-19 00:33] duaneellissd opened #1508 "GitVersion on Ubuntu 18 64 with LibCurl 4"
Not sure where the problem is - if it is GitVersion, or stuff in Mono, or LibCurl that is the problem.

If anything, I think LIBCURL is most likely the problem.

# Steps to reproduce:

**a) MACHINE**

Ubuntu 18 - 64bit clean machine
`sudo apt-get install mono-complete`
Download your V4.0.0 Release package zip file.
(you may have some other things installed via apt-get)

**b) install libcurl4**

`a

[2018-10-19 06:34] arturcic commented on #1506
Hi there, looks like that was the way before I have re-written the scripts. The package name has changed between beta 13 and beta 14 and here is the commit that did that https://github.com/GitTools/GitVersion/commit/0bf5d63a4f027038534eb89e244025c062546362#diff-4d3634747586b964df9f7712bc3ec669, look at the commit message

[2018-10-19 06:42] arturcic commented on #1447
Btw related to that, probably we should consider reviewing the nuget packages IDs by making them shorter and add the GitTools as prefix to avoid confusions with other packages on nuget.org? As far as I can see this is not a global tool, meaning it will not cause issues when running the global tool

[2018-10-19 06:43] arturcic commented on #1447
probably we need to open an issue regarding the package IDs, and have the discussion there

[2018-10-19 07:01] arturcic commented on #1473
@gerwim can you validate this agains the latest v.4.0.0 version and close the issue ? Thanks

[2018-10-19 07:28] arturcic commented on #1506
I think yes

[2018-10-19 07:43] gep13 commented on #1447
probably we need to open an issue regarding the package IDs, and have the discussion there

Sounds like a good idea to me.

[2018-10-19 07:45] gep13 commented on #1506
@arturcic ok, let's wait until we get a consensus, and then we can do that work.

Do we have a "list" somewhere, of all the package ID's that we are currently publishing?  Other then looking at the build script?

[2018-10-19 07:55] arturcic opened #1509 "GitVersion package IDs review"
As we have already published the v.4.0.0 version on all distribution channels it appears there are some confusions related to which package to use. There are some packages that have gitversion in name and also confuse the consumers.

So I would suggest to review the package ID-s and their purpose, and the ones that are already public to mark as obsolete and point to the new IDs.

Current status:
W

[2018-10-19 08:06] arturcic commented on #1509
I'll propose to have these ID changes:
| Old ID                                   	|       	| New ID                           	|
|------------------------------------------	|-------	|----------------------------------	|
| `GitVersionCore`                         	| -&gt; 	| `GitTools.GitVersion.Core`       	|
| `GitVersion.CommandLine`                 	| -&gt; 	| `GitTools.GitVersion`

[2018-10-19 08:09] gep13 commented on #1509
For what it's worth, I think that this is a good idea.

[2018-10-19 08:28] asbjornu commented on #1509
I would love a change like this, especially if it was also reflected in the source code.

[2018-10-19 08:45] gep13 commented on #1509
In my mind, the `GitTools` prefix provides the "link" back to this GitHub Organisation.  We have done this recently with Cake.  The main Cake package is just called Cake, but everything else is prefixed with Cake.  It also opens up the open of reserving this prefix on NuGet.org if we choose to go down that route as well.

[2018-10-19 10:10] asbjornu commented on #1509
Yes, I'm not against it. For Cake it's easy since Cake is the product. As `GitTools` is not a product, it's a bit less obvious what the right choice is, I think.

[2018-10-19 10:45] gep13 commented on #1509
Hmm, good point.  Will have a think about this...

[2018-10-21 07:06] JeremyCade opened #1510 "GitVersion.CommandLine.DotNetCore 4.0.0 borks on Ubuntu 18.04 with DllNotFoundException"
[code]

# DotNet Core Runtimes / SDKs
[code]

[2018-10-21 09:17] gep13 commented on #1510
Currently, LibGit2Sharp doesn’t work/support Ubuntu 18.04.  There is an open PR for it though:

https://github.com/libgit2/libgit2sharp.nativebinaries/pull/74

[2018-10-21 16:12] gep13 opened #1511 "Reduce native binary dependencies"
@GitTools/developers what are your thoughts on taking this for a spin:

https://github.com/libgit2/libgit2sharp/pull/1618

It would reduce the native dependencies that we currently have, but off the top of my head, I am not sure whether it would "work" for us.

Not in a position to take this for a spin just now, but I thought I would bring it up when it found out about it.

[2018-10-22 08:21] asbjornu commented on #1511
Interesting. If @libgit2 produce a package for it, we can add it and run the tests. As long as all the tests are green, I would give this a huge 👍.

[2018-10-22 08:21] asbjornu commented on #1511
Interesting. If @libgit2 produce a package for it, we can add it and run the tests. As long as all the tests are green, I would give this a huge 👍.

[2018-10-22 08:51] pascalberger commented on #1511
Definitely interesting once available. But probably needs some time until it is available and stable enough for using in GitVersion

[2018-10-22 09:40] gianluco opened #1512 "GitVersion 4.0.0 fails when Registry Key EnableOutOfProcBuild is set"
Hi,

We are using GitVersion 4.0.0 in our CI Jenkins environment, where we build our VS 2017 solution using devenv.com from command line in order to build all our projects including installers.

For the installers to be built we have defined the registry key EnableOutProcBuild:
(https://github.com/it3xl/MSBuild-DevEnv-Build-Server-Workarounds/issues/1)
(https://www.kunal-chowdhury.com/2016/07/visu

[2018-10-23 00:10] JakeGinnivan commented on #1511
GitVersion is already super chatty to git and this would likely slow things down heaps? I think we probably need to move to the in memory model first.

[2018-10-23 08:00] gerwim commented on #1473
@arturcic I've installed GitVersionTask 4.0.0 and tried the build the project inside the microsoft/dotnet:2.1-sdk docker image, but still same error. I also tried to install `libgit2-dev` without symlinking the libraries, but to no avail:

[code]

[2018-10-23 08:41] dazinator commented on #1473
As above, I think you need the .net core 2.1 support which is in #1422 and not yet merged..

[2018-10-23 09:56] gerwim commented on #1473
@dazinator Yeah, that's what I thought however Artur explicitly asked me to redo the test with the 2.1 version. Either way, let's wait until the PR is merged. ;-)

[2018-10-23 09:58] arturcic commented on #1473
I did that because the docker images that we currently have for version 4.0.0 are using microsoft/dotnet:2.1-runtime and they do work.

[2018-10-23 10:04] jogibear9988 commented on #1398
it is released

[2018-10-23 10:04] #1398 closed

[2018-10-23 15:15] LubosSykora opened #1514 "First tag found is skipped"
Hi Guys,

we have following setup - master and release/1.0 branches. Expectation is that both produce "stable" versions so there're no prerelease tags. The history is like this: we had master, tagged with 1.0 and producing 1.0.1, 1.0.2 versions. Then we created the branch release/1.0 and tagged master with 2.0. Now release branch produces 1.0.3 and master 2.0.1.
So far so good and we were happy. N

[2018-10-23 17:59] dazinator commented on #1473
@arturcic is it possible the docker images we have currently for 2.1.0 are just calling 'dotnet gitversion` because thats slightly different from calling msbuild within the image to build a csproj file which loads GitVersionTask. As far as I know the PR in question was to enable GitVersionTask to run under 2.1.0 sdk for that second scenario. If things already run on 2.1.0 fine (including gitversio

[2018-10-23 18:03] arturcic commented on #1473
you're absolutely right

[2018-10-23 18:10] dazinator commented on #1473
We should probably rename that PR to make it super clear that its a gitversiontask thing. GitVersion itself already runs on 2.1.0 as you have said!

[2018-10-24 16:04] dazinator commented on #1473
@j2ghz I assume if you try that on a `2.0.0` sdk it works? It sounds like you are also waiting for this PR to allow GitVersionTask to execute on >= 2.1.0 (simultaneously deprecating support for sdk 1.1.0)

[2018-10-24 17:09] j2ghz commented on #1473
I guess so. I used the fix from the first post, which helped. In the end I turned gitversion off in docker builds, since I get `Could not determine assembly version: System.InvalidOperationException: Could not find a 'develop' or 'master' branch, neither locally nor remotely.`, even after unshallow. Since it works at Appveyor and Travis, just not at Docker Hub, I think I'll just move the build to

[2018-10-24 18:38] hellfirehd commented on #1503
I'm getting the exact same warning with v4.0.1-beta1-26.  Here is my `dotnet --info` if it helps:

[code]

[2018-10-25 10:52] TangoMikeOscar commented on #1464
Hi just to voice my support for this, we are changing our build process over to be fully dotnet core compatible so we can build on linux and gitversion is our final hurdle with downloading tools via the `dotnet tool install` command line.

In regards to naming we currently use `FAKE` and `Octopus Deploy Tools` which have the package naming `fake-cli` and `Octopus.DotNet.Cli` respectively, so maybe

[2018-10-25 15:18] MiroKov opened #1515 "Can not get mainline - at least one tag required in code"
Does GitVersionTask support .NET3.5 libraries?
I did the same procedure as with the standard libraries,
but when I copied the GitVersion.yaml file, it continued  to increment just the metadata.

Expected behaviour:  **should increment the patch** value.

[2018-10-25 17:18] SamMackrill opened #1516 "Creating a bugfix/ branch configuration which increments patch"
I am trying to write a bugfix branch rule that should take its version from source with patch + 1

everything else is at default

I have a branch off develop called bugfix/versionTesting that GitVersion gives  "SemVer":"1.0.3-versionTesting.85",

The version for develop is: "SemVer":"1.2.0-alpha.64",

So I would expect my bugfix version to be 1.2.1-versionTesting.1

My repro looks like this:

![gi

[2018-10-25 20:07] marcwittke commented on #1500
after migrating to 4.0.0 my version jumped from 1.x somewhat to 20.1.0 Log says:

[code]

how should i ignore such branch names? I only want to rely on tags...

[2018-10-26 11:16] MiroKov commented on #1515
Found where the problem was.
In code, I had no tags. Seems that GitVersion requires at least one tag in Code, in order to do the incrementation.

[2018-10-26 11:17] MiroKov commented on #1515
Feel free to close, if this is a wanted behaviour.

[2018-10-26 12:35] jmzagorski opened #1517 "VSTS GitVersion Task Icon is Missing in build"
First off excellent extension!

Not sure if this had been reported already, or if this is an issue with my azure pipelines, but when trying to add this extension to a new build the icon is missing (see image). My existing builds that use this extension still show the correct icon in the task list. I tried uninstalling and reinstalling the extension, but now all my pipelines that originally had the

[2018-10-26 19:02] sumo300 opened #1518 "Stack overflow due to infinite loop falling back to branch config"
In a repository that only has a master and a release branch, during a pull request build (TFS 2018 Update 2), GitVersion goes into an infinite loop and eventually errors out with a stackoverflow error.

This happens with both 3.6.5 and the latest 4.0.0 version (4.0.1 version of the VSTS task and using the latest version of GitVersion from Chocolatey).

I have attached the GitVersion.yml file and t

[2018-10-26 20:18] DOMZE opened #1519 "Develop minor version is bumped when merging a feature branch with a major version number"
Hello,

I have a question on GitVersion. In the scenario shown in the diagram below, how come the minor version is bumped when the feature branch is merged back into develop?

I would expect the version in develop to stay the same as there's no release branches associated with 2.0.0 and no tags in develop with 2.0.0

![flow](https://user-images.githubusercontent.com/8238156/47590277-d8e43d80-d939-

[2018-10-29 08:57] gep13 commented on #1500
I believe there are a couple open PR's (this being one of them: https://github.com/GitTools/GitVersion/pull/1507#issuecomment-433658348) that will help with this.

In the meantime, you would be able to exclude the commit that this message is included on in order to return to what you had before.

[2018-10-29 08:57] gep13 commented on #1515
@MiroKov I think it is fair to say that this is expected.

[2018-10-29 08:57] #1515 closed

[2018-10-29 08:58] gep13 commented on #1517
@arturcic any ideas on what has happened here?

[2018-10-29 09:03] gep13 commented on #1519
@DOMZE I believe the problem here may be down to the usage of the version number in the feature branch.  Can you try the above again without using `feature/2.0.0`.  Perhaps using something like `feature/add-page` or equivalent.  That does that result in?

[2018-10-29 09:52] PKarasinski-Configit commented on #1500
That's what we're doing now (excluding commits before a specific date) but yeah, this does not protect us from someone creating such branch and suddenly messing up the build version number (gets worse if it gets merged into develop).

Guess there's nothing more to do but wait for the PR to get accepted and a new version of GitVersion coming out.

[2018-10-29 10:10] gep13 commented on #1500
If you are willing, you could take the code from the PR branch and test it out in your scenario to make sure that it is working as expected.

[2018-10-29 12:43] PKarasinski-Configit commented on #1500
Sure. I'll let you know when I have some time to give it a try.

[2018-10-29 13:39] DOMZE commented on #1519
@gep13 The idea behind the flow I mentioned was that I was hoping to increase a major version through a feature branch.

If this is not the intended behavior, do you think the tool should be fixed accordingly?

The idea behind was that I was hoping to update the major version through a feature branch, but I understand that one can do that with a commit message (+semver: major)

[2018-10-31 06:53] arturcic commented on #1517
I'll check that

[2018-10-31 08:57] melcloud opened #1520 "Bug: Branch contains / is not replaced by - in build metadata"
GitVersion version: 4.0, 3.6.4
Problem:
Given a branch name contains `/`, e.g. `hotfixes/build-script`, the build metadata does not convert it to hyphen. This is not a valid semver 2.

[code]

[2018-10-31 09:05] AnSmol opened #1521 "Branch can't inherit parent's branch config right after merged with it."
How to reproduce:
1) Create branch with arbitrary name from master, for instance - JIRATASK01. (branch should not have dedicated config in GitVersion.yml).

2) Add some commits to JIRATASK01, run gitversion. Now version is correct. configuration has inherited from master.
_Version: 2.29.0-jiratask01-0003
diag: [diag_before_merge_with_parent_2.29.0-jiratask01-0003.txt](https://github.com/GitTools/G

[2018-11-01 16:55] ethomson commented on #1511
When you say "super chatty", can you give me more details?  I see that you do a fetch (unless configured not to) but that's just the one call.  I _suspect_ that your fetch will be slower than native code, but if you're only doing the one call, I don't think it will be devastating.  (Local repository access is, of course, unchanged.)

[2018-11-02 12:41] jmezach opened #1522 "Building a fork with Azure Pipelines using GitVersion fails"
We are experiencing an issue in our Azure Pipelines build when building the pull request augurk/Augurk#72 as can been seen [here](https://dev.azure.com/augurk/Augurk/_build/results?buildId=131&view=logs). As you can see this build fails on the GitVersion task, but with a rather cryptic error message:

[code]

To be honest we don't really know if this is an issue with GitVersion, or with Azure Pipe

[2018-11-05 09:06] arturcic commented on #1517
Looks like the task needs an icon as well. We'll wait for #1499 to be merged first.

[2018-11-05 10:32] josesimoes commented on #1501
I believe I'm running into the same problem here. Everything seems to be OK, except when trying to get version on a tag. You can take a look at these build logs from AppVeyor, pretty much the same as the above:
https://ci.appveyor.com/project/nfbot/lib-nanoframework-hardware-stm32/builds/20052090
https://ci.appveyor.com/project/nfbot/lib-nanoframework-hardware-stm32/builds/19947310

[2018-11-06 12:56] LordMike commented on #1503
Bump. Affects us too. :)

[2018-11-07 13:25] WebDucer opened #1523 "Not possible to get version on detached HEAD (GitLab Runner)"
Hello.

We use GitLab CI and GitVersion (within CAKE build). Most of the time it works great. Today we got the following error, that Gitversion can not determine the version.

As I can see, Gitversion has found the branch, that have the detached commit, but not use the information for getting the version.

We use version 3.6.5 of GitVersion at this time.

[code]

[2018-11-08 09:43] alberss opened #1524 "homebrew v4.0.0"
Could you update Homebrew formula with new 4.0.0 version? Thanks!

[2018-11-08 09:44] arturcic commented on #1524
That's on my list, it should be part of the build

[2018-11-08 09:55] alberss commented on #1524
Thanks! @arturcic

[2018-11-08 10:02] LordMike commented on #1503
Still happens on `4.0.1-beta1-29`

[2018-11-08 21:19] DOMZE opened #1525 "Merging from develop to feature branch causes MinorPatch to change"
Starting with a clean master branch with only a GitVersion.yml config file

The following scenario, after merging develop into feature/featureA causes gitversion (in feature/featureA) to display 1.1.1 as MajorMinorPatch. I would expect it to stay at 1.2.0 or move to 1.3.0 _if_ there's a release branch (release/1.2.0) created

Flow:
![bug](https://user-images.githubusercontent.com/8238156/48227098-

[2018-11-08 21:22] DOMZE opened #1526 "CommitsSinceVersionSource goes down when deleting a release branch"
Starting with a clean master branch with only a GitVersion.yml config file

Using the flow described in the following diagram:
![image](https://user-images.githubusercontent.com/8238156/48228094-39c83880-e372-11e8-8779-3b2e4583954a.png)

When deleting the release branch after merging it back to develop causes the CommitsSinceVersionSource to go down from 0006 to 0005

Git commands to reproduce the

[2018-11-09 10:30] arturcic opened #1527 "Azure DevOps add preview extensions"
Azure DevOps add preview extensions to be able to test the previews.

The extensions should be public and marked as preview ([details](https://docs.microsoft.com/en-us/azure/devops/extend/develop/manifest?view=vsts#mark-an-extension-public)). On pre-release builds we generate these preview extensions.

[2018-11-09 10:34] arturcic commented on #1527
More details can be found [here](https://github.com/GitTools/GitVersion/pull/1499#issuecomment-437305535)

[2018-11-09 13:28] sumo300 commented on #1518
This is now failing on a build with the 4.0 version of GitVersion on a _tagged_ build.  This should not happen if I'm interpreting the docs correctly.

[2018-11-09 16:20] sumo300 commented on #1518
Another update.  On the repo we had issues, we did a massive branch clean-up, and this seems to have helped for now.

[2018-11-09 17:49] LordMike commented on #1510
@gep13 the PR mentioned has now merged.

[2018-11-11 18:48] arturcic commented on #1464
Closed by #1528

[2018-11-11 18:48] #1464 closed

[2018-11-12 03:47] HotdogWang opened #1529 "bump-message not working"
Hi,
I'm not sure this is an issue or question?

Here is my gitversion.yml setting.
[code]
Then I print the version before commit.
[code]

Commit message with `+semver: skip`, but the version still increment
[code]

Is this my setting issue or?

[2018-11-12 21:06] PrestonII commented on #1478
try this @alpeshv

https://stackoverflow.com/a/53270015/1732184

[2018-11-13 14:31] LordMike commented on #1503
Still happens in `4.0.1-beta1-38`

[2018-11-13 16:40] DOMZE commented on #1526
@arturcic @asbjornu @dazinator @gep13 @pascalberger any thoughts?

[2018-11-13 16:40] DOMZE commented on #1525
@arturcic @asbjornu @dazinator @gep13 @pascalberger any thoughts?

[2018-11-14 08:50] asbjornu commented on #1525
@DOMZE: How does your `GitVersion.yml` file look like?

[2018-11-14 09:09] dazinator commented on #1503
@adamshergold afaik gitversiontask wont work on sdk >= 2.1.0 yet - there is an ongoing PR that adds support for sdk 2.1.0 and drops support for sdk 1.1.0 as it updates libgit2sharp dependency among other things, but this PR not yet merged. (note: Im talking about gitversiontask only. gitversion from comnand line (or dotnet global tool) should work on sdk 2.1.0 fine.)

As for the warnings, for the

[2018-11-14 09:54] adamshergold commented on #1503
@dazinator thanks for the update.  I was successfully using 2.1:latest for a number of week (with warnings only) but at some point in the last week it started failing (so one of the recent SDK releases must have broken it).  Apart from the warnings everything works very well so for now I'll just pin to 2.1.403 and carry on. thanks!

[2018-11-14 10:17] dazinator commented on #1503
@adamshergold

That's news! Was that with `GitVersionTask`? One of the main purposes of the pr over here #1422 is to get things working for 2.1. @kll any ideas why it would already work on 2.1 without those PR changes?

[2018-11-14 10:55] adamshergold commented on #1503
Yep!  Included like this in .fsproj file

[code]

Compilation is using CircleCI with docker image specified as microsoft/dotnet:2.1-sdk.  Last time this compiled and worked (with warnings) was 2 weeks ago.  I just re-triggered a build now (I hadn't made any commits in 2 weeks) and it fails with the error from previous comment.

Thanks!

[2018-11-14 11:01] Choc13 commented on #1503
We are also using `GitVersionTask` as a build time dependency and using the 2.1 SDK. Our [csproj](https://github.com/wintoncode/Winton.AspNetCore.Seo/blob/master/src/Winton.AspNetCore.Seo/Winton.AspNetCore.Seo.csproj) file contains:

[code]

[2018-11-14 12:04] LordMike commented on #1503
@dazinator I think all in this thread have been running `2.1.403` SDK in builds, with `4.x` builds of `GitVersionTask`. Is this the news? :P

But thanks for the heads up. We'll hold on updating to `2.1.500` for as long as possible.

[2018-11-14 13:53] DOMZE commented on #1525
@asbjornu as follow:

[code]

[2018-11-14 14:11] dazinator commented on #1525
My assumptions are inline with DOMZE but I could easily be missing something. Would be good to examine what test cases we have around this, and add a few to verify the behaviour we expect!

[2018-11-14 14:20] jawn opened #1530 "Using GitVersion without git"
Given
* TFS 2017 Update 1 server
* Team Foundation Version Control (TFVC), so no git repo.

Reading the docs on [updateassemblyinfo](https://gitversion.readthedocs.io/en/latest/usage/command-line/) it seems I should be able to set the *InformationalVersion* to anything and use `GitVersion.exe /updateassemblyinfo` to update my AssemblyInfo files.

Is that assumption correct and safe to make?

Discl

[2018-11-14 14:59] dazinator commented on #1503
fyi this is raised over here: https://github.com/stazz/UtilPack/issues/34

Ultimately, there is some exotic code in utilpack msbuild's task factory, that depends on nuget. However it can't know which version of NuGet MSBuild has already loaded (it depends upon the version of MSBuild being used, which depends on the version of the dotnet core sdk being used). This means it uses reflection and thing

[2018-11-14 20:43] stazz commented on #1503
Hi all,

Yes, the `UtilPack` task factory, in .NET Core version uses reflection at runtime to detect the version of `NuGet.Commands` and then choose the actual task factory implementation compiled against that version. The warning that you see is emitted when it can't find a match - meaning that the user's `NuGet.Commands` assembly is typically newer than the newest one that the task factory was c

[2018-11-14 21:50] stazz commented on #1503
Related to the trusted framework assemblies: They're actually called "trusted platform assemblies". You can try the following in (git) bash: `COREHOST_TRACE=1 dotnet build --help > trace.txt 2>&1` (the file size will be close to 1MB so there will be a lot of output). Then if the `trace.txt` is opened with text editor, you can see text something like this:
[code]

IIRC, The fact that the assembly i

[2018-11-15 07:21] arturcic commented on #1503
@stazz , thanks for the detailed clarifications.

[2018-11-15 08:06] philippdolder opened #1531 "Mainline mode. increment: inherit does not seem to work"
In my config `master` has `increment: Minor`. According to `gitversion /showconfig` feature and pull request branches have `increment: inherit` by default. But I only get `Patch` increments in feature and PR branches.

I created a reproduction repository in https://github.com/philippdolder/gitversionInheritRepro

to get the PR-merge branch on the local box you can use `git fetch origin refs/pull/1

[2018-11-15 09:11] asbjornu commented on #1525
@DOMZE: Are you able to write a test that provokes this problem and submit it as a PR?

[2018-11-16 15:36] DOMZE commented on #1526
Please see PR https://github.com/GitTools/GitVersion/pull/1533 for the demonstration of this bug.
The test fails

[2018-11-16 15:36] DOMZE commented on #1525
@asbjornu @dazinator Please see PR https://github.com/GitTools/GitVersion/pull/1533 for the demonstration of this bug.
The test fails

[2018-11-18 08:56] tpluscode opened #1535 "Issues with normalization"
I have recently noticed on several projects that GitVersion fails with the `GitTools.Git.BugException: GitTools.Core has a bug, your HEAD has moved after repo normalisation.` message.

The output of [this build](https://ci.appveyor.com/project/tpluscode/dotnetrdf/builds/20378090#L332) caught my attention. Notice that first you see a successfully output and then the error. This is because I run Git

[2018-11-18 21:20] stazz commented on #1503
The 4.9.0-compatible version of UtilPack is [now uploaded to nuget.org](https://www.nuget.org/packages/UtilPack.NuGet.MSBuild/2.9.0). It supports NuGet versions from `4.3.0` to `4.9.0`. I have an idea about how it would be possible to lock down the NuGet version even in .NET Core environment, but maybe I should open separate issues for that.

Btw, while working on 4.9.0-compatible version of UtilP

[2018-11-19 10:51] LordMike commented on #1503
With `VS2017 15.9`, we get `SDK 2.1.500` by default, meaning `GitVersionTask` by default won't work.

[2018-11-19 13:16] bert2 opened #1536 "Why do version numbers in branch names change the calculated version?"
Problem
---------

Since GitVersion 4 we noticed a suddend jump in the version generated by GitVersion. Looking at the diagnostic output it seems to respect a version number in the name of a merged branch. That is not intended though, because the version number in the branch name is purely coincidental:
`bugfix/COCO-1266-ng-bootstrap-ng-bootstrap-2.2.0`.

The `2.2.0` in the branch name seems to ca

[2018-11-19 19:36] wjrogers commented on #1035
I'm having what I think is the same problem. I have `develop` and `master` branches. I have merged `develop` into `master` four times since the commit tagged `v4.0.0`. Build on `master` gets version `4.4.0`, as it should:
[code]

But building `develop`, which is a couple commits ahead of the last merge, gets version `4.0.13`!
[code]

GitVersionTask 4.0.0, config is just `mode: Mainline`

[2018-11-19 19:57] wjrogers commented on #1035
Actually, I missed that last "Performing Minor increment"; it makes the final version `4.1.0-alpha.2`, which is veven more wrong. Now later commits to `develop` may have a lower version number than earlier ones!

[2018-11-20 20:38] stazz opened #1537 "Stability of MSBuild integration for future .NET Core releases"
Hi,

When helping with issue #1503 the concern was arised that any new .NET Core releases have potential to break the UtilPack task factory used by GitVersionTask. This stems from the fact that while it is possible to lock down the NuGet assemblies version on .NET Desktop (and Mono), it is not possible to do so on .NET Core. This because NuGet assemblies are part of Trusted Platform Assembly list

[2018-11-21 11:12] arturcic commented on #1537
Thanks @stazz for detailed explanation, we might consider the approach you suggested

[2018-11-21 19:50] DOMZE commented on #1525
@asbjornu any updates, especially on PR #1526 as this is a blocker for us for our CI pipeline

[2018-11-21 22:01] alberss commented on #1524
Version 4.0.0 recently updated with Homebrew! Thanks a lot!

[2018-11-21 22:01] #1524 closed

[2018-11-22 13:14] LordMike opened #1538 "System.MissingMethodException: Method not found: 'Void NuGet.Commands.RestoreRequest..ctor( ... )'."
So. This is odd. This worked a few days ago, on both Windows and Linux (ubuntu - docker), but now it works only on Linux.

We're running .NET SDK 2.1.500 (aka 2.1.6), with GitVersionTask `4.0.1-beta1-47`. Without GitVersionTask, all builds - but with it we get:

[code]

Updating `UtilPack.NuGet.MSBuild` to `2.9.0` gives:

[code]

On an Ubuntu linux (docker), the build is fine.

[2018-11-23 10:46] icurto commented on #1316
I'm facing the same issue, I've tried also with v4.0.1-beta1-47. It seems to happen only when I ignore all commits before a date and no version is found, but if I ignore all these commits specifying the sha it works correctly.

[2018-11-23 10:47] asbjornu commented on #1316
@icurto: How does the log look like? Do you get a stack trace so we can pinpoint where in GitVersion this is occurring?

[2018-11-23 11:01] dazinator commented on #1538
For the second case, can you verify that utilpack nuget package exists at: 'C:\Users\MichaelBisbjerg\.nuget\packages\utilpack.nuget.msbuild\2.9.0\ ?

[2018-11-23 11:16] icurto commented on #1316
This is the log: [log.txt](https://github.com/GitTools/GitVersion/files/2610495/log.txt)
And my GitVersion.yml:
[code]
But it works correctly if I change the yml like this:
[code]

[2018-11-23 11:40] dazinator commented on #1537
Hi @stazz it's definately something to consider.

Couple of points thinking out loud. A csproj file built with dot net would need the global tool installed, but built with msbuild it wouldnt. Today we can build the same csproj file with either, there are no platform specific instructions which is nicer imho but probs not a deal breaker.

If we invoked the global tool as part of the build presumabl

[2018-11-23 11:54] asbjornu commented on #1316
@icurto: Thanks. Based on that stack trace, I think it must be this that is failing:

https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/VersionCalculation/BaseVersionCalculator.cs#L64-L69

I don't have a solution to not finding any base version in that sequence, so please feel free to suggest changes that will fix the problem. Also, a test that provokes this problem would be hi

[2018-11-23 13:31] dazinator commented on #1538
as per the second case above, I think this may have been introduced in a recent beta version, a new beta version will be available shortly, it should contain the fix.

[2018-11-23 13:33] dazinator commented on #1510
I think this is waiting on pr #1422  to be merged, If you want to test it sooner you could try a build of that PR.

[2018-11-23 13:45] dazinator commented on #1506
Should we close this now in favour of #1509 ?

[2018-11-23 13:47] arturcic commented on #1506
I think yes

[2018-11-23 13:48] dazinator commented on #1503
This should hopefully be fixed in the latest beta meaning if you update from nuget.org, you should no longer need to pin the sdk version. I'll leave this open until someone can confirm this.

[2018-11-23 13:52] #1506 closed

[2018-11-23 13:55] dazinator commented on #772
Closing this, its old, we manage nuspec dependencies better now and there are planned package id changes tracked by #1509

[2018-11-23 13:55] #772 closed

[2018-11-23 14:48] LordMike commented on #1538
With `4.0.1-beta1-49`, I get:

[code]

The directory does not exist. I have the following files in `C:\Users\MichaelBisbjerg\.nuget\packages\utilpack.nuget.msbuild\2.9.0`:

[code]

[2018-11-23 14:52] adamshergold commented on #1503
Yes - looks like it's fixed.  Latest 2.1-sdk image works with no error/warnings against beta1-49 (at least for me).  Thanks to all that contributed to fixing it!

[2018-11-23 14:52] LordMike commented on #1503
I've run with `4.0.1-beta1-49`, and as expected, without my own workaround, there are no warnings as the versions match :P.

[2018-11-23 14:55] arturcic commented on #1503
@Choc13  can you also conform it's working for you?

[2018-11-23 16:50] Choc13 commented on #1503
Hi, I now seeing some errors. Although I should start by pointing out that I'm still using version 2.1.403 of the .NET SDK, so please let me know if this is only expected to work against the latest .NET SDK.

Now the first error I encountered was:

[code]

I reference `GitVersion.Task` in each project of the solution as this particular solution outputs multiple packages. So I tried removing it fro

[2018-11-23 22:46] dazinator commented on #1503
Hi @stazz quick question about @Choc13's error above, should util pack 4.9.0 still work with sdk `2.1.403` or did you drop support for `2.1.403` when adding support for >= 2.1.500 ?

[2018-11-23 22:53] stazz commented on #1503
The first error is a bit weird, and it is probably caused by the second error:
`Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.8.1) and the NuGet version the task factory was compiled against (4.9.0).`

The NuGet.Commands version 4.8.1 never got released to nuget.org ( [nuget site](https://www.nuget.org/packages/NuGet.Commands) has only versions 4.8.0 and 4.9.0-rtm

[2018-11-23 23:36] dazinator commented on #1503
You can get it from here: https://www.microsoft.com/net/download/dotnet-core/2.1

[2018-11-23 23:40] stazz commented on #1503
Thanks, that is suspiciously convenient looking site by MS! ;) I'll try to come up with something on sunday!

[2018-11-25 10:46] JCBrown commented on #1529
Based on my understanding everything is working as intended, bump-message controls semver major minor patch. The increment shown is confined to the metadata.

[2018-11-25 19:30] stazz commented on #1537
I understand the need to keep as little platform-specific code as possible. It appeals to me as well, and was the motivation behind UtilPack task factory itself.

Those 4 points you mention are definetly a step in a right direction in the sense of minimizing platform-specific code and still preserving the robustness of task for future, possibly binary-incompatible NuGet releases. The most hard thi

[2018-11-26 20:41] stazz commented on #1503
I've [released](https://www.nuget.org/packages/UtilPack.NuGet.MSBuild/2.9.1) a new version of the task factory, which uses smarter logic to choose version when there is no exact match. It now defaults to use `4.8.0` NuGet on `2.1.403` SDK instead of `4.9.0`. Furthermore, there is now ability to completely override the version it uses by specifying `UTILPACK_NUGET_VERSION` environment variable.

Le

[2018-11-27 09:08] arturcic commented on #1503
4.0.1-beta1-50 has the latest version of Utilpack included. @Choc13 , @adamshergold , @LordMike , can you give it a try?

[2018-11-27 09:46] LordMike commented on #1503
Builds progress without issue with `4.0.1-beta1-50` and utilpack `2.9.1` on my desktop. I'll report back if we have more issues with this. :)

[2018-11-27 10:06] Choc13 commented on #1503
`4.0.1-beta1-50` worked on my project using version `2.1.403` of the .NET SDK. There were still version mismatch messages printed out as @stazz said there would be, but no other warnings or errors were present. Good job :+1:

[2018-11-27 11:20] dazinator commented on #1503
Excellent stuff. Let's close this for now based on that positive feedback ;-)

[2018-11-27 11:20] #1503 closed

[2018-11-27 11:46] dazinator commented on #1538
From what I can tell from the logs shown above, the util pack msbuild taskfactory is throwing an exception in it's constructor, looking for a directory that doesn't exist: "Could not find a part of the path 'C:\Users\MichaelBisbjerg\.nuget\packages\utilpack.nuget.msbuild\2.9.0\buildMultiTargeting\build\netcoreapp1.1'."

@LordMike can you confirm if this is happening in the latest "4.0.1-beta1-50"

[2018-11-27 12:07] LordMike commented on #1538
As I mentioned in the other issue, #1503, I can now run builds on my desktop where I previously had an issue. I'll report back if we see this again.

[2018-11-27 12:14] arturcic commented on #1538
Closing the issue as it was solved in #1503

[2018-11-27 12:14] #1538 closed

[2018-11-27 12:15] LordMike commented on #1538
A coworker got this:
[code]

His `C:\Users\USER\.nuget\packages\utilpack.nuget.msbuild\2.9.1` directory has this:
[code]

[2018-11-27 12:17] arturcic commented on #1538
@stazz could you please have a look?

[2018-11-27 20:13] stazz commented on #1538
I can't reproduce this at least with the projects that contain `<TargetFramework>` and `<TargetFrameworks>` elements. Do these errors happen only for `<TargetFrameworks>` multi-targeting projects?

Looking at stack trace, it goes into `GetAllAvailableTaskFactoryVersions` of UtilPack, which then calls `Directory.EnumerateFiles( thisDir, thisName + ".*.dll", SearchOption.TopDirectoryOnly )`, which t

[2018-11-28 11:08] kieranbenton commented on #1503
I think I'm still getting issues related to this - using `4.0.1-beta1.50` the build works fine on SDK `2.1.500`... BUT when using vscode and omnisharp `1.32.8` I'm getting failures - meaning that intellisense etc isn't working for me. On windows btw.

Exception is:
`[info]: OmniSharp.MSBuild.ProjectManager
        Loading project: c:\Source\xxxxxxxx\xxxxxx.csproj
Exception when creating task: Syst

[2018-11-28 11:20] dazinator commented on #1503
@kieranbenton can you raise the issue with utilpack and omnisharp over here: https://github.com/stazz/UtilPack

[2018-11-28 11:41] kieranbenton commented on #1503
Sure.

[2018-11-28 13:31] LubosSykora commented on #1514
this is output produced when gitversion runs in diag mode
INFO [11/28/18 13:51:03:48] Dumping commit graph:
INFO [11/28/18 13:51:03:57] *   0ab4082 2 hours ago  (origin/master, origin/HEAD, master) |\   | * 96cf418 2 hours ago  (origin/feature/18.6/166333-IAM_UserGroups) | * 9990385 2 hours ago  |/   *   6994137 24 hours ago  |\   | * 1154c4f 24 hours ago  (origin/feature/18.6/164105-NewClientRegi

[2018-11-28 13:40] MiroKov opened #1539 "+semver: major bumps minor, should bump major change"
We use GitVersion 4.0 nuget package.
When we add message +semver: major, it causes a minor change. Should cause a major change.

[2018-11-28 16:57] beatcracker commented on #1497
This worked for me using `Hosted Ubuntu` in Azure DevOps. Just add this as your first task in `azure-pipelines.yml`

[code]

[2018-11-28 19:37] adamshergold commented on #1503
@arturcic 4.0.1-beta1-50 works fine for me with microsoft/dotnet-sdk:latest so all good!

[2018-11-28 19:40] kieranbenton commented on #1503
@adamshergold do you mind me asking what dev environment you use? VS.NET or vscode?

[2018-11-28 19:44] adamshergold commented on #1503
@kieranbenton : I develop on a mac using the dotnet sdk (local install) using JetBrains Rider IDE.  For CI builds I'm using CircleCI using the microsoft/dotnet-sdk docker image for building.  Happy to share more details if helpful for you!

[2018-11-28 20:40] stazz commented on #1538
I guess the `2.2.100-preview3` has maybe NuGet `4.10.0`? You guys really like the bleeding edge! :D

I'll check what it's like in 2.2, not sure if I'll be able to actually compile it until the next version is released on NuGet... Unless I do some pretty epic hacking. :)

[2018-11-28 20:42] stazz commented on #1503
Yeah @kieranbenton 's stack trace is from .NET Desktop version. Interesting, I wonder how and what got broken. Omnisharp has been known to be a little tricky based on @dazinator 's few months old issue. I'll discuss more in issue @kieranbenton opened. :)

[2018-11-28 21:43] LordMike commented on #1538
Yea, sorry about that. Hadn't checked his SDK version.

From our side, the issue is minor. Once 2.2 is out, we'll re-evaluate. :)

[2018-11-29 11:38] magne commented on #1483
Any progress on this issue. #1485 was merged 2 months ago.

[2018-11-29 12:12] asbjornu commented on #1483
@magne: GitVersion v4 was pushed as a stable package a while ago. Have you tested it with .NET Core?

[2018-11-29 13:06] asbjornu commented on #1536
You can use [`ignore`](https://gitversion.readthedocs.io/en/latest/configuration/#ignore) in `GitVersion.yml` to ignore the problematic commits, either by their SHA or before a given date. It would be neat if branch number versioning was configurable, for instance ignoring from all other branches than `release/*`, but that's unfortunately not possible at the moment. Pull requests for such function

[2018-11-29 13:47] kieranbenton commented on #1503
@stazz just to be clear (and will continue with this in the other ticket) but this is .NET Core 2.1 NOT '.NET desktop'

[2018-11-29 14:30] asbjornu commented on #1536
A tool that makes this problem escalate fairly quickly is [Dependabot](https://dependabot.com/). Its branch names for package upgrade pull requests contains both "from" and "to" version numbers of the package being requested for upgrade, which causes GitVersion to generate quite crazy version numbers from a source that shouldn't be used at all. And as per dependabot/dependabot-core#396, there's li

[2018-11-29 17:41] magne commented on #1483
GitVersion 4.0.0 and 4.0.1-beta1-50 both fail on Ubuntu 18.10. The failure is not caused by libcurl4.so, but has the exception shown above.

[2018-11-30 08:30] bert2 commented on #1536
Thanks for the hint to `ignore`!

I'm working on a PR. The current solution uses a global configuration flag to indicate that branches must match the `release` branch regex to be considered as a version source.

But maybe I should skip the configuration flag (or inverse it) and make this the default behavior?

Another way might be to configure per branch if it is to be considered as a version sour

[2018-11-30 08:37] bert2 commented on #1536
By the way excellent job on those tests! They made it super easy to get started.

[2018-12-01 14:06] bert2 commented on #1536
Thinking about it again, it's probably smarter to evaluate `is-release-branch` of a branch config.

[2018-12-01 14:48] ethomson commented on #1511
So trying a bit of a different approach at solving this problem, I've released a prerelease LibGit2Sharp that should help a bit here.  I've updated libgit2 to have built-in support for proxies, so we no longer rely upon libcurl.  I think this should help the native dependency problems quite a bit.

This is available in [LibGit2Sharp 0.26.0-preview-0070](https://www.nuget.org/packages/LibGit2Sharp/

[2018-12-01 16:47] jmezach commented on #1522
This is an issue with Azure DevOps itself for which a fix should be rolling out soon.

[2018-12-01 16:47] #1522 closed

[2018-12-02 10:57] ivanrusso commented on #1483
@asbjornu

Some Issue here running on ubuntu 16.04
Docker Image -> Microsoft/vsts-agent:ubuntu-16.04-docker-18.06.1-ce-standard

[command]/usr/bin/mono /vsts/agent/_work/_tasks/GitVersion_e5983830-3f75-11e5-82ed-81492570a08e/4.0.3/GitVersion.exe /vsts/agent/_work/1/s /output buildserver /nofetch
2018-12-02T10:38:17.9168976Z INFO [12/02/18 10:38:17:88] Working directory: /vsts/agent/_work/1/s
2018-

[2018-12-02 12:47] solidclouddev commented on #1043
I'm seeing this is my repo here: https://travis-ci.com/solidclouddev/plivo-dotnet/jobs/162238939

Not sure how to fix this?

[2018-12-02 14:34] bert2 commented on #1536
I created a [pull request](https://github.com/GitTools/GitVersion/pull/1541) to fix the behavior by configuration.

[2018-12-02 21:05] ivanrusso opened #1542 "Release of GitVersionNetCoreTask"
When will the GitVersionNetCoreTask be available on Azure Devops?

Currently I want to run GitVersion on an Azure pipeline, which is based on ubuntu 16.4. Unfortunately this doesn't work with mono (LibGit2Sharp.Core.NativeMethods' threw an exception. ---> System.DllNotFoundException: git2-15e1193). It would be very helpful if I could test the .NET core version.
Is there an alternative to running G

[2018-12-03 07:10] arturcic commented on #1542
In case you have .NET Core SDK 2.1.300 and later versions, you can install the prerelease version of [GitVersion.Tool](https://www.nuget.org/packages/GitVersion.Tool)

[2018-12-03 10:52] janpieterz opened #1543 "Add support for Azure Repos pull requests messages"
Been struggling for a while to get the Pull Request merge versions right. Either Azure Repos/VSTS changed something or we did it manually for a while, overriding the default.

I just tested and the default message is:
`Merge pull request 443 from hotfix/2.17.7 into master`.

It'd be great if someone could confirm the above is indeed the default message for them as well (couldn't find any docs).

I

[2018-12-03 12:48] asbjornu commented on #1043
@solidclouddev: It seems like you're using `Nerdbank.GitVersioning` and not `GitTools.GitVersion`, so I'm not sure this is the right repository to ask?

[2018-12-03 13:21] asbjornu commented on #1483
I suppose #1511 might be related and that an upgrade to [LibGit2Sharp 0.26.0-preview-0070](https://www.nuget.org/packages/LibGit2Sharp/0.26.0-preview-0070) might help. If anyone who are able to reproduce this issue can perform that upgrade locally and see if the problem goes away, that would be highly appreciated.

[2018-12-03 23:10] ivanrusso commented on #1542
This is the NuGet package to use directly with .NET Core as global Tool. What i need is the newest Task for TFS wich will call dotnet GitVersion.dll. This is made by https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTfsTask/GitVersion.ts.

[2018-12-04 11:06] kirkone commented on #1457
@JakeGinnivan I know it is a long time ago, but what was the intention behind this change?
I found this commit:
https://github.com/GitTools/GitVersion/commit/e98f68b89148e3e0353a5e80d0c3b75ca293c616
but there I can not see why this change had be made.

If someone want his build number to be replaced I think the better solution would be to set his build number to something like `$(GITVERSION_NuGetV

[2018-12-04 12:24] DanielKuehner opened #1545 "GitVersionTask changes component resource identifiers"
### In Short
I have recently updated from `v4.0.0-beta0012` to `v4.0.0`. Because of #1465 my application does not start anymore. The problem is that the `AssemblyVersion` gets added to URIs in the generated C# files and at start it tries to initialize the resources twice - which results in this error:

[code]

### Possible Solutions
For the moment I can image these solutions:
1. Go back to an olde

[2018-12-04 13:25] DanielKuehner opened #1546 "Latest doc about usage of class GitVersionInformation is old"
Refering to [MSBuild Task - Other injected Variables](https://gitversion.readthedocs.io/en/latest/usage/msbuild-task/#other-injected-variables)

In the current version `v4.0.0` (while I came from `v4.0.0-beta0012`) the class `GitVersionInformation` moved out of the `AssemblyName` namespace while the class also moved from the file `GitVersionTaskAssemblyInfo.g.cs` to the new file `GitVersionInforma

[2018-12-04 16:40] jbaehr commented on #1545
@DanielKuehner there is already a switch (`UpdateVersionProperties`) to tell GitVersion not to set the version properties in msbuild, see https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/NugetAssets/build/functionality/GitVersionBuild.targets#L77
Please note however that the property "AssemblyVersion" is used in many places through the build process, Microsoft.WinFx.targets be

[2018-12-05 10:12] DanielKuehner commented on #1545
@jbaehr first of all I am not that firm with the MSBuild build process or even with others than C#/WPF like you. I really understand your needs and no matter if this was a bug or not, it was really frustrating to update and run into such a breaking change for me. But thanks for the hint with the existing switch - it worked for me, so I can continue with the original sources of GitVersion 👍

I hope

[2018-12-05 10:15] dgrant commented on #1437
I'm encountering this problem as well. Super annoying.

[2018-12-05 21:01] JustinGrote commented on #1437
I'm still doing the "delete and reapply tag after" method, only I'm now adding prerelease tags too because it hard fails using mainline mode if there's a prerelease tag. 6 months without response...

[2018-12-05 22:08] ScottLeWarne opened #1547 "GitVersion.yml settings not being used"
Hi, I'm new to GitVersion and having some issues overriding configuration in the GitVersion.yml fle.  Essentially it seems to be ignoring/overriding my custom config, but only for certain branches.  The only pattern I can see so far is that it seems to only be matching on branches with a regex pattern that includes an 'end of line' character ($).  I am using v4.0.0.

I've verified in several onlin

[2018-12-06 11:52] waaromikniet commented on #1539
We are having the same issue

[2018-12-06 14:31] godzillar commented on #1543
This is what our Azure devops merge message looks like:
**Merged PR 1234: A custom PR title**

What I do when creating a release is actually changing the title to the merge message GitVersion expect, as in: **Merge branch 'release/1.0'**. This way the git message is detected by GitVersion.

It would be great if GitVersion would just look for the branch name **release/1.0** when the pull request is

[2018-12-07 08:58] Kimserey commented on #1477
Hi @dazinator ,

I had a look and it seems like the problem arise in the following circumstances:

1. Push commit to master
2. Build is triggered
3. Push quickly another commit to master before Build starts
4. When build starts, it is no longer triggered on latest master therefore checkout on detached head
5. Gitversion not able to deduce the version with the message `It looks like the branch bein

[2018-12-07 09:42] Kimserey commented on #1477
On another note, I also can't getting to work on VSO.

The commit gets checkout as a detached branch, here's in the default command to checkout repository:

[code]

Which then result in the `detached Head` error message.

[2018-12-07 10:54] pietergheysens commented on #1539
Same issue here on my side while building in Azure DevOps using GitVersion 4.0.3. Adding +semver:major in commit message only increments the minor version.

[2018-12-07 11:05] dazinator commented on #1477
@JakeGinnivan @asbjornu @gep13 any ideas?
I wasn't aware appveyor checked out in detached head mode if the commit was non current.
If you can get the branch name and commit id in your build script, perhaps you could right at the start of the build, git checkout [branch name], and then git reset to the commit instead.. Not sure!

[2018-12-07 13:14] gep13 commented on #1477
@dazinator I wasn't aware of this, and I can't say that I have seen this happen on any of the repositories that I run in AppVeyor, where GitVersion is being used.

[2018-12-07 14:33] asbjornu commented on #1477
Weird. I've never encountered this either. Either way, I believe #1243 or #1244 might be a solution to problems like these.

[2018-12-07 15:20] janpieterz commented on #1543
Confirmed the `Merged PR X: Y` flow here too, not sure where `Merge pull request` came from.

[2018-12-08 11:43] Kimserey commented on #1477
Hi guys, thanks a lot for the follow up.

I guess my question now changes slightly toward how to deal with repository like my test repository `Kimserey/dummy-api.git` whereby the last commit is on two branches.

Is there a way to make GitVersion able to recognize the version even though the CI Server checks out on detached branch (talking about VSO here).

VSO is executing the following commands,

[2018-12-08 14:18] asbjornu commented on #1477
@Kimserey, there's nothing in those pull requests you can use yet, I was mostly referencing them to know which issues we might solve by finalizing them. 😃 To indicate which Git reference (branch or tag) a given commit is being built for, you provide GitVersion with the environment variable `Git_Branch`. I can see that information is missing from AppVeyor, but you can read about it in [the TeamCity

[2018-12-09 10:46] bert2 commented on #1547
I was unable to reproduce the issue inside a fresh git repo with GitVersion 4.0.0:

[code]
There seems to be no issue in what you have shown us. I'm just guessing here, but maybe you are using an unexpected version of GitVersion? Can you please verify with `> gitversion /version`?

[2018-12-09 20:48] kieranbenton commented on #1503
@dazinator do you want to reopen this issue or shall I open a new one here for this? This is definitely a problem - and I'm using what I'd consider a pretty common setup.

[2018-12-09 23:11] dazinator commented on #1503
If you are just seeing a build warning due to version mismatch, but the build suceeds then this is expected in some situations. It should be possible to disable the msbuild warning if it annoys you. If however you are also seeing an error (i.e with the task factory) then please open a new issue and detail your stack (or provide repro)! Cheers!

[2018-12-09 23:13] dazinator commented on #1503
@kieranbenton im addition to above, didn't you already open #1350 for your issue? (Assuming its omnisharp)

[2018-12-11 13:11] jbaehr commented on #1525
Some months ago we also provided a demonstration for what I believe is the very same problem: #1446. We still see this from time to time, but not always. I have repos where merging develop into a feature works four times and the fifths shows this problem (without any releases or tagging in between).

[2018-12-11 13:21] jawn opened #1548 "Missing GitVersion task in Azure DevOps build pipeline editor"
Given an Azure DevOps ('VSTS') environment, I installed the [GitVersion build task](https://marketplace.visualstudio.com/items?itemName=gittools.gitversion&targetId=39fdcc69-3968-4d2d-8477-98ba97a3d222)

Then I want to use it in a build pipeline, running as part of an agent job.
![image](https://user-images.githubusercontent.com/1705112/49803258-9347cc80-fd4f-11e8-9001-156f74c87931.png)

Is this s

[2018-12-12 15:58] tristanbarcelon opened #1549 "tag property in gitversion is not being followed when calculating a build"
I have a [gitversion.yml](https://github.com/GitTools/GitVersion/files/2672504/gitversion.txt) file which I attached as gitversion.txt. In it, I am specifying a tag to use when calculating the build metadata for semver. Unfortunately, when I have a branch called feature/fix-npm-build-errors, gitversion produces the following output. I was expecting it to calculate something along the lines of: 1.2

[2018-12-12 21:03] tristanbarcelon commented on #1549
It turns out the issue was from incorrect regex pattern we have configured on the branch causing the mismatch. Thank you.

[2018-12-12 21:03] #1549 closed

[2018-12-13 12:02] LordMike opened #1550 "4.0.1-beta1-53: Fails to find the LibGit2Sharp."
This compiled before lunch :P

[code]

[2018-12-13 17:30] ScottLeWarne commented on #1547
Thanks, I'm baffled at this point.  I can't seem to get it to not use the default settings and they don't work for me unfortunately.  Looks like I am using the same version that you are.

[code]

[2018-12-13 20:02] adamshergold commented on #1550
Same for me! I picked up beta-53 and get same issue.  Have explicitly fixed dependency to be on beta-51 for the moment (which works).

[2018-12-14 04:52] arturcic commented on #1550
@kll can you have a look?

[2018-12-14 11:17] theCorb1nator opened #1551 "Anyway to pass env variables into gitversion"
Hi,

is there a way i could pass an environment variable into gitversion so that i could have my version number as something like  1.1.1-beta.[myVariable],

i am looking to set myVariable to "yyMMdd"

i am using MSBUILD Task version of gitversion and my CI is Azure DevOps(vsts)

Thanks

[2018-12-14 11:56] kll commented on #1550
Unfortunately I'm under a pretty big time crunch at work and don't have the time to look at other stuff. I also don't really use or understand how GitVersionTask works so I don't have much to go on. Just based on the error message though I followed a hunch and downloaded the gitversiontask-4.0.1-beta1-53.nupkg file and decompressed it to look at the files. The `build/net461` directory contains Lib

[2018-12-14 11:59] arturcic commented on #1550
Thanks, yes that's a good start, I'll try to find some time and check why it's not adding to the netstandard2.0

[2018-12-15 20:20] rotda opened #1552 "Azure DevOps how to increment base version after build"
Hi ,

I use gitversion in Azure DevOps Build Pipelines , the version will be detected correct. But the next build/merge have the same version ( develop branch with feature "increment: Minor").
So it seems gitversion detect the wrong base version.  So what come in my mind how gitversion should know the last inc. version. Because the information is lost in the old build task.

Has someone a solution

[2018-12-17 10:12] czeslav87 opened #1554 "MSBUILD : Task factory warning NMSBT010: There is a mismatch between SDK NuGet version (4.9.2) and the NuGet version the task factory was compiled against (4.8.0). There might occur some exotic errors."
Hello,

Issue strikes back with new dotnet core sdk (i'm using 2.2.101). Warning is followed by an error:

[code]

Best regards,
Maciej

[2018-12-17 11:12] czeslav87 commented on #1554
Furthermore, I've tried the latest beta version (4.0.1-beta1-53), which targets Utilpack 2.9.1:

[code]

My Project targets net462 due to some libraries that we're required to use, but we use aspnetcore (wanted to upgrade to 2.2 when faced the issue). I'd appreciate any suggestions how to fix the issue.

[2018-12-17 13:58] bert2 commented on #1547
Hmm... have you tried the `/diag`nostic output yet?

Here is mine from the above repo for comparison:
[code]

[2018-12-17 17:43] stazz commented on #1554
Hi @czeslav87 , can you submit a minimal repro and/or a log with /verbosity set to detailed if not even diagnostic?

[2018-12-17 17:58] stazz commented on #1537
I've been thinking about this, and the recently opened issue ( #1554 ) has poked at those thoughts.

I think @dazinator has a viable approach idea. The value of the UtilPack in that scenario would indeed be that you could build for one target (e.g. netstandard1.3) and the UtilPack would take care of running everything for you. The only thing to settle in that case would be how to convey output/inp

[2018-12-17 20:52] dazinator commented on #1537
Interesting idea. So to check if I understand correctly:

1. We'd switch to use new task factory.
2. We'd point the new task factory towards our package id containing an exe or entry point assembly (instead of an ITask)
3. The new task factory would not do any msbuild restore in this case? Or it would but we would make sure there are no dependencies?
4. The new task factory will launch itself in a

[2018-12-17 21:47] stazz commented on #1537
You are actually pretty much there. I have some old code lying around somewhere for stuff like process listening for named semaphore for cancellation, etc. That allows for the child process to at least try graceful shutdown when the parent (msbuild) process is requesting cancellation.

About the msbuild dependencies: I guess you have two choices, since there will be *some* need to deduce what kind

[2018-12-18 14:44] pauldotknopf opened #1555 "Drop net461?"
It doesn't look like we are using it for any reason, other than the ```NETDESKTOP``` define, which doesn't seem needed.

The latest libgit2sharp native binaries are targeting only netstandard, so we wouldn't be able to upgrade.

Can I PR it?

[2018-12-18 14:45] pauldotknopf commented on #1555
See https://github.com/GitTools/GitVersion/pull/1544

[2018-12-18 14:54] pauldotknopf commented on #1555
Hmm, it looks like libgit2sharp was already updated! Not sure how it worked, but I'm gonna roll with it.

With that said though, why is the net461 target needed?

[2018-12-18 15:23] czeslav87 commented on #1554
Will do my best to produce repro asap.

[2018-12-19 04:04] ankitvijay commented on #912
@tofutim you have been a life saver. Can't thank you enough.

[2018-12-19 08:18] asbjornu commented on #912
As I mentioned `teamcity.git.fetchAllHeads` back in july 2017 (https://github.com/GitTools/GitVersion/issues/912#issuecomment-314443855) which should fix the issue and no new information has been provided since, I'm closing this.

[2018-12-19 08:18] #912 closed

[2018-12-19 15:16] czeslav87 commented on #1554
[GitVersionBugRepro.zip](https://github.com/GitTools/GitVersion/files/2695400/GitVersionBugRepro.zip)
@stazz Included zip with reproduction and diagnostic log
`dotnet build --verbosity diag > log.txt`
Repro is blank dotnetcore2.2 console app with GitVersion task. Must run on new .net Core SDK to reproduce bug.

Best regards.

[2018-12-19 20:31] stazz commented on #1554
Ah yes, the `4.0.0` version of GitVersionTask will definetly not work on new dotnet, as it uses outdated UtilPack. From the `log.txt`:
[code]

Version `2.7.0` is not compatible with newer dotnet versions.

I tried updating to GitVersionTask `4.0.1-beta1-53` which has newest UtilPack dependency, but it seems that it is missing some required stuff in its `build/netstandard2.0` folder and/or from `.n

[2018-12-19 21:34] theCorb1nator opened #1556 "Confliction with Directory.Build.props ?"
So when i set my env Variable in the system environment variables, for example ShortDate="19073"
and then in my Gitversion.yml file:

`assembly-informational-format: '{MajorMinorPatch}-{env:ShortDate}+{BuildMetaData} Sha {Sha}'

This works fine, however if i set the var in a **`Directory.Build.props`** in my solution root, gitversiontask complains that the env variable cannot be found, also none o

[2018-12-20 01:47] derhally commented on #1500
We are also trying to integrate GitVersion into our build process and it is very common for developers to create branches with numbers.   We would prefer that only tags are used to interpret version number.

[2018-12-20 07:35] PKarasinski-Configit commented on #1500
@derhally Seems they are working on it, [see here](https://github.com/GitTools/GitVersion/issues/1536) and [here](https://github.com/GitTools/GitVersion/pull/1541) :).

@gep13 Sorry I never got back to you, it just slipped my mind. But I guess this has been taken care of, so now we just have to wait for new release.

[2018-12-20 08:13] czeslav87 commented on #1554
@stazz yes,  I'm having the same results with 4.0.1-beta1-53. LibGit2Sharp Is missing

[code]

[2018-12-20 15:14] stazz commented on #1554
Fun thing is, if you manually add dependency to the `GitVersionTask.nuspec` of `4.0.1-beta1-53` version of GitVersionTask, so it will look like this:
[code]

There will be no errors. :)

[2018-12-21 07:39] PatrickKursawe commented on #1545
This behavior is also a problem when using SmartAssembly for postprocessing. You don't notice anything during the build, but you get runtime errors because some resources from merged assemblies can't be found. Took me a day to trace this back to the GitVersionTask update.

[2018-12-21 13:43] arturcic commented on #1550
@LordMike can you try the new build 4.0.1-beta1-55?

[2018-12-21 16:30] wjrogers opened #1557 "4.0.1-beta1-58: dotnet build crashes with error MSB4044: The "GetAssemblyVersion" task was not given a value for the required parameter "NuGetVersion""
My project is multi-targeting `net471` and `netcoreapp2.1`. The same error occurs when I build both targets and when I build either one individually.

[code]

[2018-12-22 03:14] LordMike commented on #1550
I now get this. While it's just a Warning, the build fails for completely different reasons - Jetbrains attributes are missing.. It still does build in `4.0.1-beta1-51`, fails as before in `-53` , and fails like below in `-55`.

[code]

[2018-12-26 14:42] kll commented on #1555
It is considered a good practice to do so, mostly for the benefit of downstream packages consuming GitVersion rather than for GitVersion running by itself.

More detail in [this section](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting#multi-targeting) of the Open-source library guidance.

[2018-12-26 15:31] #1555 closed

[2018-12-26 16:45] NArnott opened #1558 "How to configure GitVersion when using GitVersionTask"
How do I run command line tools, such as `init` when using the GitVersionTask nuget package? This doesn't provide a GetVersion.exe to run against, and I can't find any documentation for this case.

My test project is a simple dot net standard class library that I want to try GitVersion on, and it builds with the task nuget package just fine. I now want to configure how versioning works, but I can'

[2018-12-27 21:01] NArnott opened #1559 "GitVersion with Azure DevOps Pipeline Releases"
I am trying to create a very basic pipeline for a nuget package using .NET and azure pipelines. I'm having trouble understanding how to set up my build and release in Azure DevOps.

The build works well enough using GitVersionTask. However, until the commit is tagged, I end up with some pre-release tag added to my assemblies and nuget package. That pre-release version is what's added as a Build ar

[2018-12-30 15:22] ltvan opened #1560 "Please support homebrew 3.6.5 for compatibility"
We have many repos which is using v3 configuration. Now they are broken with v4. But on the new build machine, I cannot install gitversion 3.6.5.

[2019-01-03 14:01] bonesoul commented on #1554
same issue here. any fixes?

[2019-01-03 14:18] stazz commented on #1554
The GitVersionTask version `4.0.1-beta1-58` seems to have correct .nuspec file.

[2019-01-03 14:19] bonesoul commented on #1554
tried that but getting

`C:\Users\shala\.nuget\packages\gitversiontask\4.0.1-beta1-55\build\functionality\GitVersionBuild.targets(6,5): error MSB4175: The task factory "UtilPack.NuGet.MSBuild.NuGetTaskRunnerFactory" could not be loaded from the assembly "C:\Users\shala\.nuget\packages\utilpack.nuget.msbuild\2.9.1\build\\netcoreapp1.1\UtilPack.NuGet.MSBuild.dll". Assembly with same name is already

[2019-01-03 14:47] czeslav87 commented on #1554
4.0.1-beta1-58 on minimal repro:

[code]

[2019-01-03 17:53] bonesoul commented on #1557
same here.

[2019-01-03 20:11] stazz commented on #1554
@bonesoul Have you tried settings `/verbosity` to detailed? I think that error is originally coming from another.

@czeslav87 It looks like the UtilPack is loading assemblies OK, but first there is a warning about `StrictFilePathMarshaler` (maybe LibGit2Sharp is missing some new .NET Core feature?), and finally ends up with `The "GetAssemblyVersion" task was not given a value for the required para

[2019-01-03 20:32] derhally commented on #1437
I ran into this today.   I tagged master with version "1.2.0" then created a branch to work on a feature and the feature branch was being built as "1.2.0"

[2019-01-03 20:35] czeslav87 commented on #1554
I've just looked up `StrictFilePathMarshaller` error, and results led to this https://github.com/GitTools/GitVersion/issues/720 . I'll check it out tommorow. I might have had opened two instances of VS with different project with GitVersionTask.

[2019-01-03 22:38] joaosantana commented on #1558
You need to install GitVersion.portable package from Chocolatey and run it against your repository. See https://gitversion.readthedocs.io/en/latest/usage/command-line/

[2019-01-04 09:20] czeslav87 commented on #1554
@stazz  no luck today. Same errors. I'm attaching detailed log
[log_2019-01-04.zip](https://github.com/GitTools/GitVersion/files/2726452/log_2019-01-04.zip)

[2019-01-06 15:46] stazz commented on #1554
I took a look in the output logs. Where it says `C:\Program Files\dotnet\sdk\2.2.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.GenerateAssemblyInfo.targets(161,5): error MSB4044: The "GetAssemblyVersion" task was not given a value for the required parameter "NuGetVersion". `, taking a look in the `Microsoft.NET.GenerateAssemblyInfo.targets` line 161, shows it passes `NuGetVersion` parameter as

[2019-01-07 10:59] wesley-pattison commented on #1497
Kind regards, you beautiful human being :)

[2019-01-08 11:07] thoemmi opened #1561 "dev's version does not respect master's when using +semver in merge message"
We're using `master` branch for releases, `dev` for active development and publishing pre-releases, and feature branches.
Whenever there's a breaking change, we add `+semver:major' when merging from `dev` to `master`.
However, succeeding builds from the `dev` branch don't respect the incremented major version.

Here's our `gitversion.yml`:
[code]

[2019-01-08 15:42] iosgitr opened #1562 "GitVersion.exe is misspelled as GiVersion.exe"
https://github.com/GitTools/GitVersion/blob/e2148e056520c25941843a399fe29cc97b7b3407/src/GitVersionTfsTask/GitVersionTask/task.json#L63

[2019-01-09 12:34] theCorb1nator opened #1563 "GitVersionTask caching environment variables in VSTS"
Hi,

I am having issues with gitversion caching the environment variable i pass in to GitVersion.yml

I set the environment variable in pre-build powershell script, this part works as i have checked the environment variable on the build agent and its correct

![image](https://user-images.githubusercontent.com/10990837/50899738-eb372900-140a-11e9-8c32-a195ce27369a.png)

i then pass this environment

[2019-01-09 15:21] theCorb1nator commented on #1563
this was resolved by having a pre-build powershell script to clear the gitversion_cache directory
`Get-ChildItem -Path $(Build.SourcesDirectory)\.git\gitversion_cache -Include * -File -Recurse | foreach { $_.Delete()}`

unsure if this is the best approach? but it works

[2019-01-09 18:15] Shereef commented on #421
Where do I access such log if I am using msbuild ?

[2019-01-09 18:16] Shereef commented on #1560
Install-Package GitVersionTask -Version 3.6.5

[2019-01-11 00:41] JoshSchreuder commented on #1554
Similar error here on `4.0.1-beta1-58`

Getting

[code]

[2019-01-11 10:31] gep13 commented on #1560
@ltvan between v3 and v4, there are breaking changes in the way that GitVersion works.  As a result, it is highly unlikely that v4 will support v3 configuration going forward.  If you "need" to use that configuration, I would suggest pinning to using GitVersion v3 in your builds.

[2019-01-11 12:21] Shereef commented on #1560
@GeertvanHorrik Sorry about that, My mistake, I wasn't aware homebrew = Mac

[2019-01-11 12:21] Shereef commented on #1560
@ltvan Sorry about that, My mistake, I wasn't aware homebrew = Mac

[2019-01-11 12:53] zihotki commented on #1554
Also encountering the same issue with beta1-58. I'm trying to run `dotnet pack` for libraries targeting .Net Core 2.1. Any workarounds or ideas how that can be fixed?

[2019-01-11 13:02] wjrogers commented on #1554
beta1-51 works for me currently, but not later or earlier versions

On Fri, Jan 11, 2019, 7:53 AM Vasili Puchko <notifications@github.com>
wrote:

[2019-01-12 10:22] ltvan commented on #1560
Yeah, I have many repos so I cannot migrate them all at once. So that's why I need to install v3 on my new build machine but homebrew only has v4. I cannot install older version using homebrew. I suggest that you should keep v3 on homebrew (like adding gitversion@3).

[2019-01-12 23:58] twsI commented on #1557
Same problem without multitargeting, only netcoreapp22/netstandard20

[2019-01-14 11:15] gep13 commented on #1560
@ltvan did you try the following:

[code]

[2019-01-14 14:54] mpalmujoki opened #1564 "Another stack overflow due to infinite loop in 4.0.3"
I might've configured something wrong, but I hope I haven't.

We use gitflow, and have a master branch and separate develop branch. I hadn't realized that GitVersion required tags earlier, so I just recently tagged the latest merge commit to master with a version number.

At that time, or maybe due to some other minor change, GitVersion build task started failing.

I use this config file:
[code]

[2019-01-14 19:10] LordMike commented on #1448
@danijam just chiming in to hopefully help. We wanted to work around the Parallelizaton issue, and decided to completely remove GitVersionTask in favor of the following. What we found, was performance improvements in build times of 50%+

* C# code (Nuke build script) to run GitVersion CLI, to do version calculation once
* Using that output, produce a `_Generated_Version.targets` file, which looks

[2019-01-14 23:37] amischenko opened #1565 "Azure DevOps GitVersion task failed. Unable to locate executable file: 'mono'."
Faced strange issue on MacOs Mojave using Azure DevOps GitVersion task.
Mono installed and accessible over MacOs standard terminal.
Log attached below.

2019-01-14T23:36:19.1204650Z==============================================
2019-01-14T23:36:19.1204690Z Task         : GitVersion Task
2019-01-14T23:36:19.1204760Z Description  : Easy Semantic Versioning (http://semver.org) for projects using Git

[2019-01-15 08:16] mpalmujoki commented on #1564
Huh, this morning builds started passing again.

Guess our issue is resolved, but apparently it's possible to enter some infinite loop. Is this by design?

[2019-01-16 08:56] lucaslra opened #1566 "The type or namespace name 'AssemblyVersion' could not be found"
Hi,

I am trying to use GitVersion and, as requested by the docs, I cleaned up my AssemblyInfo.cs file, but now, whenever I try to execute I get a lot of errors related to missing AssemblyInfo metadata:

[code]

Any suggestions on what can I do?
I tried reintroducting `using System.Reflection;` but, since the rest of the code is removed, my code cleanup removes the import.

I bet someone already r

[2019-01-16 22:10] LordMike opened #1567 "Programmatic GitVersion"
I'm trying to programmatically invoke GitVersion to get the versioning information. I've copied out the `GitVersion.Tool` source, and made it work independently in a separate solution using the Nuget packages for `GitTools.Core` and `GitVersionCore` (also: there are some unresolved dependencies in the [betas of GitVersionCore](https://www.nuget.org/packages/GitVersionCore/4.0.1-beta1-58) ...).

On

[2019-01-16 22:12] seanwedig opened #1568 "GitVersionTask fails the build on Visual Studio for Mac with Xamarin.iOS"
I have a Xamarin.iOS project for which I am attempting to add GitVersionTask.  The solution is organized such that there is a .NET Standard 1.4 project with cross-platform code, which is consumed by the Xamarin.iOS project.  Both of these projects are using GitVersionTask at `4.0.0`.

I have a Windows 10 VM with Visual Studio 2017 and the mobile development packages, so I can build the Xamarin pac

[2019-01-17 06:34] Merurino commented on #1557
Hey guys, had the same issue, but on version 4.0.0 (not the beta). The reason was I had just created a new project and added Gitversion without ever committing anything to the project. After I created my first commit the issue stopped happening.

[2019-01-17 09:22] Dobriy33 opened #1569 "[Question] Pre-release tag version in hotfix and custom branches."
Hello.
[Documentation ](https://gitversion.readthedocs.io/en/latest/git-branching-strategies/gitflow/)says that hotfix branch contains commits count in pre-release tag:

But commits on branch passes to metadata variable and prerelease contains counter by tags in hotfix..
Example:
We have hotfix/0.2.1 branch. Version is 0.2.1-beta.1+0
After two commits to hotfix we have version 0.2.1.-beta.1+2, but

[2019-01-17 09:52] asbjornu commented on #1569
Which version of GitVersion are you using?

[2019-01-17 10:09] asbjornu commented on #1550
If this PR reduces the error to a warning, is it perhaps worth merging?

[2019-01-17 10:34] asbjornu commented on #1550
If 459bf462ee898511f619d3c5575ff4f9ef89ff67 managed to reduce the error to a warning, is this not a blocker anymore so we can continue as planned in https://github.com/GitTools/GitVersion/pull/1422#issuecomment-449349025?

[2019-01-17 10:35] Dobriy33 commented on #1569
It reproduces in the latest version of GitVersion.

[2019-01-17 14:48] casz opened #1570 "Increment version number when local changes are detected"
Checking out a project that produces nuget packages on build with GitVersionTask where master branch's latest commit is tagged with 2.0.0. It would be nice to increment the patch number when local changes are detected.

Or when you create a feature branch from master that is still tagged with 2.0.0 it should bump the minor version when local changes are detected.

[2019-01-17 20:04] richardgavel commented on #1175
Are we saying there almost needs to be a matrix of GitVersion/NET Core SDK version combinations that are known to work together?

[2019-01-18 10:44] sanderaernouts commented on #1157
@ruhullahshah can I use this `{env:VARIABLE_NAME}` notation as well for versioning the pre-release tag?

I'm currently pushing NuGet packages as part of my PR builds in Azure DevOps. But if I use merge commits to keep my commits clean GitVersion will give the exact semantic version number, for example: `2.0.0-pr5566.10`. What I would like to do to ensure my version is unique is to get something li

[2019-01-19 15:07] ruhullahshah commented on #1157
@sanderaernouts For the first part of your query, AFAIK you will have to add support for enabling `{env:VARIABLE_NAME}` notation to affect the `PreReleaseTag` in [variables](https://gitversion.readthedocs.io/en/latest/more-info/variables/).

For the second part, you could achieve this without any changes by setting the `assembly-file-versioning-format` config. value (for more details, see [configu

[2019-01-19 22:19] mr-exz commented on #1125
Solution for CentOS you can see here in https://github.com/GitTools/GitVersion/pull/1571

[2019-01-20 15:04] gep13 commented on #1560
@ltvan sorry, I am unfamiliar with that error message.

[2019-01-21 08:54] asbjornu commented on #1550
@LordMike, @arturcic: What say ye? ☝️

[2019-01-21 08:58] arturcic commented on #1550
To be honest I would prefer to test it myself, just need a sample how to do that, so that next time I can confirm if it's working, @LordMike  could you provide a sample of the project that has the GitVersion Task configured, as I prefer using the global tool instead of msbuild.

[2019-01-22 00:00] ltvan commented on #1560
@gep13 it seems that due to this part:

[code]

I updated as same as the latest version to a local file and it works:

[code]

[2019-01-22 11:51] waaromikniet commented on #1561
There is a an issue #1539 that describe this problem I think.
+Semver:major is causing a minor increase

[2019-01-22 12:23] asbjornu opened #1572 "Docker naming scheme"
As discussed in https://github.com/GitTools/GitVersion/pull/1571#discussion_r249751741, it would be beneficial for us if [GitTools](https://hub.docker.com/u/gittools) didn't have 4 different repositories for GitVersion:

- [`gitversion-fullfx`](https://hub.docker.com/r/gittools/gitversion-fullfx)
- [`gitversion-dotnetcore`](https://hub.docker.com/r/gittools/gitversion-dotnetcore)
- [`gitversion`](

[2019-01-22 12:24] asbjornu commented on #1218
I believe this can be closed due to the merging of #1215, #1269, #1344, #1422, #1432 and #1485 which all improve our Docker story. I've also created #1572 to discuss which further, concrete, improvements we can make to the current naming scheme.

[2019-01-22 12:24] #1218 closed

[2019-01-22 12:54] arturcic commented on #1572
I think we can.

As far as I know, on Dockerhub there is no option to unlist a repo - it is either delete the repo or make it private, in any case the images will not be available for consumption externally

There is a different option, we can keep the images from `gitversion-dotnetcore` and `gitversion-fullfx` by re-publishing to `gitversion` repository all the tags, using the new scheme - for th

[2019-01-22 13:05] arturcic commented on #1572
Currently we support 2 OSes - windows and linux, and 2 variants for both - fullfx and dotnetcore, meaning 4 images.

Now by adding a new distro, we should add distro information in the tag as well. So I suggest we have this extended scheme:

{version}-{os}-{distro}-{framework} - that's the full tag name.
where
{version} - could be full `semver`, `major.minor.patch` or `latest`
{os} - could be wind

[2019-01-22 13:05] arturcic commented on #1572
@asbjornu can you review my comments?

[2019-01-22 13:17] Svetomechc commented on #1377
Facing the same issue currently when trying to run this in Docker (Alpine Linux):

![image](https://user-images.githubusercontent.com/36156020/51538037-3e749700-1e61-11e9-9ca3-173020210807.png)

[2019-01-22 14:05] arturcic commented on #1572
The docker cli knows the target OS when you run it, and on windows you can switch from windows to linux and it will know to pull the linux image.

[2019-01-22 14:13] arturcic commented on #1572
I think we should also include the framework version, so that we can support dotnet core 2.1 and 2.2 as well as for the full framework 4.7.2

[2019-01-22 14:39] acgritt commented on #1554
I am just curious to know if there has been any work done on this as the warning about `StrictFilePathMarshaller` actually is causing an error with the projects I am working on when I run the build from the command line on Windows with .NET Core 2.2.1.  Within Visual Studio all is fine but when I run from the command line to generate the code coverage reports it creates errors unless I apply the w

[2019-01-22 23:27] #1560 closed, assigned to nobody

[2019-01-23 09:18] asbjornu commented on #1572
Can't we use the same framework notation as the one used in [MSBuild's `<TargetFramework>`](https://docs.microsoft.com/en-us/dotnet/standard/frameworks)? Such as:

* `netcoreapp2.1`
* `netcoreapp2.2`
* `net472`

[2019-01-23 09:19] arturcic commented on #1572
I think we can

[2019-01-23 09:38] asbjornu commented on #1572
Excellent. Then we end up with the tag format **`{version}-{os}-{distro}-{targetframework}`** and the following example tags:

* `4.0.1-beta2-linux-debian-net472`
* `4.0.1-beta2-windows-net472`
* `4.0.1-linux-debian-netcoreapp2.2`
* `4.0.1-windows-nano-netcoreapp2.2`
* `latest-linux-centos-net451`
* `latest-windows-net451`
* `latest`
* `linux`
* `windows`

The only thing I'm unsure of is the place

[2019-01-23 09:49] arturcic commented on #1572
I would prefer to leave it at the end as it's the least important part in my opinion. The OS and maybe distro is the important part, as well as the GitVersion itself

[2019-01-23 10:03] asbjornu commented on #1572
Ok, I agree. **`{version}-{os}-{distro}-{targetframework}`** it is, then.

[2019-01-23 21:55] arturcic commented on #1550
I was able to reproduce it locally, have create a sample console app with the GitVersionTask nuget package installed. I was able to fix it by partially reverting the commit related to .net standard 2.0 support. The 2.0 remains in place, the GitTools.Core is not included by source but using the nuget package, the old way. I'll try to fix GitTool.Core in it's repo, and then updated it in GitVersion.

[2019-01-23 21:56] arturcic commented on #1550
@adamshergold can you test the version 4.0.1-beta1-59? I guess @LordMike will not be able to test it.

[2019-01-24 07:50] gep13 commented on #1560
I will consider pull request later, or somebody can do that.

If you could, that would be great.

[2019-01-24 11:09] arturcic commented on #1550
That is expected, as I had to revert to older version of GitTools.Core nuget package that was using the old LibGit2Sharp. So it should work exactly the same as beta1-51, the one before the merge of #1422. I will try to update the GitTools.Core nuget package with the latest and then use it in GitVersion, hope we will not need to do the workaround

[2019-01-24 11:11] arturcic commented on #1550
So it is basically GitVersion on netstandard 2.0 using LibGit2Sharp version netstandard  1.3 I guess

[2019-01-24 11:11] adamshergold commented on #1550
Sounds good.  I'll still with beta1-59 and the libgit2-dev install for the time-being.

[2019-01-24 14:55] giulianofavro-inpeco commented on #1490
We have the same problem. Is not clear why GitVersion work correctly using a standard Jenkins job, but has problem with pipeline job.

[2019-01-24 17:22] Antebios commented on #1559
So, let me get this straight:  You have a pre-release artifact "SomeArtifact-1.2.3-ci-4.nupkg".  And now you are ready to release it.  You want to tag it with "git tag v1.2.3" and the artifact will become "SomeArtifact-1.2.3.nupkg"?  Correct? AH!  I re-read your post, and I think I understand that the Azure Build Definition is not creating the build artifact after you tag it?

Setting this up:
I)

[2019-01-28 05:46] isengrim613 commented on #1170
Forgive me for being confused but how does this help in versioning per project in a single git repo?

[code]

If the git version ymls in the project subfolders are honored, can i have a different version for project1 and project2?

Like,

* project 1 is at version 1.1.20-commit50
* project 2 is at version 2.0.0-commit100

I believe the major and minor versions are based on tagging, the patch numbe

[2019-01-28 22:19] GeorgDangl opened #1573 "Mainline mode with master, develop and feature branch: +semver commit messages in feature are applied twice"
I'm doing mainline development with the following setup:
* All commits to `master` produce a stable version
* `develop` is merged into `master`, solo-development is usually done on `develop`
* I split bigger features in a `feature/` branch, which then gets merged back into `develop`

Here's my GitVersion.yml:
[code]

Here's the history of the latest work:

![mainline](https://user-images.githubuse

[2019-01-29 07:31] wordodv opened #1574 "MSBuild crash on mono with GitVersion task"
Hi!

I'am build my .Net project with GitVersion task (package ver. 4.0.0).
On windows all fine, but when try to build on CI system with docker and mono all failed.

**Full log:**
[code]

[2019-01-29 14:57] giulianofavro-inpeco commented on #1501
I belive we have same problem:
[code]

[2019-01-29 19:09] kid93 commented on #1531
@philippdolder have you heard back or found a relating issue where the problem is addressed?

Thanks

[2019-01-29 21:12] mlapaglia opened #1575 "Jenkins "Path Too Long" error"
When running `gitversion` command on a scripted pipeline inside Jenkins I get
[code]

When I navigate manually to the folder and execute `gitversion` it prints out the version correctly. I'm on Windows Server 2019 and have long filepaths enabled.
Why does the command work when I run it outside of the build agent? Is there a way to make it behave the same while running in Jenkins?

[2019-01-30 07:34] philippdolder commented on #1531
@kid93 I didn't hear anything back

[2019-01-30 21:37] stoopered opened #1576 "Use latest Tags as base version on Release Branches -- Request Release Flow support"
My branching strategy is like this:

(Azure DevOps)
Tag is at 1.2
Master >branch to users/username/workitem
|
|
PR Into Master (now at 1.2.3 increments with Mainline so every commit) and Cherry Pick change into release/release-1.1

I want release 1.1 to build to 1.1.XXX in this case 1.1.15. I have tried it so that NextVersion is 1.1.15 but it keeps picking up 1.2 as the base version. I need to ove

[2019-01-30 21:48] stoopered commented on #1417
Did you ever get an answer??

I would also like to know this. Same issue. This is a popular branching strategy, you should always merge to Master first, then GitVersion should pick up Release branches version as the base. i.e Release\v1.2.10 so ever merged commit should be 1.2.11, 1.2.12, 1.2.13 etc etc.

If this is fixed then my entire branching strategy will be beautiful!

[2019-01-31 09:29] marius-stanescu-archive360 opened #1577 "Is it possible to configure GitVersion for Release Flow?"
I am trying to configure GitVersion to work with the Release Flow branching strategy.

Basically, I have a mainline Master branch, Release, Feature and Fix branches. The Feature and Fix branches are created from the Master branch and merged back into Master via a pull request. At the end of a sprint, I create a Release branch from Master, which will last till the end of the next sprint, when a new

[2019-01-31 16:05] stoopered commented on #1577
Same question I asked yesterday. **Ignore Tags on Release Branches #1576**

[2019-02-01 09:16] marius-stanescu commented on #1576
I don't know how to answer your question, but can you post the configuration you're using? I want to try it.

[2019-02-01 15:18] stoopered commented on #1576
My question is the same as yours 1577.

I have a Release branch, and I am merging changes into it, but it picks up the Version of Master and increments it.

I have played around with many configs, and have yet to get any to work. I have also tried to Set Next version by modifying the yml during the pull request but that does not work.

assembly-versioning-scheme: MajorMinorPatch
mode: Mainline
bra

[2019-02-05 15:12] FuncLun commented on #1437
This is a nagging issue for me as well. Even when building a commit tagged with a version, the version should be `-{tag}.0`, unless expressly configured for release build (i.e. in 'master' or via command line option).

For example, assume master is built using "Release" configuration and creates tag "1.2.3". Assume the build environment is automatically setup to build "Debug" builds for all `featu

[2019-02-05 15:21] twsI commented on #1557
Still no fix?

[2019-02-05 15:33] twsI commented on #1550
suggested solution with manual install doesn't work on alpine images

[2019-02-07 11:25] JeremyCaney commented on #1554
I'm also curious what the status of this is. Unlike @wjrogers, `beta1-51` doesn't work for me—nor does the latest `beta1-59` from two weeks ago. I'm attempting to run `dotnet build` for libraries targeting both **.NET Framework 4.7** _and_ **.NET Standard 2.0**. I get the errors…
[code]
…and…
[code]
Perhaps naively (?) I would assume this has something to do with the `UtilPackNuGetMSBuildToolsRoot

[2019-02-07 13:51] wjrogers commented on #1554
@JeremyCaney Since my earlier comment, I found that no version works with `dotnet-sdk-2.2`. It's just broken. beta1-51 works with `dotnet-sdk-2.1`.

[2019-02-07 21:18] mabead opened #1578 "GitVersion not using my tags anymore"
I just upgrade to the dotnet global of GitVersion (version 4.0.1-beta1-58) and my version number jumped all of a sudden. With the previous version of GitVersion, my master branch was detected as 0.325.3 by GitVersion. Now that I changed the version of GitVersion, the following commit on master resulted in a version equal to 1.245.4.

Here are the relevant parts that I see in the output of GitVersi

[2019-02-11 15:39] HotdogWang commented on #1321
Hi all,

Is there any update or workaround about this issue ?

[2019-02-12 08:20] tsproull opened #1579 "Azure Pipelines - Pull Request Inheritance"
I'm using a trunk-based branching strategy that I'm trying to version using the GitVersion@4 task in Azure Devops. All works perfectly fine when building off feature branches, but Pull Request builds don't appear to be inheriting properly. The flow we have is:
feature/bug -> PR -> master -> release

In the log I can see it's using the feature/bug branch itself a base - should it not be the pull re

[2019-02-12 10:57] asbjornu commented on #1321
@HotdogWang: Sorry, we need a PR to fix it. None has been provided so far and I don't have time to invest in fixing this as of now.

[2019-02-12 13:09] arturcic opened #1580 "Integrate GitTool.Core code into GitVersion"
As part of the #1422 the source code of GitTools.Core was included into the GitVersion repository, but I had to partially revert the changes related to GitTools.Core. This issue is meant to re-integrate the GitTools.Core code, but only the necessary code. This will allow to have a direct dependency on Libgit2sharp

[2019-02-12 19:56] stoopered commented on #1576
This is what I am wanting.
![releaseflow](https://user-images.githubusercontent.com/14861898/52664197-03004200-2ece-11e9-9813-61e45467aa92.jpg)

[2019-02-12 20:15] stoopered commented on #1576
I tried to work around it by adding a 1.2.3 tag to release, but when the cherry pick occurs, it picks up the 1.3 version.

[2019-02-13 08:35] arturcic commented on #1580
Closed by #1581

[2019-02-13 08:35] #1580 closed

[2019-02-14 09:40] wordodv commented on #1574
More detail error message:
[code]

[2019-02-14 12:06] llipavsky opened #1582 "version consisting of four numbers"
Hi, I'd like to use GitVersion for continuous integration of our (existing) product.

However the versioning of our product is slightly different to the one expected by GitVersion

we have 4 parts version: 7.1.12.5
(major.servicepack.release.buildnumber).
Is it possible to somehow configure the GitVersion to support this versioning?

In fact the major (and also servicepack) versions are changed so

[2019-02-15 09:29] #1536 closed

[2019-02-15 09:50] arturcic opened #1583 "Validate the built artifacts on all OSes Libgit2sharp runs"
There is a need to validate the built artifacts on the environments Libgit2sharp runs as there are a couple of issues related to Gitversion not working properly on some environments; probably using Docker Images in AzurePipelines.

[2019-02-15 11:02] arturcic commented on #1517
Closed by 88916367ddde86845ce824aaf5058827859ce4a5

[2019-02-15 11:02] #1517 closed

[2019-02-15 11:19] arturcic commented on #1578
Can you try using the latest 5.0.0-beta1-26? and see if it's working?

We had to revert some changes introduced in versions between 4.0.0-beta1-51 and 4.0.0-beta1-59.

[2019-02-15 11:52] arturcic commented on #1562
A PR is welcomed

[2019-02-15 11:53] #1035 closed

[2019-02-15 14:33] asbjornu commented on #1500
This should be fixed by #1541.

[2019-02-15 14:33] #1500 closed

[2019-02-15 14:36] asbjornu commented on #1437
Is this fixed by #1540?

[2019-02-15 16:30] mabead commented on #1578
Same problem. Here are my repro steps:

Check-out my tag and create a new branch:
[code]
Check what GitVersion says. As you can see, GitVersion detects 0.325.2 correctly.
[code]
I now create a commit and see what git version 4.0.1-beta1-58 says:
[code]
As mentionned in the original issue, the version jumps to 1.1.
I now try to update GitVersion to 5.0.0-beta1-26 as suggested:
[code]
As you can see

[2019-02-16 16:26] voslucas commented on #740
I have a simple project setup with Gitversion/Semver which i want to promote (being stable) to 1.0.0, but none of the +semver: commit messages seems to work (as described in 708). And as small project, no release branches. I see this is still an open request. What's the recommended workaround? Just make the tag by hand?

[2019-02-18 10:53] jbaehr commented on #1468
@asbjornu: is this issue also fixed by #1541?

[2019-02-18 11:03] asbjornu commented on #1468
@jbaehr: #1541 ignores branch names of non-release branches, not commit messages. However, it will perhaps also affect commit messages made in ignored branches... I haven't tested. Regarding ignoring commit-messages, #1507 tries to tackle that problem.

[2019-02-18 13:29] arturcic commented on #1217
Implemented in #1485

[2019-02-18 13:29] #1217 closed

[2019-02-18 15:32] #1183 closed

[2019-02-18 18:11] chrbkr commented on #1345
Sorry for the late response. Yes, this would definitely help.  Would that be hardcoded or would it be possible to set some options? In order to mitigate the 16 bit limitation pointed out by @jbaehr it might be useful to use `git rev-list HEAD --count --first-parent` (on master) instead, so only releases are counted (assuming a git-flow approach).

[2019-02-18 19:55] arturcic commented on #1562
Fixed in 043e4d88e39cc5978a798b14d7b93e2e947968d9

[2019-02-18 19:55] #1562 closed

[2019-02-18 20:58] jbaehr commented on #1468
@asbjornu I think this issue is also about branch names. But not about a name of an existing branch, but a branch name reconstructed from a merge commit message:

From https://github.com/GitTools/GitVersion/issues/1468#issuecomment-419357543

i.e. the faulty "1.1" does not result from a currently existing branch `build/pin-net-sdk-to-1.1`, but a previously existing, merged and removed, one.

[2019-02-18 21:31] jbaehr commented on #1345
@chrbkr just be careful with GitVersion's cache. We run GitVersion.exe with the `/nocache`-flag prior to the build, setup a "weighted prerelease number" env-var by applying a prerelease-label based offset to the commits-since-version-source and use that for the fourth digit (#1433 is an attempt to automate this further). The first call of the GitVersionTask creates the cache with the env-var alrea

[2019-02-19 13:06] asbjornu commented on #1468
@jbaehr, thanks for the clarification. Then I definitely think #1507 is going to be a possible fix.

[2019-02-19 13:17] stoopered commented on #1576
Still hoping that GitVersion will eventually support release flow. It is a much simpler way of branching and is being used by Microsofts own Azure DevOps team.

https://docs.microsoft.com/en-us/azure/devops/learn/devops-at-microsoft/release-flow

[2019-02-19 15:25] asbjornu opened #1592 "Sort out documentation"
I've registered [gitversion.net](https://gitversion.net/) to host GitVersion's documentation. What's being served there is whatever is in the `gh-pages` branch. We also have the `docs` folder, which is the source of the [documentation on ReadTheDocs](https://gitversion.readthedocs.io/).

I assume using ReadTheDocs for its versioning capabilities and search is a good idea. But whatever resides with

[2019-02-20 12:00] #1275 closed

[2019-02-20 12:09] asbjornu commented on #1255
Have you tried with `mode: Mainline`? Since all commits seems to be on `master`, that might be a more fitting mode for your use of GitVersion.

[2019-02-20 12:57] arturcic commented on #934
Closing as not reproducible

[2019-02-20 12:57] #934 closed

[2019-02-20 13:06] asbjornu opened #1597 "Add Node.js test suite"
As surfaced in https://github.com/GitTools/GitVersion/pull/1402#issuecomment-465550838, the TFS Task related stuff uses Node.js, which means we currently have no continuous integration setup with tests for much of the TFS related code. This is a problem and we need to create a Node.js based test suite that can be executed with `npm test` on our continuous integration infrastructure.

[2019-02-20 13:09] arturcic commented on #1583
#1597 Would be great if we can also validate all the artifacts we produce, including TFS and Ruby gem

[2019-02-20 14:08] arturcic commented on #1401
closed in #1594

[2019-02-20 14:08] #1401 closed

[2019-02-20 16:39] pascalberger commented on #1592
The stuff in the `gh-pages` branch is probably from the old GitHub hosted page which was abandoned with https://github.com/GitTools/GitVersion/issues/666.

So I think the branch is no longer required and we keep it either for historical reasons or delete it. I would be OK with the second.

[2019-02-20 18:46] dpurge commented on #1255
Sorry, it's 2019, the bug was reported in 2017. I no longer remember the details, but GitVersion was not working reliably enough for us and in the end we have written our own task to calculate version numbers according to our own needs and strategy and it's working since then in most of our projects. I think it would be good to drop the need to maintain our own solution, but it's probably too late

[2019-02-20 20:26] asbjornu commented on #1255
I'm sorry to hear that, @dpurge and I apologize for the absence. Whenever you feel like taking a look at GitVersion again, I hope it's reached a more stable state and suits your needs well. I'll close this and welcome you back whenever the opportunity presents itself. Godspeed!

[2019-02-20 20:26] #1255 closed

[2019-02-20 20:34] asbjornu commented on #1592
Thanks for the details, @pascalberger. Not sure if it's a good idea or not, but a possible venue might be to move from ReadTheDocs to GitHub Pages. If so, gammapy/gammapy#1241 might be a useful read.

[2019-02-20 20:53] pascalberger commented on #1592
There are also other static site generators like [Wyam](https://wyam.io/) or [DocFx](https://dotnet.github.io/docfx/) which could be used if moved to GitHub pages.

If going this route, I personally prefer to have an oprhan `gh-pages` branch instead of using a sub directory to have documentation source (the Markdown files which are part of `master` branch) and documentation build output (the HTML

[2019-02-21 11:04] asbjornu commented on #1592
If we're going to separate out the documentation from GitVersion's source code, I would prefer having it in a separate repository altogether and just delete the `gh-pages` branch and `docs` folder. The problem with that is keeping the documentation in sync with the code. I'm sure it's doable in a way, but we can't do it atomically in a single pull request as we can now.

[2019-02-21 21:48] coldacid opened #1601 "[GitVersionTask] MSB4175 when calling `dotnet build` on solution with multiple projects"
Found with GitVersionTask 5.0.0-beta1-72 using .NET Core SDK 2.2.102 (internal MSBuild 15.9.20+g88f5fadfbe).

Build failed on second project (of three) within the solution with the following error:

My thought is that MSBuild inside dotnet CLI is using the same process for each project inside the solution file, so tries reloading the UtilPack.NuGet.MSBuild assembly which fails since it's already l

[2019-02-22 09:30] thestonehead commented on #1557
I have this problem on 4.0.0, but not on 4.0.0-beta0012

[2019-02-22 11:47] gep13 commented on #1592
@asbjornu the way that I tend to do documentation is inline with what I "think" you want.  I store the source files for the documentation next to the code, that way, as you are updating one, you update the other (or at least, this is the ideal).  I then use that static documentation generator, Wyam, to take those source files, and create the site.  For me, this is ultimately hosted on a `gh-pages`

[2019-02-22 13:32] pascalberger commented on #1592
I'm doing it the same way as @gep13 and avoid separate repositories to have the possibilities to make and review changes in the source and doc in one PR

[2019-02-22 15:47] asbjornu commented on #1592
Thanks for the input, @gep13 and @pascalberger! Yeah, what you describe makes sense. Wyam looks like a good fit as this project is written in .NET. Would it be possible to build something that could replace RTD and be hosted on GitHub Pages without boiling the ocean? Do you have examples of something RTD-alike we can run with?

[2019-02-22 16:36] ruhullahshah commented on #1526
After digging into the version calculation code a bit, I figured out that `CommitsSinceVersionSource` is calculated by `LibGit2Sharp` [here](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/VersionCalculation/MetaDataCalculator.cs).

Since the commit count is return by `LibGit2Sharp`, the question that arises is that are we asking the right question to in the 'CommitFilter`, i

[2019-02-22 17:18] gep13 commented on #1592
@asbjornu Something could definitely be done.  The only thing that Wyam doesn't do OOTB, and if we wanted to keep it we would have to do some work, is to handle different versions of the documentation.

[2019-02-22 21:00] matthewgonzalez opened #1602 "No "latest" tagged docker image?"
Running into some issues with system dependence on the `gittools/gitversion:latest` tagged docker image.

Error received when trying to pull image:
[code]

[2019-02-23 09:14] arturcic commented on #1602
it is related to #1572. Migrating from 2 repositories into gittools/gitversion repository. I'll update you when the migration is done

[2019-02-25 09:24] asbjornu commented on #1592
Right. Since that's something RTD does, versioning would be great to have, yes. That's probably something we need to do in the build process, then?

[2019-02-25 09:46] gep13 commented on #1592
@asbjornu if I recall correctly, yes.  I believe that @daveaglick had a suggestion about how this "could" be done with Wyam, but I don't recall if any site/person actually put it into action or not.  @pascalberger do you remember?

[2019-02-25 09:53] pascalberger commented on #1592
I never did a versioned site or saw any site implementing it. There's an issue over at the Wyam repo for version specific API docs: https://github.com/Wyamio/Wyam/issues/356.

In our case we're only looking for version specific contextual documentation. IMHO this is not primary an issue of Wyam but more of the whole build process. We could for example either retrieve the different versions of the

[2019-02-25 10:27] arturcic commented on #1602
Please use `gittools/gitversion:latest-windows` or `gittools/gitversion:latest-linux` as this are the tags that we'll be using

[2019-02-25 10:27] #1602 closed

[2019-02-25 13:17] ruhullahshah commented on #1525
I have added a fix for this issue, that is waiting to get merged
https://github.com/GitTools/GitVersion/pull/1446

[2019-02-25 13:27] daveaglick commented on #1592
There's two different things people mean when they say "versioned docs": versioned content and versioned API docs. The two are related, but not necessarily the same. They're certainly different from a tooling perspective. If all you're looking for is versioned content and not multiple versioned API docs, then the problem is quite a bit easier.

There's a few different ways I've seen people handle

[2019-02-25 14:39] asbjornu commented on #1526
Good question, @ruhullahshah. Do you have any suggestions?

[2019-02-25 14:59] Mephistofeles opened #1604 "NuGetPackOutput has incorrect version when project is being build using Rebuild with GitVersionTask 4.0"
GetVersion task runs some time later after _GetOutputItemsFromPack (because it is run by _CleanPackageFiles after Clean target), and it causes NuGetPackOutput to have incorrect file paths  (e.g.  something.1.0.0.nupkg instead of .0.1.0.nupkg). However because the actual output path is calculated again in the PackTask after build, the real package is named with correct version.
Because of that the

[2019-02-25 15:34] ruhullahshah commented on #1526
@asbjornu As of now no. I have never used `LibGit2Sharp`, but I assume that there are people here who are experienced at this and could provide some suggestions to shorten the time-to-fix. Otherwise, it might take some time to fix this one.

[2019-02-25 17:43] matthewgonzalez commented on #1602
When one tries to pull using the default command (i.e. `docker pull gittools/gitversion`), it tries to pull the `latest` tagged image.

I am thinking this decision will have negative consequences for others.

[2019-02-25 18:06] arturcic commented on #1602
I will manually tag the latest-windows and latest-linux as latest only for now, on next release it will be updated to the new version as part of the changes I did in that PR

[2019-02-26 01:51] tvoyle opened #1606 "GitVersion cannot find remote master or develop from inherited branch config"
The most recent beta release changes the default branch regexes in a way that prevents them from matching remote branches if GitVersion can't find the parent.

https://github.com/GitTools/GitVersion/blob/14b736584840bae5878b565e7d92caea6afc6c7d/src/GitVersionCore/BranchConfigurationCalculator.cs#L130

The use of Branch.FriendlyName with the default master regex of ^master$ means that it will never

[2019-02-26 08:54] arturcic commented on #1602
I have pushed a gittools/gitversion:latest image.

[2019-02-26 09:42] arturcic commented on #1572
Closed by #1603

[2019-02-26 09:42] #1572 closed

[2019-02-26 09:59] asbjornu commented on #1526
Perhaps @ethomson receives this and can provide some guidance?

[2019-02-26 13:45] asbjornu commented on #1592
Yup, I agree we should be able to fix this in the build process. One version per tag, preserving the last version in a folder, sounds like a good approach.

[2019-02-26 14:43] hayhay27 opened #1607 "Add VersionSourceSha to output"
I think this can be useful.
On dev branch we use commits between BaseSha and Sha to collect issues from comments and setup fix version in jira.

This should be simple because MetaDataCalculator already contains base commit info.
I can make pull request.

[2019-02-26 15:18] ruhullahshah commented on #1526
Upon further code exploration, I figured out that `LibGit2Sharp` is doing the right thing. The observed failure is due to GitVersion passing the wrong commit as the base version source [here](https://github.com/GitTools/GitVersion/blob/5bf64fba928960a0c977c927060796a49fa06b61/src/GitVersionCore/VersionCalculation/NextVersionCalculator.cs#L52).

With the current version calculation strategies, I do

[2019-02-26 17:50] stoopered commented on #1576
For anyone having the same issue, if you use the anti-pattern of doing a hotfix from the release branch, then release flow will work

[2019-02-27 07:35] #1527 closed

[2019-02-27 10:19] asbjornu commented on #1525
Since #1446 is merged, I suppose this can be closed.

[2019-02-27 10:19] #1525 closed

[2019-02-27 18:58] PilotBob commented on #1474
from the docs:

The logic of GitVersion is something like this:

Is the current commit tagged
Yes: Use the tag as the version
No: continue
Calculate the base version (highest version from all the sources)
Increment version if needed based on branch config
Calculate the build metadata (everything after the +) and append to the calculated version

So since you have tags, next-version isn't used.
htt

[2019-02-27 22:30] adstep commented on #1554
I'm hitting this issue as well targeting ```netcoreapp2.1```. I have tried a bunch of the beta versions to no avail. Has anyone had any progress?

[2019-02-28 09:32] asbjornu commented on #1526
Good observation and forensics there, @ruhullahshah. Yep, it's obvious that `TrackReleaseBranchesVersionStrategy` is pretty useless in the absence of a release branch. Can we somehoe deduce that a release branch was merged and then count the number of commits that were made on the release branch?

`git rev-list --count HEAD ^release/x` won't work since `release/x` doesn't exist anymore, but the co

[2019-02-28 09:46] dazinator commented on #1526
I discovered in the past that you can you detect a release branch has been merged based on finding the standard merge commit message. However... I found that sometimes when merging release branches locally (I use hit flow) - the merge is done as a fast forward. This avoids any such merge commit and makes the release branch undetectable (as though it never existed). Therefore if you do rely on this

[2019-02-28 15:08] stazz commented on #1554
Hi @adstep and others,

I've been working on this issue for a bit now. The work is going on in https://github.com/stazz/NuGetUtils repository, and after that, some work needs to be done for GitVersion task to be compatible with the changes. Once that is done, the whole reason for this issue will disappear.

It's hard to give any estimates, but major part of the work in NuGetUtils repository is alr

[2019-02-28 15:11] arturcic commented on #1554
@stazz do you think you could make those changes for GitVersion as a PR?

[2019-02-28 15:13] stazz commented on #1554
@arturcic I can try at least. I'll do the forking and working on it once all my tests work fine in NuGetUtils repo. :) I'll write here if I bump into something that I can't solve by myself.

[2019-03-01 03:31] roryprimrose opened #1610 "GitVersion .Net Core (Preview) Azure DevOps task error"
Just tried out the new Azure DevOps task for .Net Core. It fails on a build with the following message

[code]

[2019-03-01 03:45] roryprimrose opened #1611 "Populate new csproj format properties from Azure DevOps build pipeline task"
The existing build tasks for Azure DevOps have long had the option to update AssemblyInfo.cs before running a build task (which is really sweet BTW). Is there going to be support in the future for updating the version/package metadata properties in the new csproj format from the build task?

I've previously used a powershell script to take the output of the GitVersion variables to manually go into

[2019-03-01 05:33] roryprimrose commented on #1611
This is the powershell script I am using between running the GitVersion build task and the ```dotnet build``` task.

[code]

[2019-03-01 07:16] arturcic commented on #1610
Thanks for reporting

[2019-03-01 07:23] arturcic commented on #1611
You could also create/update the `Directory.Build.props` file with the properties you're interested in.

That would be a good addition to the Build Task, for example create `Directory.Build.props` for new sdk based projects and keep `AssemblyInfo.cs` for older project types.

You can have a look how we use it in GitVersion
https://github.com/GitTools/GitVersion/blob/master/src/Directory.Build.prop

[2019-03-01 08:48] asbjornu commented on #1610
Is it possible to detect this in our CI pipeline, somehow?

[2019-03-01 08:50] asbjornu commented on #1607
By `BaseSha`, do you mean the SHA corresponding to the "version source", i.e. the commit GitVersion has found to use as its base for calculating the version number?

[2019-03-01 09:19] asbjornu commented on #1606
@tvoyle: Thanks for the bug report and suggested fix. I've submitted #1613 that hopefully should fix the problem.

[2019-03-01 09:21] #1606 closed

[2019-03-01 09:34] asbjornu commented on #504
Closing due to inactivity. If anything still needs to be done related to this, please submit a PR.

[2019-03-01 09:34] #504 closed

[2019-03-01 09:34] asbjornu commented on #507
Closing due to inactivity. If anything still needs to be done related to this, please submit a PR.

[2019-03-01 09:34] #507 closed

[2019-03-01 09:36] asbjornu commented on #512
Closing this as it's basically a duplicate of #504 and since it hasn't received any attention since 2015, we can just pick this up again whenever someone has the time to submit a PR.

[2019-03-01 09:36] #512 closed

[2019-03-01 10:05] asbjornu commented on #748
Closing due to inactivity. If this is still a problem, please submit a PR with a fix. :)

[2019-03-01 10:05] #748 closed

[2019-03-01 10:06] #520 closed

[2019-03-01 10:18] oursridhar opened #1615 "Build number is generating wrong."
Here with i have attached logs ( version.log & yaml file generated by Gitversion 4.0.0"

Build number suppose to be 2.16.0.*********, However it is giving build number as 6.5.0.************

could some one help me on this.

2019-03-01 08:57:41		INFO [03/01/19 8:57:41:16] Working directory: .
2019-03-01 08:57:41		INFO [03/01/19 8:57:41:47] Begin: Calculating base versions
2019-03-01 08:57:41		  INF

[2019-03-01 10:48] hayhay27 commented on #1607
Yes, I mean `baseVersionSource.Sha`.
Perhaps `BaseSha` is not the best name. Maybe `BaseVersionSourceSha`, `PreviousVersionSha`, etc.

[2019-03-01 10:56] asbjornu commented on #1607
I think `VersionSourceSha` is terse, unambiguous and goes well with the already existing `CommitsSinceVersionSource`. Are you up for implementing that in a PR, @hayhay27?

[2019-03-01 10:58] asbjornu commented on #740
@voslucas, I'm not a user of the `+semver:` functionality myself, so I'm not sure how it's meant to be used, but as this issue is still open, I assume `git tag 1.0` will have to do for now.

[2019-03-01 11:02] asbjornu commented on #635
Closing due to inactivity and because I agree that @pascalberger is correct in his assumption of this being solved.