[2016-11-27 01:58] #881 closed

[2016-11-28 00:16] JakeGinnivan opened #1108 "Default inherit infinite recurse"
Need to hotfix this asap

[code]

/cc @DanielRose

[2016-11-28 08:56] Ivan-L commented on #909
Is this still planned? It would be great to be able to use the GitVersion VSTS build step on a Mac build agent.

[2016-11-28 09:00] pascalberger commented on #909
@Ivan-L Rewriting the VSTS task to Node and the new VSTS Task SDK still makes sense. But I don't think anybody is currently working on it. But I would be happy to accept a PR for this :)

[2016-11-28 09:02] mclang commented on #1097
I have newest available curl, which is [7.51.0-1](https://www.archlinux.org/packages/core/x86_64/curl/), installed but I don't know if it has the required `libcurl3` files. I also tried installing [libcurl-compat](https://www.archlinux.org/packages/community/x86_64/libcurl-compat/) package but that didn't help.

This time tough I got longer error message that I missed in my first post:
[code]

[2016-11-28 09:15] mclang commented on #1097
Maybe this helps:
[code]
For me at least it seems that I need to install `libcurl3` somehow... I can't find it from Arch repositories or from AUR :(

[2016-11-28 09:26] asbjornu commented on #1108
Related to https://github.com/GitTools/GitVersion/pull/1100#issuecomment-263063461?

[2016-11-28 09:33] asbjornu commented on #1088
Wasn't this fixed by @JakeGinnivan over the last weekend?

[2016-11-28 09:40] pascalberger commented on #1088
This should be fixed by #1093

[2016-11-28 09:40] #1088 closed

[2016-11-28 09:47] gep13 commented on #1088
@pascalberger agreed.

[2016-11-28 09:49] mclang commented on #1097
With both 64bit abd 32bit `curl` and ` libcurl-compat` installed I have `/usr/lib/libcurl.so.3` though:
[code]

[2016-11-28 11:30] mclang commented on #1097
I found this LibGit2Sharp issue: [Unable to load native DLL if path contains %2F](https://github.com/libgit2/libgit2sharp/issues/1389)

May not be related because my project path does not contain spaces, but linking it here so that maybe somebody gets an idea.

[2016-11-28 17:19] asbjornu commented on #1097
@mclang: `%2f` is `/`, not space. It is quite common to use `/` as a separator in Git Flow, for `feature/*`, `hotfix/*`, `support/*`, and similar branches. What is the name of the branch you're having this problem with?

[2016-11-28 17:41] mclang commented on #1097
Oh, okay... Should have checked that character code _before_ posting :|

My project path is like: `/home/mclang/Projects/<project-name>`. I'm using `master` branch so no forward slashes there.

I searched for that `version 'CURL_OPENSSL_3' not found` message and found out that in many cases the program or library in question was compiled against an older libcurl. Can this be the case here also?

[2016-11-28 18:07] asbjornu opened #1109 "Propagate log verbosity from MSBuild to GitVersionTask"
As GitVersion now has a concept of log verbosity (as per #1107), it would be nice if MSBuild's log verbosity level could be propagated down into GitVersionTask.

[2016-11-29 07:41] dennisdoomen commented on #825
Apparently this doesn't work as I expected. Just clone `https://github.com/dennisdoomen/fluentassertions`, then run `git checkout -f 4.6.3` and then `lib\Gitversion.exe`. It won't be able to calculate the version, even if you update GitVersion to 3.6. The same happens on our internal code-base (which I can't disclose obviously).

[2016-11-29 07:52] roryprimrose commented on #1066
If the caching was fixed after 3.6.1 then no as we are back up to 3.6.4. We have a repository per solution under the one VSTS account.

[2016-11-29 13:20] DanielRose commented on #1066
@roryprimrose Ok, the bug was that the caching didn't work at all, so if you ran GitVersion multiple times in the same repository (without anything changing), the cache did not work.

I added some in-memory caching as PR #1100. You can try that via the newest beta release and see if it helps. _Note that the configuration syntax has slightly changed, if you use a custom configuration._

[2016-11-29 16:55] waynebrantley commented on #1035
I created a tag 1.8.1 on master in my local repo.
Ran gitversion (setup for mode:Mainline).  It produced 1.8.1 as the version.
Did a commit to master (again locally)
Ran gitversion.  It produced 2012.11.43  as version.

[2016-11-29 18:19] NickMoores commented on #1064
Is this expected behaviour?

I was expecting the "Minor" variable to increment from 1 to 2 with the above configuration.  Specifically, I thought the combination of ContinuousDeployment mode (which would bump the version on every commit) and Minor increment (which would increment the _minor_ version every time it is bumped) would do this.

I'm able to reproduce the above behaviour, but it wasn't w

[2016-11-29 18:28] gep13 commented on #1064
I'm able to reproduce the above behaviour, but it wasn't what I was expecting.

Is this a public repo that you can point us at?

[2016-11-29 21:35] NickMoores commented on #1064
Yep: https://github.com/NickMoores/gitversion-test

My steps were:

1.  Create repository in GitHub with Visual Studio .gitignore.
2.  Clone via Visual Studio.
3.  Go to root folder of cloned repository, and run "gitversion init"
- Run getting started wizard.
- Choose GitFlow (or similar).
- Choose continuous delivery mode.
- Save changes and exit.
4.  Create empty Visual Studio solution file.
5.

[2016-11-30 08:15] gep13 commented on #1035
@waynebrantley what was the commit message that you used?

[2016-11-30 10:35] gep13 commented on #1064
@NickMoores so, just so we are clear... what are you expecting the Minor version to be?

The branch structure you have suggests that you want to use GitFlow, but then you have set the mode to be ContinuousDelivery.  Have you read this:

http://gitversion.readthedocs.io/en/latest/reference/continuous-delivery/

[2016-11-30 10:37] bradphelan opened #1110 "Gitversion fails on buildserver"
I'm not sure what I've done that is wrong but I get the following error when executing gitversion on our JetBrains/TeamCity build server. Note that it has been successfully working for many many months and now I get the following error.

[code]

but on exactly the same checkout on my dev machine I get

[code]

[2016-11-30 10:49] bradphelan commented on #1110
I see. It can't find develop or master branch

[2016-11-30 10:52] bradphelan commented on #1110
That's curious.. I don't have the develop branch pulled down on the team city server.

![image](https://cloud.githubusercontent.com/assets/17650/20749594/3ef7758a-b6f3-11e6-87f4-c43a362e242f.png)

vs on my dev machine.

![image](https://cloud.githubusercontent.com/assets/17650/20749641/69c4141c-b6f3-11e6-95b2-9c4441b03c7f.png)

No idea why.

[2016-11-30 11:01] NickMoores commented on #1064
@gep13 I was expecting it to be 3, because I had performed two commits on the dev branch.

I have read that URL, but my main point of reference was this:

http://gitversion.readthedocs.io/en/latest/more-info/version-increments/

I actually just tried changing the mode in my GitVersion.yml to ContinuousDeployment, but the Minor version stayed at 1 on the dev branch (even after subsequent commits).

[2016-11-30 11:04] gep13 commented on #1064
@NickMoores depending on the version of GitVersion you are using, the GitVersion cache isn't cleared out after making changes to your configuration file.  I would suggest clearing out the `.git\gitversion_cache` folder, and trying running it again.

[2016-11-30 11:09] gep13 commented on #1064
@NickMoores also, perhaps the wording in that quote isn't the best.  The semantic version number of each commit is incrementing, in the sense that: 0.1.0-alpha.1, will go to 0.1.0-alpha.2, and then 0.1.0-alpha.3, however, the minor version number will not change until a tag is applied to the master branch, after a release has happened.

[2016-11-30 11:10] bradphelan commented on #1110
What is strange is that if I go to a previously passing build and then run 'gitversion' in the build directory it fails exactly the same. There is no "develop" branch pulled down yet it worked fine previously.

[2016-11-30 11:16] bradphelan commented on #1110
Ohhh a duplicate of https://github.com/GitTools/GitVersion/issues/912

[2016-11-30 11:35] NickMoores commented on #1064
@gep13 Thanks.  I've just tried merging to master, applying a "v0.2.0" to the merged commit, and then going back to dev and committing, but no change to the minor version.

Also bizarrely, the SemVer is still 0.1.0 despite applying the v0.2.0 tag.  I've updated the repo @ https://github.com/NickMoores/gitversion-test to demonstrate.

I'm using gitversion from chocolatey (installed yesterday), and

[2016-11-30 11:42] gep13 commented on #1064
The issue you are seeing is due to the tag name you have chosen.

You are using `v.0.2.0` and GitVersion doesn't recognise that as valid.  If you instead switch the tag to `v0.2.0` and switch to the dev branch, you should see:

![image](https://cloud.githubusercontent.com/assets/1271146/20751140/1dc4641e-b6f2-11e6-944e-23113a1156b7.png)

[2016-11-30 11:43] gep13 commented on #1064
@NickMoores which is what I "think" you are after, right?

[2016-11-30 12:01] NickMoores commented on #1064
@gep13 Ah, silly mistake with the tag name, thanks for pointing out!

Re-reading your comments, I think this makes sense now.  I was expecting the minor version number to increment on every commit to the dev branch, instead of after a tag is applied to the master branch, but that wouldn't really make sense as a workflow.  I understand that it's the **semantic version** that's increasing with each

[2016-11-30 12:07] gep13 commented on #1064
@NickMoores not a problem at all.  There are configuration options to allow the bumping of the patch number on each commit, but that isn't something that I tend to do.  I almost always use GitFlow, and OOTB, GitVersion handles this really well.

[2016-11-30 14:22] waynebrantley commented on #1035
Something like 'test commit'.   Just any normal message.
It just seems the search for prior 'tags' does not work.
In fact, we have around 100 tags and it always gave me 2012.11.43 as version....so I created a new tag and it did see and use it....but then another commit it did not.

[2016-11-30 15:31] gep13 commented on #1035
@waynebrantley is this a public repo?

[2016-11-30 17:04] waynebrantley commented on #1035
No, sorry.

[2016-12-02 09:14] tebeco commented on #1066
@DanielRose
I see that the PR https://github.com/GitTools/GitVersion/pull/1100 has been merged 4 days ago
Was that pushed on Nuget so we can see if the fix is effective ? Or it's still in queue for the next Milestone ?

[2016-12-02 11:54] bryanmacfarlane commented on #1096
@Pitterling - Hello, bryanmac from microsoft here.  We're trying to find the conflict and I can't seem to locate the conflicting id.  Can you send us an email so we can diagnose further?  send an email to bryanmac and that's at microsoft dot com

[2016-12-02 13:56] pascalberger commented on #1096
This issue was caused by the task being first installed through tfx-cli.

[2016-12-02 13:56] #1096 closed

[2016-12-02 14:16] DanielRose commented on #1066
@tebeco It is part of the current pre-release, v4.0.0-beta.9

[2016-12-02 17:06] jdshkolnik commented on #1014
Excerpt from Jesse's email:

[2016-12-04 01:30] JakeGinnivan commented on #1035
Try `gitversion /diag` it should give you a decent log of how it got that version

[2016-12-04 23:02] NickMoores commented on #984
@JakeGinnivan Should that be "For continuous deployment it will be incremented on each commit"?

[2016-12-05 17:50] vonlar commented on #758
I don't see `$(GitVersion_SemVer)` in the log.

Here's what I have and am needed the sum of the version, not the SemVer with the plus, I need it actually aggregated.  Any clue how to get that in VSTS?

The semver is 1.2.1+4, but I need 1.2.5

[code]

[2016-12-06 12:59] NotABadPerson opened #1113 "Unable to increment builds using +semver: major etc"
I'm currently using Git Version Task 3.6.5 with TFS 2017.
We are using +semver: major to force the versioning but are finding that this doesn't work for us as it's not incrementing when we commit and build.  I thought it was set to use these as default.  I would appreciate any help on this as I've spent 3 days trying to implement it.  In theory the product sounds great as some of the other solutio

[2016-12-06 18:22] brazilbean commented on #953
Any update on the status of this fix?

I'm trying to use the TeamCity GitVersion meta-runner, which installs the latest version of GitVersion automatically, making it tricky to downgrade to a working version in the meantime. :P

[2016-12-06 18:27] brazilbean commented on #953
Got agent checkout working, so we have a workaround for now. Keep up the good work!

[2016-12-07 11:28] mclang commented on #1097
Hello

Any idea what I should try next?

[2016-12-07 17:21] brazilbean opened #1114 "Help: how do I achieve the following configuration"
I saw in the documentation somewhere that if we can't figure out how to accomplish our design, to open an issue asking for help. Here goes!

My group develops two kinds of packages: libraries and console apps that use those libraries. We use TeamCity to build/test and NuGet to internally distribute our packages.

We would like `develop` to auto-increment the `minor` version number with every check

[2016-12-07 22:03] JoeBrockhaus opened #1115 "Support the ability to Label Sources using GitVersion.NuGetVersion"
This piggybacks off another issue elsewhere..

https://github.com/Microsoft/vsts-agent/issues/716
Not sure if this is something that should/could be solved here or there.

Basically, because the Finalize Build steps are not run on the agent, we're unable to add a tag using the NuGetVersion.

[2016-12-07 22:13] pascalberger commented on #1115
I don't think there is anything we can do inside of the GitVersion task about this as long as VSTS doesn't provide an appropriate API. GitVersion currently just defines the variables using the [`##vso[task.setvariable]value` command](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md). Variables are explicitely defined in the task context, and therefor available for sub

[2016-12-07 23:18] asbjornu commented on #1097
As the problem seems to be within LibGit2Sharp, it is going to be hard finding someone with knowledge of the problem in the GitVersion repository. Perhaps you can try to file an issue with LibGit2Sharp and see how you fare there? Sorry that I can't be of more assistance. 😕

[2016-12-08 02:29] roryprimrose commented on #1066
@DanielRose I updated to 4.0.0-beta0009 and our build still took 24 minutes. :(

[2016-12-08 06:41] mclang commented on #1097
I'l do that in the issue linked above.

[2016-12-08 07:02] asbjornu commented on #1097
@mclang: Okay. I'll just reference it with GitHub's link syntax: libgit2/libgit2sharp#1389

[2016-12-08 09:42] DanielRose commented on #1066
Can you post a current log?

[2016-12-08 22:05] roryprimrose commented on #1066
Sorry, had to move this comment to a gist because it was too long. See https://gist.github.com/roryprimrose/13b0d32dec9b8dc0e9e859166f3d0f95

[2016-12-09 08:43] DanielRose commented on #1066
Looking at the log:

The cache is hit for the second project because it is in the same directory (`C:\B\MyProject\_work\8\s`) as the first project. Presumably the other projects have different directories.

Looking at the log (first project), the relevant lines are:
[code]

Finding the branch configuration to use took 0.6s. There is no configuration for the branch, and the default is now Inherit,

[2016-12-09 10:18] DanielRose commented on #1066
@roryprimrose I added some more logging as PR #1116. Looking at what `GitRepositoryHelper.NormalizeGitDirectory()` normally does: it fetches everything from the remote, using the fetch refspec found in your git configuration.

That data is normally in your `[repo-location]\.git\config` file, for example as
[code]

Since that call takes so long every time, I'm assuming that is getting cleaned up ag

[2016-12-09 18:02] mdkf commented on #1084
Still facing this issue. Here is the simplest test case demonstrating the issue:
![gitversion](https://cloud.githubusercontent.com/assets/19290661/21059151/2488c366-be0f-11e6-9805-a21227f56152.png). I inserted all of the tags. When GitVersion runs on the merge into master, it suggests using version 1.1.0-dev0002. There should be no prerelease tag, and the version should be either 1.1.0 or 1.0.1.

[2016-12-12 17:27] mdkf commented on #1084
Tried in 4.0 beta with the attached configuration, same result.

[gitversion (2).txt](https://github.com/GitTools/GitVersion/files/646681/gitversion.2.txt)

[2016-12-13 00:05] roryprimrose commented on #1066
@DanielRose There is no configuration in our build that I am aware of that would clean the git repository and we are already getting the full repository before running the msbuild step. We are using a local build agent so the VM is not being refreshed on each build.

The only clean we have is a build step that wipes out the following from the build sources directory.

[code]

Our build starts and

[2016-12-13 14:31] aateeque opened #1117 "Add debug switch to launch debugger"
I wonder if it'll be of any use to the majority if we had a `/debug` that helped attach a debugger. My argument is that I download _GitVersion.exe_ from nuget and launch it via CI process; when I am debugging it'll make the workflow easier if I could attach the debugger at that point.

[2016-12-13 20:29] mdkf commented on #1084
I wrote a test case for the issue:
[code]

[2016-12-13 20:56] mdkf commented on #1084
any ideas @pascalberger or @JakeGinnivan ? Is this a bug or have I misunderstood something?

[2016-12-14 02:12] onovotny opened #1118 "Support for VS 2017 cross-targeting builds"
VS 2017 now has support for cross-targeting builds that can generate a NuGet package. This operates with an inner and outer loop. The inner loop builds each TFM and works with the current `GitVersionTask` package as-is. The outer-loop (where things like Pack/Publish) targets run needs one update to the packaging of the targets: a copy of the targets also needs to go into `\buildCrossTargeting`. Th

[2016-12-16 01:37] chili512 opened #1120 "Error executing GitVersion : exception during deserialization ---> System.ArgumentException: Requested value 'MainLine' was not found."
## System.ArgumentException: Requested value 'MainLine' was not found.
We are using GitVersion in MainLine mode.
15-12-2016 we suddenly found deployment build would fail early with the above exception. We have worked around this by moving to ContinuousDelivery mode, but that is a more manual approach and less desirable.
So we would like to understand why we have suddenly run into this problem.
We

[2016-12-16 02:17] onovotny commented on #1118
Example of how to load different build tasks for desktop vs coreclr:

[code]

[2016-12-16 08:38] asbjornu commented on #1120
Perhaps the setting is case sensitive? Does it work with `mode: Mainline` as [per the documentation](http://gitversion.readthedocs.io/en/latest/reference/mainline-development/)?

[2016-12-16 08:57] chili512 commented on #1120
Good point. I will check that. However the value was set via the command line interview that you can invoke, and it was until yesterday working as is. Nevertheless I will certainly check and thanks for your advise. Much appreciated!

[2016-12-16 18:27] nmain opened #1121 "Solution with multiple projects and submodules"
Consider the following scenario:

Repository A contains sub-repository B.
Repository A contains solution C and project D.
Repository B contains project E.
Solution C references project D and project E.
Both D and E have GitVersionTask installed to them.

When I run GitVersion commandline, from the location of either D or E, I get version numbers that I want:  D gets version numbers from A, and E g

[2016-12-17 03:35] JakeGinnivan commented on #1121
GitVersion has a hard requirement that history is linked to the git history, and everything in the repository is the same version. Can you elaborate on the specific values you are seeing and what you would like to see?

[2016-12-17 08:21] chili512 commented on #1120
I can confirm it appears case makes no difference. Moving back to Mainline results in an exception. Thanks for the suggestion all the same. Appreciated!

[2016-12-18 14:48] strich opened #1122 "Feature request: Determine version from Git service API"
I've written a little web service that automates building projects and other things. I'd like to be able to determine the next version tag without having to download the Git repo. The Git repo history can be retreived via the service API for Github, BitBucket, etc. Would it be possible to write an interface to support that?

[2016-12-19 10:30] asbjornu commented on #1122
@strich: Could you please provide a bit more detail on how this would work? Without the Git history, GitVersion is basically clueless and can't figure out a version number.

[2016-12-19 10:31] asbjornu commented on #1120
@chili512: Can you please post your `gitversion.yml` configuration file?

[2016-12-19 11:22] strich commented on #1122
It is possible to retrieve the Git history and tags via API called to GitHub, BitBucket, etc.
For example, here is the json output for the Git commits for GitVersion: https://api.github.com/repos/GitTools/GitVersion/commits

We should be able to transform that data into whatever format GitVersion requires to make a decision no?

[2016-12-19 11:43] asbjornu commented on #1122
Ah, I see. Well, the format GitVersion expects now is that which is provided by LibGit2Sharp. GitVersion has its own internal domain model today, but it's not a full abstraction on the data provided by LibGit2Sharp.

To get data from different sources, we would probably need to create a full internal abstraction inside GitVersion, which I believe would be a pretty difficult thing to implement. But

[2016-12-19 11:55] strich commented on #1122
What does this mean exactly? The data is abstracted, but the way it is modeled is coupled with how the data looks coming out of LibGit2Sharp?

I haven't yet explored the codebase at all - Do you think there is decent enough decoupling from LibGit2Sharp that one could implement such a feature in its most basic form would be easy enough?

[2016-12-19 12:00] asbjornu commented on #1122
To be honest, I don't know. The current abstraction is not in place to make GitVersion independent from LibGit2Sharp, so if the abstraction is complete enough to allow that data to come from another source, that's a coincidence rather than a design decision, I think. That being said, it might be little work required to complete the abstraction. Please have a look at the source code and report your

[2016-12-19 15:33] nmain commented on #1121
I have created a small reproducing case that illustrates what I'm seeing.  Clone and build nmain/GitVersionExample@ea92fc64efe488fc3838e54e5676faea2b224828

Actual output:

Hello, world!
I am version 0.1.0+3.Branch.master.Sha.ea92fc64efe488fc3838e54e5676faea2b224828
My library is version 0.1.0+3.Branch.master.Sha.ea92fc64efe488fc3838e54e5676faea2b224828

Expected output:

Hello, world!
I am versio

[2016-12-20 09:53] chili512 commented on #1120
I can. Here it is

[GitVersion.zip](https://github.com/GitTools/GitVersion/files/663331/GitVersion.zip)

Note that right now we are using ContinuousDeployment as temp replacement for Mainline

Version 2.6.1.windows.1 on this machine. Unable to determine on server at this moment in time

[2016-12-20 10:35] asbjornu commented on #1120
@chili512: `mode: Mainline` is only supported from version 4 and up, which is currently in beta. Try upgrading to [beta 9](https://www.nuget.org/packages/GitVersion/4.0.0-beta0009) and see how that goes.

[2016-12-20 11:06] chili512 commented on #1120
I see. I will speak with IT. Thanks heaps for your assistance. Much appreciated!!

[2016-12-20 11:46] chili512 commented on #1120
Oops I misled you. I misread GitVersion to be Git Version. Silly me. I think I now know what our problem is. We did install the Beta some time back for the very reason you state. It all makes sense now. Our CI server inexplicably lost a number of apps about the same time. Octopack, 7zip. It is clear that the Beta version of GitVersion we were using was included. I just did not realise. The penny d

[2016-12-20 11:47] chili512 commented on #1120
I will close this issue.

[2016-12-20 12:53] asbjornu commented on #1120
@chili512: I'm glad you figured it out and that I could be of assistance. Can the issue be closed?

[2016-12-21 07:42] Franklin89 opened #1123 "GitVersion Task in Team Services throws exception if mode is set to Mainline"
I just created my build on VSO and used the GitVersion task from the marketplace. We are using the _Mainline_ mode. The Task execution fails with the following exception:

`2016-12-21T07:30:32.1711902Z YamlDotNet.Core.YamlException: (Line: 1, Col: 7, Idx: 6) - (Line: 1, Col: 15, Idx: 14): Exception during deserialization ---> System.ArgumentException: Requested value 'Mainline' was not found.`

Th

[2016-12-21 07:57] pascalberger commented on #1123
The GitVersion task in the marketplace is the latest released version 3.x. Mainline mode was introduced in 4.x which currently still is in beta and not available from the VSTS marketplace.

If you currently want to use mainline mode together with VSTS you have several possibilities:
* Install latest beta package GitVersion through Chocolatey during build and call it from a command line task (or if

[2016-12-21 07:59] Franklin89 commented on #1123
Thanks for the fast comment.

[2016-12-21 07:59] #1123 closed

[2016-12-21 08:10] chili512 commented on #1120
And I am grateful for your assistance. All the best, and yes I will close the issue.

[2016-12-21 08:10] #1120 closed

[2016-12-22 08:28] asbjornu commented on #1084
I think this is a bug, but just out of curiosity: Why are you tagging on develop?

[2016-12-28 14:45] asherber opened #1124 "GitVersion 3.6.5 ignoring GitVersion.yml"
I've seen other similar issues. I've got a project with GV 3.6.5 from NuGet. My `GitVersion.yml` reads:
[code]
`GitVersion /showConfig` does correctly show my custom `assembly-informational-format`, but building the project uses the default `{InformationalVersion}`.

I have tried deleting the `.git/gitversion_cache` folder and rebuilding, but no luck.

Any suggestions would be appreciated.

[2016-12-29 15:03] czesiu commented on #1046
I think that I have similar problem. Here's the test repository: https://github.com/czesiu/GitVersion.Test

Looks like the problem is related with merge release branch to develop. After this merge and commit something on develop counter on release branch resets.

Here's screen describing problem:
![gitversion](https://cloud.githubusercontent.com/assets/9153975/21546583/f86dfbe4-cddf-11e6-9a1a-c338

[2016-12-29 16:52] strich commented on #1122
I had a bit of a look at this and it seems to me like I would need to rewrite/refactor...a lot. Everything uses the core Branch/Commit classes provided by LibGit2Sharp, which has a ton of stuff running under the hood to collect and parse everything into the many fields in those classes.

It does not appear that I'll be able to take this route unfortunately.

[2016-12-30 00:49] asbjornu commented on #1122
That was my suspicion. Sorry it didn't prove easier to do, but thanks for investigating nonetheless!

[2016-12-30 02:05] JakeGinnivan commented on #1122
This is a direction I have wanted to go for a while, the main reason for it is actually for performance reasons. If we can build up a domain model of the actual information we need then query that model then we only ever have to interrogate the git repository once.

A first step would be to introduce our own cut down Branch/Commit type which we start using. Then just take it step by step.

[2016-12-30 03:33] strich commented on #1122
I didn't go so far to profile exactly how much of LibGit2Sharp GitVersion uses IE any actions that aren't read-only like tagging and pushing said tags, but on the surface it didn't look too bad. I think there are a number of convenience functions used like the commit filtering and whatnot, that would have to be rewritten without LibGit2Sharp though.

[2016-12-30 17:38] strich commented on #1122
Despite myself I went ahead and practically removed LibGit2Sharp from the GitVersion.Core project just to see what the damage would be - Not too bad! There are a few odd ends that have deeper rabbit holes behind them like the CommitFilter stuff, but the use of it in GitVersion appears to be fairly basic and could be refactored to use more traditional transform logic.

I'm not yet sure what I plan

[2016-12-30 19:58] asbjornu commented on #1122
@strich: Whatever you find worth doing, do it! We're thankful for pull requests whatever they contain and can discuss the direction of it once we have something more concrete to discuss. Anything that abstracts LibGit2Sharp more than the complete lack of abstraction we have today would be great, so I'm not picky on how we do it, tbh. Immutability sounds like a good idea, though.

[2016-12-30 20:11] asbjornu commented on #1124
@asherber: Are you able to reproduce this in a unit test? A pull request with a failing test would be much appreciated. 😄

[2016-12-30 20:30] asbjornu commented on #1046
@czesiu: Would it be too much to ask for you to reproduce this in a unit test? It's fairly easy to perform the Git actions required in the `RepositoryFixture` based tests, and that would pinpoint the problem and make it much easier to fix. Also, does upgrading to version 4 of GitVersion help?

[2016-12-30 22:22] czesiu commented on #1046
I tested on 4.0.0-beta.9 and the same problem occurs.

Here's the unit test:

    [Test]
    public void Test()
    {
        var config = new Config
        {
            VersioningMode = VersioningMode.ContinuousDeployment
        };

        using (var fixture = new EmptyRepositoryFixture())
        {
            // Initial master commit
            fixture.Repository.MakeACommit();

[2016-12-31 00:21] JakeGinnivan commented on #1122
If I was doing this I would switch out the GitTools.Core NuGet reference for a project reference to start. Then would start at https://github.com/GitTools/GitTools.Core/blob/master/src/GitTools.Core/GitTools.Core.Shared/Git/RepositoryLoader.cs#L7

This would return a GitRepositoryMetadata type. Then remove libgit2sharp temporarily which would allow you to use that GitRepositoryMetadata class to pr

[2016-12-31 12:48] sandorfr commented on #909
We've been struggling with this for month with @galo, so I've started the work on this. In addition to updating the execution engine I have a few proposals :
- use the build scripts we developed at GeekLearning to manage our extension (and especially package restore / typescript build)
- make sure all gitversion variable are set once using SetVariable so values are available more reliably.
- offer

[2016-12-31 13:50] strich commented on #1122
I spent most of yesterday on a little hack'n'slack expedition just to try to get an abstraction layer working and learn a little more about this project - I got it compiling and working. I didn't pay much mind to what might be the right way to do it in lieu of just getting a first iteration sorted but the way it currently works is that it has its own internal model of Repository, Branch, Commit, T

[2016-12-31 18:12] asherber commented on #1124
I'll see what I can do. FWIW, running GitVersion CLI in my project directory _does_  read `GitVersion.yml` and shows `InformationalVersion` with my customizations, but the MSBuild task to stamp my assembly uses the default value. Maybe that will help someone with more familiarity with the codebase track down what's happening.

[2016-12-31 18:39] asherber commented on #1124
Further information. My project setup looks like this:
[code]
The `GitVersionTask` NuGet package is installed on `TestProject`. If `GitVersion.yml` is located in `p:\MySolution`, then everything works as expected. But if it is located in the `TestProject` subdirectory, it gets ignored.

The docs at http://gitversion.readthedocs.io/en/latest/configuration/ say that I should be able to put the confi

[2016-12-31 21:24] asherber commented on #1124
Yes, there's definitely something off here. The targets file passes the solution dir into the task; if I build just the project from a command line in the project dir, it passes in `$(MSBuildProjectDirectory)\..\`, which is the solution dir. I haven't yet gotten a handle on all the code, but it looks like even `GitPreparer.GetProjectRootDirectory()` is grabbing the parent of the `.git` dir, which

[2017-01-01 07:47] pascalberger commented on #909
@sandorfr Thanks for your work on this. Can you create a PR for this so that we can discuss it there?

One point. We're already using Cake for our build, and we should keep to a single build system for building everything. Of course it's possible to call a node or gulp script from the Cake script if this makes sense. Also I'm not really happy with adding a submodule and therefore add a dependency

[2017-01-01 15:40] omallo opened #1125 "GitVersion is not working on CentOS 7"
I would like to use GitVersion inside the [OpenShift Jenkins 2 Docker image](https://github.com/openshift/jenkins/tree/master/2) which is based on CentOS 7. Unfortunately, I'm getting the following error:
[code]

I do have `libcurl` installed but I guess the problem is that CentOS uses `libcurl` 4 and not 3.

I have created a standalone Docker image to reproduce the problem which you can execute a

[2017-01-02 02:20] JakeGinnivan commented on #909
Ditto on the submodules, don't want to use them if at all possible. Lets either take a fork and just check them in or publish them as an NPM module as @pascalberger said.

A pull request would be great, I have some comments on things but really like the direction. The comments are along the lines of, list typescript in devDependencies, lets use v2 and `node_modules/@types` instead of typings.

Sid

[2017-01-02 04:55] JakeGinnivan commented on #1125
It is indeed CentOS and is a downstream issue..

See https://github.com/libgit2/libgit2sharp/issues/1391

[2017-01-02 13:03] andreasnilsen commented on #912
Anyone got a workaround for when using (uploaded) SSH key for authentication in TeamCity?
If I add a command build step with

it fails on authentication/permissions, so I have to change the VCS roots back to username/password authentication to get this working.

I haven't observed this behaviour before upgrading from TC 9.1.7 -> 10.0.4, but that may be coincidental.
Btw, this seems to happen when

[2017-01-02 13:18] omallo commented on #1125
Thanks a lot for the quick reply and for the reference to the downstream issue.

For now, I've created an OpenShift Jenkins image based on Ubuntu on which GitVersion is working fine but I will give it another try with the original CentOS image once the downstream issue is fixed.

[2017-01-02 16:47] maikebing opened #1126 "How to use GitVersion in Wix projects?"
like this

[code]

[2017-01-03 01:18] JakeGinnivan commented on #1125
Unsure if anyone is working on the downstream issue is the only problem. If you are interested you could try and progress the issue (maybe get a CI build going for the native binaries or something?)

[2017-01-03 07:05] wahmedswl commented on #1074
Hi,
   GitVersion when updated ```AssemblyInfo.cs```, it changed its **encoding**. This might be related to this issue as it should just only update necessary information without altering anything else.

Attaching screenshot for reference

![gitversion](https://cloud.githubusercontent.com/assets/15020561/21601469/f13e44fc-d1ac-11e6-912d-5a84a85c4fa8.PNG)

[2017-01-03 09:10] sandorfr commented on #909
I'll see how we can publish our scripts as an npm module, it might actually help make our scripts easier to use.

Regarding the typing I agree with the vision, but as a first step I would recommand staying on typings as a first step as it works today. I'm interested in the new typing approach but I'm pretty sure it won't be as straightforward as promised.

I usually state typescript as a dev depen

[2017-01-03 09:18] asbjornu commented on #1074
@wahmedswl: The encoding is the same (UTF-8), but as @kll has mentioned, the "signature" (byte order mark; BOM) has been removed by GitVersion in the right file.

[2017-01-03 09:29] wahmedswl commented on #1074
@asbjornu thanks for your response. When this gonna be fixed?

[2017-01-03 10:25] asbjornu commented on #1074
@wahmedswl: When someone figures out how to fix it. 😃

[2017-01-03 14:59] RonaldDelta opened #1127 "Does it work on TFS 2017"
Trouble using it on a TFS 2017 server.

I am using the GitVErsion Build Task addin.
I am trying to bump the version using the show methode for manually increase
https://gitversion.readthedocs.io/en/latest/more-info/version-increments/
But the versions are never increased. (using a develop branch from a GitFlow setup)

I have a GitVersion.yml with:

next-version: 10.0
assembly-versioning-scheme: Ma

[2017-01-03 21:45] jdshkolnik opened #1128 "Default value for null BuildMetadataPadded variable"
When the build has no metadata(0.1.0 vs 0.1.0+43), the BuildMetadataPadded variable isn't present which makes it difficult to use. Can it default to "0000"?

[2017-01-03 23:39] mdkf commented on #1084
Hi @asbjornu . the tags are created by the build server after gitversion runs so that you can see the version generated from within your git client. Do you think removing the tags would solve the problem?

[2017-01-04 08:18] asbjornu commented on #1084
@mdkf: Yes, I believe removing the tags would fix the problem.

[2017-01-06 01:19] cuibty opened #1129 "Directory spaces are not supported?"
[code]

[2017-01-06 01:22] cuibty commented on #1129
tfs 2015 update 5

[2017-01-06 16:03] tomap opened #1131 "Support depth=x on VSTS"
Hi,

VSTS recently introduced a new option to clone code with depth=x
https://www.visualstudio.com/en-us/docs/build/define/repository#git
It is particularly interesting for large codebase with a large history.
It only extracts the last revision.

When doing that, GitVersion stops working with exceptions like:
[code]
Those exceptions are expected because part of the history is not available.
Could

[2017-01-06 20:01] gep13 commented on #1131
@tomap In order to correctly assert the current semantic version of your repository, GitVersion requires the history of the repository.  If you limit the clone depth of the repository, it is not going to be able to correctly assert the correct version number.

[2017-01-07 01:00] mdkf commented on #1084
@asbjornu If you check out the test case I posted above, you can see I only tag the first commit on master and nothing on develop. While it does not insert the pre-release tag, it does insert an incorrect version number on the merge into master, so there is likely more than one problem.

[2017-01-09 07:41] czesiu commented on #1046
Something new on this topic?

[2017-01-09 11:12] asbjornu commented on #1129
@cuibty: Looks like we might be missing a quote (`"`) somewhere, yes. Thanks for reporting!

[2017-01-09 23:09] pcoombe commented on #1084
@mdkf our build server (TFS) was also set to tag on release builds for the dev branch and we experienced similar issues. We have currently turned off tagging dev and it appears to be working better (not perfect), but we probably do need to go back and remove the unstable tags.
Was hoping to wait for v4, as we dont really follow gitflow, hoping the mainline would be a better fit.

[2017-01-10 13:59] matteo-mosca commented on #1074
I'm using GitVersion with c# Cake and this bug is breaking my build. After removing the BOM from the AssemblyInfo.cs files the .NetCore compiler gives me an error:

error SA1412: Store files as UTF-8 with byte order mark

And the build breaks.

[2017-01-10 16:10] sergey-s-betke opened #1132 "Feature request: GitVersionTask with C++, WixToolset projects support"
For WixToolset projects - just environment variables is enough. Or `version.wxi` with

    <?xml version="1.0" encoding="utf-8"?>
    <Include xmlns="http://schemas.microsoft.com/wix/2006/wi">
        <?define ProductVersion="02.04.3369.0007"?>
        ...
    </Include>

Or `version.wxs` with

    <?xml version="1.0" encoding="utf-8"?>
    <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

[2017-01-10 17:55] sergey-s-betke commented on #1132
For C++ custom build step:

          <ItemDefinitionGroup>
            <CustomBuildStep>
              <Command>$(SolutionDir)packages\GitVersion.CommandLine.3.6.5\tools\GitVersion.exe /exec update_version.h.cmd /execargs version.h</Command>
              <Message>GitVersion: retrieving version information from git repository</Message>
              <Outputs>version.h</Outputs>
              <Inp

[2017-01-11 01:27] roryprimrose commented on #1066
We just tried GitVersionTask 4.0.0-beta0009 and it still has the same perf issues for us. Build ran for 24.5 minutes.

[2017-01-11 09:31] sergey-s-betke opened #1134 "Error with /exec: System.ArgumentException: Item has already been added. Key in dictionary: 'CONFIGURATION' Key being added: 'Configuration'"
I have error with `/exec` key. Build session log - https://ci.appveyor.com/project/sergey-s-betke/itg-metrcontrol-2-4/build/0.1.0-bootstrapper-vnext.128.build.62.

log:

    INFO [01/11/17 7:26:09:71] Launching cmd.exe /C update_version.h.cmd version.h
    ERROR [01/11/17 7:26:09:72] An unexpected error occurred:
      System.ArgumentException: Item has already been added. Key in dictionary: 'CONF

[2017-01-11 13:42] Vasiliauskas opened #1135 "Property 'increment' not found on type 'GitVersion.Config'."
I am using 3.6.5 gitversiontask and a custom GitVersion.yml as follows:

assembly-versioning-scheme: MajorMinorPatch
mode: ContinuousDeployment
commit-message-incrementing: Enabled
increment: Patch

[2017-01-11 14:51] asbjornu commented on #1084
@pcoombe: If you could test out v4 and `mode: Mainline` and report your experience back here, that would be very much appreciated!

[2017-01-11 14:53] asbjornu commented on #1046
@czesiu: Sorry, I haven't had time to open up the GitVersion solution in a while, so no time to look at this. Would you be up for the task of providing the failing test and perhaps even a fix for it as a pull request? Just shout out if you wonder about any step of the process, and I'll assist you as best I can. Joining [our Gitter channel](https://gitter.im/GitTools/GitVersion) might give you a bi

[2017-01-11 23:58] mdkf commented on #1084
It seems mainline only works if you use +semver to bump versions. If you let GitVersion automatically bump versions on a branch according to the increment setting, it will version incorrectly.

[2017-01-12 07:39] asbjornu commented on #1134
@sergey-s-betke: What are the values of the `CONFIGURATION` and `Configuration` environment variables, respectively?

[2017-01-12 07:48] asbjornu commented on #1132
@sergey-s-betke: Sorry, but my lack of C++ and WixToolset experience makes your request very hard to grasp. I understand the overarching request of having support in GitVersion for C++ and WixToolset projects, but I don't quite get what that means for GitVersion. How does GitVersion need to change in order to support this? What features do we need to add?

[2017-01-12 08:00] sergey-s-betke commented on #1134
`Release` in my scenario. (`Release` | `Debug`, but in my AppVeyor scenario - just `Release`).

[2017-01-12 09:35] asbjornu commented on #1134
If both variables have the same value, what's the value in having both available in a case-sensitive way? Perhaps what we can do in GitVersion is to do a case-insensitive search for both the key and value and if both match the key/value being added, we can drop it (perhaps with a warning).

[2017-01-12 14:17] sergey-s-betke commented on #1132
@asbjornu not for GitVersion, just for GitVersionTask! Now GitVersionTask does not support C++, WixToolset projects support. I would like:

- auto install GitVersionTask in my wxiproj anc vcxproj as NuGet package
- after GitVersionTask adds a custom build task that generates MSBuild variables `GitVersion_XXXX`.

[2017-01-12 14:24] sergey-s-betke commented on #1132
And GitVersionTask defines constants:

    <DefineConstants>$(DefineConstants);GITVERSION_XXXX=$(GITVERSION_XXXX)</DefineConstants>

After than we have constants in c++ files (without `#define` directive), in wix files (without `<?define?>` directive).

Thank You for Your attention.

[2017-01-12 14:33] sergey-s-betke commented on #1134
Yes! Now AppVeyor generates upper case variable `CONFIGURATION`, and MSBuild generates mixed case variable `Configuration`. But environment variables must be case-insensitive. I think, if exists a few variables with same key (case-insensitive comparison), we must drop second and other variables with same key, and no matter identical values or not. May be with warning, but with ZERO (ERROR_SUCCESS)

[2017-01-12 18:29] czesiu commented on #1046
I added PR #1136 with test & fix proposition. More info in PR.

[2017-01-13 10:49] asbjornu commented on #1046
@czesiu: Thanks, excellent!
@eugene-sivachenko: Does #1136 describe and fix your problem as well?

[2017-01-14 21:51] drewwilliams1982 opened #1137 "Incrementing semver through commit message doesn't work."
On our feature branches, if we include `+semver: patch` in the commit message, to manually increment the patch, we are seeing that this isn't honoured and the semver remains the same as the previous build on the feature branch.

(As per https://gitversion.readthedocs.io/en/latest/more-info/version-increments/)

[2017-01-16 20:09] mgasparel commented on #1129
@asbjornu I believe this has already been fixed:
commit [51e4ec64442808e8ffa1001988642dae7b1ece13](https://github.com/GitTools/GitVersion/commit/51e4ec64442808e8ffa1001988642dae7b1ece13)

Maybe this has not been published to Visual Studio Marketplace yet?

[2017-01-17 07:57] asbjornu commented on #1129
@mgasparel: Looks like it's included in version 4 beta 9, which version is the latest available on Visual Studio Marketplace and which version are you and @cuibty using?

[2017-01-17 08:17] pascalberger commented on #1129
@mgasparel This has been fixed for the next release and is available in the current beta version. Beta versions are not published to the Visual Studio Marketplace. Most recent version available from Marketplace is latest stable version 3.6.5.

If you wan't to use a version 4 beta release currently in VSTS/TFS, you would need to upload the build task yourself instead of using the extension from the

[2017-01-17 14:59] drewwilliams1982 commented on #1137
I've done a bit more investigation. In version 3.6.5 I can add the following unit test to capture the issue:
[code]

It appears not to work when the version has a none-zero minor or fix.

[2017-01-17 15:15] drewwilliams1982 commented on #1137
I've done some more digging and have created the following unit test on the v3.5.4 tag to capture the issue:

[code]

Delving into the code, it's because it applies the commit messages patch increment to the branches base semver, not the current semver. The documentation is not explicit about how it _should_ work, but as it's there to help get around nuget package manager issues, I would have expe

[2017-01-17 17:39] sergey-s-betke commented on #1134
@asbjornu , I think, is a bag, not a enhancement :-) Now I can not build my project on AppVeyor build servers!

[2017-01-18 05:36] JakeGinnivan commented on #1137
This is intended behaviour.

GitVersion uses tags to know when a package has been released. `+semver: patch` or other bumping commits aggregate for a release. This is so if you merge two pull requests both making minor changes you only get a single minor bump.

v4 has a mainline mode, which infers a release for every merged pull request and every direct commit. So mainline mode would work as you e

[2017-01-18 07:57] asbjornu commented on #1134
@sergey-s-betke: I'm not sure this is actually a bug in GitVersion, seeing how it's the `System.Diagnostics.ProcessStartInfo.get_EnvironmentVariables()` method that fails. It might be seen as a bug, but I'm not certain there's anything we can do about it in GitVersion, to be honest.

[2017-01-18 13:37] GeertvanHorrik commented on #1061
I am having the same issues:

- GitVersionTask 3.6.5
- .NET 4.6.2 app

[2017-01-18 13:38] GeertvanHorrik commented on #1061
Installing 4.0.0-beta0009 solves the issue.

[2017-01-18 15:32] promontis opened #1140 "Gitversion on Appveyor cannot find git directory"
Hi guys,

I generated an appveyor.yml file using gitversion init, however I get the following error in AppVeyor:

[code]

It seems the current directory is not a valid git directory. I'm not really sure why this is the case. This is the full log. It is fetching repository commits, whereas the repository is a git repository. So I would expect the folder to be a git repository.

[code]

[2017-01-19 12:06] alkampfergit opened #1141 "Is it possible to specify location of msbuild.exe?"
We are using gitversion in teamcity with meta-runner, our problem is that msbuild runs from location c:\Windows\Microsoft.NET\Framework\v4.0.30319\

Looking at source code, in file *src/GitVersionExe/SpecifiedArgumentRunner.cs* it seems that the location of msbuild is hardcoded in source. Could you please read this value from some Environment variable to allow choosing the right version of Msbuild

[2017-01-19 12:53] czesiu commented on #1046
I think we can close this issue. There is no response from @eugene-sivachenko from about 4 months.

[2017-01-19 14:50] #1046 closed

[2017-01-19 15:30] cuiliang opened #1142 "no 'gitversion.properties' file generated under Jenkins"
I am following the document at https://gitversion.readthedocs.io/en/latest/build-server-support/build-server/jenkins/

but there is no 'gitversion.properties' file generated.

here is log:
[code]

thanks.

[2017-01-19 20:18] MarioZG commented on #1131
I'm using MSBuild task. Just encountered same problem.

It would be really useful if it could handle some scenarios with limited history, as long as at least one commit is tagged. In my scenario I'm checking out tagged commit, so version number is available.

[2017-01-20 00:20] cuiliang commented on #1142
solved by adding system environment variable JENKINS_URL

[2017-01-20 00:20] #1142 closed

[2017-01-20 14:18] tomap commented on #1131
Yes, this is exactly what I was thinking, in some case, I know that with depth=2, I am sure that I will have enough tags to determine the version number.

[2017-01-22 10:46] Rajivhost commented on #1061
The 4.0.0-beta0009 installation works, but I can't see my assembly tagged.

[2017-01-23 04:58] BCSharp opened #1145 "Introduce PreRelaseTagNumber variable to encode complete PreReleaseTag in a number"
One of the values that the configuration option `assembly-versioning-scheme` can be set to is `MajorMinorPatchTag`. This is great except that that 'tag' does not really encode the full information form `PreReleaseTag`. Instead of it, it is replaced by `PreReleaseNumber`, which carries only a subset of information from `PreReleaseTag`: it ignores `PreReleaseLabel`. As a consequence, versions `1.2.3

[2017-01-23 12:49] jamesharling opened #1146 "CommitsSinceVersionSource number moving backwards"
I'm using GitVersion v3.6.4 (updated through Chocolatey) in TeamCity 10.0.3. As you'll see from the attached image, my CommitsSinceVersionSource property in GitVersion is yoyoing around (see arrows), which means sometimes it moves backwards; this causes issues as we are using Continuous Deployment mode to support Octopus for deployment of releases. What would be causing this property to change in

[2017-01-23 15:20] sergey-s-betke commented on #1134
https://github.com/dotnet/corefx/issues/13146

[2017-01-23 15:23] sergey-s-betke commented on #1134
http://stackoverflow.com/questions/8732816/c-sharp-system-diagnostics-processstartinfo-environmentvariables-being-case-inse

@asbjornu, please, switch to .Net 4.0! It is a solution!

[2017-01-23 18:19] sdunnin commented on #1137
I've noticed the same thing and based upon documentation would expect it to behave as @drewwilliams1982 noted.

[2017-01-24 07:08] sergey-s-betke commented on #1132
@asbjornu, this `GitVersionTask.targets` for C++ projects:

		<?xml version="1.0" encoding="utf-8"?>
		<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
			<PropertyGroup>
				<GitVersion_NoFetchEnabled Condition="$(GitVersion_NoFetchEnabled) == ''">false</GitVersion_NoFetchEnabled>
				<GetVersion Condition="$(GetVersion) == ''">true</GetVersion>
				<WriteV

[2017-01-24 07:09] sergey-s-betke commented on #1132
But `AssemblyFile` must be corrected.

[2017-01-24 07:33] sergey-s-betke commented on #1132
<?xml version="1.0" encoding="utf-8"?>
		<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
			<PropertyGroup>
				<GitVersion_NoFetchEnabled Condition="$(GitVersion_NoFetchEnabled) == ''">false</GitVersion_NoFetchEnabled>
				<GetVersion Condition="$(GetVersion) == ''">true</GetVersion>
				<WriteVersionInfoToBuildLog Condition="$(WriteVersionInfoToBuildLog)

[2017-01-24 08:50] ristaloff commented on #1125
I just had a simililar issue using a docker image based on mono:latest which in turn is based on debian:wheezy.
I got the same System.TypeInitializationException as above, because I was missing GLIBC_2.14 and GLIBC_2.15. The the version of debian in the debian:wheezy image is Debian 7.11. Debian 7.11 only has GLIBC_2.13.  I followed the instructions here to update glibc and fix the problem: http:/

[2017-01-24 08:54] asbjornu commented on #1132
@sergey-s-betke: Thanks for the example. Do you have any idea how we can test this in the GitVersion codebase?

[2017-01-24 09:06] asbjornu commented on #1134
@sergey-s-betke: Thanks for the reference. From what I understand of that issue, it is fixed in .NET Core, not in any other version of .NET. GitVersion already targets .NET Framework v4.0.

[2017-01-24 09:44] sergey-s-betke commented on #1132
Yes. It is enough to import GitVersionTask.target to test project and check c++ preprocessor definitions not at build time, but at runtime.

For CSharp and VB support:

		<Target Name="GetVersion" BeforeTargets="ClCompile;ResourceCompile;Csc;Vbc" Condition="$(GetVersion) == 'true'">
                  ...
				<ItemGroup>
					<Csc>
						<DefineConstants>%(DefineConstants);$(GitVersionDefinitions)<

[2017-01-24 10:03] asbjornu commented on #1137
@sdunnin: Any reason why you can't use `mode: Mainline` and version 4 of GitVersion?

[2017-01-24 10:07] asbjornu commented on #1146
Without a look at the graph, it's hard to give a good answer. Can you please paste the result of the following into a Gist and link it here?

[code]

[2017-01-24 10:11] asbjornu commented on #1061
@Rajivhost: What do you mean with "tagged"?

[2017-01-24 10:17] asbjornu commented on #1131
An important feature of GitVersion, I think, is that every commit will produce the same version number, no matter how or where GitVersion is executed (on a local development machine, on the build server, etc.).

The problem with limited history is that a commit after a tag can have multiple parents from long before the tagged commit, which may or may not affect the version number. This means that

[2017-01-24 10:27] asbjornu commented on #1141
@alkampfergit: Sure, this sounds like something that should be fairly easy to implement. Are you up for creating a pull request for it? It would be good if the PR included documentation on this feature for the [Command Line interface](http://gitversion.readthedocs.io/en/latest/usage/command-line/).

[2017-01-24 15:44] alkampfergit commented on #1141
Ok, I'm quite busy but I think that I can create a PR,

[2017-01-24 17:05] tomap commented on #1131
Hi,

I will try to code something if I have time.
As you said, there need to be a switch to enable this behavior

Maybe another way to see that would be to make some assumption about the codebase and suppose that version always increase.
So if you find a v5.0.0 in the code, no need to look below that tag in this branch because you can assume that you will only find v4.9, v4.8, ... but no v5.1

So

[2017-01-25 00:48] MarioZG commented on #1131
If given commit is tagged, can any parent affect version number? I didn't have time to analise in details how you guys generate number and what can affect it in more complex scenarios, but I'd imagine tag is a way to explicitly say "it's 4.3", isn't it?.  Should this need any switch  or setting?

As for cases where commit has parents which might came from different branches, i agree that this shou

[2017-01-25 08:19] jamesharling commented on #1146
Here you go:

https://gist.github.com/jamesharling/368d7ab044d85691a310ce26f3a51c7b

[2017-01-25 10:19] asbjornu commented on #1131
@MarioZG: I haven't analysed this thoroughly either, but I think the commit counting might be wrong if you cut off a parent branch at an arbitrary depth.

[2017-01-26 03:33] JakeGinnivan commented on #1146
Can you try the beta of v4. I rewrote the commit counting logic so it should be far more robust in v4.

[2017-01-30 08:22] jamesharling commented on #1146
@JakeGinnivan I've upgraded to 4.0.0-beta0008. I've seen a few changes (e.g. it's now `alpha` not `unstable`), and our commit counter has moved down to about ~160. We'll need a week or two to see how stable things are now. Thanks for the help!

[2017-01-30 23:33] mdkf commented on #1084
Any hope of this getting fixed?

[2017-01-31 03:40] dermeister0 opened #1148 "CommitsSinceVersionSource is zero in release branch"
GitVersion 3.6.1+32, 4.0.0-beta0009

I have a working copy with a release branch. GitVersion returns CommitsSinceVersionSource correctly there. However, it does not work in Jenkins ('checkout to specific local branch' option is enabled, plugin is updated).

I started to investigate and reproduced the case on my local machine. Unfortunately I can't create a small test repository to reproduce.

Ever

[2017-01-31 04:21] dermeister0 commented on #1148
I ran the app with */diag* flag and found that base version is calculated differently.

MyProject
[code]

AnotherTest
[code]

[2017-01-31 15:38] nzrytmn commented on #942
Hi everybody, i have still same problem with 3.6.5 version on tfs build server. I got same error with[ extension  task ](https://marketplace.visualstudio.com/items?itemName=gittools.gitversion) , than i tried to add a commandline task and call gitversion.exe by command prompt and i got same error again.

.
Because of this error, gitversion.exe never can't calculate the real version number, it  alw

[2017-01-31 15:53] asbjornu commented on #942
@nzrytmn: GitVersion should calculate the same version number with or without the cache. The only thing the cache should affect, is performance. If you're experiencing different version numbering depending, I would be inclined to conclude that that's another issue.

Also, the line you've quoted is not an error, but expected behaviour if the version should infact change. If running GitVersion on th

[2017-02-01 04:12] roryprimrose commented on #1066
I've posted my workaround at http://www.neovolve.com/2017/02/01/gitversiontask-performance-workaround/. It has dropped our build time from 28 minutes back down to 12.5 minutes

[2017-02-01 12:45] kll commented on #1074
I'm finally back to taking a look at this. I had decided to try a minimal effort of just preserving the encoding if it was easily detectable with byte order marks and falling back to the existing behavior if not, rather than going into all the crazy English language heuristic based detection. I think it is overkill and not worth the complexity and speed loss for a use case that may never even be n

[2017-02-01 14:52] asbjornu commented on #1074
@kll: If you could smack both this bug **and** fix #883 in the same PR, that would be awesome!

[2017-02-01 17:49] kll commented on #1074
I chickened out and did not attempt to refactor anything for #883. I simply don't have enough experience with MSBuild or have even used GitVersionTask so I'm not sure how many of the differences between the two code paths are important or arbitrary.  I might still look at that one later for fun but I don't want it to hold up this fix.

[2017-02-02 11:07] matteo-mosca commented on #1074
I vote for saving with the BOM, as stripping the BOM generates SA1412 violation in code analysis, and most people use "warnings as errors" thus being unable to build successfully for any violation.

UTF-8 with BOM is also a more explicit format, so I see no reason to not use it.

[2017-02-02 11:39] pascalberger opened #1150 "Publish beta versions to VSTS marketplace"
VSTS marketplace seems to now support pre-release versions and the ability to select the version of an extension which should be used (See discussion [here](https://gitter.im/GitTools/GitVersion?at=5892f1664c04e9a44e5ed0c9)). Therefore we can publish the VSTS extension also for beta versions.

Required changes:
* [ ] In case of beta release the VSTS extension needs to be build with the [preview fl

[2017-02-04 01:15] tofutim commented on #121
haha i saw this today

[2017-02-04 02:04] SamirHafez commented on #1150
Is this gonna go soon? Anything I can help with?

[2017-02-04 07:11] pascalberger commented on #1150
@SamirHafez Are you interested in writing a PR implementing this?

There currently also is an effort undergoing to rewrite the VSTS task to use the Node handler instead of the PowerShell one, also affecting the build pipeline (See #1139). But this still takes some time until it is ready to be merged.

[2017-02-04 13:55] sandorfr commented on #1150
Interesting, @pascalberger I'll think about it as we definitely want this feature for our other extensions.

[2017-02-06 10:50] nzrytmn commented on #942
Thanks for information @asbjornu , yes i know it is not an error, but "not found" message makes me feel something is not correct; by the way the main problem is the version number is not increasing that i expect.
I am using gitflow for branching management and these are the steps i did; pls let me know if i did something wrong:
1- Tag the base version as 1.2.0
2- Create a release from this branch

[2017-02-06 15:36] asbjornu commented on #942
@nzrytmn: What [versioning mode](http://gitversion.readthedocs.io/en/latest/reference/versioning-mode/) are you using? If it's [`ContinuousDelivery`](http://gitversion.readthedocs.io/en/latest/reference/continuous-delivery/), what you see is expected. Every release is expected to have an associated tag. If you want the behaviour you see in `develop`, where the minor version is incremented automati

[2017-02-06 19:45] SamirHafez commented on #1150
@pascalberger seems simple but I'd need input on what exactly to do on what files. Someone who implemented this build mechanism can probably turn this into a 5min PR lol

[2017-02-08 12:42] nzrytmn commented on #942
@asbjornu I tried both mode, but it is calculating same version number for each release. But you are right, it may be because of my  configuration settings. This is my GitVersion.yml file for one of my samples.
**branches**: {
  **master**:
    regex: master
    mode: ContinuousDeployment
    tag: ''
    increment: Patch
    prevent-increment-of-merged-branch-version: true
    track-merge-target:

[2017-02-09 11:03] asbjornu commented on #942
@nzrytmn: Can you please try deleting the `GitVersion.yml` file and see how GitVersion behaves then?

[2017-02-09 16:51] kjjuno opened #1151 "AssemblyInfo.cs file has last modified updated even when nothing changed"
My team is trying to put together a build system that will only build things incrementally. Using GitVersion to set the version in my AssemblyInfo.cs file works really well, except that it touches the file even when nothing actually changed. This breaks the incremental build because it assumes the file has changed which causes a ripple effect throughout the projects, meaning we have to build every

[2017-02-09 18:11] chris1248 commented on #1151
I agree, this is an issue.

[2017-02-09 22:29] gep13 commented on #1151
If, like me, you use the Assembly Informational attribute, which includes the commit number, and the sha1 hash of the commit that triggered the build, then updating the assemblyinfo.cs file is a requirement.  Granted, the higher level semantic version number might not have changed, i.e. it is still say `1.2.0`, however, the lower level information has changed, and therefore has to be included in t

[2017-02-09 23:22] chris1248 commented on #1151
We do not include the commit number, nor include the sha1 commit hash that triggered the build. So we do not have that requirement.

[2017-02-09 23:59] chris1248 commented on #1151
In discussing this with @kjjuno our requirements have changed. We will no longer invoke this task as part of every build. Thanks @kjjuno

[2017-02-10 01:12] kjjuno commented on #1151
I still think this is an issue. Yes, we found a work around that meets our needs. However, if there are no new commits and I run GitVersion twice, the second run will always produce the same version, including the hash etc...

If that is the same, there is no need to update the last modified on the AssemblyInfo.cs file. An incremental build system shouldn't get ruined just because you wanted to en

[2017-02-10 11:34] gep13 commented on #1151
However, if there are no new commits and I run GitVersion twice, the second run will always produce the same version, including the hash etc...

This I don't disagree with.  In your situation, I would advice NOT using the /updateassemblyinfo flag, and rather run GitVersion (collecting the asserted versions) and then verify for yourself whether the assemblyinfo file should be updated.

I am not sur

[2017-02-10 11:36] gep13 commented on #1151
We do not include the commit number, nor include the sha1 commit hash that triggered the build.

At the end of the day, GitVersion is a library for asserting the Semantic Version number of the current Git Repository.  This includes the sha1 and the commit count.  As a result, I would say that there is an expectation, unless you are running a build on the exact same commit (as @kjjuno pointed out a

[2017-02-10 12:34] asbjornu commented on #1151
I'm not sure what do do in this scenario. I think we would need to add another command line switch, because I assume some people expect GitVersion to actually update the assembly when executed with the `/updateAssemblyInfo` switch.

[2017-02-10 14:00] gep13 commented on #1151
because I assume some people expect GitVersion to actually update the assembly when executed with the /updateAssemblyInfo switch.

That is a valid point.

[2017-02-10 15:43] kjjuno commented on #1151
I agree

[2017-02-10 16:03] kjjuno commented on #1151
Would something like this work? `GitVersion.exe /UpdateAssemblyInfo /OnlyWhenDifferent`

If there is ever a feature to update the version in a nuspec file (another feature I would love) this could pair with that option as well. Maybe something like `GitVersion.exe /UpdateNuspec /OnlyWhenDifferent`

[2017-02-10 16:11] kjjuno opened #1152 "Feature Request: Ability to update the version in a nuspec file"
`GitVersion.exe /UpdateAssemblyInfo` does wonders for embedding version information in the assemblies themselves. However, if you use the full build metadata in the AssemblyInformationalVersion you cannot use the `$version$` replacement token to set the version.

Often this isn't a big deal because you can capture the GitVersion output of the NuGetVersion variable and pass it in as the variable du

[2017-02-11 10:23] maikebing opened #1153 "When support the deployment version of Clickonce?"
Is already supported but i will not use it? Still do not support?

[2017-02-11 12:20] gep13 commented on #1153
@maikebing what sort of support are you looking for?

[2017-02-11 19:41] jmansar opened #1154 "Version incremented on the feature branch for each commit when master is merged to the branch (Mainline mode)"
Consider the scenario:
1. `branch1` created from `master`
2. `branch2` created from `master`
3. Commits made on `branch1`
4. Commits made on `branch2`
5. `branch1` merged to `master`
6. `master` merged to `branch2`

which produces the following git history:
[code]

When the mode is set to Mainline, the generated version for the `master` is `0.1.1`, which is correct as the initial is `0.1.0` and th

[2017-02-12 07:14] maikebing commented on #1153
The release of the ClickOnce version number

[2017-02-14 01:11] sandorfr commented on #1097
@asbjornu have you found a solution to you issue?

[2017-02-14 01:17] sandorfr commented on #909
Hi @pascalberger, I can't make it work on OSX.

It seems to be smilar to this issue https://github.com/GitTools/GitVersion/issues/1097. It seems that it may have been addressed by
https://github.com/libgit2/libgit2sharp/issues/1389 and https://github.com/libgit2/libgit2sharp/pull/1409

Execution log:
[code]

[2017-02-14 08:50] pascalberger commented on #909
@asbjornu Any idea about this?

[2017-02-16 15:06] kjjuno commented on #947
I can take this on. Will you assign it to me?

[2017-02-16 17:31] jackjwilliams opened #1156 "Version quit incrementing"
I'm not sure what has happened, but my version has quit incrementing on develop builds.

The last patch build we did was 1.5.4, which was tagged and pushed up.

The next build I would expect off of develop is 1.5.5, yet it keeps building 1.5.4. Relevant log:

[code]

[2017-02-17 13:03] jamesharling commented on #1146
This version is definitely more reliable for us - not sure exactly what aspect of our repository structure was causing v3 to have its issues.

[2017-02-17 13:39] asbjornu commented on #1146
@jamesharling: Excellent! Can this issue be closed, then?

[2017-02-17 14:23] jamesharling commented on #1146
I think so. Looking forward to the official v4 release!

[2017-02-17 14:23] #1146 closed

[2017-02-17 14:28] asbjornu commented on #909
@pascalberger: No, sorry. I think someone with deep LibGit2Sharp knowledge needs to help us out with this one.

[2017-02-17 14:31] asbjornu commented on #1097
@sandorfr: It seems like libgit2/libgit2sharp#1409 should remedy the problem, so we might investigate whether that has also been released and if so update LibGit2Sharp and see whether that helps. Are you or @mclang up for the task?

[2017-02-17 17:16] bravecobra commented on #1148
I'm experiencing the same thing. I'm using git flow as a branching strategy. As for my gitversion.yml:

branches:
  master:
    tag: ""
  develop:
    tag: "unstable"
  features?[/-]:
    tag: "feature-{BranchName}"
  hotfix[/-]:
    tag: "hotfix"
  support[/-]:
    tag: "support"
  release[/-]:
    tag: "beta"
ignore:
  sha: []

[2017-02-20 11:35] ralphhendriks opened #1157 "Identify multiple builds against same commit/tag/branch on Team Foundation Build (vNext)"
Dear all,

I am trying to figure out the best practice to distinguish between multiple builds against the same commit/tag/branch.  My current project is on TFS (on premise). TFS (as well VSTS) stores the build configuration separately from the source repository.  Hence, multiple builds against the same commit/tag/branch could result in different artifacts.  I would like the build metadata to refle

[2017-02-21 11:10] ltvan opened #1158 "useBranchName does not work properly"
GitVersion 3.6.4
My config:

[code]

In this case, it works:
[code]
gitversion -> v0.3.0-PROJ-1.1 -> OK

But in this case, it's not work:

[code]
gitversion -> v0.3.0-build.2+5 -> not as expected

[2017-02-21 11:47] ghuntley commented on #947
Experienced this today. Thanks for taking this up @kjjuno <3

[2017-02-21 11:55] ghuntley opened #1159 "Documentation for https://gitversion.readthedocs.io/en/latest/reference/pull-requests/ is empty"
Happy to send a PR back uptown. Can one of the main contributors provide an outline/toc of what they would like to explain on this page?

I got here as I'm after enlightenment (which I''m digging through the source to find out.... good codebase btw... really enjoying the unit tests) as to how a pull-request affects the versioning outcome.

[2017-02-21 15:53] steelerc opened #1160 "Question: 4.x availability"
Any clue when a 4.x version can be expected in the TFS marketplace?

Awesome tool, just really want the new features.

Thanks
Rob

[2017-02-22 07:56] fwinkelbauer commented on #1153
@gep13 ClickOnce doesn't care about the information provided in `AssemblyInfo.cs`. All configuration for ClickOnce is provided in the `.csproj` file. An example would be:

[code]

or

[code]

`%2a` is a replacement character (`*`) and inserts the `<ApplicationRevision>` data. In other words: both snippets result in the same version 1.0.0.116. ClickOnce uses a bunch of other XML configuration tags,

[2017-02-22 16:05] fwinkelbauer commented on #1153
@gep13 I've looked more into this. As far as I can tell my assumption was right: ClickOnce only supports numerical version strings in the form A.B.C.D. This means that the properties `AssemblySemVer` and `MajorMinorPatch` (as found in the JSON output of GitVersion) would be a perfect fit.

**Solution Draft 1**

Here is a small snippet which injects the version information into a `.csproj` file:

[

[2017-02-22 16:48] thoemmi commented on #1153
@fwinkelbauer @maikebing
I'm using gitversion in an internal clickonce application. It's quite easy to setup. I've added following target in my .csproj file:
[code]
This will set the property `ApplicationVersion` dynamically to the correct value.

[2017-02-22 17:00] fwinkelbauer commented on #1153
@thoemmi yeah I agree, this is another simple solution that works. I was providing all this input so that we could consider if it is a good idea to integrate ClickOnce support into GitVersion. This way we wouldn't need to touch the `.csproj` file at all.

By the way what does the `PublishVersion` tag do? I know that this is the name provided in the Visual Studio settings panel, but from what I kno

[2017-02-22 17:22] Eregrith opened #1161 "Problem with AssemblyVersion being higher than pre-release when dealing with nuspec files"
I have a visual studio (2015) solution which contains multiple projects with cross dependencies.
I have set up a .nuspec file for each project so these are treated as package dependencies when I use nuget pack -IncludeReferencedProjects
Those nuspec files simply contain $id$ and $version$ and are used through a pack command on the corresponding csproj

My problem comes from the fact that I need to

[2017-02-22 20:01] thoemmi commented on #1153
I've implemented it already a couple of month ago. If I remember correcty, `PublishVersion` was necessary to get the deployment working, i.e. calling `msbuild.exe` with `publish` target.

[2017-02-22 20:14] asbjornu commented on #1161
Can't you use one of the GitVersion variables that include the prerelease tag as the argument to `nuget pack -Version`? Either way, as far as I can tell, depending on a prerelease package is basically not supported by `nuget.exe` until NuGet/NuGet.Client#1073 is released.

[2017-02-22 20:35] mrswain opened #1162 "GitVersionTask uses .git relative to SolutionDir"
The targets and coding for GitVersionTask seem to use the .git repository relative to the SolutionDir instead of the project folder. This has started to cause versioning issues for projects in sub repositories. I am not sure when this change occurred but it used to not be this way. Ideally it should use the .git repository closest to the project being built and only fall back to the solution repos

[2017-02-22 20:44] Eregrith commented on #1161
I am. Currently my nuget pack looks like this:

nuget pack my.csproj -Version 1.0.1-a0009-develop -IncludeReferencedProjects

Visual studio allows depending on prerelease packages (there is a "show prerelease" checkbox in the NuGet window). The problem comes from the fact that the actual version is equivalent to 1.0.1-prerelease while GitVersionTask sets AssemblyVersion to 1.0.1 : this makes the p

[2017-02-23 07:37] asbjornu commented on #1161
Won't you say this is a bug in NuGet, though? If it bases its version comparison on the `AssemblyVersion` alone (which must be a valid `System.Version` in the strict `Major.Minor.Build.Revision` format), this will never work. There is no way we can inject a version between the stable versions `1.0.0` and `1.0.1` without using prerelease tags. If NuGet gets the version number for comparison purpose

[2017-02-23 07:53] Eregrith commented on #1161
Maybe you're right it might be better if NuGet based that info on AssemblyInformationalVersion

Why doesn't GitVerdionTask use prerelease tags in the AssemblyVersion though? Is it forbidden by the format of that value?

I'm aware you can't simply let the lower version in AssemblyVersion because that would be impossible to guess.

Seems i am screwed with that ... I'll try changing my strategy to ga

[2017-02-23 07:54] Eregrith commented on #1161
Oops Sorry I didn't see you already answered the format question

[2017-02-23 07:59] Eregrith commented on #1161
Oh well, looks like this issue :https://github.com/NuGet/Home/issues/1794

Tells me my problem is still maybe solvable with your help.
AssemblyInformationalVersion contains the full SemVer 2.0 prerelease version (something like 1.0.1-Branch.develop+9)
Apparently NuGet fails to read that. Is there any way to set the format of AssemblyInformationalVersion to something like Major.Minor.Patch-[A-Za-z0

[2017-02-23 08:05] asbjornu commented on #1161
@Eregrith: Please correct me if I'm wrong, but I believe NuGet expects the format of `AssemblyInformationalVersion` to be `System.Version` as well, so no matter what we append at the end of the version number, it's going to fail.

[2017-02-23 08:08] asbjornu commented on #1162
I agree that the closest `.git` folder should be used. Want to tackle this in a pull request?

[2017-02-23 08:13] Eregrith commented on #1161
:(

I'll check on that and get back to you.
In the meantime, is there a mean to setup that value's format in GitVersionTask's config?

[2017-02-23 08:24] asbjornu commented on #1124
This sounds related to #1162. Perhaps the same PR can kill both birds?

[2017-02-23 08:24] asbjornu commented on #1161
#886 asks for something similar.

[2017-02-23 08:30] Eregrith commented on #1161
In the [NuGet Docs](https://docs.microsoft.com/fr-fr/nuget/create-packages/prerelease-packages#semantic-versioning) there is an example where the AssemblyInformationalVersion is :
`[assembly: AssemblyInformationalVersion("1.0.1-beta")]`
So I guess following issue #886 will solve my problem.
Thanks for your help, I guess you can close this one as #886 is already on "the actual problem"

[2017-02-23 08:41] Eregrith commented on #886
I'm interested to know if AssemblyInformationalVersion has its format configurable as well. As mentionned in #1161, NuGet fails to parse current AssemblyInformationalVersion's format (Because it uses SemVer 2.0 dot notation) and I need to set the format to something SemVer 1.0-compatible.
For example I'll gladly take something like :

[code]

generating
[code]

[2017-02-23 08:44] asbjornu commented on #1161
@Eregrith: Ok, cool.

[2017-02-23 08:44] #1161 closed

[2017-02-23 08:49] Eregrith commented on #886
Nevermind, [it seems ```assembly-informational-format``` might already what I needed.](https://github.com/GitTools/GitVersion/issues/1062). I should have searched better before posting.

[2017-02-23 14:54] mrswain commented on #1162
PR #1163 has been submitted for review, though this only address the targets file, the task assembly should probable be cleaned up as well to reflect using path instead of explicitly using the solution dir, just so the semantics are clear.

[2017-02-24 19:52] mlooise commented on #1160
What I did for now (need the 4.0 functionality also) is copied the choco version of gitversion 4 to the buildserver and then changed the gitversion.exe location as so:

![image](https://cloud.githubusercontent.com/assets/2109791/23318518/157e5b32-fad3-11e6-9f2b-d5a289e54418.png)

This works and allows me to use the 4.0 version and also the normal plugin.

[2017-02-25 00:17] #1162 closed

[2017-02-25 00:17] JakeGinnivan commented on #1162
Appreciate the PR @mrswain

[2017-02-25 01:22] #947 closed

[2017-02-25 01:30] #1074 closed

[2017-02-25 01:31] JakeGinnivan commented on #1074
Nice investigations and PR everyone. Thanks!

[2017-02-25 02:59] JakeGinnivan commented on #1159
Unsure what the goal of that particular reference was when it was created but the TL;DR of this is:

 - GitVersion will automatically fetch the remote pull request refs
 - If it sees the current branch matches a PR ref then it will extract the pull request number out of the PR branch ref
 - It will then try and figure out how many commits are on that PR
 - The version will then be: {majorMinorPatc

[2017-02-25 05:16] JakeGinnivan commented on #1156
The log line `Source was ignored due to commit having been excluded by configuration` is interesting, can you post your gitversion.yaml file

Also have opened https://github.com/GitTools/GitVersion/pull/1165 which may help diagnose this sort of issue in the future

[2017-02-25 05:23] jackjwilliams commented on #1156
Yeah, it was from issues I had before where I merged a branch named feature/1.5 or something (awhile back). You recommended to include an ignore.

Current yaml (it's very bare-bones):

[code]

[2017-02-25 09:13] JakeGinnivan commented on #1158
I have created a test and am trying to work through a solution to this issue. Here is the log from my test

[code]

Now, you are seeing the behavior because release branches have the logic to pick up any pre-release tag, then increment the number i.e build.1 to build.2.

The trick to fixing this one is to also check to see if the calculated pre-release tag matches the current branch config pre-rel

[2017-02-25 09:57] JakeGinnivan commented on #1151
This is actually super easy to fix, have submitted a PR at https://github.com/GitTools/GitVersion/pull/1167

[2017-02-25 10:03] JakeGinnivan commented on #1152
I am going to push back on this, I want to move GitVersion to be less aligned with the .net namespace and a more generic tool across multiple ecosystems.

Other things we could update: wix, clickonce, project.json, package.json, gems etc. The list is endless. In fact I would like to see it only available in the MSBuild task. Then in the cake wrappers, or build server integrations we can make it ea

[2017-02-25 10:03] #1152 closed

[2017-02-25 10:06] JakeGinnivan commented on #1153
Agree with the general consensus that it's easy to workaround not putting support in. If we did the solution wouldn't work for those using mage anyways, so it wouldn't even be a complete solution.

I have written up a more complete response at https://github.com/GitTools/GitVersion/issues/1152, but the tl;dr is that I do not want us to put built in updating anything into GitVersion. Instead we sho

[2017-02-25 10:06] #1153 closed

[2017-02-25 10:06] JakeGinnivan commented on #1153
If anyone would like to take these workarounds and add them into the docs, that would be great though :) pull requests welcome

[2017-02-25 10:21] JakeGinnivan commented on #1154
Looks like a legit issue, thanks for reporting! Here is a test which replicates it:

[code]

Looking into a solution now

[2017-02-25 10:30] #1151 closed

[2017-02-25 11:43] JakeGinnivan commented on #1154
Took a while, but got to the bottom of it. There were some flaws in the mainline logic. The behavior is now:

* Before calculating the mainline version to base the feature branch version off
    * Remove all commits which are not on the mainline
* Then only increment a feature branch finally if the feature branch has been merged into mainline (for pull request HEAD build refs)

This actually highl

[2017-02-25 12:02] JakeGinnivan commented on #1156
Is the HEAD tagged?

Looks like you are building 9d7f88b898bd625f10d2d19308b97131546c8ac0 which is the HEAD for develop and is also tagged 1.5.4.

GitVersion will always use the tagged version. Another PR at https://github.com/GitTools/GitVersion/pull/1169 which will improve the logging to make this more clear

[2017-02-25 12:03] JakeGinnivan commented on #1156
As soon as you make a commit to develop it should increment again. I am pretty sure this is the issue, so might close this out. Just reply if this is not the case.

[2017-02-25 12:10] JakeGinnivan commented on #1160
Two things need to be done:

 - Enable publishing a pre-release to the VSTS marketplace, when I setup the build you could only publish stable
 - Ensure mainline mode is ready and well enough documented

I want to do a sweep of issues and close as many legit bugs for v4 as I can then I will likely just release stable in the next week or so.

[2017-02-25 12:12] JakeGinnivan commented on #1157
I think the ideal solution is to allow GitVersion to take some sort of build_number or revision parameter which can be used, surfaced in variables and in the build metadata. That way you can pass in an external variable into GitVersion and it will affect the build number.

Would love a PR for this :)

[2017-02-25 12:15] JakeGinnivan commented on #621
I know this is a super old issue, but the v4 mainline mode should solve this nicely. Going to close

[2017-02-25 12:15] #621 closed

[2017-02-25 12:17] JakeGinnivan commented on #1121
I think this is fixed with https://github.com/GitTools/GitVersion/pull/1163

It will now use the .git folder closest to the project rather than the solution.

[2017-02-25 12:17] #1121 closed

[2017-02-25 12:18] JakeGinnivan commented on #1157
The discussion at https://github.com/GitTools/GitVersion/issues/648 raised a similar issue. Going to close it in favor of this. I am now more keen on the idea than I was then

[2017-02-25 12:19] JakeGinnivan commented on #648
Going to track this at #1157 and have marked as up for grabs

[2017-02-25 12:19] #648 closed

[2017-02-25 12:24] JakeGinnivan commented on #1114
A config like this should work fine:

[code]

To make it work I think you would need to tag the first commit on the stable branch to lock the version on that branch.

[2017-02-25 12:25] JakeGinnivan commented on #1114
If you can give this a go, if it doesn't work can you submit a pull, request which has a failing test with this configuration then I can probably have a quick play around and find something which could work.

Going to close this issue for now.

[2017-02-25 12:25] #1114 closed

[2017-02-25 12:32] JakeGinnivan commented on #1148
You will have to do a `git fetch --unshallow` to fetch all the other tags and ensure you have all the git history.

I think running that before you run GitVersion should fix your issues, if it doesn't just post an update and I will reopen the issue. If you do can you run gitversion with the following command line args `gitversion /log console /output buildserver` - this should give you a full log

[2017-02-25 12:32] #1148 closed

[2017-02-25 12:37] JakeGinnivan commented on #1145
I like the idea. I wonder if we could capture this as guidance rather than adding into GitVersion itself. The reason I say that is because this could be a confusing feature to explain unless you have a specific problem.

I feel you with the conversion to the `AssemblyVersion`. If we did build this in I would say it would be called something like `numeric-only-tag-offset`, and we introduce a new va

[2017-02-25 12:41] JakeGinnivan commented on #1132
I am unsure how to action this issue, can I suggest:

1. If we can extend GitVersion task so it can be installed into c++ projects then submit a pull request to do that
2. If we cannot extend what we have, can we create a new build target which creates a new NuGet package with a different target file
3. If we can't do that, take the above information, capture it into the docs under a how-to for c+

[2017-02-25 12:46] JakeGinnivan commented on #1134
I am unsure how we can solve this, it is an environmental issue which .NET just does not support. The resolution here is to ensure that you standardise the casing of environmental variables.

If you would like to try and submit a pull request with a fix for this then please go ahead @sergey-s-betke. Am going to close this issue as an upstream issue.

[2017-02-25 12:46] #1134 closed

[2017-02-25 12:50] JakeGinnivan commented on #1135
https://github.com/GitTools/GitVersion/blob/v3.6.5/src/GitVersionCore/Configuration/Config.cs

For reference

[2017-02-25 12:54] JakeGinnivan commented on #1137
To clarify why this is:

I release v2.0.0 of my application. Then myself and another of my team members both add a new feature and we both use `+semver: minor`. Both pull requests get merged, if you are using `continuous delivery` then you would only want minor to be increased *once* because at some point you will release a new release with multiple new features and fixes and you only want to incr

[2017-02-25 12:54] #1137 closed

[2017-02-25 13:04] JakeGinnivan commented on #1126
There seems to be a lot of conversation on this topic at #1132, going to merge the issues.

[2017-02-25 13:04] #1126 closed

[2017-02-25 13:07] JakeGinnivan commented on #1127
Unsure what the problem is here, please open up a new issue with the build logs and an example of the git repo. There is just not enough information here to work with. Thanks!

[2017-02-25 13:07] #1127 closed

[2017-02-25 13:09] JakeGinnivan commented on #1129
I think you can also check GitVersion in and then tell the extension to use the GitVersion exe in your workspace.

[2017-02-25 13:09] JakeGinnivan commented on #1129
Closing this issue as it's fixed and just awaiting a stable v4 release

[2017-02-25 13:09] #1129 closed

[2017-02-25 13:23] JakeGinnivan commented on #1131
GitVersion is already really complex as is, and while it would be great to support arbitrary clone depths the reality is as soon as the merge base of the current feature branch drops out, or you don't fetch other tracking branches you will start seeing different version numbers. It's just not a scenario we can support at the moment. The thing is depth would need to be calculated to know what is re

[2017-02-25 13:23] #1131 closed

[2017-02-25 13:25] JakeGinnivan commented on #1128
Can you give me more information about what scenario is difficult. This is not something I have encountered and it we added it, it could be confusing. I would imagine defaulting should happen in your build script.

[2017-02-25 13:30] JakeGinnivan commented on #1140
Honestly no idea what is going on here. Can you open an issue with AppVeyor support? There should be a git repo.. We have similar setup for our CI with no issues =/

If you find out any more info and we can help post and we can reopen this issue

[2017-02-25 13:30] #1140 closed

[2017-02-25 13:44] JakeGinnivan commented on #1108
I assume this is fixed. I no longer have context and I would assume that it is not an issue or we would have heard about it

[2017-02-25 13:44] #1108 closed

[2017-02-25 13:45] JakeGinnivan commented on #1115
Looks like we can't do anything here, going to close this issue :)

[2017-02-25 13:45] #1115 closed

[2017-02-25 13:46] JakeGinnivan commented on #1115
Also, the actual labeling I think is tied to the release process, not the version generation process. I would argue this functionality should never end up in GitVersion.

That said, I have asked for the same thing!

[2017-02-25 13:49] JakeGinnivan commented on #1113
Hi @NotABadPerson

`+semver: major` is a hint about the SemVer changes. These are aggregated between releases. So if you tag 2.0.0, then use `+semver: minor` and `+semver: minor` and `+semver: major` on different commits the result would be v3.0.0.

There are plenty of closed issues on this subject and information in our docs about it. Mainline mode in v4 beta might work better for you though

[2017-02-25 13:49] #1113 closed

[2017-02-25 13:49] JakeGinnivan commented on #1113
Here is the relevant docs. https://gitversion.readthedocs.io/en/latest/more-info/version-increments/

[2017-02-25 13:53] JakeGinnivan commented on #1117
I do not know of any other tools offering this functionality. I would prefer /debug to enable debug level logs which give enough information to diagnose the issue. If you are at the point you need a debugger attached you should just pull the code down and launch that way.

Going to close, if you have any examples of other tools doing this and want to continue the conversation just drop a comment a

[2017-02-25 13:53] #1117 closed

[2017-02-25 13:55] JakeGinnivan commented on #1122
@strich did you want to push your code up somewhere, I would be interested in looking at it.

In terms of tests, our internal abstraction should be able to be built off a git repo on the file system, so the tests should not have to change at all to support this change. it's an implementation detail.

We would then need other tests to simply validate our internal model can be populated correctly fr

[2017-02-25 13:59] JakeGinnivan commented on #1124
This sentence is confusing...

[code]

Pretty sure it's also just wrong. GitVersion.yml is expected to exist in the root of the git repo. In the case of submodules the #1162 should help. Does anyone want to submit a PR to fix the docs?

[2017-02-25 14:13] asherber commented on #1124
GitVersion CLI will correctly read a `GitVersion.yml` in a folder which is not the repo root, so I don't think that sentence in the docs is incorrect. It's just that the behavior of the MSBuild task doesn't match the behavior of the CLI.

[2017-02-25 14:13] JakeGinnivan commented on #1098
This appears to be fixed in the v4 betas. I just tested locally. If this is not the case please open a new issue with the version you tried

[2017-02-25 14:13] #1098 closed

[2017-02-25 14:16] JakeGinnivan commented on #1071
Because assembly version is used by .net to validate strong naming versions we were pretty conservative with it. By default we only use MajorMinor and you can make it use majorMinorPatchTag.

#1145 is a good improvement to this though, going to close this in favor of 1145 which has a resolution to this issue

[2017-02-25 14:16] #1071 closed

[2017-02-25 14:19] JakeGinnivan commented on #1068
This is resolved by Mainline mode in v4 I think. Also the ContinuousDeployment mode can also help here.

@pascalnaber can you try v4 beta mainline mode and open a new issue if it does not solve your issue.

[2017-02-25 14:19] #1068 closed

[2017-02-25 14:20] JakeGinnivan commented on #1061
Looks like v4 resolves this issue.

@Rajivhost can you open up a new issue with more details if you are still having issues. Thanks

[2017-02-25 14:20] #1061 closed

[2017-02-25 14:20] JakeGinnivan commented on #1060
This should all be released and fixed. Let me know if not

[2017-02-25 14:20] #1060 closed

[2017-02-25 14:23] JakeGinnivan commented on #1054
Maybe just `pre-release`, that is what semver.org calls it?

We can probably include this change in v4 if we move on it soon. Thoughts @asbjornu

[2017-02-25 14:25] JakeGinnivan commented on #1051
Correct

The way the /buildserver works is that it writes out to the console commands which are picked up by the build server. Which in turn sets environmental variables. Either use the task or you need to call gitversion from a build script without `/output buildserver` and parse the json response yourself.

This issue is pretty old now so closing, if you have futher questions just open a new iss

[2017-02-25 14:25] #1051 closed

[2017-02-25 14:27] jackjwilliams commented on #1156
Yeah I tried that multiple times. Did commits, merges, nothing bumped. 

Get Outlook for iOS
_____________________________
From: Jake Ginnivan <notifications@github.com>
Sent: Saturday, February 25, 2017 6:03 AM
Subject: Re: [GitTools/GitVersion] Version quit incrementing (#1156)
To: GitTools/GitVersion <gitversion@noreply.github.com>
Cc: Josh Williams <williams.jackj@gmail.com>, Author <author@no

[2017-02-25 14:56] JakeGinnivan commented on #1124
Ah right. Can you create a new issue which describes the problem clearly. I will close this out and create a new issue which is marked up-for-grabs

[2017-02-25 14:58] JakeGinnivan commented on #1156
Really unsure, can you provide a repo showing the problem, or a failing test? Unsure how to help next :)

[2017-02-25 19:36] asherber opened #1170 "GitVersionTask 3.6.5 ignoring GitVersion.yml in project dir"
Given a VS solution with one or more projects that have the `GitVersionTask` NuGet package installed, GitVersion will look only in the solution dir for `GitVersion.yml` and will ignore any `GitVersion.yml` in the applicable project dir.

The docs at http://gitversion.readthedocs.io/en/latest/configuration/ say that I should be able to put the config file in any solution subdirectory, "in case you

[2017-02-25 19:36] asherber commented on #1170
See #1124 for more discussion, and especially https://github.com/GitTools/GitVersion/issues/1124#issuecomment-269882437

[2017-02-25 19:37] asherber commented on #1124
#1170 distills the issue.

[2017-02-26 04:29] BCSharp commented on #1145
Sounds good. Having a numeric variable would already help a lot. How do you see it working with `AssemblyVersion`? Mabye by setting  `assembly-versioning-scheme` to a new setting `MajorMinorPatchNumericTag`?

[2017-02-26 04:52] JakeGinnivan commented on #1145
That sounds reasonable

[2017-02-26 08:41] JakeGinnivan commented on #1084
Hey @mdkf

The reason you are seeing 1.0.1 in your version is that the last known version for both branches is 1.0.0, then develop has an increment of Minor and master has a increment of Patch.

The way to resolve this is to use `release/` branches, so you branch from `develop` to `release/1.1.0`, then merge that into `master`. GitVersion then can pick up the 1.1.0 from the merge message on master

[2017-02-26 08:44] JakeGinnivan commented on #1048
Going to close this issue as it hasn't moved for a while. Normally these issues are due to using an old version, please post another comment or open a fresh issue if this is still an issue

[2017-02-26 08:44] #1048 closed

[2017-02-26 08:54] mattsalmon commented on #912
Is there any further update on this issue? We're using GitVersion with TeamCity and have encountered this issue. I can't see any permanent workaround or fix in this thread?

[2017-02-26 10:29] JakeGinnivan commented on #912
This is a recurring issue, the fix is to fetch all the remote changes before invoking gitversion, and if it's a shallow clone using `--unshallow`.

The action for me, or anyone who wants to jump in is to detect this issue proactively in GitVersion, try to resolve automatically and if it fails give a good error message which explains the issue and how to resolve.

It is also becoming more of an iss

[2017-02-26 13:31] strich commented on #1122
Hey @JakeGinnivan. Yeah early Jan I got so far as getting it "working" in some form or another, which you can review in [my forked branch here](https://github.com/strich/GitVersion/commits/feature/service-api-support).

I got a bit held up by some Github API traffic restrictions and then more so on potentially having to rewrite the tree sorting methods from LibGit used in the core version determin

[2017-02-26 13:41] strich commented on #1122
I had to go back over my commits to see where I got to:

The GitHub integration works fine but will need:

- [ ] Authorized app mode - Based on the number of potential API calls required it would be beneficial to create a GitVersion app with GitHub and increase the number of API calls allowed per hour.
- [ ] Authorized user - So one can access private repos.
- [ ] All the error case handling aroun

[2017-02-26 18:33] mlooise commented on #1046
Hi All,

I know this thread is closed, but I think i'm having a problem with this 'fix'. With gitversion 3.6.4 I had some problems with commits as 'merge branch release/1.2 with ...' being treated as a versionsource.

This was fixed in 4.0.0-beta9. Now however when I update to 4.0.0-beta10 i suddenly get a commitcount since versionsource of a way to high. It looks like it now counts commits of the

[2017-02-26 18:48] mlooise opened #1171 "Issue with gitversion 4.0.0-beta10"
Hi All,

I currently have a issue with the new beta-version of gitversion 4.0.0-beta10.

We are on a gitflow branching-strategy. In version 4.0.0-beta9 i got a correct commits-since-version-source, but now in beta10 i get a very high commitcount. I had a commitcount since versionsource of 19 on my release branch in version beta9 (which was correct), but now on beta10 I get a commitcount of 82... I

[2017-02-26 21:44] mlooise commented on #1171
To understand how it should work. Suppose you start with a development branch when master is on 1.1. and you are on gitflow.  On development 2 commits have been done after the last release has been done.

Development would be on 1.2.0-alpha-2

Then we create a release.  (`git flow release start 1.2`)

Then we commit one more on development. This will become 1.3.0-alpha-1 ?? (this was not the case

[2017-02-26 23:33] JakeGinnivan commented on #1171
Thanks for reporting @mlooise, it does seem the fix is not quite right. I will have a go at fixing both issues tonight.

[2017-02-27 05:51] kjjuno commented on #1152
I'm planning to write this as a separate app designed to be run by the gitversion exec workflow. The project url is
https://github.com/kjjuno/GitVersion.FileWriters.Nuspec

I would love contrubutions and or feedback as to the interest in this project. @JakeGinnivan  had a good point that a lot of files could potentially be update targets. This method should make it possible to target all of these

[2017-02-27 07:46] gep13 commented on #1152
@kjjuno when it comes to this sort of thing, I normally turn to this:

https://github.com/sergeyzwezdin/magic-chunks

Which already handles most file types, and has integrations into most build systems.

[2017-02-27 08:53] asbjornu commented on #1054
@JakeGinnivan: What SemVer says about this that I can find, is:

And:

So it seems to call these pre-release strings for **labels** or **identifiers**. Perhaps `pre-release-identifier` or `pre-release-label` could work? I think just `label` works too, but `identifier` is too generic.

[2017-02-27 10:49] GeertvanHorrik opened #1173 "GitVersion checks out tagged commit, not the latest"
Currently testing an issue where the combination of dynamic repositories and a beta release branch are not being able to find the specified commit sha (and thus using the base, which is the initially tagged commit) as current commit. This results in the versions always being calculated as beta-0.

[2017-02-27 10:52] GeertvanHorrik commented on #1173
The issue seems to be coming from `GitPreparer::CreateDynamicRepository` where `GitRepositoryHelper.NormalizeGitDirectory` checks out the target branch, but not the target commit.

[2017-02-27 16:07] GeertvanHorrik commented on #1173
@JakeGinnivan question: why doesn't beta automatically get increased for each commit (where this does happen for the develop branch)? I am trying to migrate from 3.2.0 => 4.0.0-beta, and want to understand why this behavior was changed.

[2017-02-27 17:38] GeertvanHorrik commented on #1173
Weird, I have a release/2.3.0 branch and a develop branch. Looks like the dynamic repository stuff is checking out the *develop* branch as release/2.3.0 locally. So it doesn't actually fetch the right branch. Looking into this.

[2017-02-27 17:56] GeertvanHorrik commented on #1173
Seems to be an issue in GitTools.Core, will provide a fix today. That only leaves out the question why NextVersionCalculator::UpdatePreReleaseTag defaults to 1 instead of BuildMetaData.CommitsSinceTag.

[2017-02-27 18:06] GeertvanHorrik commented on #1173
Created PR for GitTools.Core. For the counter issue, I am suggesting to add this to `NextVersionCalculator::UpdatePreReleaseTag`:

[code]

In this case, when we are not using tags (which we should increase), it will use the commits since the tags (keeping the old method alive where each commit on a release branch ensures a unique prerelease version).

[2017-02-27 18:21] GeertvanHorrik commented on #1173
It does break a lot of unit tests. I can see where the idea is coming from to have to explicitly tag a commit (since some people want to include multiple commits into a beta). However, this breaks the auto-counting strategy I am using on my projects. Now I need to explicitly specific a new beta version number (as a tag) before releasing one. If I forget (this manual process), it will fail. Is intr

[2017-02-27 20:18] ermshiperete opened #1174 "Configuration question"
Sorry if this is obvious or documented somewhere - I couldn't find anything.

We use a workflow where the development happens on `master`. From time to time we merge to a `qa` branch that gets manually tested. If the tests are satisfactory we merge to `live` which then gets deployed.

For each merge to `live` we'd like to increment our version. `master` and `qa` should have pre-release labels appe

[2017-02-27 21:39] jdshkolnik commented on #1128
@JakeGinnivan If you want to assemble a version with the build number, like (major + "." + minor + "." + patch + "." + paddedbuild) then that last variable can't be empty.

[2017-02-28 01:27] BCSharp commented on #1145
OK, so just to check my understanding with examples:

Example GitVersion.yml:
[code]
Then we get the following:

 * 1.2.3-alpha.1 on *develop*:  `"PreRelaseNumericTag": 1, "AssemblySemVer":"1.2.3.1"`
 * 1.2.3-beta.1 on *release/1.2*: `"PreRelaseNumericTag": 1001, "AssemblySemVer":"1.2.3.1001"`
 * 1.2.3 on *master*: `"PreRelaseNumericTag": 2000, "AssemblySemVer":"1.2.3.2000"`

[2017-02-28 05:45] jpierson opened #1175 "Building using dotnet build fails for .NET Standard library project"
I'm using the latest pre-release of GitVersionTask (4.0.0-beta0011) on a .NET standard library project and it seems to work from Visual Studio 2017 but not from the command line using `dotnet build`. I'm targeting netstandard1.2.

I wasn't sure whether this would work at all. I started off looking around for an implementation that installs a GitVersion package as a `DotnetCliToolReference` in an S

[2017-02-28 07:53] asbjornu commented on #1174
Since you're pretty much using a simplified variant of Git flow already, I would simply suggest you label your branches differently. Here's a suggestion:

1. `master` → `develop`
2. `qa` → `release/*`
3. `live` → `master`

Then I assume GitVersion would be better in sync with what you're trying to do and you won't have to configure anything at all, really.

[2017-02-28 08:22] ermshiperete commented on #1174
That's an idea. I can also look at the default configuration and then adjust the branches.

However, the Git flow approach requires to tag each version which I though I could get around by using `Mainline`. But it looks like that only works for one branch plus feature branches.

[2017-02-28 12:14] StefanBertels opened #1176 "GitVersionTask: wrong version since 4.0-beta10"
4.0-beta9 works fine. Since 4.0-beta10 version number is wrong.

I use master and set tags after build like this:

somename_<semver>  => somename_2.2.8

I have setup `tag-prefix` in gitversion.yml to `'somename_'`. This is the only config option I've set.

There are some other tags -- but they have other prefixes and lower version numbers (1.0.* , 2.0.*)

Expected next version: 2.2.9 (or 2.2.8 if

[2017-02-28 16:08] Tankatronic opened #1178 "Question: GitVersion Configuration"
I have spent a lot of time trying to wrap my head around GitVersion and what it is doing. Just when I think I understand the workflow, I realize I don't! I wanted to give an example workflow with how we would like GitVersion to work, and if it is possible to configure it to behave this way or not.

Our master branch is our release branch. Development happens on develop, where we branch off for fea

[2017-03-01 07:19] asbjornu commented on #1178
Does @JakeGinnivan's answer https://github.com/GitTools/GitVersion/issues/1137#issuecomment-282482205 help in any way?

[2017-03-01 13:58] JakeGinnivan commented on #1173
Can you explain your auto-counting strategy. There is likely already a configuration option or mode which works.

Develop is configured to use ContinuousDeployment by default whereas other branches do not.

[2017-03-01 14:00] JakeGinnivan commented on #1175
@onovotny any thoughts? :)

[2017-03-01 14:05] JakeGinnivan commented on #1176
Can you run `gitversion /diag` and post the logs. Our tests are pretty comprehensive but we do have missing workflows sometimes, this is why it has been a decently long beta, we have made a lot of changes

[2017-03-01 17:53] GitHubSachin commented on #864
What is the resolution here? I am seeing same error on one of my branch

[2017-03-01 19:09] chris1248 commented on #436
We are having this problem in our TeamCity setup. I am accessing the repo using SSH, and I get a very similar callstack:

[code]

[2017-03-01 19:14] GeertvanHorrik commented on #1173
This is my config:

[code]

I was on an older version (the last one that had dynamic repositories working) and unfortunately I was too busy to keep up with all the great changes you made to GV. Since I need the *alpha* instead of *unstable* tags now, I am "forced" to upgrade (which is actually good since I can finally fix the dynamic repositories).

Anway, back to your original question. Before th

[2017-03-01 19:24] chris1248 commented on #436
Huh: I did this: `add a parameter called `env.Git_Branch` with value %teamcity.build.vcs.branch.<vcsid>%`
and the problem went away. Cool! No idea why it didn't throw a better exception, but this will work for now.

[2017-03-01 19:41] czesiu commented on #1046
Finding merge base is a process which searches for all merges beetwen 2 branches from newest to oldest. Oldest merge base is a commit from first branch, from which second branch was branched off - place from which second branch was created.

**Example:**
There are 2 branches. Blue is develop. Violet is release. There are 2 merge base beetwen this branches marked as 1 and 2.
![f86dfbe4-cddf-11e6-9a

[2017-03-03 14:37] JakeGinnivan commented on #1171
Got to the bottom of it, will get beta 12 out shortly with a fix. In the meantime can you test https://ci.appveyor.com/project/GitTools/gitversion/build/4.0.0-PullRequest1179.1260.build.1250/artifacts to see if it fixes your issues?

[2017-03-03 14:41] JakeGinnivan commented on #1046
@czesiu I have revised your fix at https://github.com/GitTools/GitVersion/pull/1179, if you could have a look and see what you think that would be great

[2017-03-03 16:24] DamianCIBC opened #1180 "Not calculating version of latest when using dynamic repositories"
Hi,

We've just moved over to semantic versioning and have started using GitVersion. We're using version 4.0.0-beta0011, with TeamCity. We first ran into the problem with the agents not doing a fetch on master, so we ran into the issue about master or develop branch not found (https://github.com/GitTools/GitVersion/issues/912#issuecomment-244789983)

We switched to using dynamic repositories, whic

[2017-03-03 16:56] memark opened #1181 "When is NuGetVersionV3 coming?"
Browsing through the discussions and the code, I have noticed that the `NuGetVersion` property is currently pointing at the `NuGetVersionV2`, returning the same thing. Also there is this comment `// TODO When NuGet 3 is released: public string NuGetVersionV3 { get { return ??; } }`
https://github.com/GitTools/GitVersion/blob/416ed5ad41a2699bc1dc9fd0731aae1909e1cfdd/src/GitVersionCore/SemanticVersi

[2017-03-03 18:50] pascalberger commented on #1181
What do you expect in a `NuGetVersionV3` variable compared to the already existing variables?

[2017-03-03 18:51] memark commented on #1181
I expect proper support for dot-notation in the prerelease part, e.g. _1.0.0-beta.2_.

I also just edited my original post with some more information.

[2017-03-04 11:12] chrgei commented on #886
Okay. I wanted this Format:

`[assembly: AssemblyFileVersion("1.0.1.9")]
`

In the meantime, however, we are working according to Sem 1.0 rules.

Thank you for the response. It's a great tool.

[2017-03-05 13:53] czesiu commented on #1046
@JakeGinnivan Looks ok. All tests passed and I also tested your changes on my problematic repository and version is same as in my fix. If there will be new problems I will report it.

[2017-03-06 10:51] StefanBertels commented on #1176
Problem seems to be with gitversiontask only. If I run gitversion.exe in directory with gitversion.yml, I get 2.2.10 with 3.6.5 and beta-11 (which is correct).

Seems like gitversiontask does not use gitversion.yml (I get 2.1.0 with 3.6.5 and beta-11 when running gitversion in a directory without gitversion.yml) -- maybe wrong working directory?

Anyway, output of /diag (beta 11):

[code]

[2017-03-07 00:05] matkoch opened #1182 "Static revision number"
Is it possible to have a static revision number (apart from assemblying it myself) ?

Background is, that I'm compiling a plugin against a certain product which has a version itself. For convenience, I would like to include that version number (without dots) into my revision number.

[2017-03-07 04:12] mdkf commented on #1084
I tested GitVersion_4.0.0-pullrequest1179-1260 and it still attempted to put the pre-release tag on master.
INFO [03/06/17 23:10:37:16] Found multiple base versions which will produce the same SemVer (1.1.0-dev.2), taking oldest source for commit counting (Git tag 'v1.1.0-dev0001')
  INFO [03/06/17 23:10:37:17] Base version used: Git tag 'v1.1.0-dev0001': 1.1.0-dev.1 with commit count source 47fa4

[2017-03-07 12:38] embix opened #1183 "GitVersion produces incompilable code if AssemblyInformationalVersion not defined for F#"
If you use GitVersion for F# and you haven't already defined an AssemblyInformationalVersion in you AssemblyInfo.fs, (before:)

    // Version information for an assembly consists of the following four values:
    //
    //       Major Version
    //       Minor Version
    //       Build Number
    //       Revision
    //
    // You can specify all the values or you can default the Build and Rev

[2017-03-07 19:19] ilovezfs opened #1184 "What is the current stable version?"
I notice the release marked "latest release" (4.0.0-beta.10)  is also marked "beta." Is that the latest stable release? In other words does it supersede 3.6.5, or is 3.6.5 still the latest stable version? I'm asking because I'm not sure what actually belongs in the stable spec for Homebrew.

[2017-03-07 22:23] mlooise commented on #1171
Hi Jake,

Thanks for investigating my problem so thoroughly! I really appreciate the way issues are picked up by this community. I am however sad to report that i can't reproduce the problem anymore. We had this issue on our production repo and i've finished the release in the meantime so the branch on which the problem existed is now gone. I have tried to reproduce it but with no luck yet.

In th

[2017-03-07 23:35] JakeGinnivan commented on #1182
Can you give an example? Just to be clear what you mean about a revision number. Also how does it fit into pre-release tags etc?

[2017-03-07 23:37] JakeGinnivan commented on #1084
You will have to ignore the commits which are tagged in your gitversion.yml config file.

i.e:

[code]

[2017-03-08 04:46] roryprimrose opened #1185 "Support for new VS2017 project style"
I've just installed VS2017 RTM and am trying to convert an existing net40 project to target netstandard1.3;net452. I've replaced the proj files and then run install-package gitversiontask -pre.

This is what my proj file looks like now.

[code]

Looks like GitVersionTask is not invoked during the build of the project. Am I missing something?

[2017-03-08 08:14] asbjornu commented on #1185
I have no idea how project imports should look like in Visual Studio 2017, but this is how it looks like in the old `.csproj` format:

[code]

Without this `.targets` file imported, GitVersionTask won't really **do** anything. A `PackageReference` isn't the same thing, I believe.

[2017-03-08 08:16] asbjornu commented on #1184
`3.6.5` is still the latest stable version of GitVersion. Version 4 is still in beta because its commit counting has been extensively rewritten.

[2017-03-08 15:56] matkoch commented on #1182
This [ReSharper plugin](https://resharper-plugins.jetbrains.com/packages/ReSharper.ImplicitNullability/) is a good example.

There are several versions of another application (here ReSharper) that you want to support. The codebase of the plugin is basically the same for all different ReSharper verions (except small `#ifdef` workarounds). And in order to identify for which version the plugin was bu

[2017-03-09 04:51] memark commented on #1181
@pascalberger Does this answer your question?

[2017-03-09 08:02] ilovezfs commented on #1184
OK. Thanks for clarifying. Just my two cents: in the GitHub GUI it would probably be best to designate 3.6.5 as the "latest release," not v4.0.0-beta.10.

[2017-03-09 08:04] gep13 commented on #1184
in the GitHub GUI it would probably be best to designate 3.6.5 as the "latest release," not v4.0.0-beta.10.

Can you confirm exactly what you are referring to?

[2017-03-09 08:07] ilovezfs commented on #1184
Scroll through https://github.com/GitTools/GitVersion/releases where you'll see that v4.0.0-beta.10 think it's the latest release.

[2017-03-09 08:10] ilovezfs commented on #1184
If you go to https://github.com/GitTools/GitVersion/releases you can click "Edit" on the right side or if you go to https://github.com/GitTools/GitVersion/releases/tag/v4.0.0-beta.10 you can click "Edit release" in the upper right. Then at the bottom, check the box for "This is a pre-release" and save.

[2017-03-09 08:12] gep13 commented on #1184
Yip, was already doing that :smile: should now be done.

[2017-03-09 08:12] #1184 closed

[2017-03-09 08:13] ilovezfs commented on #1184
@gep13 thanks. Much better!

[2017-03-10 01:24] roryprimrose commented on #1185
I would assume the same for packages wanting to use imports. So the issue here then is that GitVersionTask did not update the project to include the new target.

[2017-03-10 01:59] roryprimrose commented on #1185
Ah, the target is imported under the obj folder. Looks like it is working fine. :)

[2017-03-10 01:59] #1185 closed

[2017-03-10 16:52] bbowman commented on #1031
any updates here?

[2017-03-10 18:55] Tankatronic commented on #1178
Sorry for the delayed response. This question can be closed. The comment did help slightly but I think we figured out a configuration that worked for us.

[2017-03-10 18:59] #1178 closed

[2017-03-12 23:49] bendetat opened #1187 "Manually bumping version doesn't work as expected"
I'm trying to bump the semver version manually to allow TeamCity build to flow to Octopus Deploy with a configuration change on OD (since OD requires a new build & version to deploy changed a changed configuration).

I was expecting to be able to push an empty commit `git commit --allow-empty -m "+semver: patch"` to master resulting in an increment to the patch version. It turns out that this does

[2017-03-13 11:17] asbjornu commented on #1187
Which version of GitVersion are you using?

[2017-03-13 11:27] asbjornu commented on #1031
@bbowman: I'm sorry, but nothing has happened besides agreeing on a solution that is yet to be implemented. We need someone in the team to have time to implement this, or get someone else to submit a PR. I unfortunately have my hands full. Perhaps you or @michaelnoonan can submit a PR?

[2017-03-13 19:24] mdkf commented on #1084
@JakeGinnivan Ignoring the commit doesn't fix the issue.

[2017-03-13 21:23] bendetat commented on #1187
I'm using 3.6.4 - specifically https://www.nuget.org/packages/GitVersion.CommandLine/3.6.4

[2017-03-13 21:58] asbjornu commented on #1187
@bendetat: Can you please try version 4 beta 11 and see if that works better?

[2017-03-13 22:15] bendetat commented on #1187
@asbjornu I get the same behaviour on 4 beta 11.

From what I understand from scanning [`IncrementStrategyFinder`](https://github.com/GitTools/GitVersion/blob/61efda5fa0ecd9d955c021c22608c6527850fcd4/src/GitVersionCore/IncrementStrategyFinder.cs#L83) the increment is the max of the intermediate commits based on the commit message, not the _sum_, so what I'm seeing is probably as intended. Which is

[2017-03-14 11:32] brettpostin commented on #1160
Any update on this? Looking forward to mainline mode!

[2017-03-14 20:14] asbjornu commented on #1187
@bendetat: Does @JakeGinnivan's answer https://github.com/GitTools/GitVersion/issues/1137#issuecomment-282482205 help explain this in any way?

[2017-03-14 21:04] jpierson commented on #138
It looks like some work was done here for F# support. Last I can recall there was some specific handling for language specific project extensions where .fsproj was missing but I'm unable to find it at the moment.
https://github.com/GitTools/GitVersion/pull/882/commits/1353214b6a5db6abcadd0c709cc58e372840a950

[2017-03-15 02:21] roryprimrose opened #1188 "VS2017 package build include gitversiontask as a dependency"
I have a new VS2017 project that targets netstandard1.3, builds a nuget package on compile and defines the following dependencies:

[code]

The nuspec included in the nupkg then contains the following dependencies:

[code]

This would result in gitversiontask being installed into any project that consumes this package. Is there an equivalent version of the development dependency flag that there wa

[2017-03-15 02:29] roryprimrose commented on #1188
I suspect this is a bug in VS2017 as the nuspec of GitVersionTask contains the development dependency flag

https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/NugetAssets/GitVersionTask.nuspec#L16

[2017-03-15 02:41] roryprimrose commented on #1188
This has already been raised by @onovotny at https://github.com/NuGet/Home/issues/4125

[2017-03-15 02:41] #1188 closed

[2017-03-15 09:09] gep13 commented on #138
@pascalberger personally, I am still dubious about this.  I would rather see GitVersion as a standalone tool that asserts version numbers.  And leave the updating of various files to other, more capable tools, like magic chunks.

[2017-03-15 09:22] jpierson commented on #138
@gep13, magic chunks?

In my case updating assembly info at build time is the sole reason why I starting using GitVersion. Other tools in the past that I've tried with Subversion, TFS, and Git have required too much manual customization and team conventions with the build pipeline whereas GitVersion msbuild tasks just seem to work.

With respect to this issue and the current support for F# I have

[2017-03-15 09:28] gep13 commented on #138
@jpierson sorry, should have linked to it...

https://github.com/sergeyzwezdin/magic-chunks

It is very good at what it does.

[2017-03-15 09:35] jpierson commented on #138
@gep13, thanks magic chunks looks interestest. I'm not sure how that relates to updating the actual version numbers on an assembly though unless that tool is also updating source files in addition to config like scripts. BTW, I took both approaches in the [source-version](/365retailmarkets/source-version) package which initially just pushed a version.txt file into the content of a web application

[2017-03-15 09:51] jpierson commented on #138
I looked briefly at adding support for F# in [InvalidFileChecker](https://github.com/GitTools/GitVersion/blob/f32c9c8a060a3ee0d223eb35840211a9d017ddf4/src/GitVersionTask/InvalidFileChecker.cs) but the regex approach doesn't seem like the correct way to be testing these auto generated source files. Shouldn't this be a better job for respective language specific compilers? How are other projects tes

[2017-03-15 10:01] jpierson commented on #138
Looking a bit deeper in how it appears `InvalidFileChecker` is used outside of the tests this may be a non-issue for F# projects as they seem to use a first-in-wins approach with conflicting assembly attributes and no build error occurs.

[2017-03-15 11:21] StefanBertels commented on #1176
After having a look into #1170 and #1124 I wonder where to put gitversion.yml to be read (if this is the cause of the bug).

My directoy structure is this:

reporoot\solution1\projectA

Solution file: reporoot\solution1\solution1.sln
gitversion configuration: reporoot\solution1\gitversion.yml  (with tag-prefix = "solution1_")

I use solution-wide builds, so I have build script and any configs in r

[2017-03-15 15:26] TAGC commented on #1175
Which of GitVersion's dependencies are currently blocking progress on the migration?

[2017-03-16 09:22] asbjornu commented on #1175
@TAGC: Not sure. Here's a dump of GitVersion's `packages` folder:

* ApprovalTests.3.0.11
* ApprovalUtilities.3.0.11
* Caseless.Fody.1.4.2
* FluentDateTime.1.13.0
* Fody.1.29.4
* GitTools.Core.1.2.1-beta0001
* GitTools.Testing.1.1.1-beta0001
* ILRepack.2.0.12
* JetBrainsAnnotations.Fody.1.0.5.0
* LibGit2Sharp.0.23.0-pre20160922233542
* LibGit2Sharp.NativeBinaries.1.0.160
* Microsoft.CodeAnalysis.A

[2017-03-17 23:24] DixonDs opened #1192 "Why tracks-release-branches:false for feature?"
I am fairly new to GitVersion, and trying to understand the reasoning for versions in GitFlow. If we have master tagged as 4.5.3, and then we have release/4.6.0 branch created, then develop branch uses version 4.7.0-alphaX. So far so good. What I don't understand is that if there is feature/YYY, then it uses version 4.5.4-XXX. Shouldn't it be 4.7.0-XXX?

[2017-03-19 13:21] JakeGinnivan commented on #138
Yeah it is, this is the issue with putting too much in GitVersion. If we added roslyn to parse the files properly it would add heaps of weight to gitversion. I think documenting different tools to do different things and examples on how to configure them would be a better way to go?

[2017-03-22 22:11] fokkoru commented on #1187
@asbjornu @bendetat Hi guys, any updates? It looks that I have the same problem.

[2017-03-22 22:50] asbjornu commented on #1187
@fokkoru: Did you see my comment about @JakeGinnivan's comment? 😄

[2017-03-22 23:23] bendetat commented on #1187
@asbjornu _I_ didn't see your comment about @JakeGinnivan 's comment ;-). Makes sense, although it's obviously not what I was expecting. I would suggest a config option where it does count the commits, for instances where there is either a clear gatekeeper or a single maintainer, but I would probably get asked for the PR. Meanwhile @fokkoru my current workflow for this scenario (using github and p

[2017-03-22 23:23] #1187 closed

[2017-03-26 10:49] kpanwar opened #1195 "StackoverflowException when using msbuild in VS2017 in 4.0.0-beta11"
I am seeing a stackoverflow crash when I try to build a branch that has just been merged with changes from dev (parent) branch.

Some portion of the log is
[code]

For repro, you can use https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/kpanwar/client-info-67 branch.

[2017-03-30 05:43] mclang commented on #1097
Well I could try... Just need to find out how to install that pre-release version instead of the versions GitHelper pulls automatically when using paket.

[2017-03-30 10:45] asbjornu commented on #1097
@mclang: The only thing I can think of is going through #890 and see if anything written there gives you ideas on how to move forward with this. @eatdrinksleepcode did some work related to this, so he might have some valuable input.

[2017-03-30 12:05] mclang commented on #1097
I will check that out, thanks

[2017-03-31 00:42] dennis-yemelyanov opened #1196 "Increment minor version after release tag using 'increment: Minor'"
When committing to the master branch I want to take the version from the latest tag on this branch, increment its minor version and use that as the new version. I'm using 4.0.0-beta0011, and config looks like this:
[code]
Master has 220 commits and the latest released commit has a tag 'v0.1.220'. When building a new commit, I want its version to become 0.2.0, however for some reason I end up with

[2017-04-03 08:37] Trass3r opened #1198 "dirty flag?"
Couldn't find a way to get a dirty flag, like `git describe [...] --dirty`

[2017-04-03 10:47] Trass3r commented on #138
Another case is C++ .rc file versioning, e.g. in mixed C#/C++ solutions.
Maybe it could be solved generically by allowing to specify regex(s) for the file update?

[2017-04-03 23:27] asbjornu commented on #1198
What is it you want to achieve?

[2017-04-04 08:59] Trass3r commented on #1198
Well a dirty flag in the informational version when there are locally modified files.

[2017-04-04 09:27] asbjornu commented on #1198
Ah, yes that would be a good thing to have, I agree. We welcome pull requests! 😄

[2017-04-06 15:15] Sam13 commented on #1198
I did some prototyping on that. Since the git versions are cached in the _.git_ folder, I don't know how the dirty flag should behave. Causes wrong results when caching that. @asbjornu what do you propose?

[2017-04-06 16:20] erik-am commented on #902
I have exactly the same issue at the moment. I'm using GitVersion 4.0-beta11.

I'm also getting duplicate NuGet versions because the PR number is not taken into account.
[code]
In this case the PR number is 39 and the number of commits is 15.
39 does appear in the FullBuildMetaData
Using Jenkins as a build system.

@JakeGinnivan @simonejsing Do you have any idea what it could be?

[2017-04-06 16:34] erik-am commented on #902
@simonejsing I could somehow fix it by changing   `tag-number-pattern: '[/-](?<number>\d+)[-/]'` to `tag-number-pattern: '[/-](?<number>\d+)'` (removing the last character)

[2017-04-06 17:56] asbjornu commented on #1198
Makes sense. Perhaps when calculating `--dirty`, you need to disable caching altogether?

[2017-04-07 11:35] Trass3r opened #1199 "nofetch not respected for PR builds"
[code]

[2017-04-07 13:10] thegersh opened #1200 "Documentation references to unstable versus alpha"
I'm seeing that develop and features are being SemVer tagged as unstable rather than alpha, yet I don't see any call out to unstable anywhere in the docs. The docs to date mention alpha, yet that is not what the tool is set up to do. In addition, I've seen a recent communication regarding this which gives a reason for the change from alpha to unstable. Calling this out in the docs would help clari

[2017-04-07 14:00] embix commented on #1025
The detection is a bit brittle, I just got an "Duplicate 'AssemblyInformationalVersion' attribute" because I had a redundant parenthesis `[assembly: AssemblyInformationalVersion(("1.0.1"))]`.

[2017-04-07 14:04] jsnmc opened #1202 "Random exception - this remote has never connected"
I am seeing this about 1 out 5 builds - pulled code about 3 days ago.

09:55:04   INFO [04/07/17 13:55:04:00] No local branch pointing at the commit '2b1dc29648bd4225b34a281cd0626df2f70ff596'. Fake branch needs to be created.
09:55:04   INFO [04/07/17 13:55:04:00] Fetching remote refs to see if there is a pull request ref
09:55:04 INFO [04/07/17 13:55:04:13] End: Normalizing git directory for bran

[2017-04-13 01:27] mabead opened #1203 "GitVersion fails on linux (debian)"
I start from a clean docker image of debian that contains mono:

    docker run --name test -it --rm mono /bin/bash

Then, inside the container, I run these commands to get GitVersion.exe and run it:

[code]
This fails with the following error:

[code]

I then try to execute `apt-get install libcurl3` as suggested on the GitVersion web site and it still fails this way:

[code]
Any idea of what I a

[2017-04-14 18:29] conniey commented on #1175
@asbjornu Yes... or an alternative would have to be found for them.

The ones that do not exist are:
* ApprovalTests.3.0.11 (approvals/ApprovalTests.Net#162)
    * ApprovalUtilities.3.0.11
    * ObjectApproval.1.3.0
* Fody.1.29.4 (Fody/Fody#280)
    * Caseless.Fody.1.4.2
    * Visualize.Fody.0.4.5.0
    * ModuleInit.Fody.1.5.9.0
    * JetBrainsAnnotations.Fody.1.0.5.0
* LibGit2Sharp.0.23.0-pre2016

[2017-04-18 10:52] Donil commented on #1203
@mabead, you need install "libcurl3", See [doc](https://gitversion.readthedocs.io/en/latest/#compatibility)

[2017-04-19 13:54] asbjornu commented on #1199
1. Which version of GitVersion are you using?
2. Are you using GitVersionTask, `gitversion.exe` or something else?
3. What build server is this?
4. How have you configured or passed `nofetch` to GitVersion?
5. Is your build server doing a sparse checkout? Can you try to do `git fetch --unshallow` as a step before executing GitVersion to ensure that the entire repository is available to GitVersion?

[2017-04-19 13:56] asbjornu commented on #1200
If I'm not mistaken, this is a change between `3.x` and `4.x`. Which version of GitVersion are you using?

[2017-04-19 14:03] asbjornu commented on #1025
@embix: Yes, the detection is brittle because it's just a few dumb regexes. 😕

[2017-04-19 14:04] thegersh commented on #1200
I'm using version 3.6.4.

[2017-04-19 14:07] asbjornu commented on #1203
Seems related to #1097 and #1125, which are both still unresolved. Not sure we can advance this in any way unless someone can take a lead on getting it fixed. I don't use Linux, so I'm not really in a good position to figure this out.

[2017-04-19 14:09] asbjornu commented on #1125
@omallo: Can you please attempt to do what @ristaloff's describes and see if it fixes your problem?

[2017-04-19 14:18] asbjornu commented on #1200
Right. The latest documentation is for `master`, which has been switched over to version 4. A bit confusing since version 4 is still in beta, but we haven't invested any time in trying to make this more intuitive on ReadTheDocs. I do think versioning the documentation there is possible, so if you know how and want to submit a pull request for it, it would be highly appreciated! 😄

[2017-04-19 15:28] Trass3r commented on #1199
# `4.0.0-beta.11+1258.Branch.master.Sha.cc28b2dbff86`
# `Executing: packages/Tools/GitVersion.CommandLine/tools/GitVersion.exe" -updateassemblyinfo "src/GlobalAssemblyInfo.cs" -nofetch`
# TeamCity agent checkout. git.exe could only fetch with the access token. I'd like gitversion to work "offline" without another fetch, after all it seems to have a "name" for the build: `Local Refs: refs/pull/1/me

[2017-04-19 16:33] asbjornu commented on #1199
@Trass3r: Thanks for the information. Have you tried `it fetch --unshallow`?

[2017-04-19 16:52] mabead commented on #1203
Good, I will try later to see if the workaround described in #1125 works for me.

[2017-04-22 18:21] kyberias opened #1206 "Develop branch not updating correctly with GitFlow settings (based on example)"
I tried to replicate the examples for GitFlow with the default config here: [https://gitversion.readthedocs.io/en/latest/git-branching-strategies/gitflow-examples/](https://gitversion.readthedocs.io/en/latest/git-branching-strategies/gitflow-examples/)

I have branches, tags and commits set up as follows:

![image](https://cloud.githubusercontent.com/assets/958404/25306929/832aff24-27a0-11e7-9e30-

[2017-04-22 18:56] kyberias commented on #1206
Ok I was using GitVersion.exe version provided by Chocolatey (3.6.0??). The latest version built from git repo seems to work just fine. Maybe this has been fixed earlier?

[2017-04-23 14:21] kyberias commented on #894
Apparently this hasn't been implemented yet. I'd like to try it since I need the feature.

[2017-04-25 06:58] mclang commented on #1097
Could'n get GitVersion working yet, so I will follow @mabead's issue for now.

Too bad I don't currently have enough time to dig deeper...

[2017-04-25 12:40] mclang commented on #1097
Whoa, this was unexpected :O

I got it working that is... What I did was:
1. Clone [LibGit2Sharp.NativeBinaries](https://github.com/libgit2/libgit2sharp.nativebinaries) and build it
2. Copy resulting library files under GitVersion Commandline tools directory:
[code]
3. Modify `LibGit2Sharp.dll.config` accordingly:
[code]
Note that only the `target` needs to be changed, leave `dll="git2-baa87df"` p

[2017-04-25 12:40] #1097 closed

[2017-04-25 12:50] mclang commented on #1097
Even easier method that works at least on Antergos - use `libgit2.so` provided by the system:
[code]

[2017-04-25 13:07] asbjornu commented on #1097
@mclang: Thanks for the valuable information! Any idea how we can permanently fix this in GitVersion?

[2017-04-25 13:07] asbjornu commented on #1203
@mabead: Please have a look at https://github.com/GitTools/GitVersion/issues/1097#issuecomment-297017181 and report back if that also works for you.

[2017-04-26 07:25] mclang commented on #1097
Tough question because my case may be some kind of corner case.

Only thing that I can think of is if you can either change the `target` to point to the library installed on the system, or make a symbolic link to it.

[2017-04-26 13:42] stephen-roberts opened #1207 "CI build not using custom configuration"
Hi,

I am just getting started with gitversion and have made a small change to the configuration which has created a gitversion.yml file in the root of my repository. If I run gitversion from the command line locally I get the correct output, but when it reaches CI gitversion is not producing the correct version number. It appears it is ignoring the gitversion.yml file even though it is checked in

[2017-04-27 07:15] pavlovps commented on #1207
@stephen-roberts I haven't tried using GitVersion via Chocolately but tried using GitVersion CLI located in subfolder of checkout directory, that worked nicely (just keep GitVersion.yml in the root of repo). Probably the reason is working directory is not set correctly or not set at all. Why don't you want include GitVersion as msbuild task? That would make equal build from VS and via msbuild

[2017-04-27 07:57] stephen-roberts commented on #1207
Thanks for your reply. We are using the TeamCity build runner so that we can get the version numbers out of GitVersion and use them in the build for creating packages. Not sure if this is possible with the MSBuild task? I am also trying to avoid too much change to our TeamCity builds as we have a base project that is inherited across all our solutions, but I will try GitVersion CLI in a subfolder

[2017-04-27 11:10] pavlovps commented on #1207
@stephen-roberts we're using TeamCity as well. It perfectly suits with GitVersion as msbuild task: GitVersion updates build number in TeamCity out-of-the-box - nothing to be specifically done. The only thing you have to do is defining environment variable [Git_Branch](https://gitversion.readthedocs.io/en/latest/build-server-support/build-server/teamcity/) targeting your VCS root (instead of {vcsid

[2017-04-27 11:17] stephen-roberts commented on #1207
@pavlovps thanks, I'll take a look

[2017-04-27 11:17] #1207 closed

[2017-04-27 15:50] tihobrazov opened #1208 "Gitversion performance for big repositories"
For our repo running gitversion takes about 2 mins. Recently we imported another repo with history to our main repo and now it takes up to 15 min to run gitversion. Is it possible to add lightweight mode for version generation?
Possible options:
- add mode for skipping commits count since last version tag (so, 1.0.0-beta.1 tag will force next commit to be 1.0.0-beta.2+1 - now it counts since the b

[2017-04-27 18:25] gbanister commented on #1148
I'm seeing this same behavior where CommitsSinceVersionSource  is always 0 regardless of the number of commits on the release branch.  develop and feature branches do not exhibit this behavior.  The Jenkins project is using the default Jenkins Git Plugin options to clone the entire repo, so it's not doing a shallow clone.

PS C:\opt\Jenkins\jobs\GeoServices-Releases\workspace> gitversion /l consol

[2017-05-02 06:22] prochnowc opened #1209 "Wrong versions in NuGet dependencies when using .NET Core MSBuild"
Using GitVersionTask (tried latest 3.x and 4.x) `msbuild /t:pack` does not generate correctly versioned dependencies for cross-project referenced packages. All dependencies in nuspec have version "1.0" (default value).

[2017-05-02 09:14] hazzik commented on #1208
Have you tried `/nofetch`?

[2017-05-04 06:11] tofutim commented on #912
I'm slow and just noticed this on my end after updating TeamCity. When the branch is not master or develop this happens (probably because of the shallow clone). Wonder if there is a toggle in TC for non-shallow clone.

[2017-05-04 13:28] d-dantte opened #1210 "GitVersion.BranchConfig Serialization/Deserialization Issue"
I installed the GitVersionTask nuget package on my visual studio project.
Now when i build, i get  the following in my Output window

`System.Runtime.Serialization.SerializationException: Property 'regex' not found on type 'GitVersion.BranchConfig'`

Done lots of searching online and cant find any similar errors/solutions, and being a newbie, i'm not entirely sure what next to do.

Thanks in advan

[2017-05-05 14:11] Kevin-Deason commented on #1135
You should remove unavailable options from your documentation on the below page. It causes difficulty in setting up the config
https://gitversion.readthedocs.io/en/latest/configuration/

[2017-05-06 00:08] asbjornu commented on #1135
@Kevin-Deason: Pull requests are welcome! 😄
@JakeGinnivan: Is it possible to version the docs so we can differ between v3 and v4 somehow?

[2017-05-08 09:10] Freakazoid182 opened #1212 "Duplicate Assembly attribute error when using constants"
Related to #871 and #760

Using a shared assembly info I am setting my version number in a constant string
[code]
Looking at the RegEx to replace the attributes, this is not going to work as it requires quotation marks in the between the parentheses of the attribute.

This of course results in duplicate Assembly attributes, as it will try to append new attributes, assuming there are none.

I don't

[2017-05-10 15:20] Kevin-Deason commented on #1210
Their documentation is not in line with the GitVersion Release. I am encountering numerous issues because of this.

Remove the regex setting and it works. But if you use the default configuration from their documents you will get more errors.

I am now stuck with the below error:
Multiple branch configurations match the current branch branchName of 'release/Testing_GitVersion'. Matching configurat

[2017-05-11 11:27] #1171 closed

[2017-05-14 01:55] alexreg opened #1213 "Mono compatibility?"
What is the minimum version of Mono required to run GitVersion?

[2017-05-14 02:20] #1158 closed

[2017-05-14 02:21] JakeGinnivan commented on #1084
https://github.com/GitTools/GitVersion/pull/1166 fixes this, will be released shortly

[2017-05-14 02:21] #1084 closed

[2017-05-14 02:22] #1154 closed

[2017-05-14 03:01] pvandervelde commented on #1160
Any idea on when 4.0 is going to be released. It's got a ton of bug fixes we would love to use!

[2017-05-14 06:44] JakeGinnivan commented on #1208
I'd love to optimise this stuff, are you able to post the full log in a gist so we can see what is slow?

Any pull requests in this area welcome.

[2017-05-14 06:46] JakeGinnivan commented on #1203
This issue is because the libgit2 config has a relative path, I am going to submit a PR later today with a docker build which will be released as part of GitVersions release. But you can grab a working image from `gittools/gitversion` right now.

Going to close this

[2017-05-14 06:46] #1203 closed

[2017-05-14 13:09] JakeGinnivan commented on #1160
Builds are fixed, going to try and do a pass on open issues this week and I think we should just release....

[2017-05-14 13:21] JakeGinnivan commented on #1210
v4 introduced the regex field. v3 doesn't have this.

What version are you two using?

[2017-05-14 15:36] Kevin-Deason commented on #1210
I ended up cloning the source, making some changes to suit my needs and packaged it for using in vnext build task. It seems the vnext build task that is on the public VS marketplace is the old v3 version which is why it's not working.

[2017-05-15 06:35] tpluscode opened #1214 "/updateassemblyinfo should add fully qualified attribute names"
I've just noticed that when I run `gitversion /updateassemblyinfo` it only adds attributes using only its class name which fails build if `using System.Reflection` is missing.

I think that the safest path is to always add fully qualified type names which will work regardless of the usings.

[2017-05-15 09:08] asbjornu commented on #1214
@tpluscode: Agreed. I believe it's best practice for generated code to use the `global::` prefix and fully qualified names. Pull requests are welcome! 😄

[2017-05-15 10:16] JakeGinnivan commented on #1200
http://gitversion.readthedocs.io/en/stable/ is for v3. I have added the latest v3.x tag also.

![image](https://cloud.githubusercontent.com/assets/453152/26053219/9413f424-399a-11e7-9284-0d121f736312.png)

[2017-05-15 10:16] #1200 closed

[2017-05-15 12:10] d-dantte commented on #1210
@JakeGinnivan i'm on version 3 apparently. Also, the GitVersion build task on TFS seems to be version 3, not 4, which explains why its failing - just as @Kevin-Deason said.
What options are available in version 3 (while we wait for TFS to get version 4 :D), that can allow me configure the branches?

[2017-05-15 12:27] mabead commented on #1203
@JakeGinnivan Thanks!

[2017-05-15 21:12] asbjornu commented on #1210
The reason v4 isn't on the VS Marketplace is because it didn't support pre-release versions, wasn't it?

[2017-05-15 21:19] asbjornu commented on #1206
@kyberias: Which branch did you compile from source? `master` represents v4, which is a major (in many ways backwards incompatible) upgrade from v3. Also, the latest version of v3 is `3.6.5`.

[2017-05-15 21:26] asbjornu commented on #1213
@alexreg: We don't really know. On Travis, we're using latest, so we don't really have a way to ensure compatibility with older versions of Mono. If you would like to add a [build matrix](https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix) for older versions of Mono to Travis through a pull request, we can see there what works and what doesn't.

[2017-05-15 21:38] asbjornu commented on #912
@tofutim: Awesome find! It would be good to have this documented. Would you like to submit a PR that adds this note to the [TeamCity build server documentation](http://gitversion.readthedocs.io/en/latest/build-server-support/build-server/teamcity/)? An added bonus would be to somehow detect this within GitVersion and as @JakeGinnivan suggests, provide a good error description on what to do to fix

[2017-05-15 21:40] asbjornu commented on #894
@kyberias: It's up for grabs! Just grab it! 😄

[2017-05-15 21:44] asbjornu commented on #1212
I agree that the quotes shouldn't be necessary. Referencing a constant should also work. The only itch I have with this is #883, since it would have to be fixed twice. I would therefore much rather see that the `AssemblyInfo` patching code be moved into `GitVersionCore` and then fixed there once and for all. You just go ahead and submit the pull request you feel like, but I just wanted you to be a

[2017-05-15 22:10] alexreg commented on #1213
I mean, I'm not too bothered about old versions. Maybe we could keep the current version in for backward compatibility though (4.8.1)?

[2017-05-15 22:19] asbjornu commented on #1213
@alexreg: Sure. Pull requests welcome! 😃

[2017-05-16 09:59] Freakazoid182 commented on #1212
Thanks, good to know the future plans for this. I'll try to keep this in mind.

[2017-05-16 18:25] kyberias commented on #1206
I think I compiled from master branch (v4).

[2017-05-16 21:23] asbjornu commented on #1206
Right. Just upgrade to v4 then?

[2017-05-17 06:44] #1212 closed

[2017-05-17 08:37] JakeGinnivan opened #1217 "Use cake plugin for docker builds"
Current deploy.cake script uses docker on the command line, we could use https://github.com/MihaMarkic/Cake.Docker instead.

[2017-05-17 15:12] JakeGinnivan opened #1218 "Docker improvements"
I am pretty new with Docker, what we have works but I wonder if anyone can make what we have better.

We have a base image at https://github.com/GitTools/GitVersion/tree/master/src/DockerBase, the mono image doesn't run libgit2 because wheezy is super old and glib2.15 doesn't run on it without adding experimental repos and updating.

So I went with an Ubuntu base image and put mono on it, this see

[2017-05-18 00:49] mabead opened #1221 "Increment 'Minor' number when merging feature branch in master in Mainline mode"
I have a GitVersion.yml that contains the following

[code]
So my intent is:
- feature branch should always increment 'minor' number.
- when feature branch is merged in master, it should bump the minor version of the master branch.

Note that if I don't set the mode to `ContinousDeployment` for my feature branches, then GitVersion does not increment the Minor version. It always increment the patch

[2017-05-18 10:31] mabead commented on #1221
I would like to clarify what I want to achieve with GitVersion.

We are working in GitHubFlow mode. We have a master branch that we push to production everytime that a pull request is accepted in the master branch. We don't accept direct push in the master branch. Everything has to go through a pull request.

When a developer starts to work on something, he knows if he is working on a bug fix or a

[2017-05-18 15:43] asbjornu commented on #1221
Which version of GitVersion are you using?

[2017-05-18 18:21] mabead commented on #1221
It was done yesterday with the latest version available on nuget.org. Since the version was updated yesterday on nuget.org, it was either 4.0.0-beta0012 or 4.0.0-beta0011. I don't have access to the machine where I did these tests currently. But i am sure it was beta11 or beta12.  Do you think that beta 12 makes a difference?

[2017-05-18 20:11] asbjornu commented on #1221
It's worth a shot! 😄

[2017-05-19 00:17] mabead commented on #1221
I confirm that I was using GitVersion 4.0.0-beta.12+1315.Branch.master.Sha.9c70946f68973b3b31b2861913c247fbe6c3f0ec.

[2017-05-19 01:06] JakeGinnivan opened #1222 "Improve teamcity support"
It seems teamcity has a `teamcity.build.branch` variable now, this can be used to find the current branch so we don't have to setup the `Git_Branch` variable.

Also, we need to be able to do a fetch to get all remote branches, investigate options to allow GitVersion to do this automatically, or throw an error with instructions when it's running in teamcity

[2017-05-19 06:23] asbjornu commented on #1221
Oh, bummer. How do you feel like submitting a pull request with a failing test? Just have a look at the existing `RepositoryFixture` tests, they are pretty straight forward.

[2017-05-19 09:36] mabead commented on #1221
Note that you can see the problem in the following repository: https://github.com/mabead/GitVersion.MainlineMode.

I could for sure submit a failing test. But before doing so, can you confirm that it is a bug in GitVersion and not that I am simply doing it wrong?

[2017-05-19 10:10] mabead commented on #1221
Test has been added here: https://github.com/GitTools/GitVersion/pull/1223

Good job for the tests by the way. They are very easy to read and augment.

[2017-05-19 10:40] asbjornu commented on #1221
@mabead: Thanks for the test. I'm not sure whether this is a bug yet, but a failing test is the absolute best way to inspect it and fix it if it is. 😃  👍

[2017-05-21 09:59] #1221 closed

[2017-05-23 12:46] mabead commented on #1221
@JakeGinnivan Thanks for the fix! Do you know when a new NuGet package will be made available?

[2017-05-25 15:41] Alxandr opened #1226 "Provide a /enablefetch toggle"
For cases where GitVersion can't figure it out itself, provide a `/enablefetch` toggle that turns fetching on.

[2017-05-25 18:05] bording commented on #1209
I've just hit this as well while upgrading some projects to the new SDK-style csproj format. These projects are targeting .NET Framework, not .NET Core, so this problem is related to how project references work in the new project format, and not the target framework.

Each individual assembly is versioned correctly, but it seems that the appropriate version information is not made available to the

[2017-05-26 05:59] Alxandr commented on #1156
I've seen the same thing using a dynamic repository. It always sets the `BuildMetaData` to 5 (or less I would guess, I already had too many commits when I tested this). My guess is that it doesn't clone the repository deeper than 5 commits, but I have no real basis for the guess.

[2017-05-26 10:34] dermeister0 opened #1227 "GitVersion /output buildserver does not create gitversion.properties file"
GitVersion 3.6.4.0

[code]

[code]

[code]

[2017-05-27 21:36] asbjornu commented on #1227
The `/output buildserver` command is not supposed to output a file. [Please read the documentation](http://gitversion.readthedocs.io/en/latest/build-server-support/build-server-support/), which states:

What build server are you using and why do you expect a `gitversion.properties` file to be produced?

[2017-05-28 02:41] dermeister0 commented on #1227
I have [Jenkins](https://gitversion.readthedocs.io/en/latest/build-server-support/build-server/jenkins/). It was not clear for me that GitVersion tries to detect my build server.

The following example works:
[code]

If JENKINS_URL or GITLAB_CI environment variable presents, gitversion.properties file will be created.

[2017-05-29 18:50] asbjornu commented on #1227
I see. Can this issue be closed, then?

[2017-05-30 03:47] dermeister0 commented on #1227
Yes, thank you.

[2017-05-30 03:47] #1227 closed

[2017-05-31 06:29] Franklin89 commented on #1150
@pascalberger any news on this? the vsts task in the market place is already pretty old and is missing things like Mainline mode which i would like to use.

[2017-05-31 06:34] judgeaxl commented on #704
Any news on this issue? The PR has been merged from what I can tell.

[2017-05-31 06:55] pascalberger commented on #1150
@Franklin89 The version in the marketplace is still the latest stable release since no stable 4.0 release is out.

The switch to use the Node handler instead of the PowerShell one is now merged with https://github.com/GitTools/GitVersion/pull/1189, but there was no development done yet for supporting beta releases to be pushed to the marketplace.

[2017-05-31 14:46] mabead commented on #1221
@asbjornu Do you plan to include this in a new NuGet package in the near future?

[2017-05-31 19:52] asbjornu commented on #1221
@mabead: It will be released as a part of the next beta of v4, which I hope @JakeGinnivan will have time to do soon.

[2017-06-01 22:55] JakeGinnivan commented on #704
Nice, happy to get a pull request for this.

[2017-06-05 18:43] drub0y commented on #864
So we just ran into this as well and it's because we had some history where we had someone use a capital `F` for a feature branch (i.e. `Feature/whatever`) in the past so when it goes through history and the first `Feature/...` it comes across is upper, but newer branches are lowercase (i.e. `feature/...`) it has already established the `Feature/` virtual folder (if you will) as upper case. Obviou

[2017-06-05 22:57] bryceschober opened #1229 "Minimal linux mono packages"
The docs say mono-complete is required, which installs >170 MB more than mono-runtime on my system (Ubuntu 14.04).

After some fooling around, it seems that mono-mcs is sufficient for at least a trivial execution, and that installs only 6 MB more than mono-runtime.

Could someone verify with a more complete test suite (or some less experimental approach) whether mono-mcs is truly sufficient?

[2017-06-06 08:26] tesharp commented on #1160
Any progress on open issues? Waiting for some bug fixes so we do not have to do a lot of manual cleanup when its versioning our packages incorrect.

[2017-06-07 12:53] dazinator commented on #1175
Just hit this when running `dotnet test` on an xunit project, that has a project reference to the project with the gitversion task. I am not sure what the equivalent of `dotnet test` is for msbuild, however managed to workaround this by:

1. Build the test project first using msbuild.
2. `dotnet test --no-build` to execute the tests.

[2017-06-07 22:56] SimonCropp opened #1230 "nullref in GitRepoMetadataProvider.FindMergeBase"
this is with current the current master as at https://github.com/GitTools/GitVersion/commit/30f413aacda93cd0abb4b342cb421641bb8377eb

Still trying to grok why. but here is the debug state to start with. seems `Repository.ObjectDatabase.FindMergeBase` returned null

![image](https://user-images.githubusercontent.com/122666/26905015-3466def6-4c28-11e7-93f7-3ec8a6c77655.png)

and here is the trace

[

[2017-06-07 23:06] SimonCropp commented on #1230
so seems adding

[code]
and letting the loop fall out results in the correct version number.

do u want a PR for that?

[2017-06-08 02:53] tofutim commented on #1188
Has this been resolved?

[2017-06-08 04:16] tofutim opened #1231 "VS2017 GitVersionTask for netstandard13 yields duplicate attributes on Build, foiled by AssemblyInfo autogen"
I'm quite fond of GitVersionTask. Sadly, I'm seeing some issues with VS2017. To replicate the issue,

1. Create a new .NET Standard project, switch to netstandard13 (default is netstandard14)
2. In the csproj, add
`    <PackageTargetFallback Condition=" '$(TargetFramework)' == 'netstandard1.3' ">portable-net45+win81</PackageTargetFallback>
`
3. Add GitVersionTask from NuGet - here version 3.6.5 (3

[2017-06-08 07:45] tpluscode opened #1232 "Release merged to develop but not pushed produced different versions"
We've found that when we merge a `release` branch to `develop`, gitversion produces a different version on `develop` branch.

Here's an illustration of the issue. Locally, we commited to release branch and merged it to `develop` and the version is `1.104.0-alpha.13`

![ver13](https://user-images.githubusercontent.com/588128/26917381-5d89660e-4c2e-11e7-961b-71ea8481a19d.png)

But the same graph wit

[2017-06-08 07:51] tpluscode commented on #1232
Using latest 4.0 prerlease

[2017-06-08 08:57] kritisingh1 commented on #983
@gep13 Hi. I would like to work on this issue. Please let me know if I may. I am a beginner and this would be my first contribution to open source.

[2017-06-08 09:27] asbjornu commented on #1229
@bryceschober: You're free to tweak [the `.travis.yml` configuration file](https://github.com/GitTools/GitVersion/blob/master/.travis.yml) to see how much dependency weight you can shave off. Not sure it's possible, but this shaving should perhaps be reflected in [GitVersion's Homebrew Formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gitversion.rb) as well. If you manage to s

[2017-06-08 09:30] asbjornu commented on #1230
@SimonCropp: Yes, that would be nice. A warning that no merge base was found should also probably be written, no?

[2017-06-08 09:41] asbjornu commented on #1232
Isn't this just a case of `HEAD` pointing to different branches? Unless I interpret your screenshots incorrectly, **bold** means where `HEAD` is pointing, which means in the first case it's on `develop` and in the second it's on `release/1.103.0`. It will therefore count differently depending on which branch you're on.

What version numbers were you expecting? Are you using Task or `.exe`? Do you

[2017-06-08 09:47] asbjornu commented on #983
@kritisingh1: Awesome! Please go ahead and:

1. [Fork the repository](https://help.github.com/articles/fork-a-repo/)
2. [Create a new branch](https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging)
3. Commit the fixes to the branch
4. Push the branch to your remote fork
5. [Create a pull request](https://help.github.com/articles/creating-a-pull-request/)

If you have any question

[2017-06-08 11:18] tpluscode commented on #1232
My bad. Both calculations were made on `develop` branch, not where it's bold. We expected `1.104.0-alpha.13` either way.

In essence, the difference is only in where `release/1.103` is pointing. I'll try to create a minimal reproduction.

And we're using `.exe`.

[2017-06-08 11:21] kl4u5 opened #1233 "GenerateSetVersionMessage for 'Jenkins' does not set PreReleaseLabel correctly"
I'm using GitVersionTask.3.6.5 and it works like a charm!

I've run into an issue when building via Jenkins.
It's as if the PreReleaseLabel does not get set according to settings in GitVersion.yml

My GitVersion.yml:
---
[code]

Output from jenkins when building the master branch:
---
[code]

I would have expected GitVersion_PreReleaseLabel to be 's' but as you can see it is 'origin-master'

Any i

[2017-06-08 12:23] Trass3r commented on #1199
Maybe it's related to TC's use mirrors setting: "When this option is enabled, TeamCity clones the repository under the agent's system\git directory and uses the mirror as an alternate repository when updating the checkout directory for the build. As a result, this speeds-up clean checkout (because only the working directory is cleaned), and saves disk space (as there is only one clone of the given

[2017-06-08 12:27] Trass3r commented on #1199
Though there is a .git folder and `fatal: fetch --unshallow on a complete repository does not make sense`

[2017-06-08 13:41] dazinator commented on #1209
I just hit this issue too.. I'm preying I don't have to go down the path of creating nuspec's manually.

[2017-06-08 14:08] dazinator commented on #1209
Have opened: https://github.com/dotnet/sdk/issues/1320

[2017-06-08 15:19] dazinator commented on #1209
The following workaround seems to work. When you do a restore, specify the version at that point too.

For example:

`dotnet msbuild "/t:Restore" /p:Version="1.0.0-alpha0001" /p:Configuration=Release`

Now when you `pack` it looks better.

[2017-06-08 15:49] bording commented on #1209
@dazinator That would only work if you already know what the version is going to be, but the whole point of GitVersion is that it calculates the version, so you don't know in advance what value you should use to restore with.

[2017-06-08 16:33] bording commented on #1209
I suppose as a last resort workaround that works, but that's a lot of additional steps to have to coordinate/script as part of a build process. It also means I'd likely need to integrate the commandline version of GitVersion where right now I'm only using GitVersionTask.

[2017-06-08 16:45] bryceschober commented on #1229
@asbjornu: I don't see a way any place to specify a minimal mono installation except in the [src/DockerBase/Dockerfile](https://github.com/GitTools/GitVersion/blob/master/src/DockerBase/Dockerfile). Is the docker image actually used in any of your automated testing?

I'm not sure how I could test a different build environment (which would require a pretty complete mono install) than the test envir

[2017-06-08 17:11] dazinator commented on #1209
Yeah it's a pain isn't it. That's why I consider this suggestion a workaround - hope it helped you out in the meantime.

[2017-06-08 19:36] asbjornu commented on #1229
Good point. I supposed neither Homebrew nor Travis allows for that sort of specificity. Could we test the Docker image somehow, though? If we got that set up, we could adjust it to only use the bare minimum dependencies required to execute successfully.

[2017-06-08 19:51] jsnmc commented on #1202
I tracked down the cause to a detached head.  This case was random for some reason - In Jenkins, the Bitbucket plugin would sometimes in into this state.  I now added code to check for detached head and force a full clone.

[2017-06-08 19:51] #1202 closed

[2017-06-08 20:12] bryceschober commented on #1229
Sorry, I'm just a user-level newbie and have no idea if your test suite could run from the docker image, or if the nature of the test infrastructure is that it would require a full mono install just to run any test.

[2017-06-09 21:15] asbjornu commented on #1202
Hm. If this is something we can detect in GitVersion, it would be good to give a better error message than what LibGit2Sharp is giving here. I'm glad you figured it out, though.

[2017-06-09 23:56] SimonCropp commented on #1231
Try disabling the new assembly info generation feature https://github.com/Particular/NServiceBus.Ninject/blob/develop/src/NServiceBus.Ninject/NServiceBus.Ninject.csproj#L7

[2017-06-13 15:31] xlegalles opened #1234 "GitVersion creates branch named after SHA1"
I first thought it was a TeamCity bug but it may not: in one single repository from 15, we always get a report from GitVersion that uses a commit sha as the branch name i.e. a detached head. I simply added a "git branch" step before and after the gitversion one and I have to admit the evidence
- before I get "develop"
- the GitVersion reports a current branch 3427875e403aa2b52ea983528e765c22c17ab4

[2017-06-13 17:35] alefranz opened #1235 "Prerelease versions are incorrect"
Quoting an example from documentation:

https://github.com/GitTools/GitVersion/blob/master/docs/git-branching-strategies/gitflow.md#release-branches

However the behaviour is different.

Given a repository like:
[code]
Running GitVersion 4.0.0-beta0012 would return

* `1.2.0-alpha.1` for the commit tagged 1.2.0-alpha1 (06c9a69)
* `1.2.0-beta.1` for the tip of the release branch (1dde0ce)

[2017-06-14 13:52] marc-mueller opened #1236 ""/output json" does not work in build server environment"
Hello

We would like to execute GitVersion from withing a build script, but would like to get the json output. If the build environment is detected, the option json is ignored.

This was already issued once: https://github.com/GitTools/GitVersion/issues/675

Apparentely, this bug seems to be still open.

You can repro it by yourself by executing the following inside a PowerShell session:
[code]

T

[2017-06-15 00:41] asbjornu commented on #1234
@xlegalles: Can you reproduce this outside of the specific repository, make the repository public or otherwise share something that can be debugged? Are you using GitVersionTask or `gitversion.exe`? Which version of GitVersion are you using; 3.x or 4.x?

[2017-06-15 02:16] pvandervelde commented on #1160
@JakeGinnivan Any chance this is going out soon. I just noticed the first beta was on June 20th last year. We would love to get our hands on this, it fixes a number of issues we're seeing with 3.6.5

[2017-06-15 09:52] xlegalles commented on #1234
We use Gitversion.exe v3.6.4.0 installed by Chocolatey.
I Cannot make the repo public :( I have attached the TC logs where you can see the first 'git branch' (good), then gitversion (wrong) and the next 'git branch' (wrong)

Of course, I can try anything you want but for instance, I don't see any way to debug what is doing GitVersion? Is it even possible that it could change the current git branch

[2017-06-15 22:44] mdkf commented on #1084
Hi @JakeGinnivan Unfortunately, it's still not fixed.
`D:\Jenkins_Home\workspace\GitVersionDec Master4>"C:\GitVersion_4.0.0-beta0012\GitVersion.exe" /showconfig
assembly-versioning-scheme: MajorMinorPatch
assembly-file-versioning-scheme: MajorMinorPatch
mode: Mainline
tag-prefix: '[vV]'
continuous-delivery-fallback-tag: ci
major-version-bump-message: '\+semver:\s?(breaking|major)'
minor-version-bu

[2017-06-16 04:20] pcoombe commented on #1084
@JakeGinnivan
just an update from me, we have switched over to 4b12 with mainline.
we have also gone through and removed all our -prerelease tags
appears to be working pretty well for us, thanks

[2017-06-18 02:42] #1230 closed

[2017-06-18 05:58] JakeGinnivan commented on #1234
What have you set `Git_Branch` to in the teamcity build parameters? Maybe it was mapped wrong?

[2017-06-18 06:32] JakeGinnivan commented on #1229
This sounds like a good change to me! I would be happy to change it and see if anyone complains. As long as GitVersion runs the normalisation properly (when on a build server for instance) then I think it's probably fine to say it works.

[2017-06-18 06:34] JakeGinnivan commented on #1181
Happy to get a PR to add this :)

[2017-06-18 19:28] asbjornu commented on #1229
@JakeGinnivan: Sure, that's a viable approach as well. Let's do it! 😄

[2017-06-19 08:44] xlegalles commented on #1234
The VCS root ID is KappaAutomate_TaskFilteringGit and the env.Git_Branch is set to %build.vcs.number.KappaAutomate_TaskFilteringGit% which seems right...

[2017-06-19 22:17] DanubeRS opened #1238 "Option for trimmed SHA in description"
Asked on [SO](https://stackoverflow.com/questions/44639767), but wanted to head straight to the source and see if this was available. Added an example of the Spotify macOS client for a sample in the wild.
<img width="224" alt="screen shot 2017-06-20 at 8 15 55 am" src="https://user-images.githubusercontent.com/2668630/27308204-c634320e-5590-11e7-8d37-e68a5fde677a.png">

If not, could this be consi

[2017-06-19 22:47] DanubeRS commented on #1200
Just out of curiosity, what was the reason behind the change? I understand that develop in a GitFlow context is rarely published, to me it seems like it breaks SemVer 2.0.0 convention that pre-release identifiers are ordered alphabetically

Not sure I am interpreting the workflow properly though...

[2017-06-20 04:33] JakeGinnivan opened #1239 "Output GitVersion version when running"
Useful to know what version is installed on a build server for instance.

[2017-06-20 05:49] pavlovps commented on #1234
@xlegalles do you have "Use mirrors" in your VCS root settings? If yes then I would suggest removing it and trying again. Besides, there should be a parameter _teamcity.git.fetchAllHeads_ = true which fixes another issue but then again why not to try.

[2017-06-20 07:26] xlegalles commented on #1234
Sorry but it does not change anything...

[2017-06-20 08:33] asbjornu commented on #1236
@marc-mueller: Can you please tell me whether #983 would offer the same functionality you're asking for?

[2017-06-20 08:50] xlegalles commented on #1234
Just upgraded our server to 2017.1.2 (build 46812) and still the same issue

[2017-06-21 11:56] asbjornu commented on #544
#1130 is merged, so closing.

[2017-06-21 11:56] #544 closed

[2017-06-22 08:23] asbjornu commented on #1238
@DanubeRS: I haven't used the different formatting options that much, so I'm not entirely sure what works and what doesn't. But #544 and #886 seems related. If you have concrete ideas for improvements and implementation, please feel free to submit a pull request!

[2017-06-22 16:18] kingofzeal opened #1240 "GitVersion with NuGet IncludeReferencedProjects on feature branches"
We have a .NET solution that contains many common libraries used across our other products. The projects tend to build on each other, extending functionality to more specific (but still common) purposes - for example, We have:
`Core`
`Core.Data` (dependency on `Core`)
`Core.Data.Sql` (dependency on `Core.Data` and `Core`)

We use the -IncludeReferencedProjects when building the NuGet packages, and

[2017-06-22 18:42] asbjornu commented on #886
Doesn't #1130 provide the required functionality here?

[2017-06-22 18:46] asbjornu commented on #845
Related to #895.

[2017-06-22 18:54] asbjornu commented on #1122
@strich: Sorry about the silence. I'm glad you've made progress and spent so much time investigating this. It does sound like trying to create a full abstraction of LibGit2Sharp might be the wrong path, though?

[2017-06-22 18:55] #886 closed

[2017-06-22 18:56] asbjornu commented on #1240
Sounds like what you need is `assembly-version-format`, similar to `assembly-informational-format`. It's starting to become rather messy with both `assembly-versioning-scheme` and
`assembly-file-versioning-scheme` there already, though.

To get around the issue of `assembly-informational-format` missing the word `version` and being able to expand the formatting capability of all `[Assembly*Version

[2017-06-22 18:58] asbjornu commented on #1238
Perhaps related to #1240 too.

[2017-06-22 19:21] strich commented on #1122
@asbjornu I'm not sure how else one could do it though - Trying to force feed data into LibGit2Sharp's own internal structures seems like ultimately the more difficult thing to do. The state I left this task in isn't too bad - There are just a couple of places where you're asking for some specific tree sorting to be done that needs to be reimplemented outside of LibGit2Sharp's systems.

[2017-06-22 20:42] asbjornu commented on #1122
If those algorithms are simple enough and stable, I agree that reimplementation might be a valid course. But if they are complex and volatile, I'm not sure it's worth it.

[2017-06-22 22:37] DanubeRS commented on #1238
Found the section on [RTD](https://gitversion.readthedocs.io/en/latest/configuration/) about custom informational version formats. Haven't tinkered much yet, and unfortunately string formatters doesn't contain a substring formatter so kind of put it on hiatus for the moment. Will definitely revisit at some point, though and participate in #1240 (y)

[2017-06-23 13:27] strich commented on #1122
They looked fairly simple to me - Just doing tree sorting forwards/backwards within branches, etc. It was just a bit beyond me at the time - I didn't really know how git commit parent/child relationships worked and whatnot.

[2017-06-23 21:25] bording commented on #1231
If you don't want to disable the assemblyinfo generation feature entirely, you can instead add the following to your project file:
[code]

[2017-06-23 21:51] bording opened #1241 "FileVersion inconsistency between UpdateAssemblyInfo and UpdateVersionProperties"
The new `UpdateVersionProperties` section in the 4.0 `GitVersionTask.targets` file is using a different value for  `FileVersion` than the `UpdateAssemblyInfo` task.

`UpdateAssemblyInfo` is using [AssemblySemFileVer](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/AssemblyInfoBuilder/CSharpAssemblyInfoBuilder.cs#L45).

`UpdateVersionProperties` is using [$(GitVersion_MajorMin

[2017-06-23 22:03] bording opened #1242 "GitVersionInformation in SDK-style projects"
In 4.0, `UpdateAssemblyInfo` is false for the new SDK-style projects, which makes sense since the appropriate values can be injected via `UpdateVersionProperties`.

However, this means that the static `GitVersionInformation` class is also no longer generated by default, which means SDK-style projects lose the ability to inspect version properties at run-time.

Setting `UpdateAssemblyInfo` to true

[2017-06-25 04:41] el2iot2 commented on #1175
Just saw on Twitter that the PR for LibGit2Sharp got merged. That brings this issue one step closer to resolution, it would seem.

[2017-06-25 04:49] el2iot2 commented on #1175
Yep after a quick survey, only PepitaPackage and ApprovalTests don't have netstandard support?

[2017-06-26 13:38] doubret opened #1245 "Is it possible to configure a custom workflow ?"
Hi,
I would like to use GitVersion with a custom workflow, is this possible to configure a workflow completely ?

Let's say i have master and develop branches.
Develop is for dev and master is for prod.
When i want to put something into production i create a release branch (release/Major.Minor patch is reset to 0) and make a pull request to master.

First thing i need from GitVersion is to take th

[2017-06-26 21:13] doubret opened #1246 "source-branches and is-source-branch-for configuration removed in v4 ?"
Hi,
I tried to use source-branches and is-source-branch-for configuration in the v4 beta and the configuration parser raised an error.
Looking at the source code, i don't see these properties in GitVersion.BranchConfig.

Were these properties removed definitely ? Or is this just beacause it's a beta ?

Thanks

[2017-06-27 07:37] marc-mueller commented on #1236
Not really. The output in a file would be handy, but the main problem still exists. Then GitVersion detects the build server (in our case VSTS / TFS) it automatically changes the build number. We cannot allow this since another task handles the build number.

Our current solution ist to start GitVersion in a new process where we override the environment variable "TF_BUILD" with a blank value so we

[2017-06-27 11:05] dazinator commented on #1175
I don't think ApprovalTests  should matter as this is a build time only dependency surely - (i.e for running tests) so shouldn't be a dependency that is forced onto consumers?

[2017-06-27 11:08] dazinator commented on #1175
Also just a note to say that even though calling msbuild instead of dotnet cli will provide a workaround for some scenarios, for others, like `dotnet ef` I can't find any equivalent msbuild commands so this remains a problem.

[2017-06-27 11:38] dazinator commented on #1175
I have looked at the dependencies and filtered down the relevent ones for `gitversiontask` which are:

[code]

[2017-06-27 11:39] dazinator commented on #1175
Notable we would need to add support for netcore to GitTools.Core first.

[2017-06-27 11:52] dazinator commented on #1175
So the blockers seem to be:

- GitTools.Core
- `ILRepack`: https://github.com/gluck/il-repack/blob/master/ILRepack/packages.config

YamlDotNet has a .NET standard version of the package that I assume we could switch too. https://www.nuget.org/packages/YamlDotNet.NetCore/

[2017-06-28 12:33] asbjornu commented on #1175
@dazinator: `GitTools.Core` should be a simple port. But I'm not quite sure what we're using `ILRepack` for. @JakeGinnivan?

[2017-06-28 12:36] asbjornu commented on #1245
For patch to be incremented you'll probably need `mode: ContinuousDeployment` as well. [You can read about the different modes in the documentation](http://gitversion.readthedocs.io/en/latest/reference/versioning-mode/).

[2017-06-28 12:45] asbjornu commented on #1242
@bording: Thanks, I agree `GitVersionInformation` has value without `Assembly*Info` attributes. Perhaps you can take a look at all the other attribute related issues and see whether you can smack a few birds with one stone here? 😄

Related issues: #529, #895, #964, #1183, #1214, #1231, #1241.

[2017-06-28 12:45] asbjornu commented on #1122
@strich: Right. Seems like @JakeGinnivan has gone ahead and started this work with #1243, so please take a look at that and contribute if you can!

[2017-06-28 12:48] asbjornu commented on #1238
Excellent! Looking forward to your participation in getting all of these formatting wishes fulfilled once and for all. 😄

[2017-06-28 14:18] dazinator commented on #1175
@asbjornu I started on the port of `GitTools.Core` but could not get it building yet. If curious see: https://github.com/GitTools/GitTools.Core/issues/40

[2017-06-28 23:29] bording commented on #1231
@tofutim In addition to the workarounds listed here, this is fixed in the latest 4.0 beta release, though there are some side effects: #1241, #1242.

[2017-06-29 00:53] tofutim commented on #1231
mil gracias!

On Wed, Jun 28, 2017 at 4:29 PM, Brandon Ording <notifications@github.com>
wrote:

[2017-06-29 02:10] bording commented on #1242
Looking over those issues and some of the TODOs in the code, here's what I'm thinking of as a plan of attack for this:

 - Move the AssemblyInfo logic from GitVersionExe's `AssemblyInfoFileUpdate` class and GitVersionTask's `UpdateAssemblyInfo` class into GitVersionCore
- Use the templates that are already in GitVersionCore instead of the ones in GitVersionTask
- Generalize the update code to be a

[2017-06-29 11:34] JackGrinningCat commented on #864
I got the same.
This was the first google hit and the comments are fitting with my history.

I made a big Story/... instead of  story/...
Deleted the old Story/... and recreated the branch as story/...

The error occurred after an PullRequest in TFS. The build failed at git version. My error looks the same as above, without the git log, that's failing too, because the team don't have git in the pa

[2017-06-29 19:14] asbjornu commented on #1242
@bording: Fantastic! Whole-heartedly supported! 😄  👍  🎉

[2017-06-29 19:30] asbjornu commented on #1241
I assume this inconsistency will be easier to deal with after https://github.com/GitTools/GitVersion/issues/1242#issuecomment-311842461 is completed?

[2017-06-29 19:43] bording commented on #1241
Well, it would be easy to submit a quick PR that fixed this one thing, since it would just be a matter updating the two targets files to have the correct value.

The larger refactoring being considered in #1242 would also end up taking this into account, but maybe it would be worth fixing this up in the existing code first?

[2017-06-30 01:56] sandorfr commented on #909
Hi,

LibGit2Sharp has released the final [0.24.0](http://www.nuget.org/packages/LibGit2Sharp/0.24.0). This should fix the problem on OSX, and make everything work fine.

[2017-06-30 03:55] bording commented on #1241
@asbjornu I went ahead and fixed this up: #1247.

[2017-06-30 07:41] #1241 closed

[2017-06-30 07:59] asbjornu commented on #909
@sandorfr: Thanks. I submitted #1248 to upgrade LibGit2Sharp, so let's hope that turns green. 😃

[2017-07-04 07:37] junkangli commented on #878
I am facing the same issue. Is there any updates on it?

[2017-07-04 13:13] rajendratripathy opened #1250 "LibGit2Sharp Support for .NET Framework 4.7"
Currently we are migrating a project to .Net Core(4.7 Framework)
While Application getting deployed I am getting exception saying

**Exception thrown: 'LibGit2Sharp.LibGit2SharpException' in LibGit2Sharp.dll**
Using LibGit2Sharp - 0.24.0.0 Version

[2017-07-05 09:43] jeandemonceau opened #1251 "Need some help to configure"
Hi,
I'm trying GitVersion v3 and I cannot figure out how to configure it properly.

I have
master branch
develop branch
feature/xxx branches

I would like to start with 0.1.0
All feature branches are merged to develop via pull requests.
When I create a feature branch without any breaking change, and it is merged on develop, I want my Minor to be increased. 0.2.0
Then I create another feature branc

[2017-07-06 00:31] SimonCropp commented on #1230
@JakeGinnivan polite request for a release ;)

[2017-07-06 07:57] aronsky opened #1252 "Wrong variable names in documentation"
The description in the [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=gittools.gitversion) suggests using variables formatted as `$(GitVersion_NuGetVersion)` and `$(GitVersion_SemVer)`. However, when using VSTS, one should format the variables as `$(GitVersion.NuGetVersion)` and `$(GitVersion.SemVer)` (period instead of an underscore). I'm not sure where the text i

[2017-07-06 08:53] #1251 closed

[2017-07-06 11:50] nphmuller commented on #1246
They have been added after the latest beta release. So they'll probably be part of the next beta release.

[2017-07-06 13:16] tpluscode opened #1253 "Branching off release branch resets commit counter"
Here's another issue I've been having although it may be that I'm misusing branching flow? I think there were similar issues in the past though.

GitVersion == 4.0.0-beta.12

The scenario is that I have a release branch `release/0.5` using `mode: ContinuousDeployment`. Adding commits to it increments the counter: `0.5.0-beta.1`, `0.5.0-beta.2`, `0.5.0-beta.3` and so on.

Next I want to create a br

[2017-07-06 13:24] tpluscode commented on #1253
This is an issue with `mode: ContinuousDeployment` ofc.

With `mode: ContinuousDelivery` I would tag the release branch when necessary. But, is tagging release branch a sensible thing to do?

[2017-07-06 22:25] mcnallys opened #1254 "How To handle this scenario"
We are using gitflow

The only difference from the default configuration I am having trouble with is in release branches.

At some point we want to consider a release branch to be moved from "beta" to "rc"

I've tried putting in a tag, and playing with the config file - just can't seem to get it right.   It either stays beta or everything goes rc.

[2017-07-07 17:08] brdmllr commented on #1198
I hope this isn't a naive solution as I haven't spent a lot of time looking at the GitVersion source, but could the output of the "git status --porcelain" command act as input for this feature and if that input has a non-zero length, something is added to the informational version?

[2017-07-08 12:57] dazinator commented on #1175
I have got gittools.core building for net standard now. Nuget package is here: https://ci.appveyor.com/project/GitTools/gittools-core/build/1.2.1-PullRequest.42+33.build.122/artifacts

[2017-07-10 07:08] asbjornu commented on #878
@junkangli: No. We need a way to reproduce the problem.

[2017-07-10 07:15] asbjornu commented on #1252
Perhaps @pascalberger has an idea where this text is entered? Manually by someone with admin access to the Marketplace, I presume?

[2017-07-10 07:17] asbjornu commented on #1251
@jeandemonceau: Sorry for the late reply. Did you figure it out?

[2017-07-10 07:20] jeandemonceau commented on #1251
Hi.
No problem.
Yes I figured out how to configure the yml properly. Thx !

[2017-07-10 07:23] pascalberger commented on #1252
No this is the [overview.md](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTfsTask/overview.md) file. Which also has issues with images not being rendered correctly I just saw.

[2017-07-10 07:27] aronsky commented on #1252
Hm, that file definitely looks similar to the description in the Marketplace, but the variables are correct in the file, while appearing incorrect in the Marketplace. If the Marketplace is pulling it automatically from the overview file, any chance it undergoes some pre-processing (to avoid XSS and such), which generates a wrong output?

[2017-07-10 07:29] pascalberger commented on #1252
Marketplace is still version 3.6.5. This was already fixed in https://github.com/GitTools/GitVersion/commit/d9248c35284fd0b3afc443262aca5ea2369f0bce but there was no new version released since then to the marketplace

[2017-07-10 07:36] #1252 closed

[2017-07-10 08:07] dpurge opened #1255 "The same version generated twice"
I have stumbled on smth that looks like a bug to me .

Given this configuration (abbreviated from my unit tests for gitversion.yml):

[code]
I am getting this in my unit test log:

[code]

Note that in step 0003 and 0006 gitversion has returned the same semantic version:  *5.0.0-beta.1*
And then it continues the count, duplicating beta.2 and so on.

I see two problems with the observed behaviour:

[2017-07-10 08:15] dylan-asos commented on #878
Was also facing this issue - running the build and choosing the 'clean all files in the checkout directory before the build' option forced it to use the tag I had applied to master after the last commit.

[2017-07-10 09:02] asbjornu commented on #1253
@tpluscode: With `ContinuousDelivery` it is expected that every release will be tagged, no matter which branch it came from, afaik. If you don't want to tag every release, you'll need to figure out how `ContinuousDeployment` can work for you. :)

[2017-07-10 09:04] asbjornu commented on #1254
If something in the release branch changes so significantly that it should be named differently, don't you think it warrants the creation of a new branch? Branches are cheap! 😃

[2017-07-10 09:06] tpluscode commented on #1253
OK

Well, it doesn't but I do think it's a bug :)

[2017-07-10 12:00] asbjornu commented on #1250
Can you please post the full stack trace and perhaps even the full GitVersion log in a Gist?

[2017-07-10 12:42] asbjornu commented on #878
If [Clean Checkout](https://confluence.jetbrains.com/display/TCD10/Clean+Checkout) is a solution to the problem as @dylan-asos may indicate, can this be closed? If:

... works for you @junkangli and @urig, please let us know.

[2017-07-11 02:40] junkangli commented on #878
The setting "Clean all files in the checkout directory before the build" was enabled all the while.
I will need to investigate more on the issue happening in my repo and teamcity build.

[2017-07-11 09:28] junkangli commented on #878
I found that running `git tag` in the repository directory on my teamcity agent did not list the latest tag.
So it seems that the source of the problem lies with teamcity, as suspected by @urig mentioned in this [comment](https://github.com/GitTools/GitVersion/issues/878#issuecomment-222374712).

[2017-07-11 09:47] dpurge opened #1257 "TFS build number overwritten fully instead of only replacing gitversion variables"
In the TFS build definition, I am trying to use this build number format: `$(GITVERSION.SemVer).Build-$(Build.BuildId)`

As the build starts, `$(Build.BuildId)` is replaced correctly. But later GitVersion is replacing the whole thing with the generated semantic version - ie. I am losing the `.Build-12345` suffix.

I think this is not a correct behaviour - gitversion should replace only the `$(GITV

[2017-07-11 09:57] junkangli commented on #878
It works now after I followed the solution [here](https://teamcity-support.jetbrains.com/hc/en-us/community/posts/205450030/comments/204877330), which is to disable "Use mirrors" under Agent Settings in TeamCity version control settings.

[2017-07-11 10:20] dylan-asos commented on #878
So possibly the combination of 'Clean Checkout' and disable 'Use Mirrors' is the solution here? (Use Mirrors was disabled in my build)

[2017-07-11 11:14] junkangli commented on #878
Yes, that could be it. But one thing is for sure is that it's not an issue with gitversion, but teamcity. So I guess it's fair to close this issue now.

[2017-07-11 12:17] Sam13 commented on #1198
The thing which should be achieved by this issue, is that the informal assembly version contains an information whether the working copy has local modifications or not.

If _git status_ provides this information as well we may also use this command as source for that information.

[2017-07-11 12:23] mcnallys commented on #1254
Nothing is changing significantly, an RC for us means we shipped it off for external testing.

[2017-07-11 12:37] rajendratripathy commented on #1250
As I debug internal, In "LibGit2Sharp.dll" some of the things are obsolete and deprecated, sometimes it’s trying to access the container, which is locked and can't be changed after the first call.
The behaviour is also not consistent.

**My 1st question** : Whether you are supporting .NET4.7 framework or not ? If yes please let me know the details. Currently I am using Using LibGit2Sharp - 0.24.0.

[2017-07-11 13:27] #1110 closed

[2017-07-11 13:30] asbjornu commented on #912
Might [TeamCity bug TW-24878](https://youtrack.jetbrains.com/issue/TW-24878) be the issue at hand here? With version 10.0.4 of TeamCity, the configuration parameter `teamcity.git.fetchAllHeads` can be added to a project and when set to `true`, TeamCity should fetch all branches and not just the current.

[2017-07-11 13:33] asbjornu commented on #1234
@xlegalles: Have you tried adding the configuration parameter `teamcity.git.fetchAllHeads` to the project and when set it to `true`? Then TeamCity should fetch all branches and not just the current one.

[2017-07-11 13:34] asbjornu commented on #878
Please have a look at what I've written here and see if that might help resolve this problem: https://github.com/GitTools/GitVersion/issues/912#issuecomment-314443855

[2017-07-11 13:38] asbjornu commented on #1250
GitVersion does not fully work with .NET Core yet, no.

[2017-07-11 13:45] asbjornu commented on #1257
Does TFS use the [`VsoAgent` build provider](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/BuildServers/VsoAgent.cs)? If so, please have a peek and see whether something can be adjusted there to better accommodate your use-case. If you're able to fix it, a pull request would be welcome! 😄

[2017-07-11 13:47] asbjornu commented on #1254
Hm. Sounds like something a tag would be fitting for, but it won't change the name of the prerelease label of the version number, afaik.

[2017-07-11 14:09] mcnallys commented on #1254
Yeah right now if we commit any fixes to the release branch I tag a commit as the appropriate rc, seems like defeating the purpose though.  Just need a way to tag and have the prerelease label changed from 'beta' to 'rc'.

[2017-07-11 16:04] mabead commented on #1221
@asbjornu @JakeGinnivan Any ETA on a nuget package that will contain this fix?

I convinced people at my company to switch from an internal tool to GitVersion and now GitVersion losses credibility with everyday that goes by without a fix ;)

[2017-07-11 19:04] xlegalles commented on #1234
@pavlovps already proposed this option that I have tried without any success...

[2017-07-11 19:16] asbjornu commented on #1234
@xlegalles: Yea, he had two suggestions, though, so I didn't know which one of them you tried. 😕

[2017-07-11 19:42] dpurge commented on #1257
VsoAgent that you linked to seems to be exactly the place,  thank you for pointing it out.
I am not a programmer, but this looks easy eanough :) If I manage to fix it, I'll send you a pull request :)

[2017-07-11 19:57] pascalberger commented on #1257
With https://github.com/GitTools/GitVersion/pull/990 documentation for the VSTS/TFS task was changed that variables are in the form `GITVERSION.*` instead of `GITVERSION_*`. This seems to not be reflected in [this RegEx](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/BuildServers/VsoAgent.cs#L39).

[2017-07-11 23:56] #1257 closed

[2017-07-12 13:34] dsadikone commented on #942
@nzrytmn I am experiencing a basically identical issue, did you ever resolve it?

[2017-07-17 08:13] thefringeninja opened #1262 "Patch Version Mysteriously Incremented"
I have the following GitVersion.yml:
[code]

I am invoking `GitVersion` via `cake`:
[code]

This was working fine until a few weeks ago, when suddenly the output on branches / pull-requests turned into this:
[code]
There is no 1.0.0 tag in this repository, and in any case I've explicitly set the next version to `1.0.0`. Same results for `3.5.0`, `3.6.5`, and `4.0.0-beta*`.

[2017-07-17 14:21] thefringeninja commented on #1262
BTW, I'm using the exact same setup in a different repository and I get the GitVersion that I am expecting.

[2017-07-18 12:27] valakyr commented on #1233
I think I've got the same issue.

I got Jenkins configured to build all feature branches via "origin/feature/**", which checks out all feature branches. But it doesn't checkout the feature branches locally, instead it uses the "origin/" prefix which confuses GitVersion into not recognizing the feature branch. GitVersion then handles the branch like any branch that isn't specifically configured and

[2017-07-18 12:44] valakyr commented on #1233
Figured it out: Add the `Check out to specific local branch` behavior in Jenkins and set the "specific" branch to `**`. That will cause Jenkins to check out all branches locally, omitting the `origin/` prefix.

[2017-07-19 06:48] dermeister0 opened #1263 "How to run GitVersion in Mono?"
I tried to run GitVersion in Docker.

Debian Stretch:
[code]

[code]

[code]

[2017-07-19 07:01] dermeister0 commented on #1263
https://github.com/GitTools/GitVersion/issues/1097#issuecomment-297019472

[2017-07-19 07:24] dermeister0 commented on #1263
[code]

[2017-07-19 07:24] #1263 closed

[2017-07-20 08:43] StefanBertels commented on #1176
Currently I cannot use 4.0-beta0012 because of this issue and I cannot use NCrunch with 4.0-beta0009 because of #1193.

Can anybody help / give a workaround?

[2017-07-24 11:24] abkljnAlmbrand commented on #1233
Thanks valakyr. I'll give it a try and get back. Can't find the setting "Check out to specific local branch" - will get Sys Admin to have a try.

[2017-07-25 21:47] conniey opened #1265 "GitVersionTask.targets for buildMultitarget does not output AssemblyInfo"
I noticed that my assemblies were being stamped with version information 0.0.0.0... and it was because `UpdateAssemblyInfo` target in [build\GitVersionTask.targets](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/NugetAssets/build/GitVersionTask.targets#L52-L63) doesn't exist in its [buildMultiTargeting](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/Nu

[2017-07-26 02:00] JoshSchreuder opened #1266 "Normalization takes a very long time"
Not sure if this belongs here or in the [GitTools.Core](https://github.com/GitTools/GitTools.Core/blob/master/src/GitTools.Core/GitTools.Core.Shared/Git/Helpers/GitRepositoryHelper.cs#L21) repo so apologies in advance.

I'm investigating our long running builds in Jenkins - found that the GitVersion step takes 6+ minutes to execute. When I run it locally on the build server it is nearly instantane

[2017-07-26 23:38] JoshSchreuder commented on #1266
I've delete my 450+ merged branches and it's relatively quick again 😄

Still, it's going to take longer and longer as the branch list grows - anything I can do besides keeping the branch list small?

[2017-07-27 16:43] novabe opened #1267 "List of matching versions once incremented doesn't include maxVersion (3.6.5)"
In BaseVersionCalculator.cs, after finding a maxVersion the code finds all the matching versions once incremented, but the where clause includes "b != maxVersion" which means we aren't including maxVersion in this list.

Afterwards, the code finds the oldest source from that list, but theoretically maxVersion could be the oldest one, and if it is not included we don't end up using it.

GitVersion

[2017-07-27 18:57] AndreiMarukovich opened #1268 "Per-folder configuration for monorepo support"
One way of using Git repository is to put multiple projects in the subfolders of one repository (monorepo). In this case it is desirable to version these projects independently, based on the commits in the corresponding folders.

How feasible is to introduce a additional mode for GitVersion to track not only the branches, but folders as well?

[2017-07-29 08:50] dazinator commented on #1175
Im planning on starting the PR for this, this week. Not sure what to do about ILRepack just yet but we shall see!

[2017-07-29 15:04] dazinator commented on #1175
The msbuild task needs to be built for netdesktop and netstandard, and the targets need to load the correct assembly at build time based on detecting whether its bulding on netcore or not. See: https://github.com/GitTools/GitLink/issues/168#issuecomment-318833333

[2017-07-29 16:49] dazinator commented on #1175
Hit a hurdle. The continua CI support relies on `RegistryView` which isn't available in netstandard1.3.. so for now I'm excluding ContinuaCI from netstandard build..

[2017-07-29 17:06] dazinator commented on #1175
Hit another hurdle.. `System.Web` is used for it's `Databinder` class.. this is not available under netstandard. Seems like we should get rid of this dependency permanantly..

[2017-07-30 12:20] BiribiriJaNai opened #1270 "VSTS GitVersion variables are not resolved when tagging sources"
Using the GitVersion task from [VSTS Marketplace](https://marketplace.visualstudio.com/items?itemName=gittools.gitversion), it's working fine updating assembly info and nuget version, but when I want to use any GitVersion variable to tag or label my sources, the variable is not expanded.

![gitversion-01](https://user-images.githubusercontent.com/29836717/28753150-e16df636-752f-11e7-823f-e7403a33d

[2017-07-31 11:24] tgbarnett opened #1271 "Allow for brach names to start with reserved names"
The current implementation of GitVer has a specific behavior for branches called _master_
Unfortunately the way that this is implemented it is for branches that start with _master_ which means that _masterfix_ has the same rules applied (though _fixmaster_ would be treated differently.

I think that _masterfix_ and _fixmaster_ should be treated the same (i.e. not the same as _master_)