[2019-09-12 13:18] gthvidsten opened #1811 "Ignore numbers in release branch"
This is very similar to #1500 / #1541 , but sort of in a reverse sense.

The team I'm on use a flow similar (but not identical) to "gitflow". Our release branches gets PRs from feature branches. Seeing as one feature branch may require a 0.0.1 version update, and another branch requires a 0.1.0 verison update (based on the `major/minor/patch-version-bump-message` commit messages), and I don't know

[2019-09-13 15:18] mattwhitfield commented on #1696
To add some detail to this, we're seeing this sporadically. It's not reproducible - you can run the same build straight away again with no changes to the repo, and it will work. Usually GitVersion takes around 15s to run on our repo. When this happens, it runs for about 20 minutes, and produces around 350 MB of log output, although that's only around 4MB zipped.

Some interesting lines:

`2019-09-

[2019-09-15 15:11] nikned opened #1812 "How do I use gitVersion to increment patch per commit on release branches"
We are following trunk based development approach, where when a feature is ready, we merge it to master and create release branch with semantic version, so we have full control on major/minor/patch versioning,
eg :
release/1.0.0
release/1.0.1 etc ..
We run gitversion on our build step which is considering versioning provided in branch name and creating version based on it (default gitversion behav

[2019-09-15 22:00] asbjornu commented on #1696
@mattwhitfield, thanks for the information. A repository where this can be reproduced would be very helpful, so we can put a breakpoint and see exactly why we're incurring a recursion or infinite loop here.

[2019-09-15 22:22] mattwhitfield commented on #1696
@asbjornu - unfortunately, I can't help you there. As I said above, it's not reproducible for us. I can run the same build on the same source repo and it will work on the second attempt - with no commits being made to any branch. I don't have any helpful indicators as to what might be a factor in that seemingly non-deterministic behaviour. If I do notice anything further, I will let you know.

[2019-09-16 17:22] markgould commented on #1807
I'm also running into this issue.

GitVersion 5 through AzDO is returning "Update build number to 3.4.1-beta.1+1 for build 5188"

GitVersion 4 also through AzDO is returning
"Update build number to 3.4.1-beta.1 for build 5188"

I've attached the output running from V4 and V5:

[v4.txt](https://github.com/GitTools/GitVersion/files/3617393/v4.txt)
[v5.txt](https://github.com/GitTools/GitVersion/file

[2019-09-17 09:46] andretone opened #1814 "Gitversion calculate wrong version after a merge commit with numbers"
When i merge a branch to release branch with string like d+\\.d+\\.d+ in its name, gitversion calculate a wrong version.

For example:
From branch "release/4.55.0" create another branch, in the branch name there is a string like "56.67.9876"
[code]

then, commit something:
[code]

merge this branch in release branch:
[code]

that commit:
[code]

Now gitversion says "56.67.9876" instead of somethin

[2019-09-17 21:26] TheTimBecker commented on #1437
I am running into this issue now as well. We open a release branch off of develop and would like that tagged as `beta`, but it just reused the `alpha` version.

Sometimes release branches don't need any additional commits, but we require a merge to master to come from a release branch.

[2019-09-18 07:49] #1508 closed

[2019-09-18 11:03] zionyx commented on #1812
I also have the same desire for this workflow.

Do you mind to provide the original `GitVersion.yml`? 🙏
This `/showconfig` includes too much info.

[2019-09-18 14:08] henrikgjeriksson opened #1815 "GitVersion throws KeyNotFoundException using git branch 'release/IntX.IntY'"
Went from:
cakebuild 0.33.0
ReportUnit&version=1.5.0-beta1
GitVersion.CommandLine&version=4.0.1-beta1-58

To:
cakebuild 0.34.1
GitVersion.CommandLine&version=5.0.1
ReportUnit&version=1.2.1

In "to" state, `release/X.Y` branches  makes gitVersion throw exception according

[code]

Using another branch name makes it works fine.
releases(s) is identified in the GitVersion.yml as
[code]

[2019-09-18 14:27] henrikgjeriksson commented on #1815
Has the "...KeyNotFoundException" a correlation with the branch settings mentioned above?
Perhaps there is a change in the attribute settings in newer gitversion

[2019-09-18 15:16] underscoreHao commented on #1577
@marius-stanescu @alarobric  I can provide a working solution for everything up until incrementing the patch automatically when you do a fix on the release branch.

[2019-09-19 13:40] underscoreHao commented on #1577
The GitVersion.yml file for my working setup

[code]

[2019-09-20 07:45] henrikgjeriksson commented on #1815
We noticed that setting
'is-release-branch' to false, then the exception is no longer thrown.

What can the root cause be? Is there any new issue related to this in latest version of gitVersion?

[2019-09-20 07:47] henrikgjeriksson commented on #1815
Note, we are note using GitFlow.
The documentation states that "is-release-branch" feature is for GitFlow!?
https://gitversion.readthedocs.io/en/latest/configuration/

[2019-09-20 08:17] asbjornu commented on #1815
Are you able to reproduce the `KeyNotFoundException` in a `RepositoryFixture` test? If so, it would be a good way to figure out what's going on within GitVersion's internals here.

[2019-09-20 18:00] maldworth commented on #1031
Also see it in Azure Dev Ops, intermittently. Never happens when we run the cake build locally though.

[2019-09-20 22:01] nikned commented on #1812
that's the original gitVersion.yml I am using, my focus is mainly on the mode ,  master branch, and releases branch configurations

[2019-09-24 11:00] jbaehr opened #1823 "GitVersionTask 5.0.1 does not work with MSBuild-14.0"
When I reference the GitVersionTask in version 5.0.1 from a csproj I can't build it any more using MSBuild v14. It is the same error as in #1466, just another file: `GitVersionTask/build/GitVersionTask.props`. It appears that my fix for 4.0 (#1471) did not survive the commit 152de0d

Again, the issue is quite easy to fix: just add the namespace declaration to `src/GitVersionTask/build/GitVersionTa

[2019-09-24 15:16] bonesoul commented on #1557
same issue on dot net core 3 project

[2019-09-25 17:11] #1622 closed

[2019-09-25 19:36] ladeak opened #1824 "GitVersion Task 5.0.2 with .netcore 3"
Any updates when GitVersion is supported with .netcore 3 SDK?
[code]

[2019-09-26 06:20] arturcic commented on #1824
We're working on that. Hopefully I can find some spare time to target .net core 3.0 as well

[2019-09-26 11:35] martinhoza commented on #1539
I would love to do that, but with my current occupation this could take a while, sorry.

[2019-09-26 15:37] jakubsuchybio opened #1825 "Using GitVersion on Teamcity crashes on InvalidOperationException"
Hi,
long story. I'll try to be short.
We are migrating from SVN to GIT.
We already migrated prototype, created TeamCity configuration to use GitVersionTask and it worked.
Then we found, that commit author names and emails were wrong.
We did new migration which fixed commit authors, but broke GitVersioning on Teamcity.
We didn't change anything inside GitVersion.yml.

When I install GitVersionTask

[2019-09-26 18:28] jakubsuchybio commented on #1825
Ehm, I guess I figured out why.
Teamcity by default uses ```core.sparseCheckout true```. Which I think means it doesn't download all git tree, but only the branch that is currently building.
Then I guess GitVersion can't figure out all other branches of the git tree and crashes.

However I found a hidden variable in Teamcity Git config which forces teamcity to fetch all branches.
It can be found h

[2019-09-27 06:11] AlexEngblom opened #1830 "GitVersion 5.0.1 resolves wrong commit count after merge based on wrong VersionSourceSha"
After merging new release with related tag to master to development, GitVersion resolves way too big commit count. This issue seems to be that for some reason the previous release commit to master branch was used as VersionSource,

We noticed this because for whatever reasons, one of our build agents resolved the numbering properly (however the base version was resolved to merge tag commit instead

[2019-09-27 10:52] asbjornu commented on #1830
Are you able to express the problem you're seeing as a `RepositoryFixture` test in a pull request, or draw your commit log somehow so I can see where the commits `c81b4597a898cc49806f8e57d8e60df7bc1c82db`, `f0351a3d24578e6bb42e0f0ad81bf259c25b07d4` and `7c0742d94ec4c1da00d690ad0b93fadc43f14cdc` are in the graph, respectively?

[2019-09-27 11:35] da9l opened #1831 "GitVersionTask does not work correctly with fsharp projects building an exe."
When adding the GitVersionTask to a fsharp fsproj that build an exe one get this error message when running `dotnet build`

[code]

My best guess is that the generated GitVersionInformation.fs file is placed last in the list of files to compile. The Program.fs containing the <EntryPoint> decorated main function must always be last. See below for details.

Shortest steps to reproduce:
[code]

If on

[2019-09-27 12:47] jim-paton opened #1832 "Source branch name incorrectly parsed from GitHubPull merge message format"
The source branch name as presented in the comment for a GitHub PR contains the owner of the source repository, _e.g._ from this repo's history:
[Merge pull request #1793 from ermshiperete/ImproveWorktree](https://github.com/GitTools/GitVersion/commit/ea2a10c11ac402d661f6154e36521fb721a8ac8e)

The Regex defined for "GitHubPull" doesn't correctly match this format:

https://github.com/GitTools/GitV

[2019-09-27 13:31] asbjornu commented on #1832
That's correct, @jim-paton. Are you up for submitting a pull request accompanied with some tests to have this fixed?

[2019-09-27 14:17] jim-paton commented on #1832
Happy to give it a go. Will need to read the contributing guidelines first, though!

[2019-09-29 06:46] #1825 closed

[2019-09-29 11:57] asbjornu commented on #1825
Yes, the `teamcity.git.fetchAllHeads=true` has been discussed a bit in other issues as well:

- https://github.com/GitTools/GitVersion/issues/912#issuecomment-314443855
- https://github.com/GitTools/GitVersion/issues/1199#issuecomment-506288243
- https://github.com/GitTools/GitVersion/issues/1234#issuecomment-314444636
- https://github.com/GitTools/GitVersion/issues/1353#issuecomment-488235428
- h

[2019-09-29 13:00] #1728 closed

[2019-09-29 18:55] jakubsuchybio commented on #1825
I will try to.

[2019-09-30 09:43] grappachu commented on #1776
In my case i solved this by batch replacing all references from 5.0.0 to 5.0.1 in all *.config and *.csproj files using notepad++.

[2019-09-30 14:29] henrikgjeriksson commented on #1815
What information would we gain from this?
I never experienced using

So I'm not sure how to proceed in this  case

[2019-09-30 17:11] asbjornu commented on #1815
Please have a look at the following test to get an idea of how you can write yours:

https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore.Tests/IntegrationTests/MasterScenarios.cs#L58-L71

[2019-09-30 18:16] DouglasHammon opened #1834 "Error running on Team City build server. DllNotFoundException: 'git2-572e4d8'"
Hello. Hoping someone can point me in the right direction. I'm getting this error when running GitVersion.exe on Team City build serve (windows agent)

I have the above mentioned missing dll in "\lib\win32\x86" and "x64" folders. So not sure why its not finding it.

[2019-10-01 14:04] casz commented on #1570
We solved it MSBuild.Tasks nuget package with a build target that adds VersionSuffix

[code]

[2019-10-01 14:45] Koekiewollie opened #1836 "GitVersion.yml can not be found when using GitVersionTask in a Git Submodule"
When building C# code in VS2019, GitVersionTask looks for the GitVersion.yml file in the repository root. However, when using a Git Submodule, the file can not be found. This problem only happens for projects located within the submodule.

Info about my setup:

- I am using visual studio 2019 to build a C# application
- The C# application is located in a main repository and also uses projects loca

[2019-10-01 19:22] zapr-16 commented on #864
Hi @asbjornu , it's still happening with the latest version 5.0.1. Should this issue be reopened or should I open another issue?

In my case I have two branches that cause the conflict:
- hotfix/BRANCH1
- reflix/BRANCH1 (notice this one is a typo for relfix)

`An unexpected error occurred:
LibGit2Sharp.NameConflictException: Failed to write reference 'refs/heads/hotfix/DEVOPS-819': a reference wit

[2019-10-01 22:20] asbjornu commented on #864
@zapr-16, are you able to reproduce this problem in a `RepositoryFixture` test akin to the following?

https://github.com/GitTools/GitVersion/blob/c172e8f58ea9f0edea212fde8ccf0f472b443847/src/GitVersionCore.Tests/IntegrationTests/PullRequestScenarios.cs#L11-L25

[2019-10-02 10:11] asbjornu commented on #1570
It would be awesome if you, @marcusl or @casz, could submit a PR that fixes this.

[2019-10-02 14:19] zapr-16 commented on #864
@asbjornu I can't reproduce, but this is definitely not my area of expertise. I'm able run the test and it runs succesfully. Is there anything I should add to the said scenario?

![image](https://user-images.githubusercontent.com/16386389/66052176-88d90800-e506-11e9-8f30-1e2430d62e09.png)

[2019-10-02 14:36] Koekiewollie commented on #1836
I am currently working on reproducing the issue using the source code. Maybe I can fix it myself.

[2019-10-02 15:19] #1328 closed

[2019-10-02 15:46] casz opened #1837 "GitVersion.Tool is not runnable from nanoserver container"
When running `mcr.microsoft.com/dotnet/core/sdk:3.0` the installed tool cannot run to due incompatible framework version

[code]

[2019-10-02 16:08] arturcic commented on #1837
We're working on .net 3.0 support for GitVersion

[2019-10-02 16:12] casz commented on #1837
🙇 Thanks looking forward to it

[2019-10-02 21:33] erikbra opened #1839 "Configurable next-version strategies and mode"
Running GitVersion, most of the time running, which can be quite long on large-ish codebases, is spent on looping through all version candidates on all versioning strategies on the codebase.

This includes traversing backwards using:
* FallbackBaseVersionStrategy
* ConfigNextVersionBaseVersionStrategy,
* TaggedCommitVersionStrategy
* MergeMessageBaseVersionStrategy
* VersionInBranchNameBaseVersion

[2019-10-03 11:13] #1535 closed

[2019-10-05 00:29] asbjornu commented on #1839
I like your ideas. With "newest" version, are you thinking of not having to look at older commits once we've found a version number? How would we know whether potential branches involved in potential versioning strategies don't contain newer (or older) commits yielding a higher version number than the (first) one we've found?

Could you make an example of how the config value might look like so I

[2019-10-07 06:16] da9l commented on #1671
I know it's not exactly the way one should do it but this error can easily be reproduced by a edgy configuration in an almost empty repo.

Since gitversion could give a more helpful error message here I think this issue should be reopened even if there is a workaround.

I did this on a pretty empty repository
[code]

Then I add this gitversion.yml
[code]

and then..
[code]
gitversion works, then I

[2019-10-07 08:46] asbjornu commented on #1671
Are you able to reproduce this in a `RepositoryFixture` test akin to the following, @da9l?

https://github.com/GitTools/GitVersion/blob/84b4af965855ab5c8d503521c075518af943659f/src/GitVersionCore.Tests/IntegrationTests/FeatureBranchScenarios.cs#L15-L40

If we could get a failing test in place, it would be much easier to output a better error message.

[2019-10-07 09:02] da9l commented on #1671
I'd love to. When I create a branch for this failing test in my fork, does
it matter what I call it?
Would it be ok to name it failingtest\<description>
Regards, Daniel

On Mon, Oct 7, 2019 at 10:47 AM Asbjørn Ulsberg <notifications@github.com>
wrote:

--
mail & MSN:daniel@hegner.se
twitter.com/8DH

[2019-10-07 09:04] asbjornu commented on #1671
Thanks, that's awesome! The name of the branch is irrelevant, but a descriptive name is of course preferable. 😃👍

[2019-10-07 11:22] da9l commented on #1671
Ok, I've created a very simple but failing test for this. It does probably
not cover all possible cases.

Thanks for nudging me into the right direction.
/Daniel

On Mon, Oct 7, 2019 at 11:04 AM Asbjørn Ulsberg <notifications@github.com>
wrote:

--
mail & MSN:daniel@hegner.se
twitter.com/8DH

[2019-10-07 12:24] asbjornu commented on #1671
Excellent! If you have ideas for what the error message should say, feel free to change that in the PR and then do `var exception = Assert.Throws<CustomExceptionType>(() => ...)` to assert that the correct exception is thrown and that it contains the expected stuff inside `.Message`.

[2019-10-08 00:09] kitgrose commented on #1400
I can no longer reproduce this issue:

[code]

I'm therefore closing this issue.

[2019-10-08 00:09] #1400 closed

[2019-10-08 01:31] WalkerCodeRanger opened #1844 "Reported Versions Out of Order After Prerelease Tag"
With the following `GitVersion.yml`
[code]
The table below shows 4 commits on the master branch, oldest to newest. The middle column indicates what tags have been created in git (`git tag something`). The third column shows the version GitVersion assigns to them.

Commit #| Git Tag | GitVersion
--- | --- | ---
1 | v2.0.0 | 2.0.0
2 | | 2.0.1-dev.1
3| v2.1.0-rc | 2.1.0-rc
4| | 2.1.0-dev.1

This all

[2019-10-08 08:03] asbjornu commented on #1844
Which version of GitVersion are you using? Are you able to reproduce the error in a `RepositoryFixture` test akin to the following?

https://github.com/GitTools/GitVersion/blob/92c11a1ddc7ce43490084e94bff4519e60a92d0d/src/GitVersionCore.Tests/IntegrationTests/MasterScenarios.cs#L35-L56

[2019-10-08 19:11] WalkerCodeRanger commented on #1844
I'm using version 5.0.1+Branch.master.Sha.c71b8fc9f6d7b6adffe82fef588e717beb864e91

I've created a failing unit test that shows the issue.

https://github.com/WalkerCodeRanger/GitVersion/blob/fdbe5b4fed22b81c6dc295b5e2c7e5ec9c36211e/src/GitVersionCore.Tests/IntegrationTests/VersionBumpingScenarios.cs#L38-L63

Should I submit a pull request with that code?

[2019-10-08 19:21] kelly987654 commented on #1628
Still hoping for a fix on this

[2019-10-08 19:31] asbjornu commented on #1844
A PR would be great. I you would dare attempt to figure out why GitVersion is acting up, that would be even better. 😃

[2019-10-08 19:36] asbjornu commented on #1628
I'd think #1488 should help fix this issue for you. Have you looked into configuring `merge-message-formats`? Now I just discovered that although #1488 provided documentation, that documentation doesn't seem to have been published on [Read The Docs](https://gitversion.readthedocs.io/en/latest/configuration/). Any idea why that might be, @arturcic?

[2019-10-08 19:55] kelly987654 commented on #1628
Thanks @asbjornu! I will test it out.

[2019-10-08 20:55] WalkerCodeRanger commented on #1844
Debugging the unit test in my PR #1845 to see why this is happening...

`NextVersionCalculator.FindVersion()` gets the base version and then tries to increment it and correct the prerelease tag:
https://github.com/GitTools/GitVersion/blob/92c11a1ddc7ce43490084e94bff4519e60a92d0d/src/GitVersionCore/VersionCalculation/NextVersionCalculator.cs#L54-L64

`PerformIncrement()` ends up calling `SemanticVe

[2019-10-08 21:05] asbjornu commented on #1844
Yes, now that you're starting to dig into this, I remember this being a complicated hot mess. Perhaps @arturcic remembers when we discussed this last and what the result of that discussion was? My memory is not my strongest asset. 😅

[2019-10-09 14:22] #1823 closed

[2019-10-09 22:24] hanzworld opened #1850 "Slow version calculation times on freshly cloned pull request"
Hi team

We have a large repository (800MB) which experiences incredibly slow GitVersion-ing when run on pull requests. However we can't understand how to fix it.

*Command*: `gitversion.exe /output buildserver /nofetch /UpdateAssemblyInfo true`
*Symptom*:
- on pull request branches (e.g. `refs/pull/9752/merge` - which means the git repository is in a detached head state) it takes approximately 30

[2019-10-10 06:48] arturcic commented on #1837
#1849

[2019-10-10 11:41] arturcic commented on #1837
@casz can you try the version 5.0.2-beta.1+95 when it gets indexed?

[2019-10-10 11:41] #1837 closed

[2019-10-10 11:51] casz commented on #1837
Sure can!

[2019-10-10 12:04] casz commented on #1837
Works just fine from GitVersion.Tool point of view.

NanoServer have not yet fixed path to `.dotnet/tools` folder to be on PATH

[2019-10-10 12:42] ladeak commented on #1824
I can give it a try next week.

[2019-10-10 15:32] Michriko opened #1851 "[BUG] Could not determine assembly version: System.NullReferenceException"
Used tool: GitVersionTask
Version 5.0.1
Project target: netcoreapp2.2

We're attempting to build a multi-stage docker image on a mac Mini. During `dotnet publish` the library fails with the following output:

[code]

We're manually copying the .git folder from a parent directory that is not reachable in the docker container to the sources directory.

The strange thing is, when running docker build

[2019-10-10 18:28] nZeus commented on #1824
Trying to use GitVersion dotnet tool with .net core 3 sdk.

The `5.0.2-beta.1+95` throws a new exception:
[code]

[2019-10-10 21:05] ladeak commented on #1824
Ah, currently I am using the GitVersion (preview) task in AzureDevOps. Does that auto-pick up the new version as well? Or is there a way to "force" it to download the latest tool?

[2019-10-10 21:58] nZeus opened #1852 "LibGit2Sharp.Core.NativeMethods cannot be initialized: Unable to load shared library 'git2-7ce88e6' or one of its dependencies"
Trying to use GitVersion dotnet tool with [.net core 3 sdk docker image](https://hub.docker.com/_/microsoft-dotnet-core-sdk/) that runs on [GitLab Shared Runner](https://docs.gitlab.com/ee/user/gitlab_com/#shared-runners) (which is CoreOS).

The `5.0.2-beta.1+95` (contains https://github.com/GitTools/GitVersion/pull/1849) throws this exception:

[code]

[2019-10-11 06:36] Michriko commented on #1851
When updated to GitVersionTask 5.0.2 Beta the error message changes.
Trying to build our project on a Mac Mini as Teamcity buildagent with dotnet build produces the following error:

[code]

translated:
 C:\Windows\system32\config\systemprofile\.nuget\packages\gitversiontask\5.0.2-beta1.95\build\GitVersionTask.targets(10,9): error MSB4062 :
The WriteVersionInfoToBuildlog-Task could not be loaded f

[2019-10-11 07:04] arturcic commented on #1824
Can you try the new preview extension?
https://marketplace.visualstudio.com/items?itemName=gittools.usegitversion-preview

[2019-10-11 07:08] arturcic commented on #1852
as I mentioned https://github.com/GitTools/GitVersion/issues/1824#issuecomment-540716967 the debian 10 is not yet supported. I'll need to think of a way to make it supported

[2019-10-11 07:20] nZeus commented on #1852
what do you think about the idea of having another version of GitVersion tool with that dependency included or ilmerged?

GitLab CI runners are based on CoreOS and I cannot find a way to install packages there :(

[2019-10-11 07:23] arturcic commented on #1852
Are you able to run Docker images there? is so I'd recommend to use the image https://hub.docker.com/layers/gittools/gitversion/5.0.2-beta1-95-linux-debian-9-netcoreapp3.0/images/sha256-ba496f1885415be1bcac0256f0b1af4b6d1ab48db2d1de6116ce6e15462cf419

[2019-10-11 12:25] ladeak commented on #1824
@arturcic I tested the beta package, looks good on my end. Thank you for the quick turnaround.

[2019-10-12 14:18] matkoch opened #1854 "NuGet package for .NET Core 3.0 executables"
More than often I'm lost when reading about new prerelease packages here, but unable to find belonging packages on nuget.org.

The issue about .NET Core 3.0 (`It was not possible to find any compatible framework version`) seems to have been addressed. Yet, which package contains the fix?

[2019-10-13 09:46] nzandy commented on #1781
Sorry can I ask exactly what you mean by "hadnt syncd the tags to the github repo"? I'm having this same issue.

[2019-10-13 11:33] nzandy opened #1855 "Azure pipelines not finding version."
I am trying to use GitVersion in Azure pipelines but I am getting "Fallback base version: 0.1.0"

I can also see

 but I really don't understand what I've done wrong as the tutorials I've followed seem to use the same config. Is this possibly caused by the /nofetch flag? I saw a similar post here https://github.com/GitTools/GitVersion/issues/1781

Sorry for the formatting, I'm not sure how to make

[2019-10-13 12:21] p1971 commented on #1781
I had tagged my repo locally but not pushed them to the remote repo

On Sun, 13 Oct 2019, 10:46 nzandy, <notifications@github.com> wrote:

[2019-10-13 20:24] asbjornu commented on #1854
The problem might have been fixed in #1849. If you look at the latest commit in that PR and click the green checkmark ✔️ besides the commit ID, then click the AppVeyor build and go to its [Artifacts](https://ci.appveyor.com/project/GitTools/gitversion/builds/27997432/artifacts), you'll find the build artifacts that correspond to the PR. From there you can download whichever variant of GitVersion y

[2019-10-13 20:26] matkoch commented on #1854
Which package? https://www.nuget.org/packages/GitVersion.CommandLine.DotNetCore/ ?

[2019-10-13 20:29] asbjornu commented on #1854
@arturcic, why aren't there any newer versions of `GitVersion.CommandLine.DotNetCore` than `5.0.2-beta1.71`?

[2019-10-14 00:24] hanzworld commented on #1850
@asbjornu You're right in that it improved, however it still seems to take an unreasonably long time - 7 minutes (compared to 1.5 - 2.5 for a "normal" branch). Given the normalization from a detached head state only takes 17s, do you know what it's doing differently in the calculating base versions?

- End: Normalizing git directory for branch 'refs/pull/9752/merge' (Took: 17,290.67ms)
- End: Load

[2019-10-14 01:54] RobSmyth opened #1856 "Merge message increment"
Hi,

Is it possible to increment the version number by keywords imbedded in the merge message like "+semver:minor"?

Our process is that all merges to a release branch go via a BitBucket pull request. We want to review version bump as part of the pull request. My testing shows that "+semver:minor" works if in a commit message but not if in the merge message.

Am I wrong or easy?

[2019-10-14 08:32] RobSmyth commented on #1856
Since asking this I realise that Bitbucket pull request description is not accessible from Git. So my question may not be appropriate for GitVersion. However, any thoughts feedback would be appreciated.

[2019-10-14 11:56] asbjornu commented on #1850
@hanzworld, since the author of #1838, @erikbra, has been looking at this code from a performance viewpoint recently, perhaps he has an idea of what the problem you're seeing might be?

[2019-10-14 12:05] asbjornu commented on #1856
A merge commit is also a commit with a message, but I'm not clear on how that message is edited on Bitbucket. I'm not sure whether `+semver:minor` works in merge messages or not, though. Perhaps not, as I have the impression version increments via commit messages is mostly used for `mode: Mainline` where squashed "merges" seem to be more common than feature branches and real dual-parent merges?

[2019-10-14 12:37] #1771 closed

[2019-10-14 13:51] erikbra commented on #1850
I did have some theory about simplifying finding base revisions (see https://github.com/GitTools/GitVersion/issues/1839), but I don't know exactly how it should be done. I just have a hunch that in many percent of the cases (as leas on our own codebase), the correct base revision is found after very few node traversals up the tree, and backtracking through all of the tree trying to find versions i

[2019-10-14 17:12] dargmuesli commented on #1727
@Scharpp could you please explain the cause with a little more detail? I'm currently facing the same issue.

[2019-10-14 20:31] nickdalt opened #1857 "TargetBranch command line option ignored on Jenkins"
Example command line:-

/url https://example.com/project.git /p password /u user /b master

Environment:-

Windows, Jenkins, Bitbucket Multibranch Pipeline

In this environment, the target branch selected is ignored by GitVersion.

The expected outcome is that GitVersion clones project branch master calculates the version. In practice what happens is that the project is cloned and whatever branch

[2019-10-14 22:06] asbjornu commented on #1857
I would happily merge a PR documenting how the Jenkins integration works.

[2019-10-15 01:14] evanrobertson commented on #1476
Is there any progress or planned progress on this issue?

[2019-10-15 06:06] arturcic commented on #1476
@evanrobertson can you try the new extension? https://marketplace.visualstudio.com/items?itemName=gittools.usegitversion-preview

[2019-10-15 06:12] arturcic commented on #1854
@asbjornu, that's because the global tool now can be installed as local tool as well, making the GitVersion.CommandLine.DotNetCore obsolete.

[2019-10-15 06:17] matkoch commented on #1854
@arturcic that contains an exe?

[2019-10-15 06:18] arturcic commented on #1854
If you need the "exe" version you might need the GitVersion.CommandLine nuget package

[2019-10-15 06:23] matkoch commented on #1854
No I don't, I just had the wrong package. It's a bit of a .... let's say I'm overwhelmed with possbilities.

The `GitVersion.Tool` package is 22mb. Sounds quite a lot for "just" calculating a version number. Is that really necessary?

[2019-10-15 06:25] arturcic commented on #1854
The think is that we use a native library that has implementations for several linux distros as well as macOs and windows. All of them make the size bigger. The GitVersion itself is really small

[2019-10-15 06:27] matkoch commented on #1854
times 2 for netcore2.1 and netcoreapp3.0

[2019-10-15 06:34] arturcic commented on #1854
that is true, we'll need to think about reusing if possible the same native binaries

[2019-10-15 06:53] gep13 commented on #1854
that's because the global tool now can be installed as local tool as well, making the GitVersion.CommandLine.DotNetCore obsolete.

Would it make sense to mark it as such on nuget.org, now that NuGet.org has the ability to mark a package as deprecated?

As an example, have a look at the banner on this package:

https://www.nuget.org/packages/Cake.Tfs/

[2019-10-15 06:55] arturcic commented on #1854
Unfortunately Gary I don't think I have access to the nuget.org. I have only the API_KEY. Can you help with that?

[2019-10-15 07:14] gep13 commented on #1854
@arturcic you should now have all the access that is required on NuGet.org.  Let me know if there is anything else I can do to help.

[2019-10-15 08:39] asbjornu commented on #1266
@JoshSchreuder, can you please try with the latest beta? #1838 contains some performance improvements, but I'm unsure whether they affect the issue you're seeing or not.

[2019-10-15 10:01] asbjornu commented on #1851
So #1849 did not help with this in any way?

[2019-10-15 11:42] da9l commented on #1831
I might be missing something here but I think..

What is needed here is that the gitversion_<projname>_<random>.fs is placed first in the list of fs files to compile. F# Does not like any file to exist after the Program.fs file.

It doesn't make sense to place it in the project file but how could one make it appear first in the list of files to be sent to the compiler?

[2019-10-15 18:28] asbjornu commented on #1850
@erikbra, I really appreciate the time you're spending on this. With regards to caching LibGit2's data, please see #1243 and #1244 for @JakeGinnivan's attempt to do the same thing. I completely agree that building our own immutable in-memory model of the Git tree is something we should do to speed things up, reduce bugs and create a LibGit2-independent abstraction that serves GitVersion's needs.

[2019-10-16 05:59] erikbra commented on #1850
Thank for the tips on different PRs. I was thinking about just caching the IEnumerable from LibGit2 with the repo information, but maybe a full abstraction layer is a better way to go.

[2019-10-16 06:16] erikbra commented on #1850
@hanzworld (or anyone else) - is your repository public? Or do you know of any other public repository that demonstrates the same issues? I have access to a private one that we have the same issues with, but it would be really great to have a public, large one to perform tests on, it will make the discussions easier.

[2019-10-16 12:22] TomasDeceuninck commented on #1738
Can someone please try to reproduce this?
That way I can know if it is a issue on my end or in gitversion.

[2019-10-16 12:22] TomasDeceuninck commented on #1737
Can someone please try to reproduce this?
That way I can know if it is a issue on my end or in gitversion.

[2019-10-16 12:37] asbjornu commented on #1737
If you are able to reproduce the problem in a `RepositoryFixture` test akin to the following and submit it to us in a PR, it would be much easier to fix. It would even be easier for you to figure out the problem yourself. :)

https://github.com/GitTools/GitVersion/blob/89f8cb14681020ab9c32ea5e9870e220c1d3905f/src/GitVersionCore.Tests/IntegrationTests/OtherScenarios.cs#L64-L88

[2019-10-16 12:37] asbjornu commented on #1738
If you are able to reproduce the problem in a `RepositoryFixture` test akin to the following and submit it to us in a PR, it would be much easier to fix. It would even be easier for you to figure out the problem yourself. :)

https://github.com/GitTools/GitVersion/blob/89f8cb14681020ab9c32ea5e9870e220c1d3905f/src/GitVersionCore.Tests/IntegrationTests/OtherScenarios.cs#L64-L88

[2019-10-16 12:45] #1854 closed

[2019-10-16 14:16] marcussonestedtbarium opened #1860 "tag-prefix does not exclude tags without prefix"
I am trying to introduce gitversion for a nuget package in a repo that has tags without prefixes for the entire thing, and GitVersion counts seems the tags without tag-prefix as well. Running /diag shows how it selects these commits and computes an increment too

**Repro:**

[code]

**Expected output:**

[code]

Love this tool though. Will see about PR or workarounds. (We could rename all existing

[2019-10-16 14:48] phatcher commented on #1736
I have the same issue with 5.0.1

[2019-10-16 16:26] Antebios commented on #1559
I'm sorry that I'm late, but when you type the command:
`gitversion /showconfig` see what configuration is being used.

Then rename "GitVersion.yaml" to "GitVersion.yml"

Then type `gitversion /showconfig` and see the difference of the configuration that is being used.

[2019-10-16 19:53] GeorgDangl commented on #1573
Bad bot

[2019-10-16 20:08] asbjornu commented on #1573
Sorry for the late reply. Are you able to reproduce the problem in a `RepositoryFixture` akin to the following?

https://github.com/GitTools/GitVersion/blob/89f8cb14681020ab9c32ea5e9870e220c1d3905f/src/GitVersionCore.Tests/IntegrationTests/MainlineDevelopmentMode.cs#L92-L109

If so, it would be great if you could submit it in a PR. It would also give you a good basis to go ahead and attempt to fix

[2019-10-16 20:08] asbjornu commented on #1736
I have no idea where to even begin investigating this problem.

[2019-10-16 21:48] phatcher commented on #1736
I'm going to downgrade my local install to 4.x tomorrow to see if I can isolate it a bit more.

[2019-10-17 10:30] Thaoden opened #1862 "Regex for branch name not matched"
My feature branch names sometimes contain a feature number, that tracks an item in the backlog. To model this, I used the regex `^features?(?:_\d+)?[/-]`: The name should begin with `feature` or `features`, can contain an underscore followed by numbers, and ends with a slash or dash.

This works fine for branch names like `feature_0815-MyGreatFeature`. However, the branch name `feature_AddAssembly

[2019-10-17 10:45] Thaoden commented on #1862
Nah nevermind, I should pay more attention to my branch names and use that dash instead of the underscore... Sorry for the noise.

[2019-10-17 10:45] #1862 closed

[2019-10-17 18:46] hanzworld commented on #1850
Unfortunately no, my repository is an internal GitHub Enterprise
repository, and I don’t know of any others, although I’m guessing it’s
simply the 13 years of git history on a 2m line codebase that qualify it
for experiencing this issue.

I wonder if Linux or similar would be a suitable test candidate?

On Wed, 16 Oct 2019 at 7:16 PM, Erik A. Brandstadmoen <
notifications@github.com> wrote:

[2019-10-17 19:12] Techcadia opened #1864 "Depreciation of GitVersion.CommandLine.DotNetCore"
With the commit of c172e8f58ea9f0edea212fde8ccf0f472b443847 we can see that versions of `GitVersion.CommandLine.DotNetCore` are no longer being created. I understand the goal was to move everything into ` GitVersion.CommandLine` since 29caeeeecec323d380e993eeceb66fe177c55758 dropped support for `net472`

My command I used to run was
[code]

Now the price of admission went from the dotnet sdk that

[2019-10-17 19:24] Techcadia commented on #1864
it seems there is a note in PR #1849 that states in the future the command line tools will support MacOS and linux. But curently do not.

[2019-10-17 19:29] arturcic commented on #1864
The `GitVersion.CommandLine.DotNetCore` was deprecated in favor of GitVersion.Tool not `GitVersion.CommandLine`, and you can use the global tool as local tool if needed. There is no need to run mono. Second, `GitVersion.CommandLine` is just a single exe file that is actually the self-container version of the dotnet core, it includes the runtime and the executable. It has specific version for each

[2019-10-17 19:32] arturcic commented on #1864
And the Global tool runs on all 3 platforms.

[2019-10-17 21:13] erikbra commented on #1850
I don't know if it's too big. Other stuff I can think of is the asp.net core codebase. But it might be too big as well. It should have a few branches, and ideally use different strategies for versioning (labels, commit messages, etc), to test the different strategies.

[2019-10-17 22:09] nZeus commented on #1852
This image throws a different error:

[code]

[2019-10-18 00:01] Techcadia commented on #1852
Since others will come here looking for the same thing for alpine-3.9 it should be mentioned that alpine 3.9 was only supported in the most recent published packages. 5.0.2.beta+

[2019-10-18 07:28] #1712 closed

[2019-10-19 13:54] GeorgDangl commented on #1573
I'll try to recreate it, and maybe even try to see if I can submit a PR. Thanks for the tip with the test setup!

[2019-10-21 21:56] hanzworld commented on #1850
@erikbra I'm afraid I don't really understand the inner workings of GitVersion. Would you be able to explain to me why this takes so long in a detached head state? Or more specifically, why even when we resolve the detached head state (e.g. create a branch) it still takes longer than a non-detached-head-initial-state scenario?

[2019-10-22 00:49] JakeGinnivan commented on #1850
The main issue is that GitVersion needs to understand what the source branch for your branch is.

There is no way to know for sure because git is a directed acyclic graph of commits, and branches just point to a single commit.

Take this example.

[code]

Given this graph, what is the parent of feature 3, is it feature1, feature2, or master? We can easily look at that and say well of course i'd wa

[2019-10-22 01:39] roryprimrose commented on #1783
Hi @makhaly, this is probably a duplicate of #1611. Have a look at the powershell I use in that issue. That is how I got around this until GitVersion supports updating versions in the sdk project format.

[2019-10-22 01:53] roryprimrose commented on #1457
This probably should be an option to set on the task in the pipeline. Some people won't want the build number to be updated, others will, others will set the build number to a GitVersion variable for which a substitution could happen.

I previously set the BuildNumber to `$(GitVersion_NuGetVersionV2)`. The thing I didn't like about that is the build numbers were meaningless if the build failed bef

[2019-10-22 02:01] roryprimrose opened #1867 "TFS GitVersion Task 5.0.1 does not use GitVersion.yml by default"
I have installed the GitVersion build task on a TFS 2018 R2 instance then ran it against a repo that contains a GitVersion.yml in the repo root.

[code]

The task config (exported) looks like this:

[code]

Running the task without the config path set will generate the wrong pre-release tags. The master branch would not contain a prerelease tag, hotfix would use `beta` which is the default OOTB co

[2019-10-22 06:31] arturcic commented on #1867
@roryprimrose have you tried this extension https://marketplace.visualstudio.com/items?itemName=gittools.usegitversion-preview?

[2019-10-22 06:33] roryprimrose commented on #1867
Haven’t yet. I don’t control that instance so will need to request an admin to install it.

[2019-10-22 06:35] arturcic commented on #1867
let me know if it worked with this extension

[2019-10-23 14:55] nikki9990 commented on #1850
Stop

On Mon, Oct 21, 2019, 7:49 PM Jake Ginnivan <notifications@github.com>
wrote:

[2019-10-23 19:20] iamwyza commented on #1031
We also have this issue.

dotnet core 2.2.203
solution with a dozen or so projects

Often it's "build->fail, build->fail, build->fail, build->succeed".  Doesn't ever seem to happen locally when building through VS.  We've tried adding "-p:maxCpuCount=1" to the build command to see if we could force it to build without parallelization (thinking that might have something to do with it), but no dice.

[2019-10-23 21:11] asbjornu commented on #1031
@dieterv, since you're able to reproduce this in a local GitLab instance, we might have a chance to figure out why this is occurring. Are there any parallelization going on in your GitLab build that might cause this?

[2019-10-24 09:49] mzanin opened #1868 "Compiling projects with GitVersionTask (5.0.1) is incredibly slow on detached head"
Perhaps related to https://github.com/GitTools/GitVersion/issues/694

Compiling a solution with 20+ projects all referencing the GitVersionTask nuget package basically never completes due to GitVersion taking so long.
This is the exception produced by GitVersion:

[code]

GitVersion.exe took 10 seconds or so to execute which is also much longer than usual and no version number was computed....

Is

[2019-10-25 09:29] #1697 closed

[2019-10-25 13:45] dieterv commented on #1031
@asbojrnu, I'm operating a single Gitlab build runner that accepts a single build job at a time (concurrent=1 in the config.toml file). Our CI pipeline in question runs a cake build script (https://cakebuild.net/). The cake script runs a sequence of setup>clean>restore>validate>build>test>package>publish tasks.
The build task executes msbuild without /m parameter and with /nodeReuse:false paramete

[2019-10-25 14:16] dazinator opened #1869 "AppVeyor configuration errors exception"
I'm building using AppVeyor and using 5.0.1 and seeing the same error that someone else has reported here: https://help.appveyor.com/discussions/problems/24758-gitversion-5-not-working-on-visual-studio-2019-build

Here is my build output:

[code]

Here is my GitVersion.yml in the root of my repo:

[code]

[2019-10-25 14:29] #1692 closed

[2019-10-25 14:29] #1699 closed

[2019-10-25 14:29] #1705 closed

[2019-10-25 14:38] dazinator commented on #1869
Everything works when I downgrade to GitVersion 4.0.0:

[code]

[2019-10-25 16:29] #1709 closed

[2019-10-25 19:17] iamwyza commented on #1031
One thing I'm trying as a workaround right now (Azure DevOps Pipeline) is to do this:

1.  Run a powershell script that will remove the <PacakageReference> node for GitVersionTask from csproj for all the projects.  This means that it won't use the msbuild functionality at all.
2. Added a GitVersionTask execution in the pipeline which runs and sets the various version strings as pipeline variables

[2019-10-26 11:51] mrhoeve opened #1870 "Adding Razor pages using Entity Framework (CRUD) scaffolding fails when GitVersionInformation is used in .Net Core 3"
I'm working on a new .Net Core 3 project in VisualStudio 2019 and I'm using GitVersionTask 5.0.1 that I installed via NuGet. I'm using GitVersionInformation to display version information to the user. However, I'm running into a bug with it.

When using GitVersionInformation anywhere in the project, I'm not able to add Razor pages via scaffolding. The error message I'm receiving is:
There was an e

[2019-10-27 01:25] DOMZE commented on #1519
This has been hanging in for a while. Is this something that may be fixed (ignore versions in feature branch names) or should this issue be closed?

[2019-10-27 08:49] #1426 closed

[2019-10-28 09:50] thoemmi commented on #1867
I'm using the GitVersion task in Azure DevOps as well, and experience the same issue.
To me it looks like if you **don't** specify the config file, it passes the build agent's work folder for `/config` instead of omitting the option. Here's the relevant line from the build log:

`"C:\Program Files\dotnet\dotnet.exe" E:\vsts\agent-1\_work\_tasks\GitVersion_e5983830-3f75-11e5-82ed-81492570a08e\5.0.1

[2019-10-28 10:47] thoemmi commented on #1867
I checked the Preview extension, which seems to fix the issue:
`E:\vsts\agent-1\_work\_tool\GitVersion.Tool\5.0.1\x64\dotnet-gitversion.exe E:/vsts/agent-1/_work/15/s /output buildserver /nofetch`

No `/config` option is passed if none is specified ✔

However, I think it's awkward that I have to specify a version spec (I've used `5.x`)

[2019-10-28 10:50] arturcic commented on #1867
we'll I do understand that, but using the new extension allow to use older version, or preview versions without waiting the stable release. Previously you could use only the version bundled in the extension

[2019-10-28 10:56] thoemmi commented on #1867
I get your point, however it's strange from a user's point.
Also it's disturbing that the preview extension uses the same name as the official release. When editing a pipeline, there now two tasks named _GitVersion Task_. Have you considered to add a " Preview" suffix? Additionally you could tag the extension as Preview, see [Mark an extension to be in preview](https://docs.microsoft.com/en-us/azu

[2019-10-28 11:02] arturcic commented on #1867
A PR is very welcomed, if you could send a PR we could improve it. As for the versionSpec. It's similar to how Microsoft did for `UseDotNet` or `UseRuby` or other `Use*` tasks. So it's common structure, that's what I had as inspiration for the change.

[2019-10-28 11:02] arturcic commented on #1867
You can check it here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops

[2019-10-28 14:17] thoemmi commented on #1867
I have created a PR to add ` (Preview)` to the task's name.

Regarding the _preview_ tag for the extension: I was wrong, the tag is already there ;)

[2019-10-28 14:57] arturcic commented on #1867
Closed by #1871

[2019-10-28 14:57] #1867 closed

[2019-10-28 17:08] MattMencel opened #1872 "5.1.0 Error on Azure Devops ubuntu Agents"
I just noticed my builds on AzDO have started failing with the new 5.1.0 release. I've tried with the Ubuntu 16.04 and 18.04 agents.

[code]

[code]

[2019-10-28 17:44] joaosantana opened #1873 "Could not load type 'System.ComponentModel.AsyncCompletedEventArgs'"
Fresh repo, fresh project, receiving this error when building in AppVeyor:
[code]

My ```GitVersion.yml``` file:

[code]

[2019-10-28 20:03] arturcic commented on #1872
can you try the hotfix version, 5.1.1?

[2019-10-28 20:47] asbjornu commented on #1873
Is this with version 5.1.1 of GitVersion?

[2019-10-28 21:29] DouglasHammon commented on #1834
Anyone?

[2019-10-28 21:47] asbjornu commented on #1834
Is this reproducible with version 5.1.1 of GitVersion?

[2019-10-28 21:48] asbjornu commented on #1869
Is this reproducible with version 5.1.1 of GitVersion as well?

[2019-10-28 21:52] asbjornu commented on #1870
Sorry, but I don't even know where to begin with this one. 🤷‍♂ Do you have any ideas why GitVersion might be causing the build to fail?

[2019-10-28 21:53] asbjornu commented on #1519
Didn't #1541 fix this?

[2019-10-28 22:25] #1315 closed

[2019-10-28 22:25] mrhoeve commented on #1870
Your guess is as good as mine... I did experience it on the project I'm working on, and validated the problem by setting up a band new .Net Core 3 project, adding only Entity Framework Core and GitVersionTask, defining a model and a context en trying to scaffold... Same behaviour...

[2019-10-28 23:51] DouglasHammon commented on #1834
So after digging into this some more.. ended up being a dumb mistake on my part. My .gitignore file was not checking in x86/x64 folders, which was causing issues for GitVersion because those folders exist under Lib/win32.

Thanks for the reply @asbjornu

[2019-10-28 23:51] #1834 closed

[2019-10-29 02:25] santhonisz opened #1874 "Unexpected change in behavior causing TeamCity issue"
Hi there,

We have started encountering failures in our TeamCity builds due to an apparent change in behavior of GitVersion since updating to the 5.1.1 release. It seems that the normalization process is now performing a git fetch by default, whereas in previous versions it did not. This is then causing an issue as we use SSH on our GitHub repositories. I am aware of the `nofetch` and new `nonorma

[2019-10-29 03:05] mderriey commented on #1874
Hi there 👋

We're experiencing the same issue from an Azure Pipelines build.
Let us know if we can provide any more information to help.

[code]

[2019-10-29 05:25] davidkeaveny commented on #1874
I am experiencing this issue with GitVersion.Portable 5.1.1, running on TeamCity with the repository in BitBucket Cloud:, using SSH as the protocol.

[code]

[2019-10-29 06:08] davidkeaveny commented on #1874
In my case, downgrading to 5.0.1 and clearing the auto-update setting in TeamCity avoids the issue.

[2019-10-29 06:28] jakubsuchybio commented on #1874
#MeToo

[2019-10-29 09:53] #1684 closed

[2019-10-29 09:53] #1695 closed

[2019-10-29 10:04] Caleb9 commented on #1873
@asbjornu I'm experiencing the same issue and yes, it's version 5.1.1 installed through chocolatey (we're printing out GitVersion's version for diagnostics, see below).

[code]

[2019-10-29 11:53] #1687 closed

[2019-10-29 12:10] arturcic commented on #1870
@mrhoeve, can you create a test repo that you could share with us so that we can have a look? I think it should not be too difficult to create one, am I right?

[2019-10-29 12:51] Bishbulb commented on #1874
#MeToo. All of our TC builds suddenly started failing yesterday. Going to try @davidkeaveny's suggestion and downgrade and disable the auto-update setting.

[2019-10-29 12:53] #1701 closed

[2019-10-29 14:16] MattMencel commented on #1872
Tried 5.1.1 and seems it's the same issue?  For the moment I can stay on 5.0.1, but if you want more information just let me know.

[code]

[2019-10-29 16:40] TheMcCann commented on #1855
I had the same problem.  I switched to installing and using GitVersion.CommandLine 5.0.1 via PowerShell in Azure Pipelines.  Granted, I'm also manually updating projects in PowerShell too, so it's not entirely a plug-and-play solution.  It seems to work fine.

[2019-10-29 19:02] bencameron commented on #1874
I'm getting the same issue in Azure DevOps.  We're using GitVersion.CommandLine within a Cake script and started seeing the same errors yesterday.  We've updated a few critical build scripts to pin to the 5.0.1 version, but we're waiting to hear if this new behavior is permanent before applying a fix to all of our other scripts.

Does anyone know if this behavior is here to stay?

[2019-10-29 20:27] mrhoeve commented on #1870
@arturcic Sure, no problem! Take a look here: https://github.com/mrhoeve/GitVersionTaskNetCore3Example
In the readme.md I specified what steps to take to reproduce the error.

[2019-10-30 06:53] casz opened #1875 "GitVersion 5.1.1 AppVeyor: Input string was not in a correct format."
Fails on this https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/28479124#L77

https://github.com/nmklotas/GitLabApiClient/blob/082e81db571dd1ce894e79cacb2ff2734f6ef2c9/appveyor.yml

[code]

Works fine on this build: https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/28473392

[2019-10-30 19:43] casz opened #1876 "GitVersionTask 5.1.1: object reference not set to an instance of object."
Fails with 5.1.1, downgrading to 5.0.1 works.

`GitVersionTask.targets(56,9): error : Object reference not set to an instance of an object.`

When building this csproj

[code]

[2019-10-31 07:24] Bit-Chaos commented on #1876
I do get the same when using GitVersionTask from within a .NET core 3 container. The log shows:
/home/vscode/.nuget/packages/gitversiontask/5.1.1/build/GitVersionTask.targets(16,9): Error: Object reference not set to an instance of an object
Project gets loaded from VSCode and the Omnisharp-plugin fails to load the project because of GitVersionTask.
Using version 5.0.1 I do get the following stack

[2019-10-31 10:03] da9l commented on #1831
Yay, I found the cause of the problem and a workaround!
in GitVersionTask.targets `UpdateAssemblyInfo` and `GenerateGitVersionInformation` do this:
[code]

This appends these two files to the list of files to be compiled. Since F# requires that the `[<EntryPoint>]` marked expression (in this case in Program.fs) is the last one that is compiled this build will break.

**Workaround**
We found a work

[2019-10-31 10:59] rose-a commented on #1170
This also applies to `GitVersion.yml` in the git root directory, when the solution file resides in a subdirectory...

[2019-10-31 16:16] zaceverett opened #1877 "GitVersion CommandLine 5.1.1 Multiple branch configurations match"
Running command line gitversion 5.1.1 I get the following error

[code]

If I then run the command again it works fine.

I do not see this in version 5.0.1.

Causing cake build to fail.

`GitVersion.yml`:

[code]

[2019-10-31 21:51] asbjornu commented on #1831
That's great, @da9l! Is there something that can be adjusted in GitVersion to make this experience better out of the box? If you have ideas, we would love a PR.

[2019-10-31 22:15] asbjornu commented on #1875
Seems like the problem occurs somewhere in here:

https://github.com/GitTools/GitVersion/blob/a4cb74b2f763d0353d3e20be2e929f99ff46cbee/src/GitVersionCore/Logging/Log.cs#L31-L45

If we wrapped that in a `try` / `catch` and then added the invalid `format` string to the log output or exception message, it would be much easier to debug this issue. Could you do a fork of GitVersion and attempt that to

[2019-10-31 22:35] asbjornu commented on #1877
What's `allbranches` supposed to be doing? If you delete `GitVersion.yml`, does it work then?

[2019-10-31 22:40] asbjornu commented on #1876
@Bit-Chaos, your log contains the warning `Could not determine assembly version: System.BadImageFormatException: Method has no body`, which seems to be different from @casz's problem which is a `NullReferenceException`?

In order to fix any of these problems, it would greatly help if you could help produce a stack trace from a debug build of GitVersion so we could get all frames including line num

[2019-11-01 05:37] arturcic commented on #1876
Currently we do not support debian 10 as the Libgi2sharp.native libraries which we rely on, do not support it yet. So you could use the debian 9 docker image. I will try to find a way to build ourselves the dependencies

[2019-11-01 06:47] eric-winkler commented on #1875
I've successfully repro'd in a debugger, this is occuring when the CanonicalName of a remote tip contains `{}`, for example: `refs/tags/0.0.154.0^{}`.

I'll try and get a PR up to address

[2019-11-01 07:23] da9l commented on #1831
Yeah, I've got some ideas. I'll get back with them. Hopefully in a PR.

Den tors 31 okt. 2019 22:51Asbjørn Ulsberg <notifications@github.com> skrev:

[2019-11-01 07:29] da9l commented on #1831
Basically, in f# exe projects the include of the last  fs file in project
need to be included after gv generated gitversioninformation and assembly
info.

Not sure how it's best done but I have a few ideas.

/D

Den fre 1 nov. 2019 08:23daniel hegner <daniel@hegner.se> skrev:

[2019-11-01 08:06] Inzanit commented on #1876
@asbjornu How could I produce logs from Pipelines? We're using the MSBuild task and the only error I get is `Object reference not set to an instance of an object` with no other indicator as to what it wrong. The exact same repo and config works when downgrading from 5.1.1 to 5.0.1

[2019-11-01 08:27] Bit-Chaos commented on #1876
@arturcic When I do use the bionic-image of .NET 3 (mcr.microsoft.com/dotnet/core/sdk:3.0-bionic = Ubuntu 18.04 LTS) instead of the default one (FROM mcr.microsoft.com/dotnet/core/sdk:3.0=debian 10), then the error "Object reference not set to an instance of an object" disappears, but then I do get a new error:
/home/vscode/.nuget/packages/gitversiontask/5.1.1/build/GitVersionTask.targets(16,9): E

[2019-11-01 10:06] #1875 closed

[2019-11-01 10:07] arturcic commented on #1875
@casz can you check that the fix works for you?

[2019-11-01 12:25] claudiuconstantin commented on #1874
I also encountered this, the temporary solution was to downgrade to v5.0.1

[2019-11-01 23:45] mderriey commented on #1874
Hey @arturcic, I'm really not familiar with the code base, but if you have pointers, I should have some time next week to try and have a look at this.

[2019-11-02 06:41] arturcic commented on #1876
@Bit-Chaos , could you create a github repo with a sample of how to reproduce it and the steps, so that we can check it?

[2019-11-02 11:06] #1308 closed

[2019-11-02 12:06] #1735 closed

[2019-11-02 14:48] joaosantana commented on #1873
Yes, installed via Chocolatey, as @Caleb9 commented out.

[2019-11-02 19:36] katrash opened #1880 "Throws System.InvalidOperationException when using ignore commits-before option"
The GitVersion application throws System.InvalidOperationException when using ignore commits-before option in yaml file.

For example, when my YAML file is this:

[code]

I receive the following error:
[code]

[2019-11-02 20:17] arturcic commented on #1874
@santhonisz , @mderriey can you check version 5.1.2-beta.1+4 if it fixed the error?

[2019-11-02 20:18] arturcic commented on #1872
@MattMencel, can you try the version 5.1.2-beta.1+4 and let me know if it fixed the error?

[2019-11-03 02:05] asbjornu commented on #1880
This usually happens if GitVersion can't find any commits after the `commits-before` date you've configured to calculate its version from. If you remove the `ignore` section from `GitVersion.yml`, does it work?

[2019-11-03 05:26] katrash commented on #1880
@asbjornu, this repository was created over one year ago with 100's of commits. And if you notice, the date I set is a little over a month ago.

When I remove the ignore section, it works properly, but I added it as I need to serve as build number in my case.

[2019-11-03 12:34] inosik commented on #1831
Hey, I've seen this issue on Twitter and thought I'd chime in.

The .NET SDK generates an assembly info file for F# projects by default, too, but it doesn't add the newly generated file as an `Compile` item, but as an `CompileBefore` item. MSBuild then turns these to `Compile` items and prepends them to the users files. This package should do that as well for F# projects.

[2019-11-03 13:12] asbjornu commented on #1880
Is it not possible to add a Git tag or `next-version` instead?

[2019-11-03 14:43] Bit-Chaos commented on #1876
@arturcic , I just uploaded a test-project to: "https://github.com/Bit-Chaos/GitVersionTask". Once you open the project inside a container using VSCode, you'll get the error when the project is loaded for inspection from Omnisharp. You can recreate the error message every time you try to reload the project (i.e. Ctrl-Shift-P -> "Omnisharp: select project". This project uses the default 3.0 contain

[2019-11-03 15:15] katrash commented on #1880
Yes it is possible, but still the `commits-before` feature still not working as intended. The tag or next-version will help with the `major.minor.patch` values but not with build number value. I though of using number of commits after a specific date to represent the build number, which means that no matter how many times my CICD system (re)builds the solution, I will get the same `major.minor.pat

[2019-11-03 18:40] arturcic commented on #1876
@Bit-Chaos I have tried the test project you've created and I got the `Object reference not set to an instance of an object` error. I have also tried the bionic image as you suggested, but it worked perfectly, no errors on my side. So the first error is because of the debian 10 image, that we currently do not support. Using bionic image works.

Starting OmniSharp server at 11/3/2019, 6:27:33 PM

[2019-11-03 19:07] Bit-Chaos commented on #1876
@arturcic , Hi Artur
when I do load the project with the bionic-image (FROM mcr.microsoft.com/dotnet/core/sdk:3.0-bionic) I do get the following message:

`
Starting OmniSharp server at 11/3/2019, 7:02:21 PM
    Target: /workspaces/GitVersionTask

OmniSharp server started.
    Path: /home/vscode/.vscode-server/extensions/ms-vscode.csharp-1.21.5/.omnisharp/1.34.5/run
    PID: 891

[info]: OmniSharp

[2019-11-03 19:19] arturcic commented on #1876
It seems you don't have a specific encoding installed, I guess in the docker container? or it's on the host?

[2019-11-03 19:20] Bit-Chaos commented on #1876
This is all inside the docker container.

[2019-11-03 19:22] arturcic commented on #1876
I also use the exact same image, and it works for me. That means the issue is on the host somehow, not on the container.

[2019-11-03 19:30] Bit-Chaos commented on #1876
That would be be strange, since the container is supposed to be identical wherever it runs. What kind of host environment are you using?

[2019-11-03 19:32] arturcic commented on #1876
[code]

[2019-11-03 19:37] Bit-Chaos commented on #1876
`~/source/repos/dotnet/GitVersionTask [master ≡]> docker info
Client:
 Debug Mode: false

Server:
 Containers: 2
  Running: 1
  Paused: 0
  Stopped: 1
 Images: 21
 Server Version: 19.03.4
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volume: local
  Network: bridge host ipvla

[2019-11-03 19:43] arturcic commented on #1876
as far as I can see your host is Fedora 30?

[2019-11-03 19:44] Bit-Chaos commented on #1876
That's correct, but I also get the same result when I do run the container on a Windows 10 Professional host.

[2019-11-03 19:46] arturcic commented on #1876
I see. To be honest I don't know how to continue the investigation

[2019-11-03 19:49] Bit-Chaos commented on #1876
Can you build a version which has a lot of tracing activated which I could run inside the container? I could also look into building the package, but it would be probably faster if you could simply a version having the environment already set up..

[2019-11-03 19:51] arturcic commented on #1876
Have you tried to dotnet restore/build from commandline ?

[2019-11-03 19:55] Bit-Chaos commented on #1876
Are you referring to the repository above? If yes, then this works without problems. It seems just to be a problem in combination with Omni-sharp inside the container. The same repository outside the container has no problems, i.e. doing everything native, does not show the problem. So it might very well be something related to the environment inside the container.

[2019-11-03 19:57] arturcic commented on #1876
got you, Unfortunately I don't have much time today to have a look, Hopefully I can find some this week

[2019-11-03 19:58] Bit-Chaos commented on #1876
Thanks a lot for you effort!!!

[2019-11-03 21:53] asbjornu commented on #1880
Sorry, I don't think your use-case is compatible with GitVersion. It has no concept of "build number"; that's up to your CI server to provide. GitVersion supports adding environment variables to its version number, but `minor.major.patch.build` is incompatible with SemVer, so I would just use the `major.minor.patch` you get from GitVersion (without `commits-before`) and build a custom version numb

[2019-11-03 22:20] DOMZE commented on #1519
ah cool then didn't see that PR :-) thanks!

[2019-11-03 22:20] #1519 closed

[2019-11-03 23:30] mderriey commented on #1874
Hi @arturcic, I tried with both `5.1.2-beta.1+4` and `5.1.2-beta.1+5` and while the error about the fetch went away, it fails to compute a version when running from a directory where Azure DevOps cloned the repository for a pull-request CI build, so it checks out a specific commit by SHA, where this commits represents the merge of the feature branch with `master`.

See the logs below:
[code]

[2019-11-04 03:05] xposure opened #1882 "Easier linux build guide"
If you remove this from GitVersionExe.csproj
[code]

You can then simply go to `src/GitVersionExe` folder and run ` dotnet publish -c Release -r linux-x64 --framework netcoreapp3.0  /p:PublishSingleFile=true` which will produce a single executable in `bin/Release/netcoreapp3.0/ubuntu-x64/publish/` that you can then easily use.

The documentation at https://gitversion.readthedocs.io/en/latest/usage

[2019-11-04 06:18] katrash commented on #1880
Fine, I will use my CICD system's default build number instead.
But still, I can assume that the `commits-before` isn't working as described or is it broken and it either needs fixing or be removed from the application.

BTW, no need to apologize :) and thanks for this great tool

[2019-11-04 06:18] #1880 closed

[2019-11-04 07:08] da9l commented on #1831
Wow! I really didn't know that. Thanks!

[2019-11-04 07:09] da9l commented on #1831
@asbjornu  do you think it would be a good idea to always add the gitversion generated files as CompileBefore? Regardless of the language?

[2019-11-04 07:23] da9l commented on #1831
Ok, some searching tells me this is a F# thing.
https://github.com/dotnet/fsharp/blob/master/src/fsharp/FSharp.Build/Microsoft.FSharp.Targets
I will try to create a PR with a conditional on the inclusion. Have no clue on how to write a test for it tho.

[2019-11-04 08:15] mderriey commented on #1874
We installed `5.1.2-beta.1+5` and it worked fine without the `/nonormalize` flag. Thanks heaps!

[2019-11-04 08:19] arturcic commented on #1874
Closing as there's a confirmation it worked

[2019-11-04 08:19] #1874 closed

[2019-11-04 09:16] asbjornu commented on #1880
`commits-before` works for some use-cases and doesn't for others. What I can say is that it should definitely provide a better error message in the cases it fails, though.

[2019-11-04 09:52] marcusl commented on #1876
FWIW, I'm getting a similar erro, but for 1 of 3 (or, suddently the other 2 projects) when building on Azure Devops. All three work locally.

I forked GitHub with the intention to build a package with symbols to see where this happens but the build script failed with an error in the teardown action (log here: https://pastebin.com/3BrfkpiK)

Love Gitversion though! Thanks for an awesome tool!

[2019-11-04 14:28] pannikbutton opened #1883 "GitVersionTask 5.1.0 - Error in Azure Devops private repos: Value cannot be null. Parameter name: source"
This might be related to #1876. But I'm not sure, so I created a new issue.
When building with a VSBuild step inside Azure Devops pipelines, the build fails with this error:

<pre><code>GitVersionTask.targets(10,9): Error : Value cannot be null.
Parameter name: source</code></pre>
[Log from Azure Devops pipeline.txt](https://github.com/GitTools/GitVersion/files/3804406/Log.from.Azure.Devops.pipeli

[2019-11-04 15:16] casz commented on #1876
any pointers on how to get a the stack traces? I attempted to build a debug build but still not getting any stack traces.

[2019-11-05 00:23] jafin opened #1885 "Error running gitversion 5.1.1 with /? or --help Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object."
Ran Choco install GitVersion.portable 5.1.1  (also tried 5.1.2-beta1-5)

reverting to 5.0.1 fixes the issue.

When attempting to get help  (either /? or --help)

c:\>gitversion /?
[code]

[2019-11-05 13:21] asbjornu commented on #1876
I'm not sure, but we might have the stack trace we need in #1885. It would at least be interesting to see whether fixing that also fixes the problems reported here.

[2019-11-05 13:35] casz commented on #1876
So it was the addition to dependency injection that is causing the issue, that seems reasonable it was also recently added.
https://github.com/GitTools/GitVersion/pull/1861
https://github.com/GitTools/GitVersion/pull/1865

Any chance we can fix these @arturcic ?

[2019-11-05 13:49] casz commented on #1876
This code seems to be the troubled area:

https://github.com/GitTools/GitVersion/blob/abc499961b805e3f1d4a0e389223bd97f97aada8/src/GitVersionCore/GitPreparer.cs#L21-L31

https://github.com/GitTools/GitVersion/blob/abc499961b805e3f1d4a0e389223bd97f97aada8/src/GitVersionCore/GitPreparer.cs#L28

This seems most reasonable that `TrimEnd` is one throwing null pointer exception as `TargetPath` is most l

[2019-11-05 14:22] da9l commented on #1831
For anyone following this, I've made some progress but it's not complete.
https://github.com/da9l/GitVersion/tree/feature/EnableGitVersionTaskForFSharpExeProjects

I've made the `CompileBefore Include` conditional wrt the `$(Language)` property. It still works for C# projects but I'm not getting any version info at all into the F# assemblies.

I'm testing it in this repo: https://github.com/da9l/t

[2019-11-05 21:51] #1876 closed

[2019-11-05 22:00] arturcic commented on #1876
@casz can you check the latest beta when it's indexed and say if it was fixed?

[2019-11-05 22:00] arturcic commented on #1876
version 5.1.2-beta.1+8

[2019-11-05 22:01] casz commented on #1885
Guess this is solved by #1887 ?

[2019-11-05 22:01] arturcic commented on #1885
Yes

[2019-11-05 22:01] casz commented on #1876
Will do! 🎢

[2019-11-05 22:02] arturcic commented on #1885
Closed by #1887

[2019-11-05 22:02] #1885 closed

[2019-11-05 22:03] arturcic commented on #1883
@pannikbutton can you check the 5.1.2-beta.1+8 version if it fixes the issue?

[2019-11-05 22:07] casz commented on #1875
I was blocked by https://github.com/GitTools/GitVersion/issues/1876 so I'll check if this is now fixed :)

[2019-11-05 22:34] casz commented on #1876
Still fails on Travis: https://travis-ci.org/nmklotas/GitLabApiClient/builds/607898645#L285

Passes on AppVeyor https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/28641887

[2019-11-05 22:44] casz commented on #1876
Travis failed due to shallow clone, so 👍

Adding this to your `.travis.yml` solves the problem
[code]

[2019-11-05 22:45] casz commented on #1876
Testing our Jenkins instance for good measure 😄

[2019-11-05 23:06] pannikbutton commented on #1883
@arturcic I have tried GitVersionTask 5.1.2-beta1.8. However, the same error occurs.

[Log from Azure Devops using GitVersionTask 5.1.2-beta1.8.txt](https://github.com/GitTools/GitVersion/files/3811686/Log.from.Azure.Devops.using.GitVersionTask.5.1.2-beta1.8.txt)

[2019-11-05 23:08] casz commented on #1883
I also tried the 5.1.2-beta.1+8

And I experienced this error on Jenkins
[code]

[2019-11-05 23:12] casz commented on #1883
FYI using 5.1.2-beta1.8 of GitVersion.Tool passes but GitVersionTask fails.

[2019-11-06 05:44] arturcic commented on #1872
@MattMencel any updates?

[2019-11-06 06:18] arturcic commented on #1883
@casz, @pannikbutton can any of you create a repo that reproduces this error? or if it's a public repo I can have a look?

[2019-11-06 06:25] casz commented on #1883
I think any csproj will do as long as the checkout is done by Jenkins git plugin or Azure DevOps

[2019-11-06 06:26] casz commented on #1883
I do have a basic GitVersion repo I could share and also confirm that is the case.

[2019-11-06 06:28] arturcic commented on #1883
We do have artifacts testing as part of the build pipeline, and we test the msbuild task inside of a container, by running dotnet build, and the pipeline runs on Azure Pipelines, so can it be related to Jenkins?

[2019-11-06 06:30] arturcic commented on #1883
see this https://dev.azure.com/GitTools/GitVersion/_build/results?buildId=1221&view=logs&j=06b13910-90cf-591b-131c-f7868e92de8b&t=9ae9394c-29d7-5a09-210f-610db1f7d869&l=163

[2019-11-06 06:31] arturcic commented on #1883
and this is the test repo https://github.com/GitTools/GitVersion/tree/master/test, that we use when running in pipeline

[2019-11-06 06:37] arturcic commented on #1883
Please share it and add steps to reproduce

[2019-11-06 06:52] casz commented on #1883
Here is the repo
https://github.com/casz/gitversionRepo

Pipeline execution
[code]

Simplified view of our shared pipeline
[code]

[2019-11-06 06:55] casz commented on #1883
I assume it has something to do with sparse checkout 🤔

[2019-11-06 08:41] da9l commented on #1831
Blergh. I've managed to make dotnet build on fsproj to behave nicely when gitversiontask is included. nuget packages are being generated with nice versions.

I'm however unable to get version info into the assemblies. Doing some searching this seems to be a problem with the F# dotnet core compiler that it can't make this work atm. https://github.com/dotnet/fsharp/pull/7220

It does however work wi

[2019-11-06 09:33] da9l commented on #1831
Ok. Verified. Assembly info gets into the assemblies when compiling in in VS2019. But not in dotnet cli.

VS2019:
![image](https://user-images.githubusercontent.com/146797/68283079-30ec6e80-007b-11ea-9f64-a3008fc926e6.png)

dotnet build:
![image](https://user-images.githubusercontent.com/146797/68283279-8f195180-007b-11ea-83cf-a594dbcd5683.png)

[2019-11-06 10:00] Koekiewollie commented on #1836
I am having difficulty reproducing the issue, using the source files. The issue still persists when using the nuget package. I'll keep trying when I have the time, but I'm not sure when i'll be able to continue.

[2019-11-06 10:08] inosik commented on #1831
Keep in mind that this dialog doesn't show the actual attribute values. .NET assemblies carry some Windows specific resources, which is what the "Properties" dialog shows.

You can check the assembly with the IL Disassembler. If it has the `AssemblyVersionAttribute` and friends set to the correct values, we're good.

[2019-11-06 10:18] asbjornu commented on #1831
Perhaps the presence of `AssemblyVersionAttribute` and friends is something we can add a test for by producing an assembly with GitVersion, then loading that assembly and reading its version number?

[2019-11-06 18:14] phatcher opened #1890 "GitVersion 4 differing on Windows/Ubuntu DevOps"
I'm running GitVersion 4.11 in Azure DevOps as 5 didn't generate the correct numbers, although it worked locally.

I'm finding that I get a different version number depending on whether GitVersion is executed on Windows or Linux, here's the two logs...

[gitversion-win.txt](https://github.com/GitTools/GitVersion/files/3816077/gitversion-win.txt)
[gitversion-linux.txt](https://github.com/GitTools/G

[2019-11-06 18:50] casz commented on #1883
Cannot repro locally with a sparse checkout.

[2019-11-06 20:01] casz commented on #1883
Found the issue

[code]

[2019-11-06 20:17] casz commented on #1883
@pannikbutton unsure how to repro in Azure, you could try https://github.com/GitTools/GitVersion/pull/1892/files to get a more verbose stack trace

[2019-11-06 22:54] Inzanit commented on #1883
I too have this issue, I want to provide more information where possible but I was ignored in #1876.

If one could explain how to get more verbose logs from the failure, I'd be happy to forward anything.

Downgrading to to 5.0.1 works. Updating to any newer version breaks.

[2019-11-07 03:39] casz commented on #1883
hopefully once we have a nupkg of #1892 you should be able to get the detailed stack trace 😅

[2019-11-07 06:03] arturcic commented on #1883
@pannikbutton, @casz, @Inzanit, there package with the stack trace enabled was published, can you try it and provide more details of the error?

[2019-11-07 07:04] casz commented on #1883
@arturcic see my stacktrace: https://github.com/GitTools/GitVersion/issues/1883#issuecomment-550476990

[2019-11-07 08:01] Inzanit commented on #1883
Upgraded and got the following stack:

[code]

Using default checkout options on Azure Pipelines @casz @arturcic

[2019-11-07 08:04] Inzanit commented on #1883
Additionally, I also received a `ArgumentNullException`, which I assume could be the product of the above error - however it is in a separate project from the one that produced the above stacktrace.

[code]

@casz @arturcic

[2019-11-07 09:13] arturcic commented on #1883
@casz @Inzanit can you try version 5.1.2-beta.1+12? just add  `--verbosity normal` do the dotnet build. I need the logs as well not only the error

[2019-11-07 10:08] JeroenVanGelder opened #1895 "gitversion.portable help command throwing Null Reference Exception."
When using the chocolatey package gitversion.portable the '/?' command is not working.
This was verified for gitversion.portable version 5.1.1
We tested this in a windows 10 virtual box, and a windows server 2019 docker container.
The issue should be reproducable by verifying it works on gitversion 5.0.1, upgrade to version 5.1.1

Stacktrace:
[code]

[2019-11-07 10:11] arturcic commented on #1895
Can you try version 5.1.2-beta1.12?

[2019-11-07 10:17] pannikbutton commented on #1883
@arturcic @casz @Inzanit After hours of trial and error and pulling out lots of hair, I can confirm the following:

- The error first appeared in GitVersionTask 5.1.0 (not 5.1.1)
- It only manifests in a **private** Azure Devops git repo (public repos build successfully every time)

Here are the steps to reproduce the error:

1. Create a new private project
1. Create a new repo
1. Create a new .NE

[2019-11-07 10:21] arturcic commented on #1883
That is a great investigation. It looks like when it runs for a private repo it tries to fetch
`INFO [11/07/19 9:53:40:20] Fetching from remote 'origin' using `

[2019-11-07 10:22] arturcic commented on #1883
For azure pipeline it should not fetch by default, so I can go continue the investigation, thanks @pannikbutton

[2019-11-07 10:27] pannikbutton commented on #1883
You're welcome, @arturcic. Glad I could be of some help.

[2019-11-07 10:36] JeroenVanGelder commented on #1895
after running choco upgrade --version 5.1.2-beta1-12 gitversion.portable, the command works

[2019-11-07 10:38] arturcic commented on #1895
Great!. Closing this issue

[2019-11-07 10:38] #1895 closed

[2019-11-07 12:44] GeertvanHorrik opened #1897 "Release branch results in wrong version (default strategy is patch)"
We have version 5.12.0 (release/5.12.0)

Then we commit on develop and release/5.12.0. The resulting version is 5.12.1, which is incorrect.

Will investigate and create a fix.

[2019-11-07 12:49] GeertvanHorrik commented on #1897
The PrereleaseTag is null on the feature branch, I think it should be beta.

[2019-11-07 13:26] GeertvanHorrik commented on #1897
config.TrackReleaseBranches somehow is false.

[2019-11-07 13:37] GeertvanHorrik commented on #1897
I think the issue is in ConfigExtensions::ApplyBranchDefaults. The default increment strategy for release branches is Patch, I don't think that's correct.

[2019-11-07 13:42] #1831 closed

[2019-11-07 13:48] MattMencel commented on #1872
Hey @arturcic sorry about the delay... No errors! 👍

[2019-11-07 13:56] arturcic commented on #1872
Closed by #1879

[2019-11-07 13:56] #1872 closed

[2019-11-07 14:39] #1897 closed

[2019-11-07 14:44] natenho opened #1900 "Outdated DockerHub image"
I could not find the latest GitVersion version in DockerHub.

It seems that [Azure Pipelines](https://dev.azure.com/GitTools/GitVersion/_build/results?buildId=1238&view=logs&s=d1587781-abcf-5ffe-6a5f-6b4c8dc4f832&j=0062e705-95f1-59e4-04b8-550cc8caf3f4) are not doing anything to publish there:

[code]

Could someone update the image with the latest versions?
Thanks!

[2019-11-07 14:51] arturcic commented on #1900
Can you check these? https://hub.docker.com/r/gittools/gitversion/tags

[2019-11-07 15:57] arturcic commented on #1883
@pannikbutton, @Inzanit, @casz can you try version 5.1.2-beta.1+18 and confirm it's working for you?

[2019-11-07 16:10] casz commented on #1883
I can confirm both GitVersionTask and GitVersion.Tool perform as intended now on our Jenkins instance 😄

[2019-11-07 16:13] emumanu commented on #1883
it works!

[2019-11-07 16:16] pannikbutton commented on #1883
Green! So much green everywhere! He he..
Yes. Confirmed. All working on my side.

[2019-11-07 16:19] casz commented on #1883
Time to 🚢 📦 🚀 v5.1.2 🥇

[2019-11-07 16:20] arturcic commented on #1883
Thank you all for the quick feedback and the time you spent helping me figuring out the cause of the error

[2019-11-07 16:20] #1883 closed

[2019-11-07 16:20] arturcic commented on #1883
That's the plan

[2019-11-07 17:02] #1864 closed

[2019-11-07 17:35] phatcher commented on #1855
I reverted to the GitVersion@4 task which seems to work well on windows but not on linux

[2019-11-07 17:39] arturcic commented on #1855
Can you try this version https://marketplace.visualstudio.com/items?itemName=gittools.usegitversion

[2019-11-08 03:15] natenho commented on #1900
I see, maybe we should review docker hub's README.md content.
Thanks!

[2019-11-08 03:15] #1900 closed

[2019-11-08 08:11] jburger commented on #1852
Also spotted on Ubuntu 19.04+libcurl4

[2019-11-08 10:04] MindaugasLaganeckas opened #1901 "GitVersion 5.1.2 fails on ubuntu 19.10"
I am using GitVersion 5.1.2 on Ubuntu 19.10 and it fails with:

[code]

Could libssl.so.1.0.0 be a problem? I have /usr/lib/x86_64-linux-gnu/libssl.so.1.1 and cannot downgrade to version 1.0.0.

[2019-11-08 14:06] derwasp opened #1902 "GitVersionCore in NuGet is no longer up to date"
I am using [GitVersionCore](https://www.nuget.org/packages/GitVersionCore/) as a part of my project and noticed that it is no longer being published as a nuget package.
Was there a specific reason for this? And can it be reverted as I'd rather have the official version instead of a custom-built one.

@arturcic

[2019-11-08 19:58] #1655 closed

[2019-11-11 06:48] Elufimov commented on #1902
I just stumbled on this with GitVersion.CommandLine.DotNetCore package. What one should use instead?

[2019-11-11 10:18] da9l commented on #1831
@inosik I tried to view the dll using ildasm and it shows
[code]

Don't know if that counts.

[2019-11-11 10:27] da9l commented on #1831
Note to anyone looking for this:
As mentioned before the version resource info, visible when displaying file properties on an assembly in windows, is not created when running
`dotnet build`
but when building with VS or classic msbuild it works
`msbuild <yoursln.sln>`

[2019-11-11 11:10] inosik commented on #1831
Yes, almost. This version is the value of the `AssemblyVersion` attribute. In your screenshot of the "Properties" dialog above, the value of "File version" is `AssemblyFileVersion`, and "Product version" is `AssemblyInformationalVersion`.

What I meant was this:

![ildasm_2019-11-11_12-05-42](https://user-images.githubusercontent.com/11393003/68582910-2a476800-047c-11ea-9bc6-b3c12f4ad53c.png)

[2019-11-11 12:21] da9l commented on #1831
Thanks!
I got this result that match the output of cli gitversion.
[code]

[2019-11-11 21:17] asbjornu commented on #1900
@natenho:

In what way? A PR containing a suggested rewrite of the content would be appreciated. :)

[2019-11-12 13:31] raulplanas commented on #1778
Can anyone consider this issue please

[2019-11-12 15:45] asbjornu commented on #1778
@raulplanas, this project is being developed on voluntary basis. No one receives money to work on this project. If you are able to write and submit a pull request that implements support for what you are suggesting, I think it might be merged. I am, however, a bit unsure of exactly what is being asked for here. Can you please elaborate?

[2019-11-12 15:46] asbjornu commented on #1778
More importantly: How should configuration for what you want look like if it was implemented?

[2019-11-12 16:37] ivan-danilov commented on #1796
Moreover, if the project is built inside VS - it generates a new randomized file every couple of seconds for every project's intermediate output directory.

[2019-11-13 00:29] asbjornu commented on #1796
Do you have ideas on how this can be done differently?

[2019-11-13 01:18] ivan-danilov commented on #1796
@asbjornu why do you need different filename every time? Why defaulting to `$(IntermediateOutputPath)\GitVersionAssemblyInfo.cs` (and allowing to override the path through MSBuild variable) does not work for GitVersion?

And maybe read the previous result first and write to the file only if something is different (incremental-friendly)?

Probably I don't understand something but atm failing to see

[2019-11-13 01:21] ivan-danilov commented on #1381
Not supporting parallel build is often a show-stopper for big solutions. Turning parallel build off easily makes 3-minutes build into 15-minutes. Do you take votes on what is the most important? Count mine here ;)

[2019-11-13 02:07] ivan-danilov commented on #1381
There is actually another related issue: when a repository contains more than one solution and those are built in parallel - GitVersion sometimes fails like this:

[code]

[2019-11-13 03:40] roryprimrose commented on #1611
Presumably GitVersionCore could include a custom implementation to support this. Similar to how the AssemblyInfo logic works - https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/Extensions/VersionAssemblyInfoResources/AssemblyInfoFileUpdater.cs

[2019-11-13 09:50] dazinator commented on #1381
My thoughts on a possible solution to this..
This issue seems to be because each gitversionask in the solution/s being built ends up calling gitversions GitPreparer Initialise repository method which is really only something that needs to happen once - as it does a git checkout and makes sure the required branches are present etc.

We could make a change to gitversionask so that it no longer does

[2019-11-13 10:31] arturcic commented on #1381
@dazinator, sounds like an interesting solution. I have my own solution. The first run of the task will cache it's results, and the next executions will just use the cache. We need to figure out how to make sure the task will run once and the others will use the cache

[2019-11-13 10:39] srehm commented on #1796
Same here. I dont get the rationale behind the randomization.

[2019-11-13 10:50] rmajid2 commented on #1874
Usage of GitVersion as script in Azure Pipelines **Hosted Windows 2019 with VS2019 (v20191028.1)** throw exception ([As v20191028.1 include V5.1.1.0 of GitVersion](https://github.com/microsoft/azure-pipelines-image-generation/blob/vs2019/20191028.1/images/win/Vs2019-Server2019-Readme.md#gitversion)):
`LibGit2Sharp.LibGit2SharpException: request failed with status code: 401`

A workaround and a tem

[2019-11-13 11:16] arturcic commented on #1874
@rmajid2 5.1.1 has several bugs. We fixed most of them in 5.1.2 so you could use 5.1.2 witht eh GitVersion Task extension. Hopefully the Azure Pipeline image will get updated soon

[2019-11-13 11:29] dazinator commented on #1381
@arturcic yeah, I was thinking along those lines to begin with - the trouble is, you have multiple instances of the task (potentially also accross multiple processes as msbuild likes to spawn worker processes). Therefore to get this to work, we'd need to implement our own locking mechanism, so that the first task can grab the lock, run, and then all the other tasks wait for the lock to be released

[2019-11-13 12:09] #1746 closed

[2019-11-13 16:15] ivan-danilov commented on #1381
@dazinator priming the cache adds friction to usage versus adding one-time effort for developing, so if there's a way to avoid priming and make sure GitVersion just works - I think it is the best.

About locking - git uses lock file. Can GitVersion do the same? I mean, the process starts, checks in shared read-only mode if the files are up to date; if not - tries to create a lock file (e.g. under

[2019-11-13 16:19] arturcic commented on #1381
@ivan-danilov that's exactly the way I was thinking it should be implemented, with a lock file and watching for the cache file changes. We need to prototype this idea. Do you mind giving a try?

[2019-11-13 18:50] SignumPL commented on #1852
When will GitVersion be supported on Debian 10?

[2019-11-13 19:45] casz commented on #1381
:pray: Would greatly appreciate this feature!
perhaps it should only lock if no cache is available?

[2019-11-13 21:49] timvandenhof opened #1906 "Deprecated task execution handler in use on Azure DevOps Task"
**GitVersion Task for Azure DevOps**
**Version:** 3.6.5
**Pool:** Azure Pipelines
**Image:** windows-2019

When the GitVersion task is initialized in a build pipline, Azure DevOps throws a warning about the Task using a deprecated feature.  This is visible in the build log and in the summary UI.

**Buidlog:**
`##[warning]Task 'GitVersion' (3.6.5) is using deprecated task execution handler. The tas

[2019-11-13 23:04] dazinator commented on #1381
I had similar thoughts about using a lock file ;-) If someone wants to have a go at this, the work could be split in upto three phases:-

1. Get gitversiontask to use the cache. If no cache, throw an exception saying gitversion needs to be run atleast once first (to populate cache).
2. Remove the throw and implement the logic that consumes a lock (via lock file, named mutex or whatever?) checks th

[2019-11-14 04:17] arturcic commented on #1906
Version 3.6.5 is really old. Can you try the newest from https://marketplace.visualstudio.com/manage/publishers/gittools/extensions/usegitversion/hub?_a=acquisition

[2019-11-14 07:18] #1747 closed

[2019-11-14 07:23] timvandenhof commented on #1906
Thanks for pointing out that I should upgrade. I did the wrong assumption that we were already running the latest task version. Verifying our build pipelines, showed that we have the newer 5.* version available, but are stil using the old 3.* version.

![image](https://user-images.githubusercontent.com/2083464/68835002-61558d80-06b7-11ea-8ac2-40aeda1dc41e.png)

Will upgrade to the newer version, t

[2019-11-14 07:51] arturcic commented on #1906
Closing

[2019-11-14 07:51] #1906 closed

[2019-11-14 08:00] arturcic commented on #1906
@timvandenhof I would still recommend the new extension, as that one is supported, the old one is deprecated

[2019-11-14 14:47] asbjornu commented on #1748
Have you tried setting [`commit-message-incrementing: Disabled` in `GitVersion.yml`](https://gitversion.readthedocs.io/en/latest/configuration/#commit-message-incrementing)?

[2019-11-15 08:05] Caleb9 commented on #1873
Still happening on 5.1.2.

[2019-11-15 21:14] #1750 closed

[2019-11-16 00:14] #1678 closed

[2019-11-16 01:14] #1739 closed

[2019-11-16 11:14] #1688 closed

[2019-11-16 12:14] #1716 closed

[2019-11-16 16:14] #1574 closed

[2019-11-17 09:29] newegor commented on #1830
I think I have the same issue. gv -diag option output:

INFO [11/17/19 12:20:53:08] Dumping commit graph:
INFO [11/17/19 12:20:53:17] *   9ede6fa 22 hours ago  (HEAD -> develop)
|\
| *   651959a 22 hours ago  (tag: v.12.0.0, master)
| |\
| | * cea8803 22 hours ago
| |/
|/|
* | b553830 22 hours ago
* |   2dfcb69 22 hours ago
|\ \
| | *   1b7cf2a 22 hours ago  (tag: v.11.0.0)
| | |\
| | |/
| |/|
| *

[2019-11-18 06:50] WebDucer opened #1907 "macOS: Exception if executed from subfolder"
We have problems with the CLI with current versions on macOS. Last known working version is 5.0.1.

We have following repository structure:

- <GIT_ROOT>
    - src
        - Project_1
        - Project_2

If we try to execute `GitVersion.exe` from one of the project paths with `-targetpath` parameter, we fail on macOS. On Windows it works as expected.

## Environment

- Cake Build 0.35.0
- macOS 1

[2019-11-18 07:03] WebDucer commented on #1907
Direct executen on mac with `mono GitVersion.exe` is not possible with the new vesions. We get the following error:

[code]

## Envoronment

- macOS 10.1.5.1
- mono
[code]

[2019-11-18 10:15] arturcic commented on #1907
@WebDucer Starting with version 5.1.2 you can use the native binary, or homebrew, or even the global tool. There is no need to use mono.  https://github.com/GitTools/GitVersion/releases/tag/5.1.2

[2019-11-18 10:16] #1907 closed

[2019-11-18 13:51] asbjornu commented on #1784
For backward compatibility. We could of course change that in a new major version, but `FullSemVer` would be a better candidate for environments which have no length restrictions and full SemVer 2.0 support.

[2019-11-18 14:44] asbjornu commented on #1780
Yes, #1488 was included in `5.0.0`. @Kieranties, can you explain why this isn't working?

[2019-11-18 14:47] asbjornu commented on #1681
Could you please take a look at this, @tpaxatb?

[2019-11-18 14:48] asbjornu commented on #1830
Are you able to reproduce this problem in a `RepositoryFixture` as asked in https://github.com/GitTools/GitVersion/issues/1830#issuecomment-535891412, @newegor?

[2019-11-18 15:16] Kieranties commented on #1780
I've just ran a quick test locally:
[code]

Which would give me the impression that things work on the `5.1.3-beta1-6` version.
I've also tested directly with 5.0.1 as well and get the same.

Looking at the chocoaltey conversation, there is one user having this issue on AppVeyor too: http://disq.us/p/23pbn24

@asbjornu Is there some alternate processing when the configuration is loaded in AppVeyor

[2019-11-18 16:23] derwasp opened #1908 "gitversion.commandline support for linux?"
I just tried using the latest version (`5.1.2`) with my [Fake](https://github.com/fsharp/FAKE) script and got an error, when it tried running it via mono.
As far as I can see, you are now publishing a self-contained executable, which works on Windows.

But what about Linux? Is there an alternative? My build scripts (and it's the case for many other people) come bundled with a specific GitVersion.

[2019-11-18 16:25] arturcic commented on #1908
@derwasp you could use the GitVersion.Tool instead https://www.nuget.org/packages/GitVersion.Tool/

[2019-11-19 13:24] rose-a commented on #1789
Can anybody help with this?

[2019-11-19 15:21] asbjornu commented on #1789
Sorry, but you may have stumbled across a bug here. If you are able to submit a pull request that fixes the bug, we will of course merge it, but I don't have time to look at this anytime soon, I'm afraid.

[2019-11-19 15:35] asbjornu commented on #1780
I'm not aware of any variance on the handling of the configuration depending on where GitVersion is being executed. To make GitVersion believe it runs under a specific CI, you just need to declare the environment variable GitVersion is looking for. For AppVeyor it's simply called `APPVEYOR`:

https://github.com/GitTools/GitVersion/blob/fd0d71c7704a3ece6c25ed22b519f307c44891ff/src/GitVersionCore/Bu

[2019-11-19 15:38] asbjornu commented on #1335
@queil, correct – GitVersion needs the build to be performed from an actual branch and that at least `master` also exists in addition to the branch being built. Without those two pieces of information, GitVersion has no idea how to generate a version number. Perhaps we should have a fallback, but I don't know what that should be. Suggestions are welcome.

[2019-11-19 21:31] tegataiprime opened #1920 "GitVersion 5.1.2 on MacOS fails with "The application to execute does not exist""
Installed via homebrew, but executable not found :(

[code]

[2019-11-19 22:18] dittodhole opened #1921 "GetVersion target does not update RepositoryBranch nor RepositoryCommit"
This is an idea, to enhance stamping nuget packages created by sdk projects:
One could update the `RepositoryBranch` and `RepositoryCommit` msbuild properties accordingly in https://github.com/GitTools/GitVersion/blob/a4325e0a2834666b58e95de99332d66d726cfa22/src/GitVersionTask/buildMultiTargeting/GitVersionTask.targets#L55

My current workaround is as follows (somewhere in your *.csproj*-file):

[

[2019-11-19 22:26] dittodhole commented on #1921
see PR#1922

[2019-11-20 07:13] #1921 closed

[2019-11-20 07:20] SamuelEtterlen commented on #1877
Same behavor for me with 5.1.3...

When starting the first time gitversion into a new fresh envrionment, I get the same warnings as zaceverett.
When starting a second time, it works fine...

[2019-11-20 08:22] knoxi opened #1925 "GitVersion 5.1.x fails on Windows"
I am using GitVersion 5.1.2 on a Windows 10 Pro 1903 VM (Build Agent) and it fails with:
[code]

With GitVersion 5.1.1 it fails with:
[code]

Does someone has an idea?

[2019-11-20 11:45] queil commented on #1335
@asbjornu Well, I think this is a problem with Jenkins, not GitVersion.

[2019-11-20 12:10] Kieranties commented on #1780
After specifying the `APPVEYOR` environment variable and running with `/diag`
[code]
And I still get successful version output 🤷‍♂️

[2019-11-20 12:12] #1441 closed

[2019-11-20 15:13] asbjornu commented on #1335
Yes, I agree, but it would be good if GitVersion was a bit more resilient to CI servers acting weird.

[2019-11-20 15:34] warning-explosive commented on #1873
Works fine with GitVersion 4.0.0 in AppVeyor build

[2019-11-20 15:49] dustinchilson opened #1927 "AzurePipelines Build Server no longer supports PullRequests as of 5.1.1"
Commit 74f0dd3e3d3439e87f8714e7ef80817d9dd0bba5 added

[code]

Which is documented here, [Predefined variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml), to mean the branch that is being merged from not the PR merge branch so the default `pull-request` pattern can no longer match anything. This appears to be a breaking change in 5.1.1.

[2019-11-21 04:25] ryanpeach commented on #1690
Can anyone provide an example of a jenkins declarative pipeline properly done? The documentation tells you how to do it in the UI but not in code.

[2019-11-21 11:41] roryprimrose opened #1928 "Using /output buildserver does not work when /nocache declared first"
If you run `/output buildserver /nocache` then the output is buildserver as expected. However if you run `/nocache /output buildserver`, the output is json.

The same does not apply to `/nofetch` where the `/output` is honored whether `/nofetch` is declared before or after `/output`.

For example, I am running the following docker command

[code]
I get the following if I run `/output buildserver /

[2019-11-21 11:43] arturcic commented on #1928
That is an interesting bug, good catch!

[2019-11-21 11:46] roryprimrose commented on #1928
Thanks. I also found that while using bash in the docker image, it seems that `dotnet GitVersion.dll` always returns 0 when an exception is thrown (see https://github.com/roryprimrose/rungitversion/blob/master/entrypoint.sh#L53). I haven't raised that as an issue yet because I'm just not confident where the problem is. It could be GitVersion or my poor bash skills. I had to get around that by doin

[2019-11-22 08:22] JakeGinnivan commented on #1750
Looks like they are generated from https://github.com/GitTools/GitVersion/commit/3f6bc9e8a01a7bc206bbaf0271f19bf07808a916#diff-1ed45f23563b9ded3375f75776a23896

[2019-11-22 08:26] JakeGinnivan commented on #1750
// @WallStProg

[2019-11-22 12:22] uniquelau opened #1930 "5.1.2 - Assembly Versioning Fails on DevOps"
When using the latest version of GitVersion the assembly versioning is unable to find the assembly file.

[code]

File location:

`\csharp\src\example\obj\Release\netstandard1.3\example.AssemblyInfo.cs`

Output from tool

[code]

[2019-11-22 12:24] arturcic commented on #1930
To be honest I don't think GitVersion supports wildcard pattern for AssemblyInfo, can you specify the exact path and try again?

[2019-11-22 12:31] uniquelau commented on #1930
Ah okay, that would make sense.

Out of interest if `GitVersionTask` is installed into the project, does this omit the need to supply the `AssemblyInfoFilename`?

[2019-11-22 12:32] arturcic commented on #1930
as far as I remember it will add an assemblyinfo to the project you added that nuget package

[2019-11-22 12:55] uniquelau commented on #1930
@arturcic Thanks for your help, makes sense - I'll have a bit of a think about how we can make it generic in our build process, and post the result encase it's useful for anyone else.

[2019-11-22 12:55] #1930 closed

[2019-11-22 12:58] arturcic commented on #1930
I could recommend you to have a GlobalAssembly info referenced in all the projects you want to version, and with the UseGitVersion task you version that GlobalAssembly. This way you run the tool only once. If you use the msbuild nuget package instead for versioning each project, you'll basically execute gitversion for each of the projects

[2019-11-22 14:15] christerengman commented on #1927
Just got hit by this as well...

Workaround for us is to set `preferBundledVersion: true` in our Azure Pipeline until this is fixed.

[2019-11-22 15:44] arturcic opened #1931 "Add Github Actions BuildAgent"

[2019-11-22 15:44] WallStProg commented on #1750
Thanks Jake!  I was hoping for a template of some kind that I could use, but such is life...

[2019-11-22 16:19] mprokopov commented on #1852
It seems guys have figured out a root cause https://github.com/libgit2/libgit2sharp/pull/1741

See this discussion https://github.com/libgit2/libgit2sharp/pull/1732

I guess now it is required a new release to be built.

[2019-11-22 20:10] derwasp commented on #1908
Thank you @arturcic! With some custom magic, I managed to get it working :)

[2019-11-22 20:10] #1908 closed

[2019-11-22 20:10] derwasp commented on #1902
@arturcic would really appreciate some feedback on this one

[2019-11-22 21:18] arturcic commented on #1902
Some time ago I decided to stop publishing the GitversionCore package as later I implemented some changes by adding the Dependency injection. I think we could continue publishing it but we'll have to make some adjustments, and to document the way it should be loaded (the Dependency injection part)

[2019-11-22 21:43] JakeGinnivan commented on #1750
If you run those tests, the plant Uml gets printed in the test output. You can then just paste that into something like the plant text website to generate the image
________________________________
From: Bill Torpey <notifications@github.com>
Sent: Friday, November 22, 2019 11:44:50 PM
To: GitTools/GitVersion <GitVersion@noreply.github.com>
Cc: Jake Ginnivan <jake@ginnivan.net>; Comment <comment@n

[2019-11-22 23:46] KUTlime commented on #1855
I've tested this version against basically same problem when GitVersion Task v5.0.1 in Azure DevOps Pipeline ignored the instruction from commits and calculated the same version over and over again no matter what I did with the master branch.

**This version** installs GitVersion task v5.1.2 and it fixed my problem. I'm wondering how propagate this solution into build-in task in Azure DevOps. :-/

[2019-11-23 03:36] skwasjer commented on #1869
I've tested a bit with AppVeyor.

**image: Visual Studio 2017**
[code]

**image: Visual Studio 2019**
[code]

The issue I believe has to do with the dependency `System.ComponentModel.EventBasedAsync.dll` missing in GitVersion's published package. Thus, the assembly will be resolved from preinstalled runtimes.

The dependency graph is:
[code]

Version `4.1.0.0` however is only available up until ru

[2019-11-23 03:38] skwasjer commented on #1873
I've tested a bit with AppVeyor.

Note: I've omitted AspNetCore runtimes

image: Visual Studio 2017

.NET Core runtimes installed:
  Microsoft.NETCore.App 1.0.4 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]
  Microsoft.NETCore.App 1.0.5 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]
  Microsoft.NETCore.App 1.0.16 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]
  Microsoft.N

[2019-11-23 04:55] skwasjer commented on #1873
Ignore my last, it would require significant refactor due to async nature of HttpClient.

[2019-11-23 16:18] #1757 closed

[2019-11-23 19:56] gep13 opened #1932 "Switch to Wyam for documentation"
After a discussion on Slack, the decision has been taken to move away from ReadTheDocs, in favour of Wyam, and pushing the generated output to GitHub Pages.

[2019-11-23 19:57] gep13 commented on #1932
@arturcic @JakeGinnivan @dazinator @asbjornu

[2019-11-24 15:35] Jericho commented on #1873
I confirm that I am also [seeing this issue](https://ci.appveyor.com/project/Jericho/http-multipart-data-parser/builds/29074972#L32) with GitVersion.CommandLine [version 5.1.2](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/blob/develop/build.cake#L5). Another of my projects is using GitVersion.CommandLine [version 5.0.1](https://github.com/Jericho/StrongGrid/blob/develop

[2019-11-24 16:25] arturcic commented on #1873
@Jericho is this a public repo?

[2019-11-24 16:26] Jericho commented on #1873
@arturcic yes: https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser

[2019-11-25 05:28] #1668 closed

[2019-11-25 12:04] arturcic commented on #1873
@joaosantana @Caleb9 @skwasjer @Jericho , can you guys test version 5.1.3-beta.1+28? and let me know if it works for you

[2019-11-25 12:14] dustinchilson commented on #1927
@christerengman That is using the Yaml build step. In my case I'm just running the gitversion.exe, dotnet global tool, or via cake build.

`preferBundledVersion: true` downgrades gitversion to something like v4.0.0 so that only works if you're building on windows.

[2019-11-25 12:54] Caleb9 commented on #1873
@arturcic I just tried it. Still doesn't work but with different error now:

[code]

[2019-11-25 12:58] arturcic commented on #1873
@Caleb9  which version of the VM image are you using? as GitVersion itself builds with Visual Studio 2019 version and it works without errors

[2019-11-25 13:33] Caleb9 commented on #1873
@arturcic With "Visual Studio 2019" image. However [according to docs](https://www.appveyor.com/docs/windows-images-software/#tools) GitVersion is not available on this image.

[2019-11-25 13:37] arturcic commented on #1873
well on Appveyor it's installed a really old version, you should manually install the latest, as we don't have resources to support that old version. So I would recommed to use the latest version of the VM image if possible

[2019-11-25 13:39] Caleb9 commented on #1873
How do you mean? Are there different versions of "Visual Studio 2019" image? Otherwise if you mean GitVersion then I just tried installing 5.1.3-beta1-28 as you suggested.

[2019-11-25 13:43] Caleb9 commented on #1873
As far as I understand it if my appveyor.yml script contains
[code]
it'll use the latest available Visual Studio 2019 image, which seem to be from 8th of November as of today: https://www.appveyor.com/updates/

[2019-11-25 13:51] arturcic commented on #1873
Can you try again with this version 5.1.3-beta.1+29?

[2019-11-25 14:02] Caleb9 commented on #1873
Yes, just tried it and it doesn't show any errors, so great.

I still have an issue with AppVeyor not being able to resolve environment variable by `$(GitVersion_SemVer)` even though GitVersion's output says it has been added. But that might be caused by something else, I need to investigate more and I'll report my findings.

Anyway thanks for your effort @arturcic, hope I can resolve the other is

[2019-11-25 14:05] arturcic commented on #1873
Glad it helped. Thank you for your help with the feedback 👍
@joaosantana @skwasjer @Jericho, can you also confirm 5.1.3-beta.1+29 works for you?

[2019-11-25 14:51] VikingTristan commented on #1931
Hey, I have a question. I'm having some trouble wrapping GitVersion environment variables together with github action workflows. Is this related?

[2019-11-25 14:58] arturcic commented on #1931
This issue is for adding GitHub Action support as build agent, basically when running inside of a GithubAction agent it will have the context of the agent available and it will consume the env variables, and/ or set the env vars

[2019-11-25 14:58] arturcic commented on #1931
https://github.com/GitTools/GitVersion/tree/master/src/GitVersionCore/BuildServers as examples

[2019-11-25 15:00] Jericho commented on #1873
@arturcic I just test beta 1.28 and, as @Caleb9 described earlier, the error is not different: [System.ObjectDisposedException: Cannot access a disposed object. Object name: System.Net.Http.HttpClient](https://ci.appveyor.com/project/Jericho/http-multipart-data-parser/builds/29103890#L30).

Give me minute I'll try beta 1.29...

[2019-11-25 15:06] Jericho commented on #1873
@arturcic Good news: I confirm that beta 1.29 solves the problem as you can [see here](https://ci.appveyor.com/project/Jericho/http-multipart-data-parser/builds/29104079#L32).

[2019-11-25 15:08] arturcic commented on #1873
@Jericho thanks for the feedback, I have now 2 confirmations, I'll close the issue

[2019-11-25 15:08] #1873 closed

[2019-11-25 20:06] dittodhole commented on #1921
see #1936

[2019-11-26 10:32] Caleb9 opened #1938 "Can't reference environment variables on AppVeyor with GitVersion 5.1.3"
Hi, I have a YAML script for building application on AppVeyor. GitVersion is used to calculate the version. It used to work fine in 4.0.0, but doesn't seem to in the new version. I tested this with 5.1.3-beta1-29 (although the behavior is the same on previous 5.x.x releases, basically everything more recent than 4.0.0).

Here's the log when using GitVersion 4.0.0. First I'm outputting GitVersion's

[2019-11-26 12:03] jzabroski commented on #1578
Why would you close this

[2019-11-26 16:51] jfaixo commented on #1925
Same problem here

[2019-11-26 23:00] KiLLeRRaT opened #1939 "Commented out AssemblyVersion tags still causing GitVersion to not generate versions correctly"
Hi All,

I found the following problem.  I installed GitVersionTask, and commented out my AssemblyVersion tags from my AssemblyInfo.cs file.

After building, GitVersion would version my dll as 0.0.0.0.

I received the warning:

`File contains assembly version attributes which conflict with the attributes generated by GitVersion`

I looked in the code for the detection, and it looks like it expects

[2019-11-27 11:28] derwasp commented on #1902
@arturcic I am fine with breaking changes as long as I can have the package and fix the issues :)
It wasn't really documented before and I managed to use it in my project. I would really appreciate it if you could get the package back as I really want to grab the latest changes.

[2019-11-27 11:29] arturcic commented on #1902
ok, I'll add to my list, publishing it back

[2019-11-27 11:35] derwasp commented on #1902
awesome, thank you a ton

[2019-11-27 11:36] derwasp commented on #1902
@Elufimov see if the tool mentioned by @arturcic here:
https://github.com/GitTools/GitVersion/issues/1908
is something that will work for ya

[2019-11-27 11:38] arturcic commented on #1902
@derwasp, just curiousity, is your project public? I would like to see how it's used in the wild, the core part

[2019-11-27 11:49] derwasp commented on #1902
@arturcic I have plans on making it public, it's just not ready for it, yet. As I have some things tailored to the company needs and the codebase it a bit weird here and there.

I am happy to tell you what it is though.
It's a [GitHub app](https://developer.github.com/apps/) for GitHub -> [CodeBuild](https://aws.amazon.com/codebuild/) integration, similar to [stork](https://github.com/mapbox/stork

[2019-11-27 11:52] arturcic commented on #1902
Thanks for the details, it's really interesting to see the usages

[2019-11-27 15:57] WallStProg commented on #1750
Thanks again Jake.  As I'm on mac, running tests presents some difficulties ;-) If you happen to run across the text output, pls forward (or better yet push to repo).

[2019-11-29 01:41] clmcgrath commented on #656
any update on the status of this ?

[2019-11-29 01:43] clmcgrath commented on #656
if this happens , adding the automatic file patching would be really nice feature to add for package.json files
currently running this outside of npm and manually patching the file via script currently

[2019-11-29 09:02] dazinator commented on #656
I'm wondering if the following solution might suffice:

1. Install the gitversion dotnet cli global tool into your environment. This means you can now execute gitversion via the command line.
2. Use node / gulp to execute the gitversion command line.

This approach wouldnt require any special distribution of gitversion, but ot would require you install the .net core gitversion global tool first (o

[2019-11-29 09:09] arturcic commented on #656
My solution I was thinking of is the following:

1. Create a GitVersionInstaller.ts - this one will download the one of the tar.gz assets depending on the platform [example](https://github.com/GitTools/GitVersion/releases/tag/5.1.2)

2. GitVersion tool wrapper that will invoke the native executable

[2019-11-29 09:11] arturcic commented on #656
It's similar in approach to the azure devops extension and Github action, but instead of the global tool it will use the native executable

[2019-11-29 09:39] dazinator commented on #656
@arturcic - Yeah, installing the native self contained executable _is_ nice, as then there is no pre-requisite on the user to install anything. Few questions though:

1. That install is 17mb (ish) - what if the user would prefer to install the tool once globally (to speed up build times on ci servers etc) - this ties in with next question:
2. Would you auto install the tool at a global level on th

[2019-11-29 09:42] dazinator commented on #656
@arturcic  oh also:

3. Will the script to deliver this .ts script be included in some gitversion npm package? If so, could the native executables be included in the same npm package - as npm itself already allows packages to be installed at a global or working directory level

[2019-11-29 09:57] arturcic commented on #656
to be honest I'd prefer not to embed as it will be too big. Better if we can download the platform specific version. As for the the script, it will be as an npm package that you can install and then call. I will be using typescript and then compile it to javascript. It's still in the ideas phase.

[2019-11-29 09:58] arturcic commented on #656
well the tar.gz contains only one file, I guess it will go in the node_modules/bin folder, so no need to install

[2019-11-29 12:43] dazinator commented on #656
Yeah I guess it's a tradeoff. If its a package that you are installing once globally, a larger initial download size would be weighed against the fact that we would be eliminating a class of potential run-time errors with downloads failing at execution time. For example if an organisation has allowed npm traffic through the firewall, consuming the npm package may be fine, but then the download scr

[2019-11-30 09:43] deadman2000 commented on #1852
Temporary solution for Docker:
[code]

[2019-11-30 11:45] arturcic commented on #1852
@deadman2000 thanks for sharing

[2019-11-30 16:44] Crono1981 commented on #1760
Can't anyone help with this? I would really appreciate some insight.

[2019-11-30 23:35] Jericho commented on #1873
@arturcic I just observed a new problem that started when I upgraded to GitVersion beta 1.29: the build version in AppVeyor is no longer updated. As you can see in this screenshot, my version number when from `3.1.0 Alpha` to `1.0.x`:

![image](https://user-images.githubusercontent.com/112710/69907271-f9ce5c00-139f-11ea-9abd-119d16e9f292.png)

See here: https://ci.appveyor.com/project/Jericho/http

[2019-12-01 11:39] arturcic commented on #1873
@Jericho I had a look in the logs https://ci.appveyor.com/project/Jericho/http-multipart-data-parser/builds/29227223#L59, looks like it is trying to set the build number with version 3.1.0-alpha, but I'm not sure why it doesn't change in the appveyor, we need more investigations

[2019-12-01 17:52] larsk2009 commented on #1546
I can also confirm this fixed the problem for me. Maybe this should be changed in the doc as it has apparently been over a year since this change?

[2019-12-02 08:48] robertcoltheart commented on #1852
Can we get a fix for this? We are struggling with this issue as well under amazon linux.

[2019-12-02 09:21] asbjornu commented on #1760
@Crono1981, do you have a public repository that portrays this behaviour?

[2019-12-02 09:22] asbjornu commented on #1852
@robertcoltheart, doesn't @deadman2000's `LD_LIBRARY_PATH` solution work for you?

[2019-12-02 13:57] psouki opened #1941 "Build Metadata is not incrementing properly"
I'm using Gitversion Task 5.1.2 for AzureDevOps.

My branching strategy is GitFlow.

From the development branch output:

`Base version used: Git tag '3.0.0-beta.5': 3.0.0-beta.5 with commit count source 35fb4fe5e51526375e94f61dfc3cca421d235c11 (Incremented: 3.0.0-beta.6)`

I was expecting 3.0.0-beta.6, from the line above I can see that it calculated the metadata properly, so far so good, but in

[2019-12-02 15:42] phoenixadb commented on #1920
Same issue for me with the gitversion command :

`$ gitversion --version
The application to execute does not exist: '/private/var/folders/dd/z_59flyj1097lth482drv3j00000gp/T/.net/GitVersion/q24if2il.0k5/GitVersion.dll'.
$ uname -a
Darwin faas-mac-4 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64`

[2019-12-02 19:19] Mpdreamz commented on #1873
Seeing the same error on:

https://github.com/serilog/serilog-sinks-elasticsearch/pull/300

https://ci.appveyor.com/project/serilog/serilog-sinks-elasticsearch/builds/29260099

Will https://chocolatey.org/packages/GitVersion.Portable be updated with this fix?

[2019-12-02 20:20] clmcgrath commented on #656
already do this now was hoping to not have to do it for every project any more , if your installing it as an npm package , i would think you would follow the same methodology as any other npm package , generally your bins deploy inside the package , and your entry command gets added to the .bin directory in node_modules
so unless the user installs with -g it should be locally run from node_modules

[2019-12-02 22:06] dsbut opened #1942 "gitversion init - Option 5) Branch Increment mode crashes with an InvalidOperationException"
I am using GitVersion for the first time, and exploring the various options available in `gitversion init`.

Choosing **5) Branch Increment mode (per commit/after tage) (Current: )** always results in a `System.InvlidOperationException` being throw, and the GitVersion process crashes and exits.

This problem is reproducible in 100% of various attempts with GitVersion **5.1.2**.

**Repro steps**

1

[2019-12-03 04:49] robertcoltheart commented on #1852
@asbjornu No, the above export command doesn't seem to help, we are still getting the same error

[2019-12-03 08:32] deadman2000 commented on #1852
@robertcoltheart  If you use GitVersion as tool, this `Dockerfile` should helps:
[code]

[2019-12-03 11:29] robertcoltheart commented on #1852
Hmm, we don't use docker currently for the EC2 instances. Will investigate further if the above can be adapted for our use case or not.

[2019-12-03 11:29] cytron201 commented on #1031
This is working for us - the only annoying thing is that package version does not contain the full semver for commits ahead in the same way the gitversion package does. i.e. 1.9.0-alpha0123 Vs. 1.9.0-alpha.122.

Much like the others, we're seeing this using on Azure DevOps, using the .Net Core build step. We're building a solution with 19 projects, of which around 16 have the gitversion NuGet pack

[2019-12-03 12:32] arturcic commented on #1942
@dsbut thanks for catching this bug, can you try 5.1.3-beta.1+40 version when available and see if the fix works for you

[2019-12-03 13:09] cyanite opened #1944 "Tagged trees and blobs cause GitVersion to crash"
In git it's legal (and used e.g. in the Git and Linux repositories; see https://git-scm.com/book/en/v2/Git-Internals-Git-References) to tag non-commit objects, i.e. trees or blobs. GitVersion crashes if it encounters such an object, however, due to an invalid cast.

Such tags should instead be ignored. I've created a pull request to fix it.

[2019-12-03 13:55] asbjornu commented on #1802
@espu, can we please have a PR with the failling test?

[2019-12-03 14:03] berndesj opened #1946 "using Gitversiontask in VS2017 on feature gitflow branch, revision not incrementing."
hello ,
i'm pretty new on all devops .

i did just the minimal install on my VS solution, nuget Gitversiontask in my solution , push to Azure GIT pipeline and it worked with the development branch.

i created ( GitFLOW) a feature named dostuff.
made some changes on classes , then commit&push...
version feature/my-app 6.1.0-dostuff0001came out ...Nuget pack and push...all fine.

then did a another

[2019-12-03 14:06] espu commented on #1802
@asbjornu, I'll try to take some time to create a PR. Missed the previous request by @arturcic, sorry about that.

[2019-12-03 14:18] espu commented on #1802
O well, that was easy. PR created with failing tests. FYI @asbjornu.

[2019-12-03 16:15] rose-a commented on #1031
We`re experiencing this too on a local GitLab instance when building solutions which contain multiple projects that reference `GitVersionTask`.

### My workaround:

Put the following in the project file:

[code]

Then run `gitversion` before executing the build and write the output into environment variables. This way gitversion is only run once and the result is then reused in each project being

[2019-12-03 16:56] iamwyza commented on #1031
Just as a followup.  The approach I posted back in October has been running fine since.  I had to do a little bit of adjustments to the way the GitVersion.yml was setup because it seemed to behave just slightly differently than when using the msbuild way, but otherwise it's been running without issue since.  So at least now things seem stable and reliable.  Having to only run gitversion once at th

[2019-12-03 17:06] deeczhou commented on #1920
ran into the same error:
`$ gitversion
The application to execute does not exist: '/private/var/folders/kh/40zkn07n2mn0n5rx_6wk2d3w0000gn/T/.net/GitVersion/q24if2il.0k5/GitVersion.dll'.`

[2019-12-03 18:01] rose-a commented on #1031
During my inquiries I realized that **each** task is executing `gitVersionCalculator.CalculateVersionVariables()` on its own, which tries to access the repository (and probably fails with the afforementioned error) before it even checks if a cache or a *gitversion.properties* file exists.

I'd suggest to try to restructure the build tasks, so that:

1. There is a single task in the chain which act

[2019-12-03 20:44] Crono1981 commented on #1760
I'm afraid I do not. This is happening on a Windows 10 based Build Agent for Azure DevOps, in a private repository.

We did try to reproduce it in a side project but we couldn't make it happen. Might have to do about our particular repo's history. Unfortunately I am not authorized to push that repo outside of our servers.

I wished somebody else had a similar issue and could put me on the right tr

[2019-12-03 22:28] CoolDadTx opened #1948 "Control Version with Commit Tags Only"
We're trying to see if GitVersion can do versioning the way we want and we have a couple of scenarios where it doesn't seem possible. Maybe I'm missing something here.

Desired restrictions:
- We only want to control versioning using tags on commits, not commit messages.
- Versioning is handled by an automated system and therefore is not customized on a per-repo basis. We have a lot of repos and t

[2019-12-04 02:26] robertcoltheart commented on #1852
Doesn't look like this will work for us. For clarification, we are using `linux-x64` on Amazon linux AMI 2. Not debian. Any solution on the horizon that will fix this without having to set exports or hack scripts together to make it work?

[2019-12-04 04:53] DanubeRS opened #1949 "Unable to set `none` flag for verbosity"
[code]

also reflected using in the Cake GitVersion tool.

[code]

Docs show usage as;

`/verbosity      Set Verbosity level (debug, info, warn, error, none). Default is info`

[2019-12-04 04:55] DanubeRS commented on #1877
I have managed to get around this by setting the output verbosity to `Error`

[code]

Was unable to set as `None` relating to #1949

[2019-12-04 07:22] gep13 commented on #1949
@DanubeRS looks like the docs, as well as the Cake Alias needs to be updated.  The enum associated with this argument no longer contains the `none` value:

https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/Logging/Verbosity.cs

[2019-12-04 09:08] cyanite opened #1964 "Identical config files are reported as ambiguous"
If you're standing in your repository root, you have to use an absolute path to a non-standard configuration file, or get the following bizarre error:

`WARN [12/04/19 10:07:23:94] An error occurred:
Ambiguous config file selection from 'C:\foo\bar\GitVersion.yml' and 'C:\foo\bar\GitVersion.yml'`

Surely, identical files aren't ambiguous.

[2019-12-04 09:21] #1627 closed

[2019-12-04 09:26] robertcoltheart commented on #1852
The solution that worked for us was to bump `LibGit2Sharp` to version `0.27.0-preview-0034` and the native binaries version to `2.0.298`. For now we are building this locally and hosting our own binaries, but it would be great if this repo could be updated similarly so that we can use the 'official' sources.

[2019-12-04 09:35] artur-stolear-technosoft commented on #1852
@robertcoltheart thanks for sharing, will take that into consideration

[2019-12-04 09:36] arturcic commented on #1852
@robertcoltheart thanks for sharing, will take that into consideration

[2019-12-04 15:56] StanleyGoldman commented on #1931
I'm starting this pull request now.

[2019-12-04 16:17] dsbut commented on #1942
@arturcic Yes - 5.1.3-beta.1+40 has fixed the problem.

[2019-12-04 16:33] StanleyGoldman commented on #1931
The PR is good to go!

[2019-12-04 19:57] psouki commented on #1941
The problem was when the brunch `release/2.2.0` was merge back to development, in the GitVersion.yml there was the `next-version: 3.0.0` tag and the commit count was 5. So GitVersion created the build version number 3.0.0.beta.5. So far, so good, but this merge back somehow reset the commit count.

In the next pull request, the result was that, even though, there was not the `next-version: 3.0.0`

[2019-12-04 20:05] arturcic commented on #1942
@dsbut great, thanks for sharing

[2019-12-04 20:32] arturcic commented on #1949
@gep, in that PR it was also added https://github.com/GitTools/GitVersion/blob/master/src/GitVersionCore/Logging/LogLevel.cs, so when the cake alias will be adjusted you need to take in consideration that as well.  see the usage https://github.com/GitTools/GitVersion/blob/master/src/GitVersionExe/ArgumentParser.cs#L353

[2019-12-04 20:50] berndesj commented on #1946
i did some research.....

a) i created a file named :GitVersionConfig.yaml that file is in the same directory of my *.sln ( VS solution)
b) did a copy and paste of the code in section Branch configuration. link in GitVersionConfig.yaml. Saved....
c) changed mode: ContinuousDelivery to mode: ContinuousDeployment for the section : feature: Saved

and when to
In AZURE Pipeline

1. Edited my pipeline

[2019-12-04 20:50] #1946 closed

[2019-12-04 20:52] jakubsuchybio opened #1967 "Gitversion crashes on teamcity when there is no local master branch"
Info:
We are using gitlab and teamcity. Both are not publicly visible from internet. They are only visible inside our company network. Therefore they only have self-signed certificates to operate. We had to disable ssl to use them with git. And because of this, we can't use dynamic repository with GitVersion.
We are already using ```teamcity.git.fetchAllHeads=true```

The problem is like this:
Whe

[2019-12-04 21:06] gep13 commented on #1949
@arturcic I think I am a little confused 😄...

Is `none` a valid setting for the logging level?  If so, what is the correct command line usage?

[2019-12-05 10:51] #1764 closed

[2019-12-05 11:11] arturcic commented on #1949
It should be valid, as for the current implementation. Previously there was only a verbosity flag that has the role of the logging level. I made the change by adding a LogLevel enum to control which level of logging you want to target, and verbosity, that controls how much information is shown to the output. There is a dependency between verbosity and log level https://github.com/GitTools/GitVersi

[2019-12-05 13:20] tsebastiani commented on #1901
Having exactly the same issue, managed to add libssl1.0.0 but did not solve the problem even if ldd of the library is resolving it:

[code]

[2019-12-05 16:09] StanleyGoldman commented on #1931
@VikingTristan if you want to give my pull request a try, I could use the validation that it works.

[2019-12-05 16:33] dsbut opened #1972 "GitVersion /showconfig throws an execption in Git Bash on Windows"
Apologies in advance if executing GitVersion in Git Bash on Windows is not a supported scenario. I was unable to find any conclusive information on that. I would naturally assume that GitVersion would work everywhere `git` commands can be sissued, including from Git Bash on Windows. That both `gitversion` and `gitversion init` work within Git Bash on Windows does set an expectation that other GitV

[2019-12-05 19:14] dsbut opened #1973 "GitVersion Azure Pipelines Task not using "GitVersion.yml" configuration by default"
The Azure Pipelines GitVersion task indicates, for the _Configuration File_ that:

So, with the following `GitVersion.yml` file in my repository root, specifying a `next-version: 1.0.9`:
[code]

And there being no release tags in the master branch, and using this task:

[code]

**Expected SemVer**
1.0.9

but was

**Actual SemVer**
0.1.0

So, it appears that the task is not honoring the _GitVersion

[2019-12-05 19:53] asbjornu commented on #1972
Sorry, but the command line interface of GitVersion is not the most cross-platform compatible one and also not the best documented part of GitVersion. But all arguments can be passed with dash (`-`) instead of slash (`/`) so it's not interpreted as file paths on POSIX systems. Does `gitversion -showconfig` work?

[2019-12-05 20:52] dsbut commented on #1972
@asbjornu Ah, yes. It does work in Git Bash on Windows if I specify `gtiversion -showconfig` instead. This is good to know, I'm documenting some guidance for some fellow Developers, and so I'll specify (-) instead of (/) for examples that include arguments.

[2019-12-05 21:07] asbjornu commented on #1972
I'm glad it works, @dsbut. If you find relevant parts of the documentation to update regarding this, we would love a pull request. 🙏

[2019-12-06 13:17] thomaswr commented on #912
I'm using the Bitbucket pipeline, to build an ASP.NET Core project using the GitVersionTask. I want to build branches which are neither named develop nor master.
Is there a way to let GitVersionTask fetch the needed branch? Is there a way to make this fetch not necessary?

[2019-12-06 13:20] asbjornu commented on #1768
Hi, @JonCubed and sorry for the lack of response leading to your issue being closed by stalebot. We would love a PR that fixes this problem, alongside a `RepositoryFixture` test that ensures the problem is fixed. 👍

[2019-12-07 04:00] #1769 closed

[2019-12-08 01:55] chriscone-nano commented on #1437
@TheTimBecker Did you find a work around for this?  I would like to push the release branch that is cut off of the develop branch but does not have any additional commits.  Creating a commit just to force this seems messy

[2019-12-09 00:44] TheTimBecker commented on #1437
Sort of, our solution was to only tag commits to master. Then there aren't any tags on the commit so GitVersion uses the branch name to calculate version.

For us, master is the only place tagging is necessary, so this works for us. But it'd be great to have the option to add tags on all branches.

[2019-12-09 10:15] asbjornu commented on #1806
I agree that `next-version` should shortcut the version calculation. Is `GitVersion.yml` picked up in each of the deployment builds?

[2019-12-09 10:18] asbjornu commented on #1437
Only tagging on `master` sounds reasonable, although I agree that building another branch off the same commit should lead to a different version number. Are you certain GitVersion is picking up which branch is being built?

[2019-12-09 12:05] Sang-ShinLEE commented on #1890
I have kind of the same problem: windows and ubuntu does not return same version.
In my case, on ubuntu, on master branch, commit messages are processed, even with following configuration in GitVersion.yml:
no-bump-message: '\+semver:\s?(none|skip)'
commit-message-incrementing: Disabled

[2019-12-09 14:21] nizmow commented on #1855
I'm getting the same issue, it's been driving me crazy all day until I finally realised the issue was the GitVersion@5 task. Seems like it's lagging behind the release and contains bugs that have been fixed in mainline already? Shame, because it's very convenient to have it as task. Perhaps someone should consider removing the task from the marketplace until it's fixed?

[2019-12-09 14:26] arturcic commented on #1855
@nizmow, unfortunately we cannot remove from marketplace as the old version is still used. As a workaround, to not break the older usages, we publish new extensions with different names. Currently the one that is currently maitained is https://marketplace.visualstudio.com/items?itemName=gittools.gittools.

[2019-12-09 14:41] nizmow commented on #1855
That makes sense! I've installed that tool and I see it's running off the dotnet tool version now, which hopefully fixes compatibility going forward. Unfortunately it's not a drop-in replacement as it no longer sets Azure Devops environment variables automatically, meaning we'll need to wire up a script to the JSON output which is what I was hoping to avoid.

Also, if it's not possible to remove t

[2019-12-09 14:58] nizmow commented on #1855
For anyone following along, I attempted to get buildserver environment variables working with the following in my YAML:

[code]

This didn't work, as the `gitversion-execute@5` task already adds `/output json` to the commandline. However, all this is doing is installing dotnet global tools anyway, so for a more robust way of doing things, try the following:

[code]

This works fine and for me give

[2019-12-10 03:57] cadull opened #1977 "Hotfix version in merge message is ignored"
Using GitFlow with the default GitVersion configuration, we can merge release/3.2 to master and the version will become 3.2.0.

Without adding a tag, merging hotfix/3.2.1 to master leaves the version as 3.2.0. I expected the version to become 3.2.1.

A workaround is to use the following configuration, but I'm not sure if this has other implications.

[code]

[2019-12-10 07:48] SamuelEtterlen opened #1978 "gitversion /c <commit_id_1> /url <repo_url> does not checkout the correct commit_id"
Hi There !

I'm in a Jenkins pipeline and I try to get the release's version number .
For this, I start gitversion from the jenkinsfile like this:

bat "gitversion /output json /diag /showconfig /c c33d6cdc982eed1cb313da11d7bc17d2bfa8c06f  /url http://****:****@git.xxx.ch/scm/myrepo.git"

The commit id c33d6cdc982eed1cb313da11d7bc17d2bfa8c06f  corresponds to the HEAD of my branch, where a git Tag

[2019-12-10 12:51] asbjornu commented on #1973
This seems related to #1806 and #1170. I thought we had fixed these, but obviously not.

[2019-12-10 12:52] asbjornu commented on #1760
This is indeed a weird one we need to be able to reproduce to fix. I'm unable to reproduce locally so far. 😕

[2019-12-10 12:53] arturcic commented on #1973
I think it was, but not in this extension, but in the UseGitVersion

[2019-12-10 16:08] arturcic commented on #1944
Closed by #1945

[2019-12-10 16:08] #1944 closed

[2019-12-10 16:57] arturcic commented on #1964
Closed by #1965

[2019-12-10 16:57] #1964 closed

[2019-12-10 16:58] arturcic commented on #1964
Thank you so much for your contributions, @cyanite 👍

[2019-12-10 18:57] soroshsabz opened #1981 "GitVersion.CommandLine throws exception on appveyor"
ITNOA

I have a problem with gitversion on cake in appveyor

first problem is: why gitversion does not load GitVersion.yml on root of my [project](https://github.com/BSVN/Commons)
second problem is: why gitversion throws exception like below

[code]

[2019-12-10 19:05] soroshsabz commented on #1981
#1804

[2019-12-10 21:28] asbjornu commented on #1772
Might #1980 solve this?

[2019-12-10 21:52] SignumPL opened #1982 "GitVersion throws Error parsing Infinity value on Jenkins and TeamCity"
I'm using GitVersion.Tool 5.1.1 (dotnet core) inside my PowerShell build script and it crashes when running in Jenkins multipipeline job. It throws error:

`

    Error parsing Infinity value. Path '', line 1, position 1.
       at Newtonsoft.Json.JsonTextReader.ParseNumberPositiveInfinity(ReadType readType, Boolean matched)
       at Newtonsoft.Json.JsonTextReader.ParseValue()
       at Newtonsof

[2019-12-10 23:14] #1742 closed

[2019-12-11 09:56] asbjornu commented on #1809
I agree the tag regex should apply here. Would you be up for submitting a PR, @pianomanjh?

[2019-12-11 13:53] asbjornu commented on #1811
Perhaps you can figure out a regex pattern that matches your release-branches and then declare them as not being release branches with [`is-release-branch: false`](https://gitversion.readthedocs.io/en/latest/configuration/#is-release-branch)?

[2019-12-11 14:49] asbjornu commented on #1808
Can you please elaborate? "throws a warning" sounds a bit conflicting to me. Warnings are usually printed to the console without aborting the application, while errors (that are raised with `throw`) cause the application to halt and fail. If GitVersion only prints a warning to the console, is there an issue here?

[2019-12-12 10:26] jameswoodley commented on #1873
I'm now broken due to this too. I am using the chocolatey package much like @Mpdreamz on Appveyor. Any chance this will be resolved asap, my builds are now broken

[2019-12-12 18:18] baruchiro opened #1986 "directory.build.targets"

[2019-12-12 18:19] #1986 closed

[2019-12-12 19:03] baruchiro opened #1987 "Use only Commit Hash in Directory.Build.Props and .Net Core"
My repository is not fully compatible with `GitFlow` or something, and my task is to add the commit hash to the DLL properties.

# Initial Example

First, I created a `dotnet new console` project.

Then, I added a `Directory.Build.props` file to the project directory:

[code]

And after `build`, the properties are:

So, it works.

# Add `GitVersionTask`

Now I adding the `GitVersionTask` nuget to

[2019-12-12 23:19] koppor commented on #1649
Similar issue here. I tried

    assembly-versioning-format: '{major}.{minor}.{buildmetadata ?? patch}'

because of

   "BuildMetaData":"",

but it fails to parse

[code]

[2019-12-13 07:03] arturcic commented on #1873
@Mpdreamz @jameswoodley do you mind trying version 5.1.3-beta.1+59. There is still an issue with not updating the build number, but it does not fail the build

[2019-12-13 07:04] arturcic commented on #1873
https://github.com/appveyor/ci/issues/3228

[2019-12-13 07:05] arturcic opened #1988 "AppVeyor does not update the build number (version 5.1.3-beta.1+59)"
See https://github.com/GitTools/GitVersion/issues/1873#issuecomment-560030399

[2019-12-13 07:07] arturcic commented on #1988
This is needed for https://github.com/appveyor/ci/issues/3228

[2019-12-13 07:50] #1680 closed

[2019-12-13 10:56] VikingTristan commented on #1931
Sure! Is it possible for me to tell my agent to download your specific gitversion pull request build?

With something like `choco install gitversion.portable x.x.x-xx`

[2019-12-13 11:35] arturcic commented on #1348
Closed by #1743

[2019-12-13 11:35] #1348 closed

[2019-12-13 12:33] arturcic opened #1989 "Add GitHub actions CI similar to AppVeyor"

[2019-12-13 21:24] sl-nigelalmada opened #1990 "No minor bump on develop when a new release branch is created"
I'm using this Docker Container Image in order to generate a gitversion for each push on my repo : https://hub.docker.com/layers/gittools/gitversion/latest-linux/images/sha256-93aff651032f58cf96655ea1e7d1fbe711439e6152037352fc531d74b8c7209d (lastest-linux should be 5.1.3 right now) with the default config

The issue is that the minor version number is not incremented when a release branch (release

[2019-12-14 02:44] jshinevar opened #1991 "Azure DevOps Variables all render as FullSemVer"
I am using the following task in my Azure DevOps pipeline yml file:
`
- task: GitVersion@5
  displayName: 'GitVersion'
  inputs:
    preferBundledVersion: false
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'echo ##vso[build.updatebuildnumber]$(GitVersion.AssemblySemFileVer)'
`
I've tried using $(GitVersion.AssemblySemFileVer), $(GitVersion.AssemblySemVer), and $(GitVersion.MajorMi

[2019-12-14 04:37] Yucked commented on #912
Similar problem as above. I deleted the master branch in my repo and set the default branch to `v1`. There is no master branch or develop branch in my repo and I get the same exception as above.
The `v1` branch is an orphan branch.
[code]

[2019-12-14 08:10] aryak007 opened #1992 "Commit count resets to 0 on merging from feature branches to develop"
Our gitflow is an obvious one and we're using `ContinuousDeployment`

- A branch named `feature/something` is branched off from `develop`.
-  Some work is done on `feature/something`.
- Meanwhile, other branches are also created from `develop` and are worked upon.
- The branches are merged to `develop` by submitting a `PR` from the `feature` branches.
- The number of commits on the `develop` keeps

[2019-12-14 08:12] aryak93 commented on #700
Guys, I'm actually facing something similar. Can you please take a look into this - https://github.com/GitTools/GitVersion/issues/1992?

[2019-12-14 12:05] aryak93 commented on #814
@JakeGinnivan Unfortunately, we're still facing this in https://github.com/GitTools/GitVersion/issues/1992 and we're using 4.0.1. Is there any other fix available for this in the subsequent releases?

[2019-12-15 00:01] mattwhitfield commented on #1696
Just to confirm, this issue is still a problem for us. When we retry the build off the same sources, it generally passes. Also, fwiw, it seems to happen when two build agents that are on separate machines are building from the same source tree at the same time. This might just be anecdotal, because we notice it most often on PRs where builds get kicked off together.

[2019-12-15 16:59] pianomanjh commented on #1808
It causes the application to halt, so yes, an error.

[2019-12-16 02:49] gitfool opened #1993 "Failure after shallow clone via GitHub actions/checkout@v2"
See https://github.com/actions/checkout/issues/113. I presume GitVersion can't do anything about this, except maybe improve the error message at non-diagnostic verbosity, although that may be more of a Cake build issue?

[2019-12-16 08:18] Partovic commented on #1830
I'm having the same issues since I upgraded to the latest version. VersionSource doesn't seem to be set correctly. After merging a release, it should use this commit as the version source until another release will be made.
<img width="614" alt="GITVERSION_1" src="https://user-images.githubusercontent.com/20333797/70890262-eac4ec00-1fe4-11ea-8db5-c7c66acf9402.png">

<img width="702" alt="GITVERSIO

[2019-12-16 12:33] tobiasdiez opened #1994 "WeightedPreReleaseNumber null on tag"
We use
`assembly-versioning-format: '{major}.{minor}.{WeightedPreReleaseNumber}'`
in combination with
`mode: ContinuousDeployment`
to have an increasing build number. Everything works in a normal development workflow (PRs, direct commits etc increase the version from e.g. `1.1.1` to `1.1.2`). However, as soon as we want to release a new version, we push a tag with the new version (say `2.0-beta`).

[2019-12-16 12:49] tobiasdiez opened #1995 "Defaults for pre-release-weight"
We are using `WeightedPreReleaseNumber` to create a unique and increasing version number. Everything works fine in principle. However, when releasing a new `beta` we need to manually change the `tag` and the `pre-release-weight` in the configuration file. Is there a way to specify that certain pre-releases correspond to given weights, so that a simple push of a tag `2.0.0-beta` is sufficient to se

[2019-12-16 13:48] asbjornu commented on #1814
Have you tried setting [`commit-message-incrementing`](https://gitversion.readthedocs.io/en/latest/configuration/#commit-message-incrementing) to `false` in the configuration?

[2019-12-16 13:49] asbjornu commented on #1830
Until someone are able to reproduce this in a `RepositoryFixture` or at least point to a public repository that demonstrates the problem, it's going to be very hard to fix it.

[2019-12-16 13:56] asbjornu commented on #814
@aryak93, can you please try with the latest release of version 5 of GitVersion?

[2019-12-16 18:41] aryak93 commented on #814
Thanks @asbjornu. I'll definitely give it a try. Can you please also take a look at #1992 ? It'd be of great help.

[2019-12-17 00:06] StanleyGoldman commented on #1993
This should be fixed by https://github.com/GitTools/GitVersion/pull/1966

[2019-12-17 00:09] StanleyGoldman commented on #1993
You can test it out by using the artifacts from that pull request in the appveyor artifacts from that PR.
https://ci.appveyor.com/project/GitTools/gitversion/builds/29570366/artifacts

[2019-12-17 00:23] gitfool commented on #1993
@StanleyGoldman thanks for the heads up!

[2019-12-17 01:20] nfantone opened #1996 "Infer next semantic version on any branch"
I was drawn into `GitVersion` after reading the tag line in your `README.md`:

...but I couldn't quite make that work.

I've been trying to setup `GitVersion` to infer next version numbers on a project following GitFlow. However, I noticed that the only property that seems to matter when computing the next SemVer number is `increment`. The actual git log and commits messages are completely ignored

[2019-12-17 07:26] gep13 commented on #1993
@gitfool from the looks of your build script:

https://github.com/gitfool/Cake.Dungeon/blob/master/scripts/version.cake#L6

You aren't calling GitVersion with the buildserver argument, so I don't think that the work @StanleyGoldman is doing will take effect until to call that argument.

[2019-12-17 08:53] asbjornu commented on #1992
As asked in https://github.com/GitTools/GitVersion/issues/814#issuecomment-566071527 it would be great if you could try out a more recent version of GitVersion to see if it behaves the same way.

[2019-12-17 10:14] bernard-arnaud opened #1997 "Invalid argument in UseGitVersion VS Task"
Hi,

We're having issues when using the UseGitVersion task on a dotnetcore 3.1 project.
Here are the logs :

[code]

And here's the yaml part of the task :

[code]

[2019-12-17 10:16] arturcic commented on #1997
Version 5.1.2 targets .net core 3.0, we have not released a version that works on 3.1

[2019-12-17 10:44] bernard-arnaud commented on #1997
Do you know if 3.1 support is planned in a future release ?

[2019-12-17 11:30] arturcic commented on #1997
Yes, version 5.1.3 when released

[2019-12-17 14:51] matilote commented on #1993
GitVersion keep failing on Github Actions due to

even after prior fetching all branches and tags

[2019-12-18 07:33] #1545 closed

[2019-12-18 10:24] #1931 closed

[2019-12-18 10:24] #1993 closed

[2019-12-18 15:17] DerAlbertCom commented on #1381
We have tons a problems since we updated our buildserver from 1 to 2 core. We get all the Warnings and Errors mentioned here. We trying now some workarounds. But a  real solution to that problem with be nice.

[2019-12-18 15:31] tkstanczak opened #1998 "Regenerate for ARM64"
To our knowledge it will be enough to just regenerate to get ARM64 support.

        // The following tables were generated by scripts/RuntimeIdMapGenerator.csx.
        // Regenerate when upgrading LibGit2Sharp to a new version that supports more platforms.

Are we correct?

[2019-12-18 19:02] #1988 closed

[2019-12-18 19:37] nvborisenko commented on #1988
Verified with 5.1.3-beta1.89

[2019-12-18 19:51] nvborisenko commented on #1938
Fixed in 5.1.3-beta1.89 by #1999

[2019-12-18 20:00] nvborisenko commented on #1873
Fixed in 5.1.3-beta1.89

[2019-12-19 08:23] Caleb9 commented on #1938
Just tried beta1.89 - it works. :) Thanks.

[2019-12-19 08:25] arturcic commented on #1938
@Caleb9 thanks for the feedback

[2019-12-19 09:31] pi3k14 commented on #1948
Are you saying that
`git tag -f 1.1.0
git push origin 1.1.0`
doesn't work?
We are using this in all our repos in PR's to master, release and develop, and version numbers in hotfix/release branch names (using GitFlow) - works like a dream :)

[2019-12-19 11:10] hvincente commented on #1982
Same problem here.

[2019-12-19 12:07] #1788 closed

[2019-12-19 13:40] simonbuehler commented on #1198
hi,

i found how this got handled in another project, could this be incooperated?
   https://github.com/desaster/gitrevsubst/commit/544462be2a60cf4ebf53543329147f40a1071302#diff-a8d7dc4a2b96ae65d37ab09ad03939dd

basicaly its testing `describe --always --dirty` if it ends with "dirty"

[2019-12-19 14:33] asbjornu commented on #1788
Sorry for not responding in time before it being closed due to inactivity. Have you tested with the latest version of GitVersion?

[2019-12-19 14:37] CoolDadTx commented on #1948
I'm saying that after setting that tag as 1.1.0 then any commits to that branch will result in 1.1.1 if you're using patch increments or if you push 1.0.0 then any commits to that branch will result in 1.1.0 if you're using minor increments.  Therefore if your app last shipped as 1.9 and you now want to start work on 2.0 there doesn't seem to be any way to have the tool generate 2.0.0 version #s u

[2019-12-19 14:37] asbjornu commented on #1577
There's no explicit support for release flow in GitVersion, but I suppose it can be configured. [The Stack Overflow question has an accepted answer](https://stackoverflow.com/a/54611494/61818), is that a working solution for everyone?

[2019-12-19 20:04] matkoch commented on #1982
@SignumPL @hvincente are you using private repositories (which need authorization)? And what are your CI systems?

[2019-12-19 23:09] matkoch opened #2000 "GitVersion.Tool throws exception and returns exit code 0"
Even though there clearly is an error, the exit code is 0.

[code]

[2019-12-19 23:09] matkoch commented on #2000
@joshclose

[2019-12-19 23:12] matkoch opened #2001 "Cannot use --help on GitVersion.Tool"
[code]

[2019-12-19 23:51] keithrowe commented on #1776
This still happens when trying to uninstall GitVersionTask.5.1.2.

It only occurs for me when the solution uses package.config. Under PackageReferences, it uninstalls without incident.

[2019-12-20 06:36] pi3k14 commented on #1948
Do you think the first part of your statement is something wrong (incrementing after tag'ing)?
When you merge a 2.0 branch/tag into develop gitversion should start increment that branch from 2.0, don't you see this behavior?

[2019-12-20 08:01] pi3k14 opened #2002 "Wrong calculation of pre-release when develop tagged"
If I set a tag on develop (eg. 1.0.0-alpha.3) and make some commits then GitVersion discards the previous pre-release number. Eg. if I make two commits after the tag new version will be 1.0.0-alpha.2.

(Will be pushing a PR with this issue number where unit test is included)

[2019-12-20 14:41] CoolDadTx commented on #1948
We're using GithubFlow so there is no `develop` branch. Nor do we version a feature branch. The master branch has the tag from our last release (say 1.9). We begin work on new changes and we know it will be major changes so we want this to be 2.0. The devs branch from master into their feature branches (version doesn't matter at this point). However when they merge back into master this triggers a

[2019-12-20 15:36] hvincente commented on #1982
Ok, after more tests, i found a more explicit error.
And you're right, it's the internal git fetch that raise an authentication error.
My git repository is private, all tags and refs are present locally, so i disabled fetch and everything works fine now.
Thanks for your help.

[2019-12-20 17:55] SignumPL commented on #1982
I'm using private repo but I don't see any authentication errors in Jenkins console output:

`Started by user admin

Setting origin to https://git.my.domain/user/repo.git

Fetching origin...
Fetching upstream changes from origin

using GIT_ASKPASS to set credentials

Seen branch in repository origin/develop
Seen branch in repository origin/feature/jenkins
Seen branch in repository origin/feature/p

[2019-12-21 11:00] jameswoodley commented on #1982
I am getting exactly the same in TeamCity. Runs fine if I call it in PowerShell, however in a TeamCity build the same error as stated above

[code]

[2019-12-21 11:08] hvincente commented on #1982
The parsing error is raised when the result us parsedt. This result is normally a Json object if the command went well but when there is an error it is not the case. Can you test with the GitVersion.exe executable and run it in console.
You should get an error instead of the expected Json object.

[2019-12-21 12:09] jameswoodley commented on #1982
[code]

[2019-12-22 01:57] asbjornu commented on #1812
Have you tried `mode: Mainline`?

[2019-12-23 13:17] DevGoslinga opened #2004 "GitVersionTask.UpdateAssemblyInfo generated internal static class does not have a namespace."
GitVersionTask 5.1.3

I checked with JustDecompile and the namespace is missing so the code below does not work.

https://gitversion.net/docs/usage/msbuild-task

[code]

Currently I just use the following code:

[code]

[2019-12-23 14:44] gep13 opened #2005 "Add notification to Gitter and Twitter"
When a release happens, it would be good to send a notification via the official Twitter account (git_tools) .  This will be added to the TearDown in the main Cake script, and only happen when all things succeed as intended.

[2019-12-23 21:34] jamiemcdade opened #2007 "GitVersion 5.1.3 - Sequence contains more than one matching element on PR to master"
Using dotnet tool 5.1.3 with Mainline mode on AppVeyor:

[code]

[2019-12-24 00:12] KiLLeRRaT commented on #1776
I'm also running into this, I use package.config too.
I get it when trying to upgrade from 5.1.2 to 5.1.3

[2019-12-24 00:19] KiLLeRRaT commented on #1520
I'm still getting this issue as mentioned by @andrewescutia.

I'm running GitVersion version 5.1.2 through MSBuild.

I have the following in my GitVersion.yml:

[code]

The output is:
[code]

What I'm really trying to achieve is to have the exact same `assembly-informational-format` as the default one, but with a short Sha because the long Sha is giving path length trouble for me....

[2019-12-24 06:47] armanzor commented on #1227
It wasn't clear for me too. I suppose add this to documentation:
[code]

[2019-12-24 15:46] #1790 closed

[2019-12-24 16:58] arturcic commented on #1227
@armanzor could you send us a PR with the changes?

[2019-12-25 21:03] casz opened #2009 "GitVersionTask 5.1.3 fails on appveyor FileLoadException"
GitVersionTask is unable to load `Newtonsoft.Json`

Unsure what makes it fail on appveyor: https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/29753347#L138

works just fine locally and on GitHub Action

[2019-12-26 07:32] armanzor opened #2010 "The same version in all docker images?"
Hello!
I found that several last docker images contains the same version in all of them, older than image version. Is it okay?
[code]
[code]

[2019-12-26 08:35] casz commented on #2009
@arturcic seems this commit might have changed this related to packing
https://github.com/GitTools/GitVersion/commit/9d18780536c6bcaf1b46fd64dfcb1972d8edfca5

[2019-12-26 08:58] casz commented on #2009
Tested both with MSBuild and dotnet cli on AppVeyor Visual Studio 2019

[code]

[2019-12-26 19:36] gitfool commented on #1993
@gep13 I'm looking at this just now and not sure about using `buildserver` as I also need the GitVersion variables for local builds. I guess there's no harm in calling GitVersion twice, [as done](https://github.com/cake-contrib/Cake.Recipe/blob/develop/Cake.Recipe/Content/gitversion.cake#L27) in Cake.Recipe, although I'm wondering why it [reads](https://github.com/cake-contrib/Cake.Recipe/blob/dev

[2019-12-26 19:41] gep13 commented on #1993
@gitfool running it twice shouldn't cause any problems.  The first execution will cache the asserted version number into the local cache file, and the second execution will simply read from that file.

The Cake.Recipe logic could well be something that needs to be looked at again, it has gone through a number of iterations, and perhaps is now wrong.

[2019-12-26 20:16] gitfool commented on #1993
@gep13 FTR, that makes [no difference](https://github.com/gitfool/Cake.Dungeon/runs/364363950#step:6:284) and it looks like I still need to avoid a shallow clone.

[2019-12-29 21:45] teroneko commented on #1181
Yes it does @asbjornu, but where can you set or overwrite the use of the synonym for NuGetVersion ([reference](https://github.com/GitTools/GitVersion/issues/201#issuecomment-48326651)) when building NuGet packages? Unfortunately you can not find any documentation for it. But luckily I found the solution by reading the sources in the NuGet package of GitVersionTask: In the file [build/Directory.Bui

[2019-12-30 06:36] pi3k14 commented on #2002
PR with solution here https://github.com/GitTools/GitVersion/pull/2003

[2019-12-30 07:28] pi3k14 commented on #1948
You are using GithubFlow and hotfix branches? Wouldn't GitFlow be a better option?

GitVersion supports tagging of repo to manually bump a version, but since your flow depends on internal decisions about bumping when a new feature are released it makes sense to use the commit message for that feature to bump the version.

When you are triggering at CI build that build should tag your repo with the

[2019-12-30 13:20] robertmircea commented on #1982
I have the same issue when running from Teamcity agent on Linux.

[2019-12-30 14:49] CoolDadTx commented on #1948
I never said anything about a hotfix branch. We use master and feature branches. Just like documented [here](https://gitversion.net/docs/git-branching-strategies/githubflow). The only thing we do beyond that is to branch master into a `release/x.y.z` branch when it is officially deployed so we have a copy of what got built. There is nothing related to hotfixes here.

Again, as I mentioned in the o

[2019-12-30 21:15] matkoch commented on #1982
So far I can say that the issue is either that the repository is private (needs authorization), or that you’re building on TeamCity, and the branch cannot be determined (probably detached). For the latter, you can try to set `env.Git_Branch` to the branch somehow via another TeamCity parameter. That might also be an issue with TeamCity.

[2020-01-01 09:20] #1749 closed

[2020-01-01 12:20] #1766 closed

[2020-01-02 00:56] casz commented on #2009
Applied workaround for FileLock mentioned in #1031 which also meant I worked around the file loading issue with `Newtonsoft.Json`.

[2020-01-02 01:16] casz opened #2011 "GitVersion does not update padded prerelease number"
Currently GitVersion always seemed to be padding with `0001`

See: https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/29847139#L84

GitVersion.yml config:
[code]

[2020-01-02 06:51] pi3k14 commented on #1948
You can do that, but you have to merge that branch into whatever branch you want an increase in version number (and configure GitVersion to track the source branch). What you describe here is GitFlow.

You seems to have an workflow where you decides the version number after you have created a new version, that is not what neither GithubFlow nor GitFlow is about (from GitVersion perspective).

Neve

[2020-01-02 08:10] asbjornu commented on #1079
@testworksau, sorry about the silence from @GitTools/developers. Is this problem reproducible with the latest version of GitVersion? If so, are you able to reproduce it with a `RepositoryFixture` test?

[2020-01-02 08:26] asbjornu commented on #1539
Fixed in #1858.

[2020-01-02 08:26] #1539 closed

[2020-01-02 10:22] asbjornu commented on #1181
Good question and find, @teroneko. We can probably turn `UseFullSemVerForNuGet` to `true` by default now, I guess. We can probably add `NuGetVersionV3` as an alias for `FullSemVer` as well, if needed. Thoughts, @arturcic?

[2020-01-02 14:36] asbjornu commented on #1776
@KiLLeRRaT, does changing from `package.config` to `PackageReferences` fix the problem for you as well?

[2020-01-02 14:38] asbjornu commented on #1520
Might the problem be that the last dash of the regex is not escaped in `FormatMetaDataPart`?

https://github.com/GitTools/GitVersion/blob/5d6ed2ae3c03ea3f0299e631076cf145731daa2d/src/GitVersionCore/SemanticVersioning/SemanticVersionBuildMetaData.cs#L163-L168

[2020-01-02 14:47] asbjornu commented on #1791
`format` and `scheme` are two different things, indeed. When you write "accessible from the application", which *application* are you thinking of?

[2020-01-02 14:47] CoolDadTx commented on #1948
Thanks but I think we've decided that Gitversion cannot do what we want with incremental versioning. We think we'll just use it for fetching git tags and/or stick with Powershell. We were just hopeful that it could do more for us. I'll close this issue as by design for the tool. Thanks.

[2020-01-02 14:47] #1948 closed

[2020-01-02 15:38] Skoucail commented on #1520
The think confusion is between the SemanticVersion and the other variables (in this case InformationalVersion).
The SemanticVersion spec doesn't allow certain characters. So that got fixed.
The other fields in the GitVersion output stayed untouched.

At first glance i don't believe there is a configuration option to change the SemanticVerion format.

[2020-01-02 17:48] casz commented on #2011
Test is missing for appveyor: https://github.com/GitTools/GitVersion/tree/master/src/GitVersionCore.Tests/BuildServers

[2020-01-02 18:02] casz commented on #2011
Even with UseFullSemVerForNuget set to true the padded prerelease number is not correct on appveyor
[code]

[2020-01-02 18:17] casz commented on #2011
I looked over the code and the only logical place the bug is happening is here:
https://github.com/GitTools/GitVersion/blob/495ba8a145a6158cff802147f7b25af5f35512a9/src/GitVersionCore/VersionCalculation/NextVersionCalculator.cs#L112-L115

[2020-01-02 18:21] casz commented on #2011
Both `GitVersion_BuildMetaData` and `GitVersion_CommitsSinceVersionSource` is numbered correctly yet `GitVersion_PreReleaseNumber` is repoted as `1`

[2020-01-02 18:38] KiLLeRRaT commented on #1520
I have created this PR that resolves the issue for the BranchName variable:

https://github.com/GitTools/GitVersion/pull/2008

This seems to do exactly what I need.

[2020-01-02 18:51] Skoucail commented on #1520
@KiLLeRRaT
I commented on the pull request. I don’t think the change is a good approach of the problem.

If i understand it correctly the problem is that you use the informational assembly version as SemVer because you need a shorter version of the default SemVer outputted by GitVersion.

The correct extension would be to add a configuration setting so the SemVersion format can be changed. And in

[2020-01-02 18:53] KiLLeRRaT commented on #1520
@asbjornu I don't see anything wrong with the RegEx.

I don't think this method is called for the BranchName variable though.

If you look at https://github.com/GitTools/GitVersion/blob/5d6ed2ae3c03ea3f0299e631076cf145731daa2d/src/GitVersionCore/SemanticVersioning/SemanticVersionFormatValues.cs#L54 you will see that it doens't to a .ToString("xxxxxx") on it.  It just grabs the value.

The only pla

[2020-01-02 18:55] KiLLeRRaT commented on #1520
@Skoucail, your comment makes sense.  That leaves us with this problem though.

I'm guessing we could do something like wrap https://github.com/GitTools/GitVersion/blob/5d6ed2ae3c03ea3f0299e631076cf145731daa2d/src/GitVersionCore/SemanticVersioning/SemanticVersionFormatValues.cs#L54 with a `https://github.com/GitTools/GitVersion/blob/5d6ed2ae3c03ea3f0299e631076cf145731daa2d/src/GitVersionCore/Seman

[2020-01-02 19:00] KiLLeRRaT commented on #1776
@asbjornu, At this stage I can't easily update from `package.config` to `PackageReferences` to test this because of a lot of other NuGet packages.  I will try to keep an eye out and see if I can test this out when I run into problems again.

[2020-01-02 19:09] Skoucail commented on #1520
Well depends on the opinions i guess.
As mentioned in the pull request: i believe changing output variables like BranchName will break some people (build) systems.
And i think there is no reason why the variable BranchName should’t contain special characters.

Only the outputted SemVer isn’t allowed to contain special slaches.

The thing missing in GitVersion is the ability to set the SemVer forma

[2020-01-02 20:05] KiLLeRRaT commented on #1520
Hi @Skoucail ,

Is the SemVer that is set agains the assembly coming straight from `assembly-informational-format`?

If I change that format
e.g.:
[code]
then my output dll contains that.

Are you saying that we should implement another configurable format and output, so instead of using `assembly-informational-format` for the SemVer set against the dll, we use a new one, e.g. `semver-format` whic

[2020-01-03 08:15] Skoucail commented on #1520
@KiLLeRRaT

Sorry i was a bit confused yesterday.
I think i just found the code where the behavior changes.

https://github.com/GitTools/GitVersion/blob/c2005e172e1106d9d8c399baa191a05d9dea2284/src/GitVersionCore/OutputVariables/VariableProvider.cs#L56-L59

The code for semverFormatValues.DefaultInformationalVersion is:
https://github.com/GitTools/GitVersion/blob/c2005e172e1106d9d8c399baa191a05d9d

[2020-01-03 08:34] Skoucail commented on #1520
I believe the fix with the least impact is adding RegexReplace("[^0-9A-Za-z-.+]", "-") to the result of CheckAndFormatString for informationalVersion. Any thoughts?

`var informationalVersion = CheckAndFormatString(config.AssemblyInformationalFormat, semverFormatValues,
                environment, semverFormatValues.DefaultInformationalVersion, "AssemblyInformationalVersion").RegexReplace("[^0-9A

[2020-01-03 10:38] asbjornu commented on #1031
I like the sound of this, @rose-a. Would you be up for providing a pull request for such a reorganization?

This sounds a lot like what is proposed in #983. It's been open almost 4 years, so if someone finally has the time and energy to tackle that, it would be awesome. 😅

[2020-01-03 10:42] asbjornu commented on #2009
@casz, would @rose-a's suggested reorganization in https://github.com/GitTools/GitVersion/issues/1031#issuecomment-561285533 help?

[2020-01-03 10:46] asbjornu commented on #1995
Will the fix implemented in #2003 help in any way?

[2020-01-03 10:47] asbjornu commented on #1844
Will the fix implemented in #2003 help with this problem in any way?

[2020-01-03 10:50] asbjornu commented on #1079
I also wonder whether the fix implemented in #2003 will help with this problem in any way?

[2020-01-03 10:57] asbjornu commented on #1520
I agree that sounds like the most narrow-scoped solution, @Skoucail. Would you or @KiLLeRRaT be up for a PR that implements this with at least one test that ensures the reported bug is fixed?

[2020-01-03 10:58] asbjornu commented on #2011
Might #2003 improve on this in any way?

[2020-01-03 11:01] asbjornu commented on #1839
@erikbra, have you had any time to think about this? If so, could you please make a proposal for your suggested config switch?

[2020-01-03 11:02] pi3k14 commented on #2011
The only reason for number to be null is if lastTag is not found
What is the relevance of the GitVersion.yml?
You logg show branch name 'casz-patch-1'.

[2020-01-03 11:05] #2002 closed

[2020-01-03 11:36] casz commented on #2009
I would prefer if I could use GitVersionTask without any issues.
I believe the suggested would perhaps solve the file locking.

However unrelated to loading issues with `Newtonsoft.Json`

[2020-01-03 11:39] casz commented on #2011
@pi3k14 is in another build that perhaps interesting: https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/29847139#L84

[2020-01-03 11:42] tobiasdiez commented on #1995
@asbjornu @pi3k14  As far as I understand https://github.com/GitTools/GitVersion/pull/2003, it improves the calculation of the commits-since-tag value. Thus, it doesn't resolve this issue with the `pre-release-weight`.

[2020-01-03 11:47] pi3k14 commented on #2011
@casz - yepp :)

If I am reading the log correctly the fix in #2003 should correct this.

[2020-01-03 11:48] casz commented on #2011
Considering it closed than once I validate the #2003 patch 👏

[2020-01-03 11:54] casz commented on #2011
Did no solve the problem:
https://ci.appveyor.com/project/nmklotas/gitlabapiclient/builds/29874768#L99
😭

[2020-01-03 11:58] pi3k14 commented on #2011
On 'casz-patch-1'?

[2020-01-03 12:01] casz commented on #2011
it's just a branch name it should still work.

[2020-01-03 12:05] casz commented on #2011
Locally on `gitlabapiclient` master branch I get this:

[code]

[code]

5.1.4-beta.1+11 should be the correct the one with the fix.
[code]

[2020-01-03 12:06] Skoucail commented on #1520
I already made some tests to debug the issue.
The pull request is created with the tests and the fix. (#2014)

[2020-01-03 12:07] pi3k14 commented on #1995
@tobiasdiez #2003 improves the calculation of PreReleaseNumber. I understand that pre-release-weight is used together with PreReleaseNumber to calculate the actual PreReleaseTag (but I don't know much about the concept).

[2020-01-03 12:13] asbjornu commented on #2009
Thanks for the feedback, @casz. I hope we figure out the `FileLoadException` with `Newtonsoft.Json`, although I don't have any good ideas what the problem might be as of now. Do you have many other projects referencing (different versions of) `Newtonsoft.Json` in the same solution?

[2020-01-03 12:14] casz commented on #2009
GitLabApiClient reference Newtonsoft.Json v12.0.3

[2020-01-03 12:17] casz commented on #2009
I'll see if I can provide a repro :)

[2020-01-03 12:18] asbjornu commented on #1804
Perhaps this question is better asked in the Cake build repository?

[2020-01-03 12:21] pi3k14 commented on #2011
Ah, you haven't set up your branch to use 'continuous deployment mode'.

Ref. https://gitversion.net/docs/git-branching-strategies/gitflow-examples and delivery vs. deployment.

[2020-01-03 12:30] casz commented on #2011
with continuous deployment I would still except the number to be bumped

[2020-01-03 12:41] casz commented on #2011
User error 😭

[2020-01-03 12:41] #2011 closed

[2020-01-03 12:42] casz commented on #2009
https://ci.appveyor.com/project/casz/gitversiontask-fileloadexception-repro
https://github.com/casz/gitversiontask-fileloadexception-repro

I'll try some variants on the some branches

[2020-01-03 12:49] casz commented on #2009
Okay looking into the differences on the GitVersionCore.dll

v5.1.2
[code]

v5.1.3
[code]

Seems that without referencing `Newtonsoft.Json` we still manage to work because GitVersionTask is running inside the MSBuild context which has Newtonsoft.Json loaded.

[2020-01-03 12:54] casz commented on #2009
I'd like to question the usage of newtonsoft.json as it is only used here: https://github.com/GitTools/GitVersion/blob/0e9abcdc2ee4cae30ae41d715bb25169368f76ae/src/GitVersionCore/BuildServers/AppVeyor.cs

[2020-01-03 13:00] asbjornu commented on #2009
Seeing how `/output json` manages to do without `Newtonsoft.Json`, I have to agree, @casz. The `JsonOutputFormatter.ToJson()` method could probably be duplicated and modified to serve the need of AppVeyor as well.

https://github.com/GitTools/GitVersion/blob/0e9abcdc2ee4cae30ae41d715bb25169368f76ae/src/GitVersionCore/OutputFormatters/JsonOutputFormatter.cs#L11-L28

When this code is touched, I'd l

[2020-01-03 13:12] gep13 commented on #1804
@asbjornu yes, possibly.  @hugo-paredes there are no known issues with the GitVersion integration with Cake, I use it all the time, and Cake itself uses it for it's own build process.  I would suggest running Cake with [Diagnostic verbosity](https://stackoverflow.com/questions/38658660/how-to-enable-diagnostic-verbosity-for-cake), to find the exact command that is being executed, and verify that t

[2020-01-03 13:23] casz commented on #2009
@asbjornu I doubt you need to refactor as all.

I would simply write the JSON inside appveyor. We are talking about two objects, first one is with one key value, second is with two key value.

[2020-01-03 13:35] asbjornu commented on #2009
I agree that AppVeyor's needs don't require a refactor. I still would like to see a refactor, though. 😄 You decide how large you want the PR to be, it will be appreciated no matter how small or large. 😃

[2020-01-03 14:56] #1181 closed

[2020-01-03 17:51] KiLLeRRaT commented on #1520
Thanks everyone for helping with this. Much appreciated.

[2020-01-04 02:53] teroneko commented on #888
Just for clarify: For a build name without "<semver>-ci-<buildnumber>" You would need to set `continuous-delivery-fallback-tag` to `''`:
[code]

[2020-01-04 02:56] teroneko commented on #888
Just to clarify: For a build name without "-ci-\<buildnumber\>" at the end you would need to set `continuous-delivery-fallback-tag` to `''` (it is by default `'ci'`):
[code]

[2020-01-04 18:53] matkoch commented on #2000
Forgot to mention, this is `GitVersion.Tool`. I suspect that's relevant.

[2020-01-04 23:20] TheTimBecker commented on #1437
Yes, I am certain. It is really easy to reproduce too, if you want to check for yourself:

[code]

[2020-01-05 10:28] DerAlbertCom commented on #1031
Just for Info about the removing of GitVersion from the Project File. If you set the Build Property **DisableGitVersionTask** to **true**, you can have the same result without modify the project file.

[2020-01-05 11:26] ThomasBarnekow opened #2020 "Dependency Microsoft.Extensions.DependencyInjection copied to project output folder"
GitVersionTask v5.1.3 introduces a dependency on `Microsoft.Extensions.DependencyInjection` for .NETFramework 4.7.2 as well as .NETCoreapp 2.1 and 3.1.

After retargeting my solution to net472, the above dependency (and indirectly `Microsoft.Extensions.DependencyInjection.Abstraction`) is added to my solution as well. Further, both DLLs are copied to the project output folders, where they will be

[2020-01-05 12:39] ThomasBarnekow commented on #2020
Looking at [GitVersionTask.csproj](https://github.com/GitTools/GitVersion/blob/master/src/GitVersionTask/GitVersionTask.csproj), I found that all dependencies are marked as private, except for `Microsoft.Extensions.DependencyInjection`:

[code]

This seems to be an oversight. Right?

[2020-01-05 12:48] arturcic commented on #2020
Actually not, I have tried to put it to private but for some reason when publishing the dll does not get copied to the output, and that's only for that particular package. Did not have the time to investigate why

[2020-01-05 14:42] ThomasBarnekow commented on #2020
@arturcic, that's interesting. I built and deployed my fix and the output folder includes the dependencies. Have a look at the GitVersionTask NuGet package in my GitHub release [5.1.4-fix-make-dependency-injection-private.1+17.build.1](https://github.com/ThomasBarnekow/GitVersion/releases/tag/5.1.4-fix-make-dependency-injection-private.1%2B17.build.1).

When you download and look at GitVersionTask

[2020-01-05 17:10] #2020 closed

[2020-01-05 20:03] BlowaXD commented on #1982
Got the same problem here:
Using Linux, public repository [(this one)](https://github.com/noswings/phoenixlib)

An easy step to reproduce :

[code]

[code]

[2020-01-05 20:49] ThomasBarnekow commented on #1776
I can confirm that the issue does **not** appear when using `PackageReference`. It only happens with projects using `packages.config`.

I have a solution with a larger number of projects, most of which use `PackageReference`. However, two projects, which are VSTO add-ins, can't use `PackageReference` and must, unfortunately, use `packages.config`. When updating the `PackageReference` projects, the

[2020-01-06 09:43] asbjornu commented on #888
@teroneko or @Ashtonian, would you be up for providing a pull request that adds this information to the documentation?

[2020-01-06 09:45] asbjornu commented on #2000
Are the environment variables `GITVERSION_REMOTE_USERNAME` and `GITVERSION_REMOTE_PASSWORD` defined [as per the documentation](https://gitversion.net/docs/usage/msbuild-task#my-git-repository-requires-authentication.what-should-i-do)?

[2020-01-06 09:57] asbjornu commented on #1776
Since this seems to only relate to `GitVersionTask`, I wonder whether https://github.com/GitTools/GitVersion/issues/1031#issuecomment-561285533 is relevant and might fix this problem. 🤔

[2020-01-06 10:15] #1808 closed

[2020-01-06 11:10] matkoch commented on #2000
The problem is not the missing environment variables but the exit code of 0
after an exception.

On Mon 6. Jan 2020 at 10:45, Asbjørn Ulsberg <notifications@github.com>
wrote:

[2020-01-06 11:21] matkoch opened #2024 "Tool path is changing with minor versions"
From 5.1.2 to 5.1.3 the tool path was changed from `netcoreapp3.0` to `netcoreapp3.1`. This makes it very unreliable to integrate GitVersion in other tooling, and it doesn’t follow semantic versioning, which I thought was the idea here.

[2020-01-06 14:14] teroneko commented on #888
I can do it, sure.

[2020-01-06 14:28] GeorgDangl commented on #2024
Yeah, I agree here. Especially when using scripted builds, you often have to rely on the tools being available at predictable paths. Changing them between patch or minor versions leads to many breaking builds😊

[2020-01-06 18:54] BlowaXD commented on #2024
Agree, needed \o/

[2020-01-07 07:36] asbjornu commented on #2000
Ah, so in the absence of these environment variables and the resulting exceptions due to their absence, GitVersion still produces an exit code of `0`? That's a bug indeed.

[2020-01-07 08:32] asbjornu commented on #1628
The documentation for `merge-message-formats` is now live on [gitversion.net](https://gitversion.net/docs/configuration#merge-message-formats).

[2020-01-07 10:04] asbjornu commented on #1989
Resolved by #1966.

[2020-01-07 10:05] asbjornu commented on #1989
Hm, I just realized this issue may be about setting up GitHub Actions for the GitVersion repository on GitHub, and not about GitVersion itself supporting GitHub Actions... 🤔

[2020-01-07 10:08] asbjornu commented on #888
With #2025 merged, can this be closed?

[2020-01-07 10:09] asbjornu commented on #1989
Looks like #1975 is taking a jab at this?

[2020-01-07 12:48] wiruzman opened #2027 "Ignore version range"
Is it possible to ignore/skip a range of versions?

I'm currently on version 0.1.1 and want to skip 0.2.1-0.2.5.

I could possibly write a commit message when I reach version 0.2.1 to bump to 0.3.0, but is it possible to do it in the yml file so I dont have to remember when to do the commit message hack?

[2020-01-07 14:49] asbjornu commented on #2027
I'm not sure exactly what you mean. You can perform a `git tag <version-number>`  or write `next-version: <version-number>` in `GitVersion.yml` to enforce a version number of your `master` branch.

[2020-01-07 16:05] Skoucail commented on #1520
@KiLLeRRaT your welcome

@asbjornu Do you have an idea when this fix will be released to stable?

[2020-01-07 17:00] wiruzman commented on #2027
Yes, then I need to do it now, but I want to use still all version from 0.1.1 to 0.2.0, but skip 0.2.1 to 0.2.5 and continue 0.2.6 and so on.

[2020-01-07 17:55] arturcic opened #2028 "Add build script for building on GitHub Actions"

[2020-01-07 20:05] XadE-Blue commented on #1031
Furthermore, it does not work at all with Jenkins (and probably others for similar reasons). The only 100% working setup is using the aforementioned workaround with _Directory.build.props_ file, gitversion executable,  _gitversion.properties_, and environment variables injected during the build process.

Calling _dotnet build_ works only outside of Jenkins, i. e. in any command-line available. Vis

[2020-01-07 21:26] kelly987654 commented on #1628
Thanks - I tried it exactly from the documentation, and it didn't work. I eventually got it working after adding quotes around the regex.

This failed due to an error parsing the YAML:
[code]

This worked:
[code]

[2020-01-07 21:53] kelly987654 commented on #1628
The original issue seems to be resolved however, thank you for the help.

One other question if you don't mind - we are having issues where users creating the pull request from the release branch to master don't use the exact right syntax (e.g. 'merge release 1.0.0 into master' instead of 'merge release/1.0.0 to master'). And TFS has unfortunately [removed the auto-complete of the merge message ti

[2020-01-08 06:22] XadE-Blue commented on #1031
Just in case anyone needs gitversion before the errors are corrected:

1. Delete `assembly: AssemblyVersion`, `AssemblyFileVersion`, and `AssemblyInformationalVersion` from the `AssemblyInfo.cs` files.
2. Create your own `GitVersion.yml` inside the solution directory.
3. Download GitVersion.exe and add it to the `Path` environment variable.
4. Add `GitVersionTask` NuGet package to all project file

[2020-01-08 11:02] asbjornu commented on #1628
@kelly987654, yes – [YAML](https://yaml.org/) requires strings to be wrapped in quotation marks. The release branch name should affect the version number, as long as it's identified as a release branch by GitVersion. How do you name your release branches? If you use `release/` or `release-` as a prefix, GitVersion should identify it automatically.

[2020-01-08 11:02] rose-a opened #2029 "GitVersionTask 5.1.3: Bad Dependency on Microsoft.Extensions.DependencyInjection"
The newly introduced dependency on `Microsoft.Extensions.DependencyInjection (>= 3.0.1)` prevents the package from installing in projects which use older SDKs!

![grafik](https://user-images.githubusercontent.com/15836594/71972846-cc31c980-320d-11ea-9f96-d7a81acddbfc.png)

![grafik](https://user-images.githubusercontent.com/15836594/71972962-0ac78400-320e-11ea-8272-2c561aba5947.png)

Since the App

[2020-01-08 13:38] asbjornu commented on #2027
Then do that manually with `git tag <version-number>`?

[2020-01-08 19:14] kelly987654 commented on #1628
@asbjornu : Thank you!

Our workflow is as follows:
- master: gitversion is 1.1.0
- develop: gitversion is 1.2.0-dev.88
- create new branch from develop named release/1.2.0: gitversion is 1.2.0-rc.0
- merge release/1.2.0 into master:
  - If we don't name the Pull Request title (merge message) exactly right, master branch gitversion is 1.1.1

I tried with GitVersion 5.1.2, as well as the much older

[2020-01-08 19:16] erikbra commented on #1839
@asbjornu Sorry, I just haven't had any more time to look at this yet... don't want to suggest anything before having looked more at it... please, everyone, feel free to chip in ideas :)

[2020-01-08 21:55] Alkrun opened #2030 "Gitversion searches on Google take you to an empty readthedocs site"
Googling for [gitversion](https://www.google.com/search?q=gitversion) or [gitversion docs](https://www.google.com/search?q=gitversion+docs), the first hit is to [gitversion.readthedocs.io](https://gitversion.readthedocs.io/en/latest/) that has no index, etc...

I don't know the reason, maybe the docs were published there originally and they moved?  But it probably feels like a bit of a dead-end fo

[2020-01-09 07:13] gep13 commented on #2030
@Alkrun we recently changed our documentation from being hosted on readthedocs, to now being hosted on GitHub Pages, under our own domain:

https://gitversion.net/docs/

Google search indexes should hopefully catch up soon, but in the meantime, we might want to add "something" onto the site above to re-direct folks to the new location.

[2020-01-09 14:13] makuepfer opened #2031 "tag-prefix in config does not work (latest stable)"
My GitVersion.yaml:
[code]

My GitVersion installed via Choco:
5.1.3+Branch.master.Sha.bef8ebc0b62b3ddd0cdafe09b66d68bbfcaf90d5

`git tag`:
release/2.4.2

`gitversion` always returns 0.1.0:
[code]

`gitversion /overrideconfig tag-prefix=release/` returns the correct version:
[code]

When I remove the prefix in the tag, the command `gitversion` returns the correct Version 2.4.2. But when having a t

[2020-01-09 14:36] gep13 commented on #2031
@makuepfer what do you get if you run:

`gitversion /showconfig`

[2020-01-09 15:10] makuepfer commented on #2031
Thanks @gep13 for your quick reply.

Here's my result of `gitversion /showconfig`

[code]

[2020-01-09 15:56] digitalsigi opened #2032 "@Alkrun we recently changed our documentation from being hosted on readthedocs, to now being hosted on GitHub Pages, under our own domain:"
@Alkrun we recently changed our documentation from being hosted on readthedocs, to now being hosted on GitHub Pages, under our own domain:

https://gitversion.net/docs/

Google search indexes should hopefully catch up soon, but in the meantime, we might want to add "something" onto the site above to re-direct folks to the new location.

_Originally posted by @gep13 in https://github.com/GitTools/G

[2020-01-09 15:57] #2032 closed

[2020-01-09 16:01] cytron201 opened #2033 "[Question] - How to pass paths to multiple assembly.cs in Azure DevOps Build Task"
After selecting "Update AssemblyInfo files" on the Azure DevOps Build Task (v5), the parameter for "Update Assembly File" becomes available. I can't work out how to pass multiple paths to this or if it is indeed possible. Documentation in Read The Docs and the Task Tooltip don't offer any further clarity.

If it is infact only capable of taking a single path, what's the best practice for updating

[2020-01-09 16:06] digitalsigi commented on #2030
@gep13 OK I understand that thing emerge, but now there seems do be no install guidance.
I am using gitversion now for a couple of years in good old fashioned .NET projects. Now I want to use it in asp.cet core 3.1 project. When trying to install via package manager in VS 2019 I a bunch of gitversion entries. No idea which one to select. Even more, here [https://stackoverflow.com/questions/4999002

[2020-01-09 16:33] cytron201 commented on #1031
@XadE-Blue p:DisableGitVersionTask much cleaner then using the powershell script, cheers for that.

This issue aside, is it advised to always disable GitVersion per project anyway on a build machine and inject the Git Version Build Task centrally generated version details? Otherwise you're running GitVersion per project, calculating the version per project, which takes considerable extra time when

[2020-01-10 07:45] gep13 commented on #2030
@Alkrun GitVersion comes in a number of different flavours.  There is a .Net Global Tool, there is a standard .Net Framework exe, and there are MSBuild tasks that can be added via NuGet packages.  I personally prefer using the .Net Global Tool and executing that as part of my overall build process for my projects.

Yes, things have changed, but that is more to do with how MSBuild projects have cha

[2020-01-10 13:33] asbjornu commented on #2030
@gep13, would it be possible to build an RTD site that references the new documentation on gitversion.net or, even better, redirects to the new site? It looks like [redirects should be possible in RTD](https://docs.readthedocs.io/en/stable/user-defined-redirects.html), but I have never tried to use them myself.

[2020-01-10 13:40] gep13 commented on #2030
I "think" something will be possible, but I would need to dig into it a little bit.

[2020-01-10 14:29] digitalsigi commented on #2030
@gep13 Oh yea, you are right, thats not a problem ob gitversion. However it would be of great help to have some info about the different flavors in the docs.
I personally installed gitversion via choco and use the command line version and have to investigate the .net global variant. I am unclear what the actual difference means to me in my environment.
I have to care for old fashioned .NET 4.x and

[2020-01-10 14:32] gep13 commented on #2030
@digitalsigi we know that our docs aren't perfect, and we certainly welcome any help in this area.  We do try to break down the different forms that GitVersion comes in:

https://gitversion.net/docs/usage/usage

Although looking at that again just now, it is clear it needs some updating, as it doesn't mention the .Net Global Tool, or the GitHub actions that exist.

[2020-01-10 15:52] asbjornu commented on #2031
It says `tag-prefix: '[vV]'` which indicates that the config isn't picked up somehow.

[2020-01-13 04:37] twopointzero commented on #1869
Upon encountering the same issue myself, I was able to narrow the failure to the following version: 4.0.1-beta.1+44.Branch.master.Sha.16c69e62d2a01696728411cb70cfa457551d8bd0

As the version immediately before it does not experience the problem: 4.0.1-beta.1+43.Branch.master.Sha.fc86cb2b6df90b300a5f4a50b1bd113b606c7c99

The changes in 4.0.1-beta.1+44, at least from the perspective of the source tr

[2020-01-13 09:04] makuepfer commented on #2031
Sorry guys for taking your time. It is my bad. My config is called `GitVersion.yaml` instead of your default `GitVersion.yml`.
When renaming the file, it all works as expected.

[2020-01-13 09:04] #2031 closed

[2020-01-13 09:25] asbjornu commented on #1520
@Skoucail, we don't plan releases, but I suppose we could get a v5.1.4 or 5.2 out the door some time soon.

[2020-01-13 10:04] m-jepson commented on #1967
I have this issue in Gitlab CI. Any workarounds yet?

[2020-01-13 10:25] asbjornu commented on #1967
[Here's what I had to do in another repository for a Travis CI build](https://github.com/SwedbankPay/swedbank-pay-magento2-checkout/blob/6a6b56f54ee51780d4b018bc81b19b3ea7f2ce0e/.travis.yml#L17-L22):

[code]

Can you try out something similar in your build and see whether that helps?

[2020-01-13 10:45] m-jepson commented on #1967
Thanks for the hint about it needing a local master branch. I now simply fixed it like this:

- git checkout master
- git checkout $CI_COMMIT_REF_NAME
- docker run --rm -v "$(pwd):/repo" gittools/gitversion:latest-linux-netcoreapp2.1 /repo /output json /showvariable FullSemVer | tee version.txt

[2020-01-13 13:46] klyse commented on #1031
same, issue on AzureDevOps it works with version `5.0.1` and doesnt work with version `5.1.3`

[2020-01-13 13:50] asbjornu commented on #2033
Sounds like a limitation in the AZDO Build Task, as [the documentation states](https://gitversion.net/docs/usage/command-line#inject-version-metadata-into-the-assembly):

[2020-01-13 13:54] dzenchar opened #2034 "StackOverflow exception while using increment: Inherit config, and branches merging"
Hello,

I encountered an issue while using the latest beta version GitVersion v5.1.4-beta1.48.
The problem is that, the GitVersion task falls into stack overflow after the following scenario:

1. There are two branches **master** and **dev** (**master** is the source branch for **dev**)
2. Push some change-set into the **master** branch. **master** increments version patch number
3. Merge changes

[2020-01-13 14:27] dzenchar commented on #2034
I was also able to reproduce the issue with the following simplified config:
[code]

[2020-01-13 15:19] cytron201 commented on #2033
@asbjornu ah, i didn't check the command line docs, good spot.

As for the AZDO Build Task, i tried ; , and space separated. Perhaps i missed something like putting it all in brackets? I thought better to ask then to trial and error every combination. Happy to do a PR to the docs and help tooltip of the Task once there's a confirmed answer (unless of course it is a limitation of the Task and isn't

[2020-01-13 17:36] TabithaLarkin opened #2035 "Can't access variables after adding new Azure DevOps GitVersion tasks"
We're using a manually checked in version of GitVersion at the moment, and are looking to migrate to the recently released Azure DevOps tasks.

We have tried adding the following tasks:

[code]

This resulted in the `$(GitVersion.Major)` variable not being found.

We've also tried adding the `/output` variable to the execute task, but something about the syntax is not valid.

[code]
[code]

[2020-01-13 19:25] mattsalmon commented on #1925
Same error here as the original post, GitVersion 5.1.3 running on Windows 10 Enterprise (10.0.16299)

[2020-01-13 19:37] jakubsuchybio commented on #1967
Yep that's the fix I used too.

[2020-01-14 10:00] samwdp opened #2036 "Random Versioning when integrated with Azure Dev Ops"
# Issue
Versioning seems to be wonkey when using Azure Dev Ops CI pipeline

# Explanation
I have got a simple GitVersion.yml file that was generated by the GitVersion.exe:

[code]

- I am following a GitFlow brancing strategy. Initially everything was working fine. I created a feature branch and the resulting NuGet package was published 0.1.0-feature-Myfeature name.
- I then did a managed pull req

[2020-01-14 10:02] samwdp commented on #2036
I checked the GitVersion.exe on the develop branch and this is the result

''' json
{
  "Major":0,
  "Minor":2,
  "Patch":0,
  "PreReleaseTag":"alpha.2",
  "PreReleaseTagWithDash":"-alpha.2",
  "PreReleaseLabel":"alpha",
  "PreReleaseNumber":2,
  "WeightedPreReleaseNumber":2,
  "BuildMetaData":"",
  "BuildMetaDataPadded":"",
  "FullBuildMetaData":"Branch.develop.Sha.cf675e888ace302859b1d30d7fae472

[2020-01-14 10:24] asbjornu commented on #1628
You might be right. I don't remember exactly how the release detection is performed.

[2020-01-14 10:32] asbjornu commented on #2036
Are the release branches merged? Is the release-merge on `master` tagged?

[2020-01-14 11:57] teroneko commented on #1031
Hi it's me again. I want to give my opinion to it. There must be a possiblity to overcome the problem to build many projects which does need the gitversion informations without run GitVersionTask in such a way that it does have rely heavily on git/LibGit2Sharp.

So first: I can think of three ways which the user may go to build projects:

1. He uses build/pack/publish steps, jobs or scripts for ex

[2020-01-14 14:17] samwdp commented on #2036
We use the Pull Request feature as we have a policy that means we cannot directly push to the master and develop branches unless its a Pull Request. The pull request will do whatever it does. We have not got a tag. I will try to do it manually in Azure Dev Ops and see if that is the problem

[2020-01-14 14:25] samwdp commented on #2036
I have added the tag to master and ran the pipeline again and it works. Is there a Dev Ops build pipeline task to add the tag that will use the GitVersion version number as the tag?

[2020-01-14 16:25] mootalk commented on #1920
Same here.
[code]

[2020-01-14 16:54] kelly987654 commented on #1628
Okay thanks - we will look into using a hook to enforce a well formatted merge message. I will just wanted to make sure we weren't missing a simple setting.

[2020-01-14 16:54] #1628 closed

[2020-01-14 18:23] endejoli opened #2037 "SemVer after going back a revision"
When I execute Gitversion on my master branch I get

[code]

If I go back to a revision using git checkout,

[code]

Then execute Gitversion, I still get the same SemVer.

[code]

Is this expected?

[2020-01-15 12:52] asbjornu commented on #1477
Also, #1523 seems to indicate that the problem existed in GitVersion 3.6.5 as well.

[2020-01-15 13:10] asbjornu commented on #1807
I believe #2003 may have fixed this problem. Care to test and verify?

[2020-01-15 13:13] asbjornu commented on #2037
GitVersion doesn't have a version strategy for detached HEADs, so you won't get any predictable version calculation for them, sorry.

[2020-01-15 13:25] asbjornu commented on #2036
I don't use AZDO, so I have no idea. I would, however, recommend adding tags as a manual step, possibly assisted by tools such as [GitReleaseManager](https://github.com/GitTools/GitReleaseManager).

[2020-01-15 13:26] asbjornu commented on #1860
If you are able to add a PR that fixes this and it doesn't break a lot of other tests, it will be happily merged. If other tests fail, let's discuss whether adjusting their expectancy is correct or not.

[2020-01-15 15:21] m-jepson commented on #1477
I'm having issues all over the place with Gitlab CI, mainly the same issues. It complains about detached heads, and other issues like "Could not find a 'develop' or 'master' branch, neither locally nor remotely", while both exist.

[2020-01-15 16:18] asbjornu commented on #1477
@m-jepson, are you sure `master` and `develop` exists on GitLab at the moment of the build? Please do a `git branch -vv` in the build to list branches. As mentioned elsewhere, you have to ensure that the Git repository checked out is not a shallow clone and that the required branches exist locally. [This is how I've modified a build for Travis CI to make GitVersion work](https://github.com/Swedban

[2020-01-15 20:23] asbjornu commented on #1920
Seems like we don't have a MacOS build. I seem to remember us having that at some point, but not anymore. We should probably get that up and running so we can detect problems like these. I wonder if this is only a problem with Homebrew, though. Does the global dotnet tool work?

[2020-01-16 07:09] m-jepson commented on #1477
Hi @asbjornu ,

I'll try your exact solution, rather than simplifying it. That's probably where I went wrong. I'll let you know how it works out.
BTW, will this repeatedly give the same version in CI, even if there's more new commits after it? The old way we did builds, was on a Windows server running gitversion and that always gave the same version for the same commit.

[2020-01-16 08:43] m-jepson commented on #1477
Well, this seems to work. Thanks for the help!
Still curious though, why the old version "just worked". Is this something you are going to fix, or is this just a change we'll have to learn to live with?

[2020-01-16 09:23] Xandrr opened #2049 "ContinuousDeployment - increase build metadata number always"
Hello. Please, help me. I use GitVersion 5.
1. I have master, feature/#XXX, release/1.2.3 and feature/sprintY branches.
2. feature/sprintY is analogue for develop branch, but I recreate it every 2 weeks from master (on sprint).
3. I deploy every commit in feature/sprintY to test environment (teamcity + octopus deploy), so I turned on feature:  mode: ContinuousDeployment
4. Everyting is ok, build m